.trading-app-sec1{
    .sec1-left{
        .share-text h1{
            line-height: 5rem;
        }
    .share-slider{
        position: absolute;
        left: 212px;
        top: 194px;
    }

    
}
}