@import '../../assets/css/common.scss';
@import '../../assets/css/customvariable.scss';

.mutual-faq {
	padding: 9rem 0;
	background-color: $abt-bg ;
	.title-first {
		margin-bottom: 2rem;
	}

	.faq-item {
		border: 1px solid $lightgray !important;
		border-radius: 20px;
		background: $whiteColor;
		padding: 2.5rem 3rem;
		margin-bottom: 2rem;

		@media (max-width:$sm) {
			padding: 1.5rem 1rem;
		}

		.faq-header {
			.accordion-button{
				font-family: $font-family-poppins-semibold;
				color: $primary;
				font-size: 2rem;
				@media (max-width:$sm) {
					font-size: 1.75rem;
				}
			}
			
			
		}
	}

	.accordion-button {

		&:not(.collapsed) {
			background-color: transparent !important;
			border: none !important;
			box-shadow: none !important;
		}

		&:focus {
			border: none !important;
			box-shadow: none !important;
		}

		&:after {
			display: none !important;
		}
	}
	@media (max-width:$xs) {
		padding: 5rem 0;
	}
}