@import '../../assets/css/customvariable.scss';
@import '../../assets/css/common.scss';
.sub-broker-skeleton-parent{
.mainhead{
    background-color:$abt-bg;
    .title-secnd1{
        font-size: 2.5rem;
        color: #231F20;
        font-family: $font-family-poppins-bold;
        line-height: 3.75rem;
        text-align: center;
        padding-top: 3rem;
        @media (max-width: $sm){
        font-size: 2rem;
        line-height: 3rem;
       
    }
    }
    .title_para{
        font-size: 1rem;
        color: #797979;
        text-align: center;
        line-height: 1.625rem;
        font-family: $font-family-poppins-regular;
        font-weight: 400;
    }
   
    .list_group1{
           
            box-shadow: 0px 3px 6px #00000029;
            border-radius: 1rem;
            background-color: $whiteColor;
        .list{
            color:#231F20;
            font-size: 1.125rem;
            line-height: 1.688rem;
            width: 100%;
            text-align: center;
            font-family: $font-family-poppins-medium;
            border-radius: 1.375rem;
            border: none;
            padding: 0.563rem 0.75rem;
        }
        .listsec{
            color:#0066B2;

            
        }
    }}
    .main{
        padding: 1.438rem 0rem;
        background-color:$abt-bg;
    .main-left{
        background-color: $whiteColor;
        border-radius: 0.5rem;
        margin-left: 1%;
        padding: 0.938rem 1.563rem;
        margin-bottom: 1.875rem;
    .top-section{
        display: flex;
        padding-bottom: 0.313rem;
        justify-content: space-between;
      
        .top-left{
            .top-text{
                font-size: 0.75rem;
                line-height: 1.188rem;
                font-family: $font-family-poppins-regular;
                color: $secondary;
            }
            .top-date{
                font-size: 0.75rem;
                line-height:1.125rem;
                font-family: $font-family-poppins-medium;
                color: $primary;
            }
        }
       .top-right{
            .btn-buy{
                padding: 10px 10px;
                border-radius: 0.5rem;
                border-style: none;
                margin: 0;
                color: $whiteColor;
                background: #0066B2;
                height: 2.938rem;
                line-height: 1.313rem;
                text-align: center;
                font-size: 1rem;
                font-family: $font-family-poppins-medium;
                text-transform: capitalize;
                min-width: 6.188rem;;
        }
    }
    }
    .middle-section{
        display: flex;
        padding: 13px 0px;
        justify-content: space-between;
        .middle-left{
            .big-text{
                font-size: 1.125rem;
                line-height: 1.688rem;
                color: $primary;
                font-family: $font-family-poppins-medium;
            }
            .small-text{
                font-size: 0.875rem;
                line-height: 1.438rem;
                color: $secondary;
                font-family: $font-family-poppins-regular
            }
        }
        .middle-right{
            .right-big-text{
                color: $primary;
                font-size: 1.125rem;
                font-family: $font-family-poppins-medium;
                line-height: 1.688rem;
            }
            .right-small-text{
                color: #00B16B;
                font-size: 0.875rem;
                line-height: 1.438rem;
                font-family: $font-family-poppins-regular;
            }
            .text_color{
                color: #EE404A;
            }
        }
       
        
    }
    .bottom-section{
        .bottom{
            .bottom_small_text{
                font-size: 0.875rem;
                color: $secondary;
                line-height: 1.438rem;
                font-family: $font-family-poppins-regular;
                 }
        
            .bottom_big_text{
                font-size: 1.125rem;
                color: $primary;
                line-height: 1.688rem;
                font-family: $font-family-poppins-medium;
                 }
             }
        }
    }

.load_btn{
    .load_more_btn{
                 font-family: $font-family-poppins-medium;
                color: $whiteColor;
                background: $primary;
                padding: 1.4rem 0;
                display: inline-block;
                border-radius: 0.75rem;
                font-size: 1.25rem;
                text-align: center;
                text-decoration: none;
                border: 0;
                outline: none;
                width: 12.875rem;
                margin-top: 2rem;
                margin-bottom:8rem;
                &:hover {
                    background: $yellowColor;
                }
      
    }
}
}
.sendopt{
    background-color: $bgcolor-blue-light;
    .form_main{
        display: flex;
        padding: 58px 0px;
        flex-direction: row;
        .sub_group{
            margin-right: 1.5rem;
            .form-ttl{
            font-size: 1.5rem;
            color: #15171A;
            font-family: $font-family-poppins-bold;
            line-height: 2rem;
            padding: 10px 0px;
             }
            .text_label{
                font-size: 0.875rem;
                line-height: 1.438rem;
                color: $secondary;
             }
             .mobile_no{
                color: $primary;
                font-size: 1.125rem;
                line-height: 1.813rem;
             }
             } 
            .send_OPT_btn{
                font-family: $font-family-poppins-medium;
                color: $whiteColor;
                background: $primary;
                padding: 1.4rem 0;
                display: inline-block;
                border-radius: 0.75rem;
                font-size: 1.25rem;
                text-align: center;
                text-decoration: none;
                border: 0;
                outline: none;
                width: 12.875rem;
                &:hover {
                    background: $yellowColor;
                }
            }   
        }
}
.Stockes{
    margin: 8rem 0rem;
    .stock_head{
        font-size: 2.5rem;
        font-family: $font-family-poppins-bold;
        line-height: 3.75rem;
        text-align: center;
    }
    .content{
        font-size: 1rem;
        font-family: $font-family-poppins-regular;
        line-height: 1.5rem;
        color: $secondary;
        text-align: left;
        padding-top: 0.625rem;
        letter-spacing: 0.012rem;

     .moreless-button{
        font-size: 1rem ;
		font-family:$font-family-poppins-medium;
		color: #0066B2;
        line-height: 1.5rem;
		
    }
    }
}
}

    