@import '../../assets/css/common.scss';
@import '../../assets/css/customvariable.scss';



.free-dematbanner{
    padding-top: 7rem;
    position: relative;
    .brd-bottom{
        border-bottom: 1px solid $border-gray;
        padding-bottom: 6rem;
        @media (max-width:$sm) {
            border-bottom: none;
            padding-bottom: 0;
        }
    }
    .banner-btn{
        padding-bottom: 3rem;
        @media (max-width:$sm) {
            text-align: center;
        }
        .all-account{
            background-color: $bgcolor-lightyellow;
            color: $yellowColor;
            border: 1px solid $yellowColor;
            font-size: 1.5;
            font-family: $font-family-poppins-medium;
            line-height: 1.5;
            padding: 7px 15px;
            text-transform: capitalize;
            border-radius: 25px;
        }
    }
    .free-banner-caption{
        .big-ttl{
            @media (max-width:$sm) {
                text-align: center;
             }
            br{
                @media (max-width:$sm) {
                   display: none;
                }
            }
        }
        .clock{
            position: relative;
            padding: 0 2rem;
            &::before {
                content: '';
                width: 7rem;
                height: 7rem;
                display: block;
                position: absolute;
                left: 0.3rem;
                top: -1rem;
                background: url(../../assets/images/free-demat-compaign/clock.svg) no-repeat top left;
                background-size: contain;
                z-index: -1;
                @media (max-width:$md) {
                    width: 6rem;
                    height: 6rem;
                }
            }
        }
        .campaign-banner-features {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding-top: 6rem;
            .campaign-features-list {
                width: 29%;
                text-align: center;
                position: relative;
                .campaign-img{
                    &::before {
                        content: "";
                        width: 8rem;
                        height: 8rem;
                        display: block;
                        position: absolute;
                        left: 3rem;
                        top: -2rem;
                        background: url(../../assets/images/free-demat-compaign/bg-circle.svg) no-repeat top left;
                        background-size: contain;
                        z-index: -1;
                        @media (max-width:$md) {
                            left: 1rem;
                        }
                        @media (max-width:$sm) {
                            left: 0;
                            top: -3rem;
                        }
                    }
                    @media (max-width:$sm) {
                        width: 24%;
                    }
                }
                h3{
                    font-family: $font-family-poppins-semibold;
                    font-size: 1.5rem;
                    padding-top: 2rem;
                    line-height: 1.5;
                    @media (max-width:$md) {
                        font-size: 1.3rem;
                    }
                    @media (max-width:$sm) {
                        padding-left: 3rem;
                        width: 74%;
                        padding-top: 0;
                    }
                    br{
                        @media (max-width:$sm) {
                           display: none;
                        } 
                    }
                }

                @media (max-width:$md) {
                    width: 31%;
                }
                @media (max-width:$sm) {
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;
                    padding-bottom: 5rem;
                }
            }
            @media (max-width:$sm) {
               display: inline-block;
            }
        }
    }
    @media (max-width:$sm) {
       padding: 4rem 0 6rem 0;
    }
}

.create-backtest-sec{
    padding: 7rem 0 6rem 0;
    @media (max-width:$sm) {
        padding: 1rem 0 6rem 0;
     }
    .title-secnd{
        br{
            @media (max-width:$sm) {
               display: none;
             } 
        }
    }
   .create-backtest{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5rem 0;
    @media (max-width:$md) {
       align-items: center;
    }
    @media (max-width:$sm) {
        padding: 2rem 0;
     }
    .left-sec{
        width: 32%;
        @media (max-width:$md) {
            width: 49%;
         }
         @media (max-width:$sm) {
            width: 100%;
            margin-bottom: 2rem;
         }
        .create-backtest-list{
            .slick-track{
                height: auto !important;
            }
            .backtest-item{
                background: $whiteColor;
                border: 2px solid $bgolor-lightwhite;
                border-radius: 16px;
                display: inline-block;
                margin: 1rem 0;
                min-width: 390px;
                padding: 1rem 2rem;
                text-transform: capitalize;
                &.backtest-item-active{
                    border:2px solid $bgcolor-yellow;
                    background: $bgcolor-lightyellow;
                }
                @media (max-width:$md) {
                    min-width: 320px;
                }
                @media (max-width:$sm) {
                    text-align: center;
                }
            }
        }
}
    .right-sec{
        width:60%;
        @media (max-width:$md) {
            width:49%;
        }
        @media (max-width:$sm) {
            width: 100%;
         }
         .video-height{
            height: 100%;
            .video-width{
                width: 100%;
                height: 100%;
            }
        }
    }
   }
}

.get-research-call{
    padding: 4rem 0 6rem 0;
    .title-secnd{
        span{
            color: $bgcolor-yellow;
        }
    }
    .daily-automated-call{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 4rem;
        .daily-automated-card{
            background: $primary;
            padding: 4rem 3rem 0 3rem;
            border-radius: 24px;
            @media (max-width:$sm) {
                text-align: center;
                padding: 2rem 2rem 0 2rem;
            }
            &.left-sec{
                width: 49%;
                @media (max-width:$sm) {
                    width: 100%;
                }
            }
            &.right-sec{
                width: 49%;
                @media (max-width:$sm) {
                    width: 100%;
                    margin-top: 3rem;
                }
            }
            h3{
                color: $whiteColor;
                font-size: 1.5rem;
                font-family: $font-family-poppins-semibold;
                line-height: 1.5;
            }
            p{
                color:  $text-gray;
                text-transform: capitalize;
                min-height: 11rem;
                padding-top: 1rem;
                font-size: 1.125rem;
                @media (max-width:$md) {
                    min-height: 12rem;
                }
            }

        }
    }
}

.track-record-sec {
    background-color: $abt-bg;
    padding: 6rem 0;
    .title-secnd1 {
        font-size: 3.077rem;
        color: $bgcolorblackdark;
        font-family: $font-family-poppins-bold;
        line-height: 4.615rem;
        text-align: center;
        padding-top: 4rem;

        @media (max-width: $sm) {
            font-size: 2rem;
            line-height: 3rem;

        }
    }

    .title_para {
        font-size: 1.231rem;
        color: $graylight;
        text-align: center;
        line-height: 2rem;
        font-family: $font-family-poppins-regular;
    }

    .list_group1 {
        box-shadow: 0px 3px 6px #c8c8d6;
        border-radius: 2.231rem;
        background-color: $whiteColor;
        margin-top: 1rem;
        display: flex;
        padding: 0.5rem;
        margin-bottom: 2.5rem;
        flex-direction: row;
        .list {
            color: $bgcolorblackdark;
            font-size: 1.385rem;
            line-height: 2.077rem;
            width: 100%;
            text-align: center;
            font-family: $font-family-poppins-medium;
            border-radius: 1.375rem;
            border: none;
            background: $whiteColor;
            padding: 0.5rem 1rem;
            cursor: pointer;
            text-decoration: none;
        }
        .urllinks1 {
            text-decoration: none;
            color: $bgcolorblackdark;
        }

        .listsec {
            color: $bgcolor-blue;
            background-color: rgb(0 102 178 / 10%);
            .urllinks1 {
                color: $bgcolor-blue;

            }

        }
    }

    .res_para {
        @media (max-width:$sm) {
            display: none;
        }
    }
    .main-parent{
        padding: 0;
        min-height: 400px;
        .content-tabs{
            .content{
                display: none;
                &.active-content{
                    display: block;
                }
                .bottom-section{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    padding-top: 1.5rem;
                    .bottom{
                        border: 0 !important;
                        @media (max-width:$sm) {
                            width: 33%;
                            padding: 0 !important;
                            margin: 1rem 0;
                            justify-content: flex-start;
                        }
                    }
                    @media (max-width:$sm) {
                        justify-content: flex-start;
                    }
                }
            }
        }
    }
}



.why-open-freedematac{
    background: $bgcolordark;
    padding: 6rem 0;
    .title-secnd{
        color: $whiteColor;
        span{
            color: $bgcolor-yellow;
        }
        br{
            @media (max-width:$sm) {
               display: none;
            }
        }
    }
    .row-pd{
        padding:3rem 0;
    .benefit-list {
        padding: 3rem;
        text-align: center;
        .benefit-img{
            @media (max-width:$sm) {
                width: 24%;
            }
        }
        .benefit-item {
            padding-top: 2rem;
            .title-cam{
                color: $whiteColor;
                font-size:1.5rem ;
                font-family: $font-family-poppins-semibold;
                line-height: 1.5;
            }
            @media (max-width:$sm) {
                padding-top: 0;
                width: 74%;
                text-align: left;
                padding-left: 2rem;
            }
        }
        @media (max-width:$md) {
            padding:0;
        }
        @media (max-width:$sm) {
          display: flex;
          align-items: center;
          padding: 0 0 3rem 0;
        }
    }
}
}

.one-ac-financial{
    padding: 6rem 0;
    .title-secnd{
        span{
            color: $bgcolor-yellow;
        }
    }
    .main-services-list{
        padding: 5rem 0;
        position: relative;
        &::before{
            content: 'ALL IN ONE';
            display: block;
            position: absolute;
            font-size: 14rem;
            font-family: $font-family-poppins-bold;
            text-transform: capitalize;
            color:$whiteColor;
            text-shadow: -1px 1px 0 #221f2029, -1px -1px 0 #221f2029, 1px -1px 0 #221f2029,-1px 1px 0 #221f2029, 1px 1px 0 #221f2029;
            right: 0;
            left: 0;
            text-align: center;
            line-height: 336px;
            top: 30%;
            @media (max-width:$md) {
                font-size: 10rem;
            }
            @media (max-width:$sm) {
                display: none;
            }
        }
    .slick-slider{
        .slick-prev{
            z-index: 1;
            left: -10px;
            top: 44%;
                &:before {
                    content: "";
                    width: 72px;
                    height: 72px;
                    display: block;
                    background: url(../../assets/images/free-demat-compaign/arrow-pre.svg) no-repeat center center;
                    background-size: contain;
                    opacity: 1;
                    @media (max-width:$sm) {
                        width: 50px;
                        height: 50px;
                    }
            }
            @media (max-width:$sm) {
                left:0 ;
            }
        }
        .slick-next{
            z-index: 1;
            right: 40px;
            top: 44%;
            &:before {
                    content: "";
                    width: 72px;
                    height: 72px;
                    display: block;
                    background: url(../../assets/images/free-demat-compaign/arrow-next.svg) no-repeat center center;
                    background-size: contain;
                    opacity: 1;
                    @media (max-width:$sm) {
                        width: 50px;
                        height: 50px;
                    }
                }
            }
    }
    .carditem-nbfc {
        background: $bg-sky4;
        border: 1px solid $bg-lightgreen;
        width: 85% !important;
        min-height: 14rem;
       .cardimg {
            background: $bg-lightgreen;
            padding: 1rem;
            border-radius: 16px;
            height: 74px;
            align-items: center;
            display: inline-flex;
            justify-content: center;
        }
    }
}
.btn-open{
    text-align: center;
    padding-top: 7rem;
    @media (max-width:$sm) {
        padding-top: 0;
    }
}
}

.open-low-brokerage {
	padding: 7rem 0 9rem 0;
	@media (max-width:$sm) {
		padding: 5rem 0;
	}
	.secttitle {
		color: $primary;
		font-size: 3.25rem;
		line-height: 4.875rem;
		font-weight: 700;
		padding-bottom: 2.375rem;
		font-family: $font-family-poppins-bold;
        span{
            color: $bgcolor-yellow
        };
		@media (max-width:$sm) {
			font-size: 2rem;
			line-height: 3rem;
		}
	}
	p {
		color: $secondary;
		font-size: 1.5rem;
		line-height: 2.375rem;
		font-weight: 500;
		padding-bottom: 4.375rem;
		font-family: $font-family-poppins-medium;
		margin: 0 auto;
		text-align: center;
		width: 64%;
        @media (max-width:$md) {
			width: 90%;
		}
		@media (max-width:$sm) {
			width: 100%;
		}
	}
	.card {
		border: 1px solid $primary;
		background-color: $whiteColor;
		border-radius: 1.875rem;
		min-height: 26rem;
		width: 95%;
		margin: 0 auto;
        @media (max-width:$md) {
            width: 100%;
		}
		@media (max-width:$sm) {
            width: 90%;
		}
		.icon-wrap {
			padding: 2rem;
            border-top-left-radius: 1.875rem;
            border-top-right-radius: 1.875rem;
            background: $primary;
            text-align: center;
            .card-title {
				font-size: 1.625rem;
				line-height: 2.438rem;
                color: $whiteColor;
				font-family: $font-family-poppins-semibold;
			}
		}
		.card-block {
			text-align: center;
            padding:0 2.5rem;
            @media (max-width:$md) {
                padding:0 1rem;
            }
		}
		.charge-lists {
			list-style: none;
			margin-top: 2rem;
			padding: 0;

			li {
				display: flex;
				justify-content: space-between;
				padding: 0.5rem 0;
				font-family: $font-family-poppins-medium;
				margin-top: 1rem;
				font-weight: 500;
			}

		}
	}
}
.open-account-steps{
    background: radial-gradient(31.82% 83.97% at 50% 60.53%, rgba(12, 188, 183, 0.195) 0%, rgba(0, 181, 156, 0.3) 100%);
    padding: 7rem 0;
    .account-steps-list{
        display: flex;
        flex-wrap: wrap;
        padding-top: 6rem;
        align-items: center;
        .left-sec{
            width: 40%;
            .steps-card {
                position: relative;
                padding: 4rem 3rem;
                padding-bottom: 2rem;
                background: linear-gradient(180deg, #ffffff66 0%, #ffffff29 100%, #ffffff1a 100%);
                border-radius: 15px;
                border: 2px solid #ffffff54;
                z-index: 1;
                .steps-card-list{
                    display: flex !important;
                    place-items: baseline;
                    z-index: 1;
                    position: relative;
                    cursor: pointer;
                    padding: 0.5rem 0;
                    padding-left: 1rem;
                    // min-height: 10rem;
                    .count-circle{
                        position: relative;
                        border:2px solid transparent;
                        padding:2px;
                        border-radius: 50px;
                        transition-duration: 1.5s;
                        .list-itm-num{
                            
                            width: 70px;
                            height: 70px;
                            border-radius: 50%;
                            background-color: $primary;
                            color: $whiteColor;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            position: relative;
                                &::after{
                                    content: "";
                                    width: 50px;
                                    height: 50px;
                                    display: block;
                                    background: url(../../assets/images/free-demat-compaign/line-before.png) no-repeat top center;
                                    background-size: contain;
                                    position: absolute;
                                    left: 0;
                                    right: 0;
                                    margin: 0 auto;
                                    top: 80px;
                                    @media (max-width:$md) {
                                        top: 72px;
                                      }
                                }
                        span{
                            font-size: 2rem;
                            font-family: $font-family-poppins-bold;
                        }
                    }
                }
                    .list-itm-descr{
                        margin-left: 2rem;
                        position: relative;
                        width: calc(100% - 8rem);
                        h5{
                            font-size: 1.75rem;
                            font-family: $font-family-poppins-semibold;
                            @media (max-width:$sm) {
                                font-size: 1.5rem;
                              }
                        }
                        p{
                            font-size: 1.375rem;
                            line-height: 1.5;
                            @media (max-width:$sm) {
                                font-size: 1.25rem;
                              }
                        }
                    }
                    &:last-child{
                        .count-circle{
                            .list-itm-num{
                                // &::after{
                                //     display: none;
                                // }
                            }
                        }
                    }
                    // &:hover{
                    //     .detail-show{
                    //         opacity: 1;
                    //         visibility: visible;

                    //     }
                    //     .count-circle{
                    //         border-color:$outer-green;
                    //     }
                    // }
                    .detail-show{
                        position: relative;
                        left: 0;
                        top: 0;
                        opacity: 0;
                        visibility: hidden;
                        transition-duration: 1s;
                        @media (max-width:$sm) {
                            top: 0;
                          }
                    }

                }
                @media (max-width:$sm) {
                   padding: 1rem 1rem 7rem 1rem;
                 }
               
            }
            @media (max-width:$md) {
                width: 100%;
            }
            @media (max-width:$sm) {
                width: 100%;
             }
        }
        .right-sec{
            width: 60%;
            @media (max-width:$md) {
                width: 35%;
            }
            .step-banner {
                position: relative;
                right: 5rem;
                top: 12rem;
                @media (max-width:$md) {
                    display: none;
                }
                @media (max-width:$sm) {
                   display: none;
                }
            }
        }
        .content-list{
            .slick-track{
                height: auto !important;
                .slick-slide{
                    &:last-child{
                        .steps-card-list{
                            .count-circle{
                                .list-itm-num{
                                    &::after{
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.documents-required-sec{
    padding: 6rem 0;
    span{
        color: $bgcolor-yellow;
    }
    .title-secnd{
        br{
            @media (max-width:$md) {
                display: none;
            }
        }
    }
    .scroll-mobile{

    .list_group1 {
        box-shadow: 0px 3px 6px #c8c8d6;
        border-radius: 2.231rem;
        background-color: $whiteColor;
        margin-top: 1rem;
        display: flex;
        padding: 0.5rem;
        margin-bottom: 7rem;
        flex-direction: row;
        @media (max-width:$sm) {
            overflow: auto;
        }
        .list {
            color: $bgcolorblackdark;
            font-size: 1.385rem;
            line-height: 2.077rem;
            width: 100%;
            text-align: center;
            font-family: $font-family-poppins-medium;
            border-radius: 1.375rem;
            border: none;
            background: $whiteColor;
            padding: 0.5rem 1rem;
            cursor: pointer;
            text-decoration: none;
            @media (max-width:$sm) {
                white-space: nowrap;
            }
        }
        .urllinks1 {
            text-decoration: none;
            color: $bgcolorblackdark;
        }

        .listsec {
            color: $bgcolor-blue;
            background-color: rgb(0 102 178 / 10%);
            .urllinks1 {
                color: $bgcolor-blue;
            }

        }
    }
}

.content-tabs{
    .content{
        display: none;
        &.active-content{
            display: block;
        }
        .doc-rec-list{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .comman-sec {
                width: 47%;
                @media (max-width:$sm) {
                    width: 49%;
                }
                @media (max-width:$sm) {
                    width: 100%;
                }
                .doc-rec-details{
                    display: flex;
                    min-height: 12rem;
                    flex-wrap: wrap;
                    align-items: flex-start;
                    .doc-img {
                        width: 20%;
                    }
                    .doc-caption{
                        padding-left: 2rem;
                        width: 80%;
                        .count{
                            &::before{
                                content: "01";
                                display: block;
                                position: absolute;
                                font-size: 4rem;
                                font-family: $font-family-poppins-semibold;
                                text-transform: capitalize;
                                color: $whiteColor;
                                text-shadow: -1px 1px 0 rgba(34, 31, 32, 0.1607843137), -1px -1px 0 rgba(34, 31, 32, 0.1607843137), 1px -1px 0 rgba(34, 31, 32, 0.1607843137), -1px 1px 0 rgba(34, 31, 32, 0.1607843137), 1px 1px 0 rgba(34, 31, 32, 0.1607843137);
                                left: 0;
                                text-align: center;
                                line-height: 22px;
                                top: 20%;
                                z-index: -1;
                            }
                            &.count-2{
                                &::before{
                                content: "02";
                             }
                            }
                            &.count-3{
                                &::before{
                                    content: "03";
                                 }
                            }
                            &.count-4{
                                &::before{
                                    content: "04";
                                 }
                            }
                            &.count-5{
                                &::before{
                                    content: "05";
                                 }
                            }
                        }
                        h3{
                            position: relative;
                            font-size: 1.5rem;
                            line-height: 1.5;
                            font-family: $font-family-poppins-semibold;
                        }
                        p{
                            color: $secondary;
                            font-size: 1.3rem;
                            line-height: 1.5;
                            padding-top: 1rem;
                        }
                    }
                }
            
            }
        }
    }
}

   
}

.why-choice-open-ac{
    padding: 6rem 0 0 0;
    background: $abt-bg;
    position: relative;
    .title-secnd{
        span{
            color: $bgcolor-yellow;
        }
    }
    .company-why-list{
        display: flex;
        justify-content: space-between;
        padding-top: 10rem;
        position: relative;
        z-index: 1;
        @media (max-width: $sm) {
            padding-top: 2rem;
         }
        &::before{
            content: "CHOICE";
            display: block;
            position: absolute;
            font-size: 19rem;
            font-family: $font-family-poppins-semibold;
            text-transform: capitalize;
            color: $abt-bg;
            text-shadow: -1px 1px 0 rgba(34, 31, 32, 0.1607843137), -1px -1px 0 rgba(34, 31, 32, 0.1607843137), 1px -1px 0 rgba(34, 31, 32, 0.1607843137), -1px 1px 0 rgba(34, 31, 32, 0.1607843137), 1px 1px 0 rgba(34, 31, 32, 0.1607843137);
            left: 0;
            text-align: center;
            line-height: 222px;
            top: 25%;
            z-index: -1;
            width: 100%;
            @media (max-width: $md) {
                font-size: 15rem;
             }
            @media (max-width: $sm) {
               display: none;
            }
        }
        @media (max-width: $sm) {
            flex-wrap: wrap;
            margin-top: 1rem;
        }
        .why-list-itm{
            text-align: center;
            h3{
                font-size: 4.231rem;
                font-family: $font-family-poppins-bold;
                color: $primary;
                text-align: center;
                .hvr-txt{
                    display: inline-block;
                    overflow: hidden;
                    vertical-align: bottom;
                    span{
                        animation: toBottomFromTop 0.5s forwards;
                    }
                }
                &:hover{
                    .hvr-txt{
                        span{
                            animation: toTopFromBottom 0.5s forwards;
                            display: block;
                        }
                        
                    }
                    
                }
                small{
                    font-size: 3rem;
                }
            }
            h4{
                color: $secondary;
                font-size: 1.5rem;
                font-family: $font-family-poppins-medium;
            }
            @media (max-width: $sm) {
                width: 100%;
                padding: 2rem 0;
            }
    }
}

.awarded-industry-experts{
    position: relative;
    top: 190px;
    margin-bottom: 20rem;
    .awarded-card{
        padding-top: 4rem;
        .awarded-card-item{
            width: 90% !important;
            margin: 0 auto;
            background: $whiteColor;
            border-radius: 20px;
            padding: 3rem 2rem 2rem;
            text-align: center;
            box-shadow: 0px 6px 12px 3px $bx-shadow;
            min-height: 28rem !important;
            h5{
                font-size: 1.3rem;
                font-family: $font-family-poppins-semibold;
                line-height: 1.5;
                padding-bottom: 1rem;
            }
            img{
                display: inline-block;
            }
        }
        .slick-track{
            padding: 2rem 0;
            display: flex;
        }
    }
}

}

.demat-campaign-faq{
    background-color: $whiteColor !important;
    margin-top: 12rem;
    .related-faq{
        color: $bgcolor-yellow;
    }
}


@keyframes progress{
    from{
        width:0;
    }
    to{
        width:100%;
    }
}


.steps-card-list {
    position: relative;
    &.steps-card-active{
        // &::before{
        //     content:"";
        //     position:absolute;
        //     width: 100%;
        //     height: 100%;
        //     display: block;
        //     left: 0;
        //     top: 0;
        //     background: #ff836b;
        //     animation: progress 5s infinite;
        // }
        .circle-big{
            display: block;
        }
        .list-itm-descr{
            .detail-show{
                opacity: 1 !important;
                visibility: visible !important;
            }
        }
    }

}

.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 3px;
    box-shadow: .5rem .5rem 1rem rgba(0, 0, 0, 0.6);
    overflow: hidden;
    background: #413951;
    background: linear-gradient(145deg, #413951 0%, #201c29 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#413951', endColorstr='#201c29',GradientType=0 );
    color: #fff;
    font-family: 'montserrat', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .headline {
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
  }
  
  .circle-big {
    position: absolute;
    left: 7.5px;
    top: 3px;
    width: 92px;
    height: 85px;
    margin: 0;
    display: none;
    @media only screen and (min-width: 1200px) {
        left: 5.5px;
        top: 2px;
    }
    @media only screen and (min-width: 1400px) {
        left: 7.5px;
        top: 3px;
    }
  }
  
  .circle-big svg {
    width: 89px;
    height: 85px;
  }
  
  .circle-big .bg {
    fill: none;
    stroke-width: 10px;
    stroke: #343035;
  }
  
  .circle-big .progress {
    fill: none;
    stroke-width: 2px;
    stroke: #0CBCB7;
    stroke-linecap: round;
    stroke-dasharray: 340.56;
    stroke-dashoffset: 40;
            transform: rotate(-90deg);
            transform-origin: 50% 50%;
            animation: big 3.2s ease-in-out;
  }
  
  .circle-big .text {
    position: absolute;
    width: 100%;
    top: 37px;
    font-size: 24px;
    text-align: center;
    font-weight: 400;
    line-height: 22px;
  }
  
  .circle-big .text .small {
    font-size: 14px;
    color: #fff;
  }
  
  .circles-small {
    margin: 0 auto;
    width: 400px;
    height: 80px;
    text-align: center;
  }
  
  .circle-small {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    margin: 0 20px;
  }
  
  .circle-small svg {
    width: 80px;
    height: 80px;
  }
  
  .circle-small .bg {
    fill: none;
    stroke-width: 6px;
    stroke: #343035;
  }
  
  .circle-small .progress {
    fill: none;
    stroke-width: 6px;
    stroke: #9a0fe0;
    stroke-linecap: round;
    stroke-dasharray: 232.36;
            transform: rotate(-90deg);
            transform-origin: 50% 50%;
  }
  
  .circle-small .progress.one {
    stroke-dashoffset: 80;
            animation: one 2.5s ease-in-out, appear 1s;
  }
  
  .circle-small .progress.two {
    stroke-dashoffset: 140;
            animation: two 3.5s ease-in-out, appear 2s;
  }
  
  .circle-small .text {
    position: absolute;
    width: 100%;
    top: 26px;
    font-size: 17px;
    text-align: center;
    font-weight: 400;
    line-height: 16px;
  }
  
  .circle-small .text .small {
    font-size: 12px;
    color: #fff;
  }
  
  @keyframes big {
    from {
      stroke-dashoffset: 326.56;
    }
    to {
      stroke-dashoffset: 60;
    }
  }
  
  @keyframes one {
    from {
      stroke-dashoffset: 232.36;
    }
    to {
      stroke-dashoffset: 80;
    }
  }
  
  @keyframes two {
    from {
      stroke-dashoffset: 232.36;
    }
    to {
      stroke-dashoffset: 140;
    }
  }
  
  @keyframes appear {
      0%, 50% {
          opacity: 0;
      }
      100% {
          opacity: 1;
      }
  }
  