@import '../../assets/css/header.scss';
@import '../../assets/css/customvariable.scss';

.lead-form-main{
    padding: 2rem 0;
    .radio-form-section{
        width: 47%;
        @media (max-width:$md) {
            width: 100%;
        }
        .form-card{
            box-shadow:0 0 4px 1px $nbfcboxshadow;
            padding: 1.5rem;
            @media (max-width:$sm) {
                padding: 1rem;
                box-shadow:0 0 4px 0px $nbfcboxshadow;
            }
            p{
                font-size: 1.714rem;
                font-weight: 400;
                font-family: $font-family-poppins-regular;
                color: $darkblack;
                margin-bottom: 2rem;
                line-height: 36px;
            }
            .radio-btn-sec{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 1rem;
                        .rdio {
                            position: relative;
                            display: flex;
                            align-items: center;
                            input[type="radio"] {
                                opacity: 0;
                            }
                            label {
                                padding-left: 1.5rem;
                                cursor: pointer;
                                font-weight: 400;
                                font-size: 1.143rem;
                                font-family: $font-family-poppins-regular;
                                color: $darkblack;
                                @media (max-width:$sm) {
                                    padding-left: 1rem;
                                }
                            &:before {
                                width: 18px;
                                height: 18px;
                                position: absolute;
                                top: 1px;
                                left: 0;
                                content: '';
                                display: inline-block;
                                -moz-border-radius: 50px;
                                -webkit-border-radius: 50px;
                                border-radius: 50px;
                                border: 1px solid #0068B6;
                                background: #fff;
                            }
                            }
                            input[type="radio"] {
                                margin:0px;
                            &:disabled + label {
                                color: #999;
                                    &:before {
                                        background-color: #0068B6;
                                    }
                            }
                                &:checked + label::after {
                                    content: '';
                                    position: absolute;
                                    top: 5px;
                                    left: 4px;
                                    display: inline-block;
                                    font-size: 11px;
                                    width: 10px;
                                    height: 10px;
                                    background-color: #0068B6;
                                    border-radius: 50px;
                                }
                            }
                        }
                        .rdio input[type="radio"]:checked + label {
                            &:before {
                                border-color: #0068B6;
                            }
                            &::after {
                                background-color: #0068B6;
                            }
                        }
            }
        }
    }
    .form-section{
        padding-top: 4rem;
        @media (max-width:$sm) {
            padding-top: 2rem;
        }
        .dis-flex{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .flex-items{
                width: 47%;
                @media (max-width:$md) {
                    width: 49%;
                }
                @media (max-width:$sm) {
                    width: 100%;
                }
            }
        }
        .btn-submit-sec{
            margin-top: 3rem;
            .btnsubmit{
                background: $yellowColor !important;
                color: $primary !important;
                @media (max-width:$sm) {
                    width: 100%;
                }
                &:hover{
                    background: $primary !important;
                    color: $whiteColor !important;
                }
            }
        }
        .cust-checkbox{
            .form-check-label{
                font-size: 1.286rem;
                font-family: $font-family-poppins-regular;
                font-weight: 400;
                color: $secondary;
                line-height: 1.5;
                .link-tc{
                    // display: block;
                    text-decoration: none;
                    font-weight: 600;
                    font-family: $font-family-poppins-semibold;
                    @media (max-width:$sm) {
                        display: block;
                    }
                }
            }
        }
        .input-field{
            background: $whiteColor;
            color: $secondary;
            outline: none;
            // box-shadow: inherit;
            border: 1px solid $secondary;
            border-radius: 8px;
            font-family: $font-family-poppins-regular;
            font-size: 1.429rem;
            background-image: inherit !important;
            height: calc(4.5rem + 2px);
            min-height: calc(4.5rem + 2px);
            padding: 1rem 1.5rem 0;
            &:focus{
                border-color: #86b7fe;
                border: 1px solid #86b7fe;
            }
            &:not(:placeholder-shown)~label{
                font-size: 1.25rem;
            }
            &:focus~label{
                font-size: 1.25rem;
            }
            &.formselect{
                padding: 1.5rem 1.5rem;
                margin-bottom: 2rem;
                &:focus{
                    border-color: #86b7fe;
                    border: 1px solid #86b7fe;
                }
            }
        }
        .textarea-label{
            margin-bottom: 2rem;
            .textarea{
                padding: 1.625rem 1.5rem;
                height: 150px;
                &.height-auto{
                    height: 70px;
                }
                &:focus{
                    border-color: #86b7fe;
                    border: 1px solid #86b7fe;
                }
            }
            label{
                color: $secondary;
                padding: 1rem 1.5rem;
            }
        }
        .input-label{
            margin-bottom: 2rem;
            &.selectdropdown{
                margin-bottom: 2rem;
                .formselect{
                    margin-bottom: 0;
                }
            }
            .invalid-feedback{
                font-size: 1.114rem;
                margin-top: 0.5rem;
            }
            label{
                color: $secondary;
                padding: 1rem 1.5rem;
                &::after{
                    content: '*';
                    color: #FE777D;
                    padding-left: 0.5rem;
                }
            }
            .react-dropdown-select-dropdown-handle{
                margin: 0;
                svg{
                    height: 25px;
                    width: 25px;
                    // transform: rotate(360deg);
                }
            }
            &.mandate-none{
                label{
                    &::after{
                        display: none;
                    }
                }
            }
        }
      
        .left-form-sec{
            width: 45%;
            @media (max-width:$md) {
                width: 48%;
            }
            @media (max-width:$sm) {
                width: 100%;
            }
        }
        .right-form-sec{
            width: 45%;
            @media (max-width:$md) {
                width: 48%;
            }
            @media (max-width:$sm) {
                width: 100%;
            }
        }
    }
}