@import '../../assets/css/customvariable.scss';
@import '../../assets/css/common.scss';


.app-skeleton-parent{
    animation: hideMe 4s forwards;
}

.App-main {
    .banner-app {
        position: relative;
        overflow: hidden;

        &:before {
            content: "";
            width: 15rem;
            height: 23rem;
            display: block;
            position: absolute;
            left: 0;
            bottom: -12rem;
            
            background-size: contain;
            z-index: 1;

            @media (max-width:$sm-x) {
                display: none;
            }
        }

        .ban-img {
            width: 100%;
            height: auto;
            @media (max-width: $sm-x) {
                height: 350px;
                object-fit: cover;
            }
        }

        .app-banner-caption {
            position: absolute;
            left: 0;
            width: 100%;
            top: 50%;
            transform: translate(0, -50%);
            z-index: 9;
            color: $whiteColor;

            @media (max-width: $sm-x) {
                top: 57%;
            }

            .big-ttl {
                color: $whiteColor;

                @media (max-width: $sm-x) {
                    font-size: 2rem;
                }
            }

            p {
                color: $whiteColor;

                .strng {
                    font-family: $font-family-poppins-semibold;
                }
            }

            .wrap-app-links {
                margin: 4rem 0;
                display: flex;
                flex-wrap: wrap;

                @media (max-width: $sm-x) {
                    margin: 2rem 0;
                    flex-direction: column;
                }
                .link-nrl{
                    @media (max-width: $xs) {
                        width: 55%;
                    }
                }
            }
        }
    }

    .app-benefits-section {
        padding: 10rem 0 10rem 0;
        position: relative;
        background-color: $bgcolordark;

        &:after {
            content: '';
            width: 36em;
            height: 49rem;
            display: block;
            position: absolute;
            left: 0;
            top: -22rem;
            background: url(../../assets/images/app/appbefore.png) no-repeat bottom left;
            background-size: contain;
            z-index: -1;

            @media (max-width:$sm) {
                display: none;
            }
        }

        .heading-sec {
            
            .title-first {
                font-size: 3rem;
                


                @media (max-width: $sm-x) {
                    font-size: 2rem;
                }
            }

            p {
                margin: 2rem 0 3rem 0;
                color: $lightColor;
            }

            @media (max-width: $sm-x) {
                margin-bottom: 4rem;
            }
        }

        .benifit-value-list {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            position: relative;
            flex-direction: row-reverse;

            .benifit-value-item {
                border: 0;
                /*@extend .light-box-shadow;*/
                border-radius: 20px;
                padding: 2rem 2.5rem;
                width: 44%;
                margin-right: 6%;
                margin-bottom: 5%;
                text-align: center;
                background: $bgcolor-green;

                h4 {
                    font-size: 1.78rem;
                    line-height: 1.5;
                    font-family: $font-family-poppins-semibold;
                    color: $whiteColor;

                    @media (max-width: $sm-x) {
                        font-size: 1.4rem;
                        line-height: 1.3;
                    }
                }

                &:first-child {
                    margin-right: 0;

                    @media (max-width: $sm-x) {
                        margin-right: 2%;
                    }
                }

                @media (max-width: $sm-x) {
                    margin: 2%;
                    width: 46%;
                    padding: 1rem;
                }
            }

            @media (max-width: $md) {
                width: 100%;
                margin-top: 8rem;
            }

            @media (max-width: $sm-x) {
                margin-top: 0;
            }
        }

        &::before {
            content: '';
            width: 74rem;
            height: 27rem;
            display: block;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(0, -50%);
            background: url(../../assets/images/app/multiplebenefit-line.svg) no-repeat top right;
            background-size: contain;

            @media (max-width: 1025px) {
                width: 54rem;
                height: 40rem;
            }

            @media (max-width: $md) {
                display: none;
            }
        }

        @media (max-width: $sm-x) {
            padding: 5rem 0;
            text-align: center;
        }
    }

    .app-cont-sec {
        background: $whiteColor;
        padding: 8rem 0;
       
        &.app-cont-sec-sub{
            position: relative;
            background: url(../../assets/images/online-trading-app/app-bg2.png) no-repeat top left $primary;
            background-size: cover;

            .heading-sec-black {
                text-align: center;
                .title-secnd{
                    color: $whiteColor;
                }
            }
    
            .cont-sec-list {
                display: flex;
                flex-wrap: wrap;
                list-style: none;
                margin: 5rem 0;
                padding: 0;
    
               
    
                .cont-sec-item {
                    width: 33.33%;
                    padding: 2rem;
                    text-align: center;
    
                    .title-secnd {
                        font-size: 3rem;
                        margin-bottom: 0.5rem;
                        color: $whiteColor;
    
                        @media (max-width: $sm-x) {
                            font-size: 2rem;
                        }
                    }
    
                    p {
                        color: $whiteColor;
                    }
    
                    @media (max-width: $sm-x) {
                        width: 100%;
                        padding: 1rem;
                    }
                }
    
                @media (max-width: $sm-x) {
                    margin: 1rem 0;
                    text-align: center;
                }
            }
    
            .wrap-app-links {
                margin: 2rem 0;
                display: flex;
                flex-wrap: wrap;
    
                .link-nrl {
    
                    @media (max-width: $sm-x) {
                        padding: 8px;
                    }
    
                    &.black {
                        background-color: $bgcolordark;
                    }
    
                    .img-ico {
                        width: 17rem;
                        display: block;
    
                        @media (max-width: $sm-x) {
                            width: 8rem;
                        }
                    }
    
                    .blackcolor {
                        color: $blackColorlight;
                        font-size: 20px;
    
                        @media (max-width: $sm-x) {
                            font-size: 16px;
                        }
                    }
    
                    &:hover {
                        transform: translateY(-8px);
                    }
    
                    @media (max-width: $sm-x) {
                        margin-right: 1rem;
                        width: 60%;
                        margin-bottom: 1rem;
                    }
    
                    
                }
    
                @media (max-width: $sm-x) {
                    margin: 2rem 0;
                }
            }
    
            @media (max-width: $sm-x) {
                padding: 5rem 0;
            }
    
        }

        

        
    }

    .app-banner-bottom {
        background: $abt-bg;
        padding: 10rem 0 10rem 0;
        position: relative;

        &:after {
            content: '';
            width: 25em;
            height: 35rem;
            display: block;
            position: absolute;
            right: 2px;
            bottom: -2rem;
            background: url(../../assets/images/app/app-bgmiddle.png) no-repeat bottom right;
            background-size: contain;

            @media (max-width:$sm) {
                display: none;
            }
        }
        .pb-5{padding-bottom:5rem !important;
            @media (max-width: $sm) {
                padding-bottom:0rem !important;
            }
        }
        .content-list {
            position: relative;
            padding: 0;
            margin-top: 0;
            padding-right: 8rem;
            .content-list-itm {
                padding-left: 3.5rem;
                margin-bottom: 5rem;
                position: relative;
                cursor: pointer;

                &.list-itm-active {
                    &::before {
                        content: '';
                        background: $bgcolor-yellow;
                        width: 8px;
                        height: 100%;
                        border-radius: 8px;
                        position: absolute;
                        left: 0;
                        display: block;
                    }

                    .single-ttl {
                        color: $primary;
                    }

                    .para {
                        display: block;
                    }
                }

                .single-ttl {
                    font-family: $font-family-poppins-semibold;
                    font-size: 1.75rem;
                    color: $darkColorgray;
                }

                .para {
                    display: none;
                }

                &:last-child {
                }
            }

            &::before {
                content: '';
                background: $bgcolor-yellow;
                width: 5px;
                height: 100%;
                position: absolute;
                left: 3px;
                top: 0;
                opacity: 0.1;
                border-radius: 9px;
            }
            @media (max-width:$md) {
                padding-right: 0;
            }
        }

        .trade-easy-images-div {
            display: flex;
            justify-content: center;
            padding: 0 4rem;

            .single-trade-easy-images {
                max-width: 100%;
                height: auto;
            }
            @media (max-width:$md) {
                padding: 0;
            }
            @media (max-width:$sm) {
                padding-top: 4rem;
                padding-bottom: 4rem;
            }
        }

        @media (max-width: $sm-x) {
            padding: 4rem 0 5rem 0;
        }
    }

    .app-strategies-bottom {
        padding-bottom: 10rem;
        padding-top: 10rem;
        position: relative;
        overflow: hidden;

        &:before {
            content: '';
            width: 17rem;
            height: 64rem;
            display: block;
            position: absolute;
            right: 0;
            top: -26rem;
            background: url(../../assets/images/app/app-bgrealtime-right.png) no-repeat bottom right;
            background-size: contain;

            @media (max-width:$sm) {
                display: none;
            }
        }

        &:after {
            content: '';
            width: 25em;
            height: 32rem;
            display: block;
            position: absolute;
            left: 0;
            bottom: -9rem;
            background: url(../../assets/images/app/app-bgrealtimeafter-left.png) no-repeat bottom left;
            background-size: contain;

            @media (max-width:$sm) {
                display: none;
            }
        }

        .content-list {
            padding-left: 6rem;
            display: flex;
            justify-content: flex-end;
            flex-wrap: wrap;

            .content-list-itm {
                border: 2px solid $bgolor-lightwhite;
                border-radius: 20px;
                padding: 2rem 1.5rem;
                margin-bottom: 2.5rem;
                position: relative;
                width: 90% !important;

                h4 {
                    font-family: $font-family-poppins-semibold;
                    font-size: 1.5rem;
                    color: $primary;
                    position: relative;
                    z-index: 99;
                }

                .para {
                    color: $secondary;
                    position: relative;
                    z-index: 99;
                    margin-bottom: 0;
                    font-size: 1.3rem;
                }

                &.list-itm-active {
                    background: $bgolor-lightwhite;
                    left: -10%;
                    width: 85% !important;

                    &::before {
                        content: '';
                        width: 5rem;
                        height: 100%;
                        display: block;
                        position: absolute;
                        top: 0;
                        left: -10px;
                        background: $bgcolor-yellow;
                        border-radius: 20px 0 0 20px;
                    }

                    &::after {
                        content: '';
                        width: 100%;
                        height: 100%;
                        display: block;
                        position: absolute;
                        left: 0;
                        top: 0;
                        border-radius: 20px;
                        background: $bgolor-lightwhite;
                    }

                    @media (max-width: $sm) {
                        left: 0;
                    }
                }

                @media (max-width: $sm) {
                    width: 100%;
                }
            }

            @media (max-width: $sm) {
                padding-left: 0;
            }

            .slick-slide {
                > div {
                    display: flex;
                    justify-content: flex-end;
                }
            }
            @media (max-width:$md) {
                margin-left: 2rem;
            }
            @media (max-width:$sm) {
                margin-left: 0;
            }
        }

        .title-secnd {
            text-align: center;
            margin-bottom: 8rem;

            @media (max-width: $sm) {
                margin-bottom: 3rem;
            }
        }

        .trade-easy-images-div {
            .single-trade-easy-images {
                width: 100%;
                height: auto;
            }

            @media (max-width: $sm) {
                margin-bottom: 3rem;
                margin-top: 3rem;
            }
        }

        @media (max-width: $sm) {
            padding:3rem 0;
        }
    }
}

.trade-benefits-section {
    background: url(../../assets/images/app/banner-botttom.jpg) no-repeat bottom left;
    background-size: cover;
    padding: 12rem 0;
    position: relative;

    &:after {
        content: '';
        width: 7rem;
        height: 19rem;
        display: block;
        position: absolute;
        left: 0;
        top: 1rem;
        background: url(../../assets/images/app/app-bg-wealthbefore.png) no-repeat top left;
        background-size: contain;

        @media (max-width:$md) {
            display: none;
        }
    }

    .reset {
        margin: 3rem 0 4rem;
        padding: 0;

        li {
            font-size: 2rem;
            font-family: $font-family-poppins-medium;
            margin-bottom: 1rem;
            position: relative;
            padding-left: 2.3rem;
            list-style: none;

            @media (max-width: $sm-x) {
                font-size: 1.5rem;
            }

            .clr-cng {
                color: $blueColortext;
            }

            &::before {
                content: '';
                width: 0.9rem;
                height: 0.9rem;
                display: block;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translate(0, -50%);
                background: $primary;
                border-radius: 50%;
            }
        }
    }

    @media (max-width: $sm-x) {
        padding: 5rem 1rem;
    }

    .benefits-list-top {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 5rem;

        .list-top-itm {
            h3 {
                font-size: 5rem;
                font-family: $font-family-poppins-semibold;
                color: $primary;
                display: flex;
                line-height: 0.8;
                min-height: 6rem;

                .sm-ico {
                    vertical-align: super;
                    font-size: 1.5rem;
                }

                @media (max-width: $sm) {
                    font-size: 3rem;
                    min-height: 4rem;
                }
            }

            h4 {
                font-family: $font-family-poppins-semibold;
                font-size: 2rem;

                @media (max-width: $sm) {
                    font-size: 1.6rem;
                }
            }

            h6 {
                font-family: $font-family-poppins-regular;
                font-size: 1.2rem;
            }

            @media (max-width: $sm) {
                width: 33.33%;
                padding: 0 1rem;
            }
        }
    }

    .free-tool-sec {
        position: relative;
        border: 1px solid #838383;
        border-radius: 18px;
        padding: 2rem 0.5rem;

        .tool-ttl {
            font-family: $font-family-poppins-semibold;
            position: absolute;
            top: -9px;
            background: #d9d8de;
            left: 0;
            right: 0;
            margin: 0 auto;
            display: block;
            text-align: center;
            max-width: 280px;
            font-size: 1.7rem;

            .ico {
                font-size: 1rem;
                vertical-align: inherit;
            }

            @media (max-width: $sm) {
                background: #dddcdf;
            }
        }

        .tool-sec-list {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;

            .sec-list-itm {
                width: 50%;
                display: flex;
                flex-wrap: wrap;
                padding: 0 1.8rem;
                align-items: center;
                border-right: 1px solid #838383;

                .list-itm-lft {
                    h5 {
                        font-family: $font-family-poppins-semibold;
                        color: $primary;
                        margin-top: 0.4rem;
                        font-size: 1.3rem;
                    }

                    .sm-img {
                        width: 25px;
                        margin: 0 auto;
                        display: block;
                        margin-bottom: 0.8rem;
                    }
                }

                .list-itm-rht {
                    width: calc(100% - 75px);
                    padding-left: 2rem;

                    h6 {
                        font-family: $font-family-poppins-regular;
                        font-size: 1.2rem;
                        line-height: 1.5;
                    }
                }

                &:last-child {
                    border: 0;
                }

                @media (max-width: $sm) {
                    width: 100%;
                    padding: 1rem 2rem;
                    border-bottom: 1px solid #838383;
                    border-right: 0;
                }
            }
        }
    }

    .benefits-ttl {
        font-size: 3rem;
        margin-top: 4.5rem;
        font-family: $font-family-poppins-medium;
        text-align: center;

        span {
            font-family: $font-family-poppins-semibold;
        }

        @media (max-width: $sm) {
            font-size: 2rem;
        }
    }

    @media (max-width: $md) {
        background: #dddcdf;
    }
}

.content-list{
    .slick-track{
        height: auto !important;
        .slick-slide{
            &:last-child{
                .content-list-itm{
                    margin: 0;
                }
            }
        }
    }
}

.trading-app-sec1{
    padding-top: 4rem;
    &.pb-10{padding-bottom:10rem !important;
        @media (max-width: $sm) {
            padding-bottom:0rem !important;
        }
    }

    .sec1-left{
        padding-top: 10rem;
        position: relative;
        &::before{
            content: '';
            // background: url(../../assets/images/online-trading-app/arrow-check.svg) no-repeat;
            width: 153px;
            height: 94px;
            background-size: contain;
            display: block;
            position: absolute;
            right: 20px;
            top: 170px;
            @media (max-width: $md) {
                display: none;
            }
        }
        .top-title{
            h1{
                font-size: 4rem;
                line-height: 4rem;
                color: $primary;
                margin-bottom: 1rem;
                font-family: $font-family-poppins-bold;
                .mb-br{
                    @media (max-width: 485px) {
                        display: block;
                    }
                }
                @media (max-width: $md) {
                    font-size: 2.7rem;
                    line-height: 3.5rem;
                }
                @media (max-width: $xs) {
                    font-size: 2.5rem;
                 
                }
            }
        }

        .slider-ver{
            .slick-slide{
                h4{
                    color: $bgcolor-blue;
                    font-size: 4rem;
                    line-height: 5rem;
                    font-family: $font-family-poppins-bold;
                    @media (max-width: $md) {
                        font-size: 2.7rem;
                        line-height: 3rem;
                    }
                    @media (max-width: $xs) {
                        font-size: 2.5rem;
                     
                    }
                }
            }
            @media (max-width: $xs) {
                position: absolute;
                left: 55px;
                top: 43px;
            }
        }
        .wrap-app-links{
            display: flex;
            align-items: center;
            margin-top: 3rem;
            @media (max-width: $sm) {
                flex-wrap: nowrap;
            }
            .link-nrl{
                background: $primary !important;
                color: $whiteColor !important;
                @media (max-width: $sm) {
                    width: 50%;
                  
                }
                &:hover{
                    background: $yellowColor !important;
                    color: $primary !important;
                }
            }
        }
        .star-line {
            display: flex;
            margin-top: 2.5rem;
            align-items: center;
            h5{
                font-family: $font-family-poppins-regular;
                color: $primary;
                margin: 0;
                margin-left: 1rem;
                span{
                    font-family: $font-family-poppins-bold;
                }
            }
            @media (max-width: $sm) {
                justify-content: left;
                margin-bottom: 1rem;
            }
        }
        @media (max-width: $md) {
            padding-top: 5rem;
        }
        @media (max-width: $xs) {
            padding-top: 0;
        }
    }
    .sec1-right{
        position: relative;
        padding: 0 7rem;
        &::before{
            content: '';
            background: $abt-bg;
            display: block;
            width: 94%;
            margin: 0 auto;
            height: 75%;
            position: absolute;
            top: 50px;
            left: 0;
            right: 0;
            opacity:1;
            border-radius: 24px;
            z-index: 0;
            
        }
        .mn-img{
            position: relative;
            z-index: 9;
        }
        .mn-img1{
            position: absolute;
            top: 44%;
            left: 14%;
            max-width: 52%;
            z-index: 9;
            animation-duration: 2s;
            animation-fill-mode: both;
            animation-delay: 0.3s;
            animation-name: fadeInUp;
        }
        .mn-img2{
            position: absolute;
            top: 30%;
            right: 14%;
            max-width: 52%;
            z-index: 9;
            animation: moveToRight 1s ease-in;
            animation-delay: 1s;
            // transition-timing-function: ease-in;
            // animation-duration: 1s;
            // animation-fill-mode: both;
            // animation-delay: 0.1s;
            // animation-name: fadeInUp;
        }
        @media (max-width: $md) {
            padding: 0 4rem;
        }
    }
}

@-webkit-keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 80%, 0);
      transform: translate3d(0, 80%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  @keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 80%, 0);
      transform: translate3d(0, 80%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  .fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
  }


.top-app-testimonial{
    padding:8rem 0;
    background: $abt-bg;
    .heading-sec{
        margin-bottom: 4rem;
    }
    .app-sec8-main{
        .title-4{
            text-align: center;
            font-family: $font-family-poppins-bold;
            color: $primary;
            font-size: 2.2rem;
            margin-bottom: 4rem;
        }
        .slideshow{
            .slick-slide{
                .content{
                    text-align: center;
                    max-width: 500px;
                    margin: 0 auto;
                    display: block !important;
                    .thumbnail{
                        .SdClientName{
                            font-family: $font-family-poppins-bold;
                            color: $primary;
                            font-size: 1.8rem;
                            margin-bottom: 1.5rem;
                        }
                        img{
                            display: inline-block;
                            margin-bottom:3rem;
                        }
                    }
                    .sdAllContent{
                        .sdCustomSliderHeadig{
                            position: relative;
                            &::before{
                                content: '';
                                background: url('../../assets/images/online-trading-app/quote1.svg') no-repeat;
                                display: block;
                                background-size: contain;
                                position: absolute;
                                height: 50px;
                                width: 66px;
                                left: -50px;
                                top: -27px;
                                @media (max-width:$md) {
                                    width: 50px;
                                    height: 30px;
                                    left: -20px;
                                }
                                @media (max-width: $sm-x) {
                                    left: 0;
                                }
                            }
                            &::after{
                                content: '';
                                background: url('../../assets/images/online-trading-app/quote2.svg') no-repeat;
                                display: block;
                                background-size: contain;
                                position: absolute;
                                height: 50px;
                                width: 66px;
                                right: -50px;
                                bottom: -27px;
                                @media (max-width:$md) {
                                    width: 50px;
                                    height: 30px;
                                    right: -20px;
                                }
                                @media (max-width: $sm-x) {
                                    right: 0;
                                }
                            }
                        }
                    }
                }
            }
            .slick-prev{
                background: url(../../assets/images/online-trading-app/left-arrow.svg) no-repeat;
                background-size: contain;
                width: 85px;
                height: 50px;
                z-index: 9;
                left: 13%;
                top: 33%;
                &::before{
                    display: none;
                }
                @media (max-width:$md) {
                    left: 0;
                }
            }
            .slick-next{
                background: url(../../assets/images/online-trading-app/right-arrow.svg) no-repeat;
                background-size: contain;
                width: 85px;
                height: 50px;
                right: 13%;
                top: 33%;
                &::before{
                    display: none;
                }
                @media (max-width:$md) {
                    right: 0;
                }
            }
        }
        
    }
}
.readmoresection {
	padding: 5rem 0;

	.secttitle {
		color: $primary;
		font-size: 3.25rem;
		line-height: 4.875rem;
		font-weight: 700;
		padding-bottom: 3rem;
		font-family: $font-family-poppins-bold;

		@media (max-width:$sm) {
			font-size: 2rem;
			line-height: 3rem;
		}
	}

	.read-more-wrap {
		font-size: 1.6875rem;
		font-family: $font-family-poppins-regular;
		font-weight: 400;
		color: $primary;
		line-height: 2.75rem;

		@media (max-width:$sm) {
			font-size: 1.6rem;
		}

		@media (min-width:$sm) and (max-width:768px) {
			font-size: 1.6rem;
		}

		@media (min-width:769px) and (max-width:1024px) {
			font-size: 1.6rem;
		}
	}

	.moreless-button {
		font-size: 1.6875rem !important;
		font-family: $font-family-poppins-bold;
		font-weight: 700;
		color: $bgcolor-blue;
		line-height: 2.75rem !important;

	}

	.read-more-state {
		display: none;
	}

	.read-more-target {
		display: none;
		max-height: 0;
		font-size: 0;
		transition: .25s ease;
		padding-top: 10px;
	}

	.read-more-state:checked~.read-more-wrap .read-more-target {
		opacity: 1;
		font-size: inherit;
		max-height: 999em;
		display: block;
	}

	.read-more-state~.read-more-trigger:before {
		content: 'Read more';
	}

	.read-more-state:checked~.read-more-trigger:before {
		content: 'Read less';
	}

	.read-more-trigger {
		cursor: pointer;
		display: inline-block;
		/*padding: 0 .5em;*/

		font-size: .9em;
		line-height: 2;
		border-radius: .25em;
	}

	.font-bold {

		padding: 1rem 0 0.5rem 0;
		font-weight: 700;
	}

	h3 {
		font-size: 2rem;
		padding: 1rem 0 1.5rem 0;
		margin-top: 2rem;
	}
	.p1{
		padding: 1rem 0;
	}
}
// faq

.Dematfaq {
	padding: 9rem 0;
	background-color: $abt-bg ;
    @media (max-width: $sm) {
        padding: 5rem 0;
    }
	.title-secnd {
		margin-bottom: 2rem;
	}

	.faq-item {
		border: 1px solid $lightgray !important;
		border-radius: 20px;
		background: $whiteColor;
		padding: 2.5rem 3rem;
		margin-bottom: 2rem;

		@media (max-width:$sm) {
			padding: 1.5rem 1rem;
		}

		.faq-header {
			font-family: $font-family-poppins-semibold;
			color: $primary;
			font-size: 2rem;
            @media (max-width:$sm) {
                font-size: 1.6rem;
            }
		}
	}

	.accordion-button {

		&:not(.collapsed) {
			background-color: transparent !important;
			border: none !important;
			box-shadow: none !important;
		}

		&:focus {
			border: none !important;
			box-shadow: none !important;
		}

		&:after {
			display: none !important;
		}
	}
    &.faq-white{
        background: $whiteColor;
    }
}

.mt-6{
	margin-top: 6rem !important;
}

.down-jiffy{
    padding: 10rem 0;
    .down-jiffy-sub{
        background: $bgcolor-green;
        padding: 0 8rem;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        border-radius: 16px;
        .jiffy-sub-img{
            width: 40%;
            img{
                position: relative;
                margin-top: -8rem;
                @media (max-width:$sm) {
                    display:none;
            
                }
            }
            @media (max-width:$sm) {
                width: 100%;
            }
        }
        .jiffy-sub-cont{
            width: 60%;
            text-align: center;
            h3{
                margin-bottom: 4rem;
                font-family: $font-family-poppins-bold;
                color: $whiteColor;
                font-size: 2.5rem;
                @media (max-width:$md) {
                    margin-bottom: 2rem;
                }
            }
            @media (max-width:$sm) {
                width: 100%;
                padding: 4rem 0 2rem 0;
            }
            .wrap-app-links{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                @media (max-width: $sm) {
                    flex-wrap: nowrap;
                }
                @media (max-width: $xs) {
                    flex-wrap: wrap;
                }
                .link-nrl{
                    @media (max-width:$sm) {
                        width: 50%;
                        flex-wrap: nowrap;
                    }
                }
            }
        }
        @media (max-width:$md) {
            padding: 0 2rem;
        }
        @media (max-width:$sm) {
            flex-direction: column;
            padding: 0 0rem;
        }
    }
    @media (max-width: $sm-x) {
        padding: 0;
    }
}

.benefits-app{
    .benefits-app-des{
        .imgwrap{
            @media (max-width: $sm) {
                padding: 0 4.5rem;
            }  
        }
        h4{
            font-size: 1.8rem;
            line-height: 2.6rem;
            @media (max-width: $xs) {
                font-size: 1.5rem;
                line-height: 2.2rem;
            }
        }
        @media (max-width: $sm-x) {
            text-align: center;
            width: 48%;
            margin-bottom: 2rem;
        }
    }
    .benefits-app-des-list{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .get-btn{
        margin-top: 3rem;
    }
}


@keyframes moveToRight {
    
    100% {
        transform: translateX(-110px);
    }
}