@import '../../assets/css/common.scss';
@import '../../assets/css/customvariable.scss';


.faq-main {
    .banner-app {

        position: relative;
        z-index: 9;

        .ban-img {
            width: 100%;

            @media (max-width: $sm-x) {
                height: 250px;
                object-fit: cover;
            }

        }

        .app-banner-caption {
            position: absolute;
            left: 0;
            width: 100%;
            top: 50%;
            transform: translate(0, -50%);
            z-index: 9;
            color: $whiteColor;

            @media (max-width: $sm-x) {
                top: 57%;
            }


            .faq-title {
                color: $whiteColor;
            
                

                @media (max-width: $sm-x) {
                    font-size: 2rem;
                }

            }

            .faq-search {
                display: flex;
                background: white;
                width: 100%;
                height: 4.5rem;
                border-radius: 8px;
                margin-top: 4rem;
                padding-right: 0.4rem;
                


                .form-control {
                    width: 77%;
                    /* height: 46px; */
                    font-size: 1.35rem;
                    border: 0px;
                    outline: none;
                    box-shadow: inherit;
                    border-radius: 8px;
                    font-family: $font-family-poppins-regular;
                    padding: 0 1.5rem;
                    @media (max-width: $md) {
                        font-size: 1.3rem;

                    }

                    

                }

                .btn {
                    width: 23%;
                    border-radius: 10px;
                    height: 4rem;
                    margin: auto;
                    font-weight: 700;
                    font-size: 1.5rem;
                    font-family: $font-family-poppins-semibold;
                    @media (max-width: $md) {
                        font-size: 1.3rem;

                    }

                }
                @media (max-width: $sm-x) {
                    margin-top: 2rem;
                }
            }

        }

    }
}

.faq-body {

    padding: 0;
    position: relative;

    .sec {
        margin-left: 3rem;
        margin-top: 4rem;
    }

    .security-privacy {
        padding: 18rem 0 10rem 0;
        position: relative;
        overflow: inherit;
        .heading-sec {
            margin-bottom: 5rem;
            width: 100%;

            .title-first {

                margin-bottom: 1rem;
                text-align: left;
                @media (max-width: $sm) {
                    text-align: center;
                }
            }
        }

        @media (max-width: $md) {
            padding: 5rem 0 5rem 0;
        }

        &::before {
            content: "";
            width: 29rem;
            height: 42rem;
            display: block;
            position: absolute;
            top: -13rem;
            left: 0;
            background: url(../../assets/images/Faq/bannerbefore.png) no-repeat top left;
            background-size: contain;

            @media (max-width: $sm) {
                display: none;
            }
        }

        &::after {
            content: '';
            width: 37rem;
            height: 42rem;
            display: block;
            position: absolute;
            bottom: -16rem;
            right: 0;
            left: inherit;
            background: url(../../assets/images/Faq/securitybefore.png) no-repeat top right;
            background-size: contain;

            @media (max-width: $sm) {
                display: none;
            }
        }
    }


    .same-list-bx {
        .same-list-bx-list {
            display: flex;
            flex-wrap: wrap;
            margin-left: -4%;
            transition: 0.70s;
            -webkit-transition: 0.70s;
            -moz-transition: 0.70s;
            -ms-transition: 0.70s;
            -o-transition: 0.70s;

            

            .same-list-bx-item {
                width: 23%;
                margin-left: 2%;
                position: relative;
                margin-bottom: 3rem;
                


                .bx-item-cont {
                    background: $whiteColor;
                    cursor: pointer;
                    padding: 3rem 2rem;
                    border: 3px solid #D3DAEE;
                    box-shadow: 0px 0px 8px #F0F0F0;
                    border-radius: 20px;
                    position: relative;
                    z-index: 9;
                    width: 97%;
                    display: block;
                    margin: 0 auto;
                    height: 100%;
                    img{
                        height: 50px;
                    }
                    h4 {
                        font-size: 1.6rem;
                        font-family:$font-family-poppins-semibold;
                        margin: 1rem 0 1rem 0;
                    }

                    p {
                        margin: 0;
                        font-size: 1.375rem;
                    }
                }

                &::before {
                    content: '';
                    background: #FFCE02;
                    width: 100%;
                    height: 100%;
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    border-radius: 20px;
                    transition: 0.70s;
                    -webkit-transition: 0.70s;
                    -moz-transition: 0.70s;
                    -ms-transition: 0.70s;
                    -o-transition: 0.70s;
                    opacity: 0;
                    visibility: hidden;
                }

                &:hover {
                    .bx-item-cont {
                        border: 3px solid #FFCE02;
                        box-shadow: none;
                    }

                    &::before {
                        transform: rotate(4deg);
                        opacity: 1;
                        visibility: visible;
                    }
                }

                &.bx-item-cont-active{
                    .bx-item-cont {
                        border: 3px solid #FFCE02;
                        box-shadow: none;
                    }

                    &::before {
                        transform: rotate(4deg);
                        opacity: 1;
                        visibility: visible;
                    }
                }

                @media (max-width: $md) {
                    width: 48%;
                }
                @media (max-width: $sm) {
                    width: 90%;
                    margin-left: 0;
                    margin-bottom: 3rem;
                    text-align: center;
                }
            }

            @media (max-width: $sm) {
                margin-left: 0;
                justify-content: center;
            }

        }
    }


    .faq-accordion {
        position: relative;
        padding: 0 0 15rem 0;
        overflow: hidden;
        .faq-header {

           

            h1 {
                font-size: 3.5rem;
                font-family: $font-family-poppins-semibold;
                color: $primary;
            }

        }

        .faq-container {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
        }
        &::before {
            content: "";
            width: 29rem;
            height: 42rem;
            display: block;
            position: absolute;
            bottom: -8rem;
            left: 0;
            background: url(../../assets/images/Faq/accordionbefore.png) no-repeat top left;
            background-size: contain;

            @media (max-width: $sm) {
                display: none;
            }
        }
        @media (max-width: $sm) {
            padding: 0;
        }
    }

    .faq-container {
        position: relative;

        .faq-dis {
            display: flex;
            flex-wrap: wrap;
        }

        .accordion-list {

            width: 70%;
            @media (max-width: $sm){
                width: 100%;
                padding: 0 !important; 
            }
        }

        .accordion-lists {

            width: 30%;
            margin: 0;
            @media (max-width: $sm){
                width: 100%;
                display: flex;
                overflow: auto;
                padding: 0 !important;
            }
        }

        .content-list {
            position: relative;
            padding: 2.5rem 0;
            margin-top: 1rem;

            .content-list-itm {
                padding:1.5rem 0;
                cursor: pointer;
                padding-left: 3.5rem;
                margin-bottom: 3rem;
                position: relative;

                p {
                    font-size: 1.65rem;
                    font-weight: 600;
                    color: $darkColorgray;
                    margin: 0;
                    padding: 0;
                    @media (max-width: $sm){
                        white-space: nowrap;
                    }
                }

                &.list-itm-active {
                    p{
                        color: $primary;
                    }
                    

                    &::before {
                        content: '';
                        background: $bgcolor-yellow;
                        width: 8px;
                        height: 100%;
                        border-radius: 8px;
                        position: absolute;
                        left: 0;
                        top: 0;
                        display: block;
                        @media (max-width: $sm){
                            width: 100%;
                            top: inherit;
                            bottom: 0;
                            height: 4px;
                        }
                    }

                }
                @media (max-width: $sm){
                    padding: 1.5rem 1rem;
                    margin-bottom: 1rem;
                }

            }

            
            &.accordion-lists{
                &::before {
                    content: "";
                    background: #FFCE02;
                    width: 4px;
                    height: 100%;
                    position: absolute;
                    left: 3px;
                    top: 0;
                    opacity: 0.05;
                    border-radius: 2px;
                }
            }
        }

        .accordion {
            margin-top: -3rem;

        }

        .accordion-item {

            border: 1px solid #c2c2c24d;
            padding: 10px 0;
            border-radius: 1rem;
            margin: 2rem 0;
            background: $whiteColor;





        }

        .accordion-button {
            font-size: unset;
            font-weight: 500;
            font-family:$font-family-poppins-semibold;
            color: $primary;
            background: none;
            box-shadow: none;
            font-size: 1.65rem;
            &::before{
                color: $primary;
            }
        }

        .collapsed {

            font-family: $font-family-poppins-medium;
        }

        .accordion-body {
            padding: 1rem 1.25rem;
            font-size: 1.3rem;
            font-family: $font-family-poppins-regular;
        }

        .trade-easy-images-div {
            display: flex;
            justify-content: center;
            padding: 0 2rem;

            .single-trade-easy-images {
                max-width: 100%;
            }
        }

        @media (max-width: $sm-x) {
            padding: 0rem 0 5rem 0;
        }
    }


}
