
@import '../../assets/css/common.scss';
@import '../../assets/css/customvariable.scss';



.goverment-advisorysection{
    padding: 4.231rem 0rem;
    background-color: $bgcolordark;
    .left-sec{
        width: 60%;
        @media (max-width:$lg) {
            width: 100%;
        }
        @media (max-width:$md) {
            width: 100%;
        }
        @media (max-width:$sm) {
            width: 100%;
        }
        @media (max-width:$sm-xs) {
            width: 100%;
        }

        .title{
            color: $lightColor;
            padding: 4.5rem 0rem;
            @media (max-width:$sm-x) {
                text-align: center;
                padding-top: 1.5rem;
            }
        }
        .para{
            color: $lightColor;
            font-size: 2rem;
            line-height: 3rem;
            font-family: $font-family-poppins-regular;
            
            @media (max-width:$xs) {
               padding: 0rem 1rem;
               font-size: 1.231rem;
            }
        }
    }
    .right-sec{
        width: 40%;
    }
}
.what-we-thinksection{
    padding: 8.231rem 0rem;
    @media (max-width:$sm-x) {
        padding:  5.231rem 0rem;
    }

    .sectitle{
        padding-bottom: 1.769rem;
            line-height: 5.25rem;
            @media (max-width:$sm-x) {
                text-align: center;
                // padding-top: 1.5rem;
                padding-bottom: 1.5rem;
               
            }
    }
    .mainpara{
        font-size: 1.846rem;
        line-height: 2.769rem;
        color: $secondary;
        font-family: $font-family-poppins-regular;
        padding-top: 1.5rem;
        @media (max-width:$xs) {
            padding: 0rem 1rem;
            font-size: 1.231rem;
         }
    }
    }
    .CorporateSocial-section{
        padding-bottom: 9rem;
        @media (max-width: $xs) {
            padding-bottom: 2rem;
        }
    
        .sectitle{
            padding-bottom: 3.769rem;
                line-height: 5.25rem;
                @media (max-width:$sm-x) {
                    text-align: center;
                    padding-bottom:0;
                    padding-top: 0;
                    line-height: 4.25rem;
                }
            }

        .main-social-list {
    
            position: relative;
            .social-list-slider {
                padding: 4rem 0rem;
                @media (max-width:$md) {
                    padding: 2rem 0rem;
                }
                @media (max-width:$sm-x) {
                    padding: 2rem 0rem;
                }

                .social-item {
                    padding: 0 4rem;
                    @media (max-width:$lg) {
                        padding: 0 2.5rem;
                    }
                    @media (max-width:$md) {
                        padding: 0 2.5rem;
                    }
                    @media (max-width:$sm-x) {
                        padding: 0 1.5rem;
                    }
                    .img-item{
                        display: flex;
                         align-items: center;
                         height: 190px;

                         @media (max-width:$sm) {
                            height: 100px;

                        }
                        
                    }
                }
    }
}
    }




.services-same-list-bx {
    position: relative;
    padding:  0;

    .same-list-bx-list {
        margin-left: 0%;

        .slick-list {
            padding: 1.5rem 2rem;
        }

        .same-list-bx-item {
            width: 90% !important;
            text-align: center;
            margin: 0 auto;
            cursor: pointer;

            .bx-item-cont {
                text-decoration: none;
                border: 3px solid transparent;
                box-shadow: none;
                padding: 4rem 4.5rem;
                background: #FFFFFF;
                box-shadow: 0px 0px 15px 1px #C2C2C2;
                border-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: center;

                h4 {
                    font-size: 1.625rem;
                    margin-top: 2rem;

                    @media (max-width: $sm) {
                        font-size: 1.65rem;
                    }
                }

                img {
                    width: 65px;
                    margin: 0 auto;
                }
                .cont-img{
                    display: block;
                    overflow: hidden;
                }
            }

            @media (max-width: 800px) {
                width: 48.5%;
            }

            @media (max-width: $sm) {
                width: 90%;
            }
        }

        .slick-dots {
            bottom: -4rem;

            li {
                margin: 0;

                button {
                    &::before {
                        color: #447EC1;
                        font-size: 1rem;
                        line-height: 1rem;
                    }
                }

                &.slick-active {
                    button {
                        &::before {
                            opacity: 1;
                            color: #447EC1;
                        }
                    }
                }
            }
        }
    }


  
}

.detailsection{
    padding: 9rem 0;
    @media (max-width: $sm) {
       padding: 0;
      }
    .boxwrap{
        background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFFFFF;
        box-shadow: 0px 0px 15px 1px #C2C2C2;
        border-radius: 20px;
        display: flex;
        @media (max-width: $sm) {
          box-shadow: none;
          background-color: transparent;
        }
        .left-img{
            width: 30%;
            @media (max-width: $sm) {
                display: none;
            }
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .right-sec{
            width: 70%;
            padding: 3rem ;
            @media (max-width: $sm) {
                width: 100%;
            }
                .text{
                font-size: 1.846rem;
                line-height: 2.769rem;
                display: flex;
                align-items: center;
                color: #221F20;
                padding-bottom: 2.1875rem;
                }
                .client-service{
                    display: flex;
                    justify-content: space-between;
                    @media (max-width: $sm) {
                       flex-direction: column;
                    }
                    .boxwrapper{
                        background-color: #DFDFDF;
                        padding: 2.1875rem 1.45rem 0;
                        width: 48%;
                        border-radius: 1.25rem;
                        @media (max-width: $sm) {
                          width: 100%;
                          border-radius: 1.5625rem;
                         }
                        h4{
                            font-family: "PoppinsRegular";
                            font-style: normal;
                            font-weight: 600;
                            font-size: 1.846rem;
                            line-height: 2.769rem;
    
                            color: #221F20;
                        }
                        
                        ul{
                            padding-left: 0;
                            li{
                                list-style-type: none;
                                border-bottom: 1px solid #C2C2C2;
                                font-weight: 400;
                                font-family: "PoppinsRegular";
                                color: #707070;
                                // padding: 1.3rem 0;
                                &:last-child{
                                    border-bottom: none;
                                }
                            }
                        
                      }
                    }
                    .clients{
                        @media (max-width: $sm) {
                          margin-top: 2rem;
                         }
                         ul{
                          li{
                            font-size: 1.692rem;
                            line-height: 2.338rem;
                            padding: 0.5rem 0;
                          }
                  
                        }

                    }
                }
        }
    }
    .services{
      ul{
        li{
          font-size: 1.846rem;
          line-height: 2.769rem;
          padding: 1.1rem 0rem;
        }

      }
    }
    .sliderwrapper{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 5rem 0;
        @media (max-width: $sm) {
           flex-direction: column;
        }
        .slick-slide{
            width: 200px !important;
        }
        .left-text{
            width: 20%;
            @media (max-width: $sm) {
                width: 100%;
                margin-bottom: 3rem;
                text-align: center;
            }
            .title{
                font-family: "PoppinsRegular";
                font-style: normal;
                font-weight: 600;
                font-size: 1.875rem;
                line-height: 2.8125rem;
                color: #221F20;
            }
        }
        .right-img{
            width: 80%;
            @media (max-width: $sm) {
                width: 100%;
            }
            .img-item{
                    display: flex;
                    align-items: center;
                    padding: 0 2rem; 
                    height: 190px;  
            }

        }
    }
    
}

.socialsector{
    .gridstructure {

        margin: 0 auto;
        display: flex;
       justify-content: space-between;
       margin-top: 5.625rem;
       .hexwrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        .hex {
            display: flex;
            position: relative;
            width: 212px !important;
            height: 240px;
            background-color: #424242;
            -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
            clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
           
              img {
                width: 100%;
                height: auto;
                display: block;
                object-fit: cover;
              }
            
          }
        
       }
        
          
      }
}


/* Stuff to make codepen work */
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/* XV SCSS Variables */
$xv-secondary-light-gray: #c9c9c9;
$xv-secondary-dark-gray: #9fa0a2;
$xv-secondary-green: rgba(133, 177, 58, 1);
$xv-secondary-ltgreen: #A9C875;
$xv-secondary-dkgreen: rgba(106, 141, 46, 1);
$xv-secondary-blue: rgba(47, 155, 167, 1);
$xv-secondary-ltblue: #6DB9C1;
$xv-secondary-dkblue: rgba(37, 124, 133, 1);
$xv-secondary-yellow: rgba(227, 169, 40, 1);
$xv-secondary-ltyellow: #EBC268;
$xv-secondary-dkyellow: rgba(181, 135, 32, 1);
$xv-secondary-red: rgba(204, 55, 77, 1);
$xv-secondary-ltred: #DB7382;
$xv-secondary-dkred: rgba(163, 44, 61, 1);
/* Outer Hexagon */
.hexagon-grid-container {
	display: flex;
	flex-wrap: wrap;
	width: 100% ;
	margin: 6rem auto;
	padding: 0;
	list-style: none;
    justify-content: center;
    @media (max-width:767px) {
            width: 288px;
            margin-top: 5rem;
        
    }
    @media (min-width:640px) and (max-width:780px) {
   
		width: 650px;
        margin: 0 auto;
	
        }

    @media (min-width:781px) and (max-width:1024px) {
            width: 780px;
    }
    
    .wrapper{
        cursor: pointer;
        &:nth-child(3n+3) {
            @media (max-width:767px){
            margin-left: 3px;
            }
        }
        &:nth-child(7n+5) {
            @media (min-width:640px) and (max-width:780px) {
            margin-left: 0;
            }
        }
        &:nth-child(9n+6) {
            @media (min-width:781px) and (max-width:1024px) {
            margin-left: 74px;
        }
    }
        .hexagon {
            position: relative;
            width: 195px; 
            height: 80.83px;
          //   background-color: $xv-secondary-dark-gray;
            margin: 44px 6px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            @media (max-width:767px){
                width: 140px;
                margin: 44px 2px 0;
            }
            @media (min-width:640px) and (max-width:780px) {
                width: 109px;
            }
            @media (min-width:820px) and (max-width:1180px) {
                width: 109px;
            }
            &:before, &:after {
                content: "";
                position: absolute;
                width: 0;
              }
            &:before {
                bottom: 100%;
                border-bottom: 40.41px solid $xv-secondary-dark-gray;
              }
            &:after {
                top: 100%;
                width: 0;
                border-top: 40.41px solid $xv-secondary-dark-gray;
              }
              .hexagon-inner {
                position: relative;
                width: 224px;
                height: 240px;
                margin: 39.26px 0;
                display: flex;
                justify-content: center;
                // &:after{
                //     content: '';
                //     position: absolute;
                //     border: 0.3px solid #000;
                //     height: 110px;
                //     transform: rotate(300deg);
                //     top: -28px;
                //     right: 41px;
                // }
                // &:before{
                //     content: '';
                //     position: absolute;
                //     border: 0.3px solid #000;
                //     height: 110px;
                //     transform: rotate(61deg);
                //     top: -28px;
                //     left: 41px;
                   
                // }
                .hexagon-avatar-img {
                    position: absolute;
                    width: 100%;
                    top: 0;
                    left: 0;
                    z-index: 1;
                }
                // &:before, &:after {
                //     content: "";
                //     position: absolute;
                //     width: 0;
                  
                //     z-index: 1;
                //  }
                //   &:before {
                //     bottom: 100%;
                //     border-bottom: 39.26px solid $xv-secondary-light-gray;
                //   }
                //   &:after {
                //     top: 100%;
                //     width: 0;
                //     border-top: 39.26px solid $xv-secondary-light-gray;
                //   }
              }
          }
          .imgheading{
            font-family: $font-family-poppins-regular;
            color: #707070;
            font-size: 1.5rem;
            line-height: 2.25rem;
            font-weight: 400;
            text-align: center;
            margin-top: 8rem;
            max-height: 50px;
            @media (max-width: $md) {
                display: none;
            }
            @media (min-width: 780px) and (max-width:1024px) {
                margin-top: 5rem;
                font-size: 1.5rem;
            }
          }
    }
}




/* Media queries */
@media (min-width: 1920px) {
	.hexagon-grid-container {
		width: 1600px;
	}
	.hexagon:nth-child(21n+12) {
		margin-left: 74px;
	}
}
@media (max-width: 1919px) and (min-width: 1280px) {
	.hexagon-grid-container {
		width: 1100px;
	}
	.hexagon:nth-child(14n+8) {
		margin-left: 74px;
	}
}
@media (max-width: 1279px) and (min-width: 1024px) {
	.hexagon-grid-container {
		width: 960px;
	}
	.hexagon:nth-child(12n+7) {
		margin-left: 74px;
	}
}
@media (max-width: 1023px) and (min-width: 781px) {
	.hexagon-grid-container {
		width: 780px;
	}
	
}



/* Avatar */


.mt5{
    margin-top: 5rem;
}


.sectordetail{
    padding: 9rem 0;
    @media (max-width: $sm) {
       padding: 0;
      }
    .boxwrap{
        background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFFFFF;
        box-shadow: 0px 0px 15px 1px #C2C2C2;
        border-radius: 20px;
        display: flex;
        @media (max-width: $sm) {
          box-shadow: none;
          background-color: transparent;
        }
        .left-img{
            width: 30%;
            @media (max-width: $sm) {
                display: none;
            }
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .right-sec{
            width: 70%;
            // padding: 3rem ;
            @media (max-width: $sm) {
                width: 100%;
            }
                .text{
                font-size: 1.846rem;
                line-height: 2.769rem;
                display: flex;
                align-items: center;
                color: #221F20;
                padding-bottom: 2.1875rem;
                }
                .client-service{
                    display: flex;
                    justify-content: space-between;
                    @media (max-width: $sm) {
                       flex-direction: column;
                    }
                    .boxwrapper{
                        // background-color: #DFDFDF;
                        padding: 2.1875rem 1.45rem 0;
                        width: 49%;
                        border-radius: 1.25rem;
                        @media (max-width: $sm) {
                          width: 100%;
                          border-radius: 1.5625rem;
                         }
                        h4{
                            font-family: "PoppinsRegular";
                            font-style: normal;
                            font-weight: 600;
                            font-size: 1.846rem;
                            line-height: 2.769rem;
    
                            color: #221F20;
                        }
                        
                        ul{
                            padding-left: 0;
                            li{
                                list-style-type: none;
                                border-bottom: 1px solid #C2C2C2;
                                font-weight: 400;
                                font-family: "PoppinsRegular";
                                color: #707070;
                                font-size:1.692rem;
                                // padding: 1.3rem 0;
                                &:last-child{
                                    border-bottom: none;
                                }
                            }
                        
                      }
                    }
                    .services {
                        border-right: 1px solid #C2C2C2;
                        border-radius: 0;
                        padding: 60px 35px ;
                        ul{
                            li{
                              font-size: 1.846rem;
                              line-height: 2.769rem;
                              padding: 1.5rem 0rem;
                            }
                    
                          }
                    }
                    .clients{
                        padding: 60px 35px ;
                        @media (max-width: $sm) {
                          margin-top: 2rem;
                         }
                         ul{
                          li{
                            font-size: 1.692rem;
                            line-height: 2.338rem;
                            padding: 1.5rem 0;
                          }
                  
                        }

                    }
                }
        }
    }
   
    .sliderwrapper{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 5rem 0;
        @media (max-width: $sm) {
           flex-direction: column;
        }
        .slick-slide{
            width: 200px !important;
        }
        .left-text{
            width: 20%;
            @media (max-width: $sm) {
                width: 100%;
                margin-bottom: 3rem;
                text-align: center;
            }
            .title{
                font-family: "PoppinsRegular";
                font-style: normal;
                font-weight: 600;
                font-size: 1.875rem;
                line-height: 2.8125rem;
                color: #221F20;
            }
        }
        .right-img{
            width: 80%;
            @media (max-width: $sm) {
                width: 100%;
            }
            .img-item{
                    display: flex;
                    align-items: center;
                    padding: 0 2rem; 
                    height: 190px;  
            }

        }
    }
    
}

