
@import '../../assets/css/common.scss';
@import '../../assets/css/customvariable.scss';



.goverment-advisorysection{
    padding: 4.231rem 0rem;
    background-color: $bgcolordark;
    .left-sec{
        width: 60%;
        @media (max-width:$lg) {
            width: 100%;
        }
        @media (max-width:$md) {
            width: 100%;
        }
        @media (max-width:$sm) {
            width: 100%;
        }
        @media (max-width:$sm-xs) {
            width: 100%;
        }

        .title{
            color: $lightColor;
            padding: 4.5rem 0rem;
            @media (max-width:$sm-x) {
                text-align: center;
                padding-top: 1.5rem;
            }
        }
        .para{
            color: $lightColor;
            font-size: 1.75rem;
            line-height: 2.625rem;
            font-family: $font-family-poppins-regular;
            
            @media (max-width:$xs) {
               padding: 0rem 1rem;
            
            }
        }
    }
    .right-sec{
        width: 40%;
    }
}
.what-we-thinksection{
    padding: 8.231rem 0rem;
    @media (max-width:$sm-x) {
        padding:  5.231rem 0rem;
    }

    .sectitle{
        padding-bottom: 1.769rem;
            line-height: 5.25rem;
            @media (max-width:$sm-x) {
                text-align: center;
                // padding-top: 1.5rem;
                padding-bottom: 1.5rem;
               
            }
    }
    .mainpara{
        font-size: 1.75rem;
        line-height: 2.625rem;
        
        color: $secondary;
        font-family: $font-family-poppins-regular;
        padding-top: 1.5rem;
        @media (max-width:$xs) {
            padding: 0rem 1rem;
            
         }
    }
    }
    .CorporateSocial-section{
        padding-bottom: 9rem;
        @media (max-width: $xs) {
            padding-bottom: 2rem;
        }
    
        .sectitle{
            padding-bottom: 3.769rem;
                line-height: 5.25rem;
                @media (max-width:$sm-x) {
                    text-align: center;
                    padding-bottom:0;
                    padding-top: 0;
                    line-height: 4.25rem;
                }
            }

        .main-social-list {
    
            position: relative;
            .social-list-slider {
                padding: 4rem 0rem;
                @media (max-width:$md) {
                    padding: 2rem 0rem;
                }
                @media (max-width:$sm-x) {
                    padding: 2rem 0rem;
                }

                .social-item {
                    padding: 0 4rem;
                    @media (max-width:$lg) {
                        padding: 0 2.5rem;
                    }
                    @media (max-width:$md) {
                        padding: 0 2.5rem;
                    }
                    @media (max-width:$sm-x) {
                        padding: 0 1.5rem;
                    }
                    .img-item{
                        display: flex;
                         align-items: center;
                         height: 190px;

                         @media (max-width:$sm) {
                            height: 100px;

                        }
                        
                    }
                }
    }
}
    }




.services-same-list-bx {
    position: relative;
    padding:  0;

    .same-list-bx-list {
        margin-left: 0%;

        .slick-list {
            padding: 1.5rem 2rem;
        }

        .same-list-bx-item {
            width: 90% !important;
            text-align: center;
            margin: 0 auto;
            cursor: pointer;

            .bx-item-cont {
                text-decoration: none;
                border: 3px solid transparent;
                box-shadow: none;
                padding: 4rem 4.5rem;
                background: $whiteColor;
                box-shadow: 0 0 8px #F0F0F0;
                border-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 15rem;
                  @media (min-width:767px) and (max-width:820px) {
                    height: 10rem;
                  }  
                  @media (max-width: $sm) {
                    height: 10rem;
                }
                h4 {
                    font-size: 1.625rem;
                    margin-top: 2rem;

                    @media (max-width: $sm) {
                        font-size: 1.4rem;
                    }
                }

                img {
                    width: 65px;
                    margin: 0 auto;
                }
                .cont-img{
                    display: block;
                    overflow: hidden;
                }
            }

            @media (max-width: 800px) {
                width: 48.5%;
            }

            @media (max-width: $sm) {
                width: 90%;
            }
        }

        .slick-dots {
            bottom: -4rem;

            li {
                margin: 0;

                button {
                    &::before {
                        color: #797A7D;
                        font-size: 1rem;
                        line-height: 1rem;
                    }
                }

                &.slick-active {
                    button {
                        &::before {
                            opacity: 1;
                            color: #797A7D;
                        }
                    }
                }
            }
        }
    }


  
}

.detailsection{
    padding: 9rem 0;
    @media (max-width: $sm) {
       padding: 4rem 0;
      }
    .boxwrap{
        background: linear-gradient(0deg, $whiteColor, $whiteColor), $whiteColor;
        box-shadow: 0px 0px 15px 1px $lightgray;
        border-radius: 20px;
        display: flex;
        @media (max-width: $sm) {
          box-shadow: none;
          background-color: transparent;
        }
        .left-img{
            width: 30%;
            @media (max-width: $sm) {
                display: none;
            }
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .right-sec{
            width: 70%;
            padding: 3rem ;
            @media (max-width: $sm) {
                width: 100%;
            }
                .text{
                font-size: 1.75rem;
                line-height: 2.769rem;
                display: flex;
                align-items: center;
                color: $bgcolordark;
                padding-bottom: 2.1875rem;
                }
                .client-service{
                    display: flex;
                    justify-content: space-between;
                    @media (max-width: $sm) {
                       flex-direction: column;
                    }
                    .boxwrapper{
                        background-color: #DFDFDF;
                        padding: 2.1875rem 1.45rem 0;
                        width: 48%;
                        border-radius: 1.25rem;
                        @media (max-width: $sm) {
                          width: 100%;
                          border-radius: 1.5625rem;
                         }
                        h4{
                            font-family: $font-family-poppins-regular;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 1.75rem;
                            line-height: 2.769rem;
    
                            color: $bgcolordark;
                        }
                        
                        ul{
                            padding-left: 0;
                            li{
                                list-style-type: none;
                                border-bottom: 1px solid $lightgray;
                                font-weight: 400;
                                font-family: $font-family-poppins-regular;
                                color: $secondary;
                                font-size: 1.75rem;
                                // padding: 1.3rem 0;
                                &:last-child{
                                    border-bottom: none;
                                }
                            }
                        
                      }
                    }
                    .clients{
                        @media (max-width: $sm) {
                          margin-top: 2rem;
                         }
                         ul{
                          li{
                            // font-size: 1.692rem;
                            line-height: 2.338rem;
                            padding: 0.5rem 0;
                          }
                  
                        }

                    }
                }
        }
    }
    .services{
      ul{
        li{
        //   font-size: 1.846rem;
          line-height: 2.769rem;
          padding: 1.1rem 0rem;
        }

      }
    }
    .sliderwrapper{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 5rem 0;
        @media (max-width: $sm) {
           flex-direction: column;
        }
        .slick-slide{
            width: 200px !important;
        }
        .left-text{
            width: 20%;
            @media (max-width: $sm) {
                width: 100%;
                margin-bottom: 3rem;
                text-align: center;
            }
            .title{
                font-family: $font-family-poppins-regular;
                font-style: normal;
                font-weight: 600;
                font-size: 1.75rem;
                line-height: 2.8125rem;
                color: $bgcolordark;
            }
        }
        .right-img{
            width: 80%;
            @media (max-width: $sm) {
                width: 100%;
            }
            .img-item{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0 2rem; 
                    height: 190px;  
            }

        }
    }
    
}






.mt5{
    margin-top: 5rem;
}


.sectordetail{
    padding: 9rem 0;
    @media (max-width: $sm) {
       padding: 0;
      }
    .boxwrap{
        background: linear-gradient(0deg, $whiteColor, $whiteColor), $whiteColor;
        box-shadow: 0px 0px 15px 1px $lightgray;
        border-radius: 20px;
        display: flex;
        @media (max-width: $sm) {
          box-shadow: none;
          background-color: transparent;
        }
        .left-img{
            width: 30%;
            @media (max-width: $sm) {
                display: none;
            }
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .right-sec{
            width: 70%;
            // padding: 3rem ;
            @media (max-width: $sm) {
                width: 100%;
            }
                .text{
                font-size: 1.846rem;
                line-height: 2.769rem;
                display: flex;
                align-items: center;
                color: $bgcolordark;
                padding-bottom: 2.1875rem;
                }
                .client-service{
                    display: flex;
                    justify-content: space-between;
                    @media (max-width: $sm) {
                       flex-direction: column;
                    }
                    .boxwrapper{
                        // background-color: #DFDFDF;
                        padding: 2.1875rem 1.45rem 0;
                        width: 49%;
                        border-radius: 1.25rem;
                        @media (max-width: $sm) {
                          width: 100%;
                          border-radius: 1.5625rem;
                          background-color: #DFDFDF;
                         }
                        h4{
                            font-family: $font-family-poppins-regular;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 1.846rem;
                            line-height: 2.769rem;
    
                            color: $bgcolordark;
                        }
                        
                        ul{
                            padding-left: 0;
                            li{
                                list-style-type: none;
                                border-bottom: 1px solid $lightgray;
                                font-weight: 400;
                                font-family: $font-family-poppins-regular;
                                color: $secondary;
                                font-size:1.692rem;
                                // padding: 1.3rem 0;
                                @media (max-width:$sm) {
                                    border-bottom: none;
                                }
                                &:last-child{
                                    border-bottom: none;
                                }
                            }
                        
                      }
                    }
                    .services {
                        border-right: 1px solid $lightgray;
                        border-radius: 0;
                        padding: 60px 35px ;
                        @media (max-width:767px) {
                            border-right:none;
                            border-radius:1.5625rem;
                        }
                        ul{
                            li{
                              font-size: 1.75rem;
                              line-height: 2.769rem;
                              padding: 1.5rem 0rem;
                            }
                    
                          }
                    }
                    .clients{
                        padding: 60px 35px ;
                        @media (max-width: $sm) {
                          margin-top: 2rem;
                         }
                         ul{
                          li{
                            font-size: 1.75rem;
                            line-height: 2.338rem;
                            padding: 1.5rem 0;
                          }
                  
                        }

                    }
                }
        }
    }
   
    .sliderwrapper{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 5rem 0;
        @media (max-width: $sm) {
           flex-direction: column;
        }
        .slick-slide{
            width: 200px !important;
        }
        .left-text{
            width: 20%;
            @media (max-width: $sm) {
                width: 100%;
                margin-bottom: 3rem;
                text-align: center;
            }
            .title{
                font-family: $font-family-poppins-regular;
                font-style: normal;
                font-weight: 600;
                font-size: 1.875rem;
                line-height: 2.8125rem;
                color: $bgcolordark;
            }
        }
        .right-img{
            width: 80%;
            @media (max-width: $sm) {
                width: 100%;
            }
            .img-item{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0 2rem; 
                    height: 190px;  
            }

        }
    }
    
}

.carousel {
    .box {
      float: left;
      height: auto;
      margin-left: 10px;
      margin-right: 10px;
      text-align: center;
      border: 2px solid black;
      p {
        padding: 10px;
        font-size:20px;
      }
    }
    .box.box-last {
      width: 0;
      margin: 0;
    }
  }


  .socialsector{
    .wrapper{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @media (max-width:$sm) {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            max-width: 368px;
            margin: 0 auto 4rem;
        }
        .hexagonwrap{
            width: 19%;
            cursor: pointer;
            @media (max-width:$sm) {
                width: 47%;
                margin-right: 7px;
            }
            &:nth-child(3){
                @media (max-width:$sm) {
                    width: 100%;
                    text-align: center;
                    position: relative;
                    margin-top: -38px;
                }
                img{
                    @media (max-width:$sm) {
                        width: 50%;
                    }
                }
            }
           
    
            &:nth-child(4){
                @media (max-width:$sm) {
                    position: relative;
                    margin-top: -38px;
                }
    
            }
            &:nth-child(5){
                @media (max-width:$sm) {
                    position: relative;
                    margin-top: -38px;
                }
    
            }
    
            img{
                width: 100%;
            }
            .text{
                text-align: center;
                font-size: 1.5rem;
                line-height: 2.25rem;
                color: $secondary;
                font-family: $font-family-poppins-regular;
                font-style: normal;
                padding-top: 2.25rem;
                @media (max-width:$sm) {
                    display: none;
                }
            }
        }
      }
  }
 