@import '../../assets/css/common.scss';
@import '../../assets/css/customvariable.scss';
@import '../../components/Invoice-Financing/nbfc-common.scss';

.inv-fin-banner{
    &.flexi-credit-banner{
        background-color: $bluebg;
        .fin-banner-caption{
            position: relative;
            &::before {
                content: '';
                width: 17rem;
                height: 12rem;
                display: block;
                position: absolute;
                left: 0;
                top: -4rem;
                background: url(../../assets/images/invoice-financing/dots-bg-banner.svg) no-repeat top left;
                background-size: contain;
        
                @media (max-width: $md) {
                    display: none;
                }
            }
            &::after {
                content: '';
                width: 9rem;
                height: 7rem;
                display: block;
                position: absolute;
                right: -1rem;
                top: 19rem;
                background: url(../../assets/images/invoice-financing/dots-bg-banner.svg) no-repeat top right;
                background-size: contain;
        
                @media (max-width: $md) {
                    display: none;
                }
            }
        }
    }
}

.features-nbfc{
    &.features-flexi{
        position: relative;
        &::before {
            content: '';
            width: 22rem;
            height: 42rem;
            display: block;
            position: absolute;
            left: 0;
            top:11rem;
            z-index: 1;
            background: url(../../assets/images/loan-bg.webp) no-repeat top left;
            background-size: contain;
    
            @media (max-width: $sm) {
                display: none;
            }
        }
    }
}

.Doc-rqrd-sec{
    padding: 9rem 0;
    
    .Doc-rqrd-heading{
        margin-bottom: 8rem;
        text-align: center;
        @media screen and (max-width:$sm) {
            margin-bottom: 4rem;
         }
    }
    .Doc-rq-card{
        @media screen and (max-width:$sm) {
            padding:2rem;
            border-radius: 20px;
            box-shadow: 0px 0px 8px $boxshadow;
            margin-bottom: 3rem;
         }
        .img-height{
            min-height: 275px;
            display: flex;
            align-items: center;
            justify-content: center;
            @media screen and (max-width:$sm) {
                min-height: inherit;
                margin-bottom: 2rem;
            }
        }
        .title-doc{
            font-size: 2.5rem;
            color: $primary;
            font-family: $font-family-poppins-medium;
            margin-top: 0.5rem;
            margin-bottom: 3rem;
            @media screen and (max-width:$md) {
                font-size: 2rem;
                margin-bottom: 2rem;
            }
         }
        .list-item{
            padding: 0 6rem;
            @media screen and (max-width:$md) {
               padding: 0 2rem;
            }
            li{
                font-size: 1.9rem;
                line-height: 1.5;
                color: $graylight;
                font-family: $font-family-poppins-medium;
                 @media screen and (max-width:$md) {
                    font-size: 1.5rem;
                    line-height: 1.5;
                 }
            }
        }
    }
}





.avail{
    padding:3rem 0 0;
    @media screen and (max-width: $sm) {
        padding:6rem 0 8rem;
         }
    .menu{
        float: right;
    }
    .purpose{
        padding-top: 9rem;
        @media screen and (max-width: $sm) {
       padding-top: 5rem;
        }
    }
    .whoavail{
        padding: 4rem 0;
    }
}


.inv-fin-why-ch{
    .slick-list{
        padding: 2rem 0;
    }
}


.avail{
    .veh-bnr-list{
        .bnr-list-itm{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 11rem;
            align-items: center;
            .bnr-list-left{
                width: 44%;
                p{
                    font-size: 1.75rem;
                    line-height: 1.5;
                    color: $txtgrey;
                }
                .title-secnd{
                    margin-bottom: 2rem;
                }
                @media (max-width: $sm) {
                    width: 100%;
                    margin-bottom: 3rem;
                    text-align: center;
                }
            }
            .bnr-list-right{
                width: 44%;
                @media (max-width: $sm) {
                    width: 100%;
                    margin-bottom: 3rem;
                    text-align: center;
                }
            }
            &:first-child{
                flex-direction: row-reverse;
            }
            @media (max-width: $sm) {
                margin-bottom: 4rem;
            }
        }
    }
}