@import '../../assets/css/customvariable.scss';
@import '../../assets/css/common.scss';



// banner section
a{text-decoration: none!important;}
.sumeet-bagadia-parent{
	animation: hideMe 4s forwards;
}

.bannersec{
	padding-top: 7.5rem;
	background:$whiteColor;
	background-size: 100% 100%;
	padding-bottom: 5rem;
	position: relative;
	.wrap-banner {
		position: relative;
		flex-wrap: wrap;
		display: flex;
		justify-content: flex-end;
		padding-top: 2.5rem;
		.page2-banner-caption {
			position: absolute;
			width: 60%;
			left: 0;
			top: 4.375rem;
			h1 {
				font-size:3.9375rem;
				color: $primary;
				font-family: $font-family-poppins-bold;
				margin: 10px 0 20px 0;
				@media only screen and (max-width: $md) {
					font-size: 3rem;
				}
				
			}
			p {
				font-size: 1.75rem !important;
				line-height: 2.8rem !important;
				font-family: $font-family-poppins-regular;
                color: $secondary;
			}
			@media only screen and (max-width: $md) {
				position: relative;
				top: inherit;
				width: 100%;
				text-align: center;
			}
		}
		.page2-banner-img {
			position: relative;
			left: -9rem;
			top: 4rem;
			.srch-icon-bg {
				box-shadow: 0px 8px 20px #00000036;
				background: $whiteColor;
				width: 5.625rem;
				height: 5.625rem;
				display: block;
				border-radius: 8px;
				text-align: center;
				line-height: 5.625rem;
				top: 48%;
				position: absolute;
				left: 1.25rem;
				img {
					max-width: 100%;
					vertical-align: middle;
				}
			}
			@media only screen and (max-width: $md) {
				left: 0;
				top: inherit;
			}
		}
		@media only screen and (max-width: $md) {
			padding-top: 0;

		}
		@media only screen and (max-width: $sm-x) {
			padding-bottom: 5rem;

		}
	}
	@media only screen and (max-width: $sm-x) {
		padding-top: 2.5rem;
	}
	&::after {
        content: "";
        width: 30rem;
        height: 40rem;
        display: block;
        position: absolute;
        right: 0;
        bottom: -12rem;
        background: url(../../assets/images/sumeet-bagadia/top-bg.png) no-repeat top right;
        background-size: contain;
		z-index: 1;

        @media (max-width: $md) {
            display: none;
        }
    }
	.formres-width{
		@media (max-width: $sm) {
            width: 100%;
        }
	}
}
@media only screen and (max-width: $md) {
	.landing-page2-banner {
		.wrap-banner {
			.page2-banner-caption {
				h3 {
					font-size: 2rem;
				}
				p {
					font-size: 1.125rem !important;
				}
			}
		}
	}
}
@media only screen and (max-width: $sm-x) {
	.landing-page2-banner {
		.wrap-banner {
			.page2-banner-caption {
				position: relative;
				left: inherit;
				top: inherit;
				width: 100%;
				text-align: center;
			}
			justify-content: center;
		}
		padding-top: 6.875rem;
	}
}


// second sec


.about-cont {
	padding: 8rem 0 5rem 0;
	background: $whiteColor;
    position: relative;
    &:after{
        position: absolute;
        display: block;
        content: '';
        height: 30rem;
        width: 20rem;
        bottom: -12rem;
        left: 0; 
        // z-index: -1;
        background: url(../../assets/images/home-bgtop.png) no-repeat bottom left;
        background-size: contain;
		@media only screen and (max-width: $md) {
			display: none;
		}
    }
	.abt-cont-des {
		background: #FFFBEA;
		padding: 3.125rem 5rem;
		border-radius: 30px;
        position: relative;
		z-index: 99;
       
		p {
			display: inline;
            font-size: 1.7rem;
			line-height: 2.8rem;
			font-family: $font-family-poppins-regular;
            color: $secondary;
			strong {
				color:$primary;
				font-weight: 900;
			}
			@media only screen and (max-width: $sm-x) {
				font-size: 1.575rem;
				line-height: 2.8rem;
			}
		}
		.moreless-button {
			font-size: 1.525rem;
			text-decoration: none;
			font-weight: bold;
			color: $bgcolor-blue;
			padding: 0;
		}
	}
	@media only screen and (max-width: $md) {
		padding: 2.7rem 0;
	}
}
@media only screen and (max-width: $xs) {
	.about-cont {
		.abt-cont-des {
			.moreless-button {
				font-size: 1.4rem;
			}
		}
	}
}
@media (max-width: $sm-x) {
	.about-cont {
		.abt-cont-des {
			padding: 1.875rem 1.5625rem;
			text-align: center;
		}
	}
}

.read-more-state {
    display: none;
  }
  
  .read-more-target {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: .25s ease;
    padding-top: 10px;
  }
  
  .read-more-state:checked ~ .read-more-wrap .read-more-target {
    opacity: 1;
    font-size: inherit;
    max-height: 999em;
    display: block;
  }
  
  .read-more-state ~ .read-more-trigger:before {
    content: 'Read more';
  }
  
  .read-more-state:checked ~ .read-more-trigger:before {
    content: 'Read less';
  }
  
  .read-more-trigger {
    cursor: pointer;
    display: inline-block;
    padding: 0 .5em;
   
    font-size: .9em;
    line-height: 2;
    border-radius: .25em;
  }


//   summet bagadia call
.sumit-bg-class{
    padding: 9rem 0;
    .bg-class-left{
        text-align: left;
        position: relative;
        width: 100%;
		padding-right: 5rem;
        .title-sm-new{
            font-size: 3rem;
            line-height: 4rem;
			margin-bottom: 1.5rem;
            color: $primary;
            font-family: $font-family-poppins-bold;
			@media only screen and (max-width: $sm) {
				font-size: 2.3rem;
			}
        }
        .sml-para{
            color: $secondary;
            font-family: $font-family-poppins-regular;
            font-size: 1.625rem;
			line-height: 2.5rem;
        }
		@media only screen and (max-width: $md) {
			padding-right: 0;
			text-align: center;
			margin-bottom: 3rem;
		}
    }
  

.bg-class-right {
    position: relative;
    background: $abt-bg;
    padding: 2rem 4rem 5rem 4rem;
    padding-right: 0;
    border-radius: 1.25rem;
    margin-left: 1.25rem;
	overflow: hidden;
	.sm-slider-bg {
		margin-left: -50px;
		.slick-track {
			display: flex;
			padding: 1.875rem 0;
			.slick-slide {
				background: $whiteColor;
				border-radius: 1.25rem;
				text-align: center;
				height: auto;
				margin: 0 4.9375rem 0 0;
				box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
				h4 {
					font-size: 1.75rem;
					color: $secondary;
					line-height: 1.75rem;
					font-weight: 400;
					padding: 1rem 0 1rem 0;
					margin: 10px 0;
					// font-family: $font-family_1;
					span {
						display: block;
					}
				}
				h4.md-profit {
					background: #F4F4F4;
					margin: 0;
					padding: 15px 10px;
					width: 100%;
					color: $primary;
					display: block;
					font-family: $font-family-poppins-medium;				}
				ul {
					display: flex;
					align-items: center;
					justify-content: center;
					flex-wrap: wrap;
					list-style: none;
					position: relative;
					padding: 15px 0;
					li {
						width: 50%;
						border-left: 1px dashed #C2C2C2;
						padding: 10px;
						&:first-child {
							border-left: 0;
						}
						h4 {
							margin: 0;
						}
						h3 {
							padding: 0;
							margin: 0;
							font-family: $font-family-poppins-semibold;
							color: $primary;
						}
					}
					&::before{
						content: '';
						width: 85%;
						left: 0;
						right: 0;
						height: 1px;
						background: #EEEBEA;
						position: absolute;
						top: 0;
						margin: 0 auto;

					}
				}
				.item-slider{
					padding-bottom: 1rem;
				}
			}
		}
		.slick-arrow {
			top: inherit !important;
			bottom: -5rem;
			z-index: 99;
			width: 3.5rem;
			height: 3.5rem;
			right: 1.5625rem;
			border: 1px solid #ffffff38;
			border-radius: 50%;
			background: $whiteColor;
			right: 46%;
			&::before {
				content: '';
				background: url(../../assets/images/icons/arrow-thin.svg) no-repeat;
				background-size: contain;
				width: 1.5rem;
				height: 1rem;
				display: block;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
			}
			&.slick-disabled{
				background: inherit;
				cursor: not-allowed;
				opacity: 0.5;
			}
		}
		.slick-arrow.slick-prev {
			// left: inherit;
			// right: 6rem;
			left: 38%;
    		right: inherit;

			&::before {
				content: '';
				background: url(../../assets/images/icons/arrow-thin-left.svg) no-repeat;
				background-size: contain;
				width: 1.5rem;
				height: 1rem;
				
			}
		}
		.slick-dots{
			position: relative;
			top: 1.3rem;
			bottom: inherit;
			display: flex !important;
			flex-wrap: wrap;
			width: 75%;
			left:50px;
			>li{
				width: 25%;
				margin: 0;
				button{
					width: 100%;
					background: #F4F4F4;
					height: 4px;
					padding: 0;
					&::before{
						display: none;
					}
				}
				&.slick-active{
					button{
						background: $yellowColor;
						border-radius: 3px;
					}
				}
			}
			@media only screen and (min-width: $lg) {
				width: 71%;
			  }
			  @media only screen and (max-width: $md) {
				left: 2rem;
				width: 69%;
			  }
		}
	}
	.sm-slider-thumb {
		.reset {
			display: flex;
			list-style: none;
			flex-wrap: wrap;
			padding: 0;
			margin-top: 3.125rem;
			width: 80%;
			li {
				width: 25%;
				height: 1px;
				background: #ffffff38;
			}
			li.active {
				background: $whiteColor;
			}
		}
	}
}
@media only screen and (max-width: $xs) {
	.bg-class-right {
		.sm-slider-bg {
			.slick-track {
				.slick-slide {
					h4 {
						font-size: 1rem;
					}
				}
			}
			.slick-arrow.slick-prev {
				&::before {
					width: 1.5rem;
					background-size: contain;
					height: 0.8125rem;
				}
				// right: 4rem;
				left: 36%;
			}
			.slick-arrow {
				&::before {
					width: 1.5rem;
					background-size: contain;
					height: 0.8125rem;
				}
				width: 2.75rem;
				height: 2.75rem;
				bottom: -3.125rem;
				// right: 5px;
				right: 42%;
			}
		}
		.sm-slider-thumb {
			.reset {
				margin-top: 1.875rem;
			}
		}
	}
}
@media only screen and (max-width: $md) {
	.bg-class-right {
		.sm-slider-bg {
			.slick-track {
				.slick-slide {
					margin: 0 2rem;
				}
			}
			margin-left: 0;
		}
		.sm-slider-thumb {
			opacity: 0;
			visibility: hidden;
		}
		padding: 2rem 2rem 4rem 2rem;
		margin-left: 0;
	}
}
@media only screen and (max-width: $sm-x) {
	.bg-class-right {
		padding: 1.875rem 0 3.975rem 0;
	}
}

@media only screen and (max-width: $sm-x) {
	padding: 2rem 0;
}
    
}

.sumit-bg-acnt {
    padding: 9rem 0;
	position: relative;
	overflow: hidden;
	.bg-acnt-sub {
		background: $primary;
		padding: 4.875rem;
		border-radius: 1rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
        position: relative;
		z-index: 9;
		.title-sm-new {
			margin: 0;
			max-width: 77%;   
            color: $bgolor-lightwhite;
            font-size: 3rem;
            line-height: 4.5rem;
            font-weight: 700;
            font-family: $font-family-poppins-bold;
		}
		.acnt-sub-btn {
			
			&:hover {
				background: $whiteColor;
				color: $blueColortext;
			}
		}
	}
	@media only screen and (max-width: $sm-x) {
		padding: 4rem 0 6rem 0;
	}
	&::after {
        content: "";
        width: 25rem;
        height: 35rem;
        display: block;
        position: absolute;
		right: -6rem;
		top: 2rem;
        background: url(../../assets/images/sumeet-bagadia/top-bg.png) no-repeat top right;
        background-size: contain;
		z-index: 0;

        @media (max-width: $md) {
            display: none;
        }
    }
}
@media only screen and (max-width: $sm-x) {
	.sumit-bg-acnt {
		.bg-acnt-sub {
			.title-sm-new {
				width: auto;
				text-align: center;
				max-width: 100%;
				font-size: 2.3rem;
				line-height: 3.5rem;
			}
			.acnt-sub-btn {
				display: block;
				text-align: center;
				margin-top: 3rem;
			}
			display: block;
			padding: 4.375rem 1.25rem;
		}
	}
}
.print-media {
	padding: 8.5rem 0 12rem 0;   
	background-size: 100% 120%;
	margin-bottom: 0;
	position: relative;
    .bg-className-left{
        text-align: left;
        position: relative;
        left: 0;
        width: 100%;
        .title-sm-new{
            font-size: 3rem;
            line-height: 4rem;
			margin-bottom: 1.5rem;
            color: $primary;
            font-family: $font-family-poppins-bold;
			@media only screen and (max-width: $sm-x) {
				font-size: 2.3rem;
				line-height: 3rem;
			}
        }
        .sml-para{
            color: $secondary;
            font-family: $font-family-poppins-regular;
            font-size: 1.625rem;
			line-height: 2.5rem;
        }
		@media only screen and (max-width: $sm-x) {
			text-align: center;
		}
    }
	.reset {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		li {
			width: 33.33%;
			display: flex;
			margin-bottom: 1.875rem;
			justify-content: center;
			img {
				max-width: 100%;
				filter: grayscale(100%);
			}
			&:hover {
				img {
					filter: inherit;
				}
			}
		}
	}
}
@media only screen and (max-width: $md) {
	.print-media {
		.reset {
			li {
				width: 20.33%;
				margin: 0 6%;
			}
			margin-top: 1.875rem;
			margin-left: -6%;
		}
		padding: 0.9375rem 0 6rem 0;
		text-align: center;
	}
}

.social-share {
	.social-share-box {
		background: #25B8AF;
		padding: 3.75rem 6.25rem;
		border-radius: 1rem;
		text-align: center;
        color: $whiteColor;
        .title-sm-new{
            font-size: 3rem;
            line-height: 4.5rem;
            color: $whiteColor;
            font-family: $font-family-poppins-semibold;
			@media only screen and (max-width: $sm-x) {
				font-size: 2.3rem;
				line-height: 3rem;
				margin-bottom: 1.5rem;
			}
           
        }
        .sml-para{
            color: $whiteColor;
            font-family: $font-family-poppins-regular;
            font-size: 1.625rem;
			@media only screen and (max-width: $xs) {
				font-size: 1.5rem;
				br{
					display: none;
				}
			}

        }
		.social-list {
			margin-top: 3.125rem;
			ul {
				display: flex;
				align-items: center;
				list-style: none;
				padding: 0;
				margin: 0;
				flex-wrap: wrap;
				justify-content: center;
				li {
					margin: 0.625rem 3.5rem;
					a {
						text-decoration: none;
						transition-duration: 0.6s;
						span {
							width: 4.125rem;
							height: 4.125rem;
							display: block;
							margin: 0 auto;
							margin-bottom: 0.9375rem;
							border-radius: 50%;
							background: $whiteColor;
							position: relative;
							transition-duration: 0.8s;
							svg {
								position: absolute;
								left: 50%;
								top: 50%;
								font-size: 2.5rem;
								transform: translate(-50%, -50%);
								color: $primary;
								@media only screen and (max-width: $sm-x) {
									font-size: 2.3rem;
								}
							}
						}
						h6 {
							color: $whiteColor;
							font-size: 1.2rem;
							font-weight: 400;
						}
						&:hover {
							span {
								background: $primary;
								svg {
									color: $whiteColor;
								}
							}
						}
					}
				}
			}
		}
	}
}
@media only screen and (max-width: $sm-x) {
	.social-share {
		.social-share-box {
			.social-list {
				ul {
					li {
						a {
							span {
								i {
									font-size: 1.5625rem;
								}
								
							}
						}
						margin: 0.625rem 0.75rem;
						width: 16%;
					}
				}
			}
			display: block;
			padding: 3.75rem 1.25rem 2.5rem 1.25rem;
		}
	}
}
@media only screen and (max-width: $xs) {
	.social-share {
		.social-share-box {
			.social-list {
				ul {
					li {
						a {
							h6 {
								font-size: 1rem;
							}
						}
					}
				}
			}
		}
	}
}
.sumit-bg-tips {
	background: #FFFBEA;
	padding: 17rem 0 8rem 0;
	margin-top: -9rem;
	.bg-acnt-sub {
		border-radius: 1rem;
		display: flex;
		align-items: center;
		padding: 0;
		justify-content: space-between;
		.title-sm-new {
			margin: 0;
             font-size: 3rem;
            line-height: 4.5rem;
            color: $primary;
            font-family: $font-family-poppins-bold;
			max-width: 60%;
		}
		.acnt-sub-btn {
			
			&:hover {
				background: $whiteColor;
				color: $blueColortext;
			}
		}
	}
}
@media only screen and (max-width: $sm-x) {
	.sumit-bg-tips {
		.bg-acnt-sub {
			.title-sm-new {
				width: auto;
				text-align: center;
				padding: 1.25rem 0;
				max-width: 100%;
				font-size: 2.3rem;
				line-height: 3rem;
				margin-bottom: 1rem;
			}
			display: block;
			padding: 0;
			text-align: center;
		}
		
	}
}

