@import '../../assets/css/common.scss';
@import '../../assets/css/customvariable.scss';


.track-records-banner{
    .track-record-tabs{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        background-color: #fff;
        border-radius: 2.231rem;
        box-shadow: 0 3px 6px #c8c8d6;
        flex-direction: row;
        // margin-bottom: 4.5rem;
        margin-top: 2rem;
        padding: 0.5rem;
        .trackbtn{
            background: #fff;
            border: none;
            border-radius: 1.375rem;
            color: #231f20;
            cursor: pointer;
            font-family: PoppinsMedium,sans-serif;
            font-size: 1.385rem;
            line-height: 2.077rem;
            padding: 0.5rem 1rem;
            text-align: center;
            text-decoration: none;
            width:50%;

            &.active {
                background-color: rgba(0,102,178,.102);
                color: #0066b3;
            }
        }
    
    }
}
.tracktabcontent{
    padding: 5rem 0 4rem 0;
   @media  (max-width:$sm) {
    padding: 3rem 0;
   }
    .mainboard-txt{
        color: $darkblack;
        font-size: 1.75rem;
        font-weight: 600;
        line-height: 2.625rem;
        margin-top: 1rem;
    }
    .title{
        color: $bgcolordark;
        font-size: 3.5rem;
        line-height: 5.25rem;
        font-family: $font-family-poppins-regular;
        font-weight: 600;
        text-align: center;
        padding-bottom: 2.75rem;
        @media  (max-width:$sm) {
            font-size: 3rem;
           }
    }
    .quicklinkswrap{
        border-radius: 20px;
        border: #C2C2C2 solid 1px;
        padding: 1.5rem;
        margin-bottom: 3rem;
        .border-bottom{
           &:last-child{
                border-bottom: none !important;
            }
        }
    }
}

.subtext{
    color: #707070;
    font-size: 1.75rem;
    line-height: 2.625rem;
    font-family: "PoppinsRegular", sans-serif, sans-serif;
    width: 80%;
    margin: 0 auto 3rem;
    @media  (max-width:$sm) {
        width: 100%;
       }
}