/*Bootstrap Override*/

$secondary: #febf74;   
$iconcolor: #1B1464;
$font-family-primary: "SF Pro Display";
$headings-font-family: "SF Pro Display";
$font-family-secondary: "SFProText";
$body-color: #333333;
$headings-color: #333333;
$border-color: #ebebeb;
$border:#F4F3F8;
$body-bg: #F4F3F8;
$subheading:#797979;
$dropdown-border-color: $border-color;
$font-weight-semibold: 600;
$border-radius: 0;
$headings-font-weight: $font-weight-semibold;
$input-border-radius: 0.2rem;
$btn-border-radius: 0.2rem;
$font-size-base: 1rem;
$input-btn-padding-y: 0.5rem;

/*Custom variables*/
$primary: #004393;
$success: #00B16B;
$danger: #EE404A ;
$white-color: #ffffff;
$black:#000000;
$disable:#B5B5B5;
$highlighted:#f5f5f5;
$tag:#F6B900;
$secondary-btn : #DBE4F0;
$light-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
$header-height: 4.688rem;
$primary-text: $body-color;
$secondary-text: lighten($primary-text, 10%);
$box-shadow: 0 0 3.125rem 0 rgba(169, 172, 189, 0.15);
$gradient: linear-gradient(to left, $primary, $secondary);
$form-box-shadow: 0 0 0 2px rgba($border-color, 1);
$pink-background: #fe595d;
$pink-color: #fe595d;
$greycolor: #121213;
$gray-background: #fafbfd;
$dark-grey-color: #555555;
$background-color2: #f8a868;
$light-grey-background: #eeeeee;
$subscribe-border-color: #464646;
$social-icon-color: #c2c2c2;
$btn-yellow: #febf00;
$btn-pink: #fe595d;
$btn-gray: #bcb8b8;
$btn-green: #18ce97;

/*Icons Variables*/
$icon-facebook: "\e949";
$icon-linkedin: "\e94a";
$icon-twitter: "\e94b";
$icon-youtube: "\e94c";
$icon-Call: "\e900";
$icon-Link: "\e901";
$icon-Jiffy-Icons_Fund-Transfer: "\e902";
$icon-watchlist: "\e903";
$icon-add: "\e904";
$icon-setting: "\e905";
$icon-right-arrow: "\e906";
$icon-left-arrow: "\e907";
$icon-up-arrow: "\e908";
$icon-down-arrow: "\e909";
$icon-buy: "\e90a";
$icon-calendar: "\e90b";
$icon-call-for-trade: "\e90c";
$icon-call: "\e90d";
$icon-chart: "\e90e";
$icon-close: "\e90f";
$icon-dashboard: "\e910";
$icon-expand-2: "\e985";
$icon-delete: "\e911";
$icon-details: "\e912";
$icon-long-down-arrow: "\e913";
$icon-download: "\e914";
$icon-drop-down: "\e915";
$icon-edit: "\e916";
$icon-email: "\e917";
$icon-exchange-info: "\e918";
$icon-exchange-timings: "\e919";
$icon-filter: "\e91a";
$icon-funds: "\e91b";
$icon-info: "\e91c";
$icon-ipo: "\e91d";
$icon-fundamental: "\e91e";
$icon-location: "\e91f";
$icon-crosshair: "\e920";
$icon-face-id: "\e921";
$icon-menu: "\e922";
$icon-message-hub: "\e923";
$icon-mutual-fund: "\e924";
$icon-theme: "\e925";
$icon-notification: "\e926";
$icon-order-book: "\e927";
$icon-eye-slash: "\e928";
$icon-eye: "\e929";
$icon-portfolio: "\e92a";
$icon-price-alert: "\e92b";
$icon-rate-us: "\e92c";
$icon-re-arrange: "\e92d";
$icon-refresh: "\e92e";
$icon-reports: "\e92f";
$icon-technical: "\e930";
$icon-research-report: "\e931";
$icon-scrip-info: "\e932";
$icon-search: "\e933";
$icon-sell: "\e934";
$icon-share: "\e935";
$icon-mail-support: "\e936";
$icon-support: "\e937";
$icon-trade-details: "\e938";
$icon-long-up-arrow: "\e939";
$icon-user-guide: "\e93a";
$icon-convert: "\e93b";
$icon-market: "\e93c";
$icon-expand: "\e93d";
$icon-logout: "\e93e";
$icon-userpreference: "\e93f";
$icon-language-changer: "\e940";
$icon-reset: "\e941";
$icon-support-call: "\e942";
$icon-support-mail: "\e943";
$icon-support-location: "\e944";
$icon-refer-earn: "\e945";
$icon-maximize: "\e946";
$icon-download-new: "\e947";
$icon-minimize: "\e948";

/*Responsive screen width*/
$xs: 560px;
$sm: 767px;
$md: 990px;
$lg: 1200px;
$xl: 1550px;


// Grid and container variables


$cust-screen-sm-min: 544px !default;
$cust-screen-md-min: 768px !default;
$cust-screen-lg-min: 992px !default;
$cust-screen-xl-min: 1200px !default;
$cust-grid-columns: 12 !default;
$cust-grid-gutter-width: 30px !default;
$cust-grid-float-breakpoint: $cust-screen-sm-min !default;
$cust-caret-width: cust-rem(4px) !default;
$cust-screen-xs-max: ($cust-screen-sm-min - 1);
$cust-screen-sm-max: ($cust-screen-md-min - 1);
$cust-screen-md-max: ($cust-screen-lg-min - 1);
$cust-screen-lg-max: ($cust-screen-xl-min - 1);
$cust-container-sm: 570px !default;
$cust-container-md: 740px !default;
$cust-container-lg: 960px !default;
$cust-container-xl: 1170px !default;