@import '../../assets/css/customvariable.scss';
@import '../../assets/css/common.scss';



.bannersec{
	padding: 5rem  0 0;
	background-image: url('../../assets/images/file-download/banner-bg.webp');
	background-repeat: no-repeat;
    background-size: contain;
	background-position: 50% 50%;
    height:600px;
    width: 100%;
	background-color: #E5E5E5;
    position: relative;
	@media (max-width:$sm) {
	display: none;
	}
	.imgwrap{
		position: absolute;
    left: 0;
    width: 100%;
    top: 50%;
    transform: translate(0, -39%);
    z-index: 9;
	height: 300px;
	display: flex;
	justify-content: center;
	}

}

.bluecolor{
	background-color: $bgcolor-blue;
	padding: 4rem 0;
	bottom: 73px;
    position: relative;
	@media (max-width:$sm) {
		bottom: 0;
		margin-top: 2rem;
	}
	h1{
		color: $whiteColor;
		font-size: 3.8125rem;
		line-height: 9.5px;
		display: flex;
		justify-content: center;
	}
}

.advisors{
	padding: 5rem 0;
	h2{
		padding-bottom: 3rem;
	}
	.subtext{
		font-size: 1.9375rem;
		line-height: 2.875rem;
		color: $secondary;
		font-weight: 400;
		@media (max-width:$sm) {
			font-size: 1.75rem;
		}
	}
}

.filedownloadfaq{
	padding: 3rem 0;
	h4{
		font-size: 1.75rem;
		line-height: 2.625rem;
		color: $darkblack;
		font-weight: 600;
		@media (max-width:768px) {
			font-size: 1.5rem;
		}
	}
	.accordion-item{
		border: none;
		box-shadow: none;
		margin-bottom: 25px;
	}
	.accordion-button:not(.collapsed){
		box-shadow: none;
	}
	.accordion-flush .accordion-item .accordion-button{
		background: #dcdcdc33;
		color: $darkblack;
		font-size: 1.75rem;
		line-height: 2.625rem;
		font-weight: 600;
	}
	.accordion-button::after{
		background-image: url(../../assets/images/file-download/plus.webp);
		height: 18px;
		width: 18px;
		background-size: contain;
	}
	.accordion-button:not(.collapsed)::after{
		background-image: url(../../assets/images/file-download/minus.webp);
		height: 18px;
		width: 18px;
		background-size: contain;
	}
	.listing{
		ul{
			padding: 0;
			margin-top: 2rem;
			li{
				display: flex;
				justify-content: space-between;
				color: $secondary;
				font-size: 1.5rem;
				line-height: 2.25rem;
				padding-bottom: 15px;
				@media (max-width:$sm) {
					font-size: 1.4rem;
				}
				@media (min-width:767px) and (max-width:768px) {
					font-size: 1.2rem;
				}
				.text{
					@media (max-width:$sm) {
						width: 55%;
						
					}
				}
				.download{
					display: flex;
					text-align: right;
					// width: 20%;
					@media (max-width:$sm) {
						display: block;
						width: 45%;
					}
					.downloadtext{
						cursor: pointer;
						color: $darkblack;
						font-size: 1.5rem;
						line-height: 2.25rem;
						font-weight: 500;
						padding-left: 10px;
						width: 80%;
						@media (max-width:$sm) {
							font-size: 1.4rem;
						}
						@media (min-width:767px) and (max-width:768px) {
							font-size: 1.2rem;
						}
					}
					img{
						width: 20%;
						@media (max-width:$sm) {
							width: auto;
						}
					}
				}
				
			}
		}
	}
	&.filedownloadfaq-CMS{
		padding: 0rem;
		.accordion-flush{
			padding:3rem 1rem 0rem 1rem;;
			border: 1px solid #c2c2c2;
			border-radius: 20px;
			margin-bottom: 3rem;
		}
		.listing{
			.border-bottom {
				&:last-child {
					border-bottom: none !important;
				}
			}
		}
	}
}
