@import '../../assets/css/common.scss';
@import '../../assets/css/customvariable.scss';


.fables-single-parent {
    animation: hideMe 4s forwards;
}

.fables-banner {
    // padding-top: 1rem;
    overflow-x: hidden;
    padding-bottom: 1rem;
    .mt2{
        @media (min-width:$md) and (max-width: 1281px) {
            margin-top: 1.8rem;
         }
    }
  
    .fables-caption-left {
        width: 58%;
        padding: 5rem;
        padding-left: 0;
        display: flex;
        align-items: center;
        position: relative;
        border-radius: 0 24px 24px 0;
        background: $bgcolor-yellow;

        .big-ttl {
            position: relative;

            span {
                font-family: $font-family-poppins-regular;
                display: block;
            }

            .sm-ttl{
                font-size:1.6rem;
                position: absolute;
                left: 8px;
            }
        }

        &::before {
            content: '';
            width: 350%;
            height: 100%;
            display: block;
            position: absolute;
            left: -350%;
            top: 0;
            background: $bgcolor-yellow;

            @media screen and (max-width: $sm) {
                display: none;
            }
        }

        @media screen and (max-width: $sm) {
            width: 100%;
            padding: 3rem 2rem;
            border-radius: 20px;
            text-align: center;
        }
    }

    .fables-caption-right {
        width: 40%;
        padding: 2.5rem;
        @extend .box-shadow;
        position: relative;
        border-radius: 24px 0 0 24px;

        .fable-trending-list {
            .trending-itm {
                display: flex;
                align-items: center;
                margin-bottom: 1.5rem;
                text-decoration: none;

                .trending-itm-img {
                    width: 30%;

                    img {
                        width: 100%;
                        border-radius: 10px;
                        height: 100px;
                        object-fit: cover;

                        @media (max-width: $md) {
                            height: 70px;
                        }
                    }
                }

                .trending-itm-des {
                    width: 70%;
                    padding-left: 2rem;

                    p {
                        color: $primary;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: initial;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                    }
                }
            }
        }

        &::before {
            content: '';
            width: 500%;
            height: 100%;
            display: block;
            position: absolute;
            right: -497%;
            top: 0;
            background: $whiteColor;

            box-shadow: 5px 0px 8px 0 #f0f0f0;

            @media screen and (max-width: $sm) {
                display: none;
            }
        }

        @media screen and (max-width: $sm) {
            margin-top: 4rem;
            width: 100%;
            padding: 2rem;
            border-radius: 20px;
        }
    }
}

.blog-middle-cont {
    position: relative;
    padding: 10rem 0;

    &::before {
        content: '';
        width: 21rem;
        height: 40rem;
        display: block;
        position: absolute;
        background: url(../../assets/images/fable/fable-circle-left.svg) no-repeat top left;
        background-size: contain;
        left: 0;
        top: -13rem;

        @media screen and (max-width: $md) {
            display: none;
        }
    }

    &::after {
        content: '';
        width: 21rem;
        height: 42rem;
        display: block;
        position: absolute;
        background: url(../../assets/images/fable/fable-circle-right.svg) no-repeat top left;
        background-size: contain;
        right: 0;
        bottom: -0rem;

        @media screen and (max-width: $md) {
            display: none;
        }
    }

    .all-latest-blog-list {
        position: relative;
        z-index: 99;
        margin-top: 10rem;

        @media (max-width: $md) {
            margin-top: 5rem;
        }

        .latest-blog-itm {
            margin-bottom: 2.5rem;

            .blog-itm {
                display: flex;
                text-decoration: none;
                align-items: center;

                .blog-itm-des {
                    width: 70%;
                    padding-right: 10rem;

                    // padding: 0 2rem;
                    .itm-des-cont {
                        font-size: 1.765rem;
                        line-height: 2.6rem;
                        color: $primary;
                        font-family: $font-family-poppins-semibold;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: initial;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;

                        @media (max-width: $xs) {
                            font-size: 1.4rem;
                            line-height: 2.0rem;
                        }
                    }

                    .tag-act {
                        color: $darkColorgray;
                        font-family: $font-family-poppins-regular;
                    }

                    @media (max-width: $md) {
                        padding-right: 2rem;
                    }
                }

                .blog-itm-img {
                    width: 30%;

                    .img-blog {
                        width: 100%;
                        height: 155px;
                        object-fit: cover;
                        border-radius: 20px;

                        @media (max-width: $md) {

                            object-fit: cover;
                            border-radius: 10px;
                        }

                        @media (max-width: $xs) {
                            height: 100px;
                        }

                    }
                }
            }
        }
    }

    .single-blog-con {
        .single-blog-img {
            margin-bottom: 2rem;

            img {
                width: 100%;
                height: 500px;
                object-fit: cover;
                border-radius: 20px;

                @media (max-width: $md) {
                    height: 350px;
                }

                @media (max-width: $xs) {
                    height: 250px;
                }
            }
        }

        .single-blog-des {
            h3 {
                font-size: 2.25rem;
                color: $primary;
                font-family: $font-family-poppins-semibold;
                margin-bottom: 10px;
            }

      

            .des-cont {
                color: $secondary;
                // overflow: hidden;

                a {
                    color: $bluetext;
                    text-decoration: none;
                }
            }
        }
    }

    .blog-middle-left {
        position: relative;
        z-index: 9;
        .heading-sec {
            padding-bottom: 2rem;

            @media (max-width: $md) {
                padding-right: 0;
            }
        }

        @media screen and (max-width: $sm) {
            padding-right: 0;
        }
        .single-blog-con{
            .single-blog-des {
                .tag-act {
                    color: $darkColorgray;
                    font-family: $font-family-poppins-regular;
                }
            }
        }
       
    }

    .blog-middle-right {
        padding-left: 3rem;

        @media (max-width: $md) {
            padding-left: 0;
        }

        .heading-sec {
            p {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: initial;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
            }
        }

        @media screen and (max-width: $sm) {
            padding-left: 0;
        }
    }

    @media screen and (max-width: $md) {
        padding: 5rem 0 0 0;
    }
}


.fable-blog-List {
    padding: 2rem 0 15rem 0;
    position: relative;
    overflow: hidden;

    .fable-list-menu {
        margin-bottom: 3rem;
        position: relative;

        >ul {
            display: flex;
            align-items: center;
            list-style: none;
            padding: 0;
            margin: 0;
            overflow: inherit;
            top: -5rem;
            justify-content: space-between;

            >li {
                margin: 0 1rem;

                .link-txt {
                    color: #221F20BF;
                    display: block;
                    position: relative;
                    text-decoration: none;
                    font-family: $font-family-poppins-medium;
                    border: 0;
                    font-size: 1.375rem;

                    @media (max-width: $md) {
                        padding: 1rem 0;
                        white-space: nowrap;
                    }

                    &.link-active {
                        font-family: $font-family-poppins-semibold;

                        &::before {
                            content: "";
                            width: 0.5rem;
                            height: 0.5rem;
                            display: block;
                            background: $bgcolordark;
                            position: absolute;
                            bottom: -0.5rem;
                            left: 0;
                            right: 0;
                            margin: 0 auto;
                            border-radius: 2px;

                            @media (max-width: $md) {
                                bottom: 0;
                            }
                        }
                    }

                    &:hover {
                        &::before {
                            content: "";
                            width: 0.5rem;
                            height: 0.5rem;
                            display: block;
                            background: $bgcolordark;
                            position: absolute;
                            bottom: -0.5rem;
                            left: 0;
                            right: 0;
                            margin: 0 auto;
                            border-radius: 2px;

                            @media (max-width: $md) {
                                bottom: 0;
                            }
                        }
                    }
                }
            }

            @media (max-width: $md) {
                overflow: auto;
            }
        }
    }

    .tab-blog-list {
        display: flex;
        margin-top: 4rem;
        margin-left: -3%;
        position: relative;
        flex-wrap: wrap;
        z-index: 9;
        padding-bottom: 8rem;

        @media (max-width: $md) {
            padding-bottom: 0;
            margin-top: 0;
        }

        .tab-blog-item {
            width: 30%;
            margin-left: 3%;
            @extend .box-shadow;
            border-radius: 20px;
            background: $whiteColor;
            text-decoration: none;

            .blog-item-img {
                img {
                    width: 100%;
                    border-radius: 20px 20px 0 0;
                    object-fit: cover;
                    @media screen and (max-width: $sm) {
                        height: 200px;
                    }
                }
            }

            .blog-item-des {
                padding: 2rem;

                h4 {
                    font-size: 1.5rem;
                    line-height: 1.6;
                    color: $primary;
                    font-family: $font-family-poppins-semibold;
                    margin-bottom: 1.5rem;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: initial;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                }

                p {
                    font-size: 1.3rem;
                    color: $secondary;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: initial;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                }

                .sm-text {
                    font-size: 1rem;
                    color: $secondary;
                    font-family: $font-family-poppins-regular;
                }
            }

            @media screen and (max-width: $sm) {
                width: 97%;
                margin-bottom: 3rem;
            }
        }
    }

    &::before {
        content: '';
        width: 24rem;
        height: 46rem;
        display: block;
        position: absolute;
        background: url(../../assets/images/fable/fable-circle-left.svg) no-repeat top left;
        background-size: contain;
        left: 0;
        bottom: -8rem;

        @media screen and (max-width: $md) {
            display: none;
        }
    }

    @media screen and (max-width: $md) {
        padding: 2rem 0 10rem 0;
    }

    @media screen and (max-width: $sm) {
        padding: 2rem 0 5rem 0;
    }
}





::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}