/*Bootstrap Override*/
/*Font family*/
/*bg varibales*/
/*textvaribales*/
/*Shadow color*/
/*Responsive screen width*/
@font-face {
  font-family: "PoppinsMedium";
  src: url("../fonts/PoppinsMedium.eot");
  src: url("../fonts/PoppinsMedium.eot") format("embedded-opentype"), url("../fonts/PoppinsMedium.woff2") format("woff2"), url("../fonts/PoppinsMedium.woff") format("woff"), url("../fonts/PoppinsMedium.ttf") format("truetype"), url("../fonts/PoppinsMedium.svg#PoppinsMedium") format("svg");
  font-display: swap;
}
@font-face {
  font-family: "PoppinsRegular";
  src: url("../fonts/PoppinsRegular.eot");
  src: url("../fonts/PoppinsRegular.eot") format("embedded-opentype"), url("../fonts/PoppinsRegular.woff2") format("woff2"), url("../fonts/PoppinsRegular.woff") format("woff"), url("../fonts/PoppinsRegular.ttf") format("truetype"), url("../fonts/PoppinsRegular.svg#PoppinsRegular") format("svg");
  font-display: swap;
}
@font-face {
  font-family: "PoppinsSemiBold";
  src: url("../fonts/PoppinsSemiBold.eot");
  src: url("../fonts/PoppinsSemiBold.eot") format("embedded-opentype"), url("../fonts/PoppinsSemiBold.woff2") format("woff2"), url("../fonts/PoppinsSemiBold.woff") format("woff"), url("../fonts/PoppinsSemiBold.ttf") format("truetype"), url("../fonts/PoppinsSemiBold.svg#PoppinsSemiBold") format("svg");
  font-display: swap;
}
@font-face {
  font-family: "PoppinsBold";
  src: url("../fonts/PoppinsBold.eot");
  src: url("../fonts/PoppinsBold.eot") format("embedded-opentype"), url("../fonts/PoppinsBold.woff2") format("woff2"), url("../fonts/PoppinsBold.woff") format("woff"), url("../fonts/PoppinsBold.ttf") format("truetype"), url("../fonts/PoppinsBold.svg#PoppinsBold") format("svg");
  font-display: swap;
}
@font-face {
  font-family: "RedHatDisplayBold";
  src: url("../fonts/RedHatDisplayBold.eot");
  src: url("../fonts/RedHatDisplayBold.eot") format("embedded-opentype"), url("../fonts/RedHatDisplayBold.woff2") format("woff2"), url("../fonts/RedHatDisplayBold.woff") format("woff"), url("../fonts/RedHatDisplayBold.ttf") format("truetype"), url("../fonts/RedHatDisplayBold.svg#RedHatDisplayBold") format("svg");
  font-display: swap;
}
@font-face {
  font-family: "Poppins-Regular";
  src: url("../fonts/Poppins-Regular.eot");
  src: url("../fonts/Poppins-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Regular.svg#Poppins-Regular") format("svg"), url("../fonts/Poppins-Regular.ttf") format("truetype"), url("../fonts/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
/*Bootstrap Override*/
/*Font family*/
/*bg varibales*/
/*textvaribales*/
/*Shadow color*/
/*Responsive screen width*/
.btn-bg {
  font-family: "PoppinsSemiBold", sans-serif;
  color: #ffffff !important;
  background: #221F20 !important;
  padding: 1.3rem 2.8rem !important;
  display: inline-block;
  border-radius: 16px !important;
  min-width: 16rem;
  font-size: 1.5rem !important;
  text-align: center;
  text-decoration: none;
  border: 0 !important;
  outline: none !important;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.btn-bg:hover {
  background: #FFCE02 !important;
  color: #221F20 !important;
}
.btn-bg:focus, .btn-bg:active, .btn-bg:not(:disabled):not(.disabled):active, .btn-bg:not(:disabled):not(.disabled).active {
  outline: none;
}
.btn-bg.btn-bg-dark {
  background: #FFCE02 !important;
  color: #221F20 !important;
}
.btn-bg.btn-bg-dark:hover {
  background: #ffffff !important;
}
.btn-bg.btn-light {
  background-color: #ffffff !important;
  color: #221F20 !important;
}
.btn-bg.btn-light:hover {
  background: #FFCE02 !important;
  color: #221F20 !important;
}

.link-nrl {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0066B3;
  width: auto;
  border-radius: 100px;
  padding: 0.8rem 2rem;
  margin-right: 2.5rem;
  text-decoration: none;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
  position: relative;
  font-family: "PoppinsRegular", sans-serif;
  min-height: 4rem;
}
.link-nrl img {
  margin-right: 0.5rem;
}
.link-nrl.white {
  background-color: #F5F5F5;
}
.link-nrl.white:hover {
  background-color: #FFCE02;
}
.link-nrl .img-ico {
  width: 17rem;
  display: block;
}
@media (max-width: 768px) {
  .link-nrl .img-ico {
    width: 8rem;
  }
}
.link-nrl .whitecolor {
  color: #ffffff;
  font-size: 1.7rem;
}
@media (max-width: 768px) {
  .link-nrl .whitecolor {
    font-size: 16px;
  }
}
.link-nrl .blackcolor {
  color: #13151A;
  font-size: 1.25rem;
}
@media (max-width: 768px) {
  .link-nrl .blackcolor {
    font-size: 16px;
  }
}
.link-nrl:hover {
  transform: translateY(-8px);
}
@media (max-width: 768px) {
  .link-nrl {
    margin-right: 1rem;
    width: 42%;
    margin-bottom: 1rem;
    padding: 8px;
  }
}
.link-nrl.link-nrl-sm {
  width: auto;
  padding: 0.5rem 1.5rem;
  margin-right: 1.5rem;
  white-space: nowrap;
}
.link-nrl.link-nrl-sm .whitecolor {
  color: #ffffff;
  font-size: 15px;
  color: #ffffff;
  font-size: 16px;
}
.link-nrl.link-nrl-sm .blackcolor {
  color: #13151A;
  font-size: 16px;
}
.link-nrl.link-nrl-sm.white {
  background-color: #F5F5F5;
}
.link-nrl.link-nrl-sm.white:hover {
  background-color: #FFCE02;
}
.link-nrl.link-nrl-sm:hover {
  transform: translateY(-8px);
}
@media (min-width: 767px) and (max-width: 768px) {
  .link-nrl.link-nrl-sm {
    width: 42%;
    margin-bottom: 1rem;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .link-nrl.link-nrl-sm {
    margin-bottom: 1rem;
  }
}
@media (min-width: 1025px) and (max-width: 1200px) {
  .link-nrl.link-nrl-sm {
    width: 55%;
    margin-bottom: 1rem;
  }
}
.link-nrl.link-nrl-sm img {
  display: block;
}
.link-nrl.link-nrl-sm span {
  padding-left: 10px;
}
@media (max-width: 768px) {
  .link-nrl.link-nrl-sm {
    margin-right: 0.5rem;
  }
}
.link-nrl .ico-sm {
  margin-right: 0.8rem;
}

.scroll-top {
  position: fixed;
  right: 30px;
  bottom: 70px;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  border: 0;
  font-size: 1.9rem;
  z-index: 9999;
  color: #ffffff;
  background: #FFCE02;
  box-shadow: 0px 0px 8px #d6d6d6;
}
@media (max-width: 767px) {
  .scroll-top {
    display: none;
  }
}
.scroll-top .fa-angle-up {
  animation: bounce 1600ms infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

@keyframes bounce {
  50% {
    transform: translateY(-8px);
  }
}
p {
  font-family: "PoppinsRegular", sans-serif, sans-serif;
  font-size: 1.375rem;
  line-height: 2.15rem;
}

.text-danger {
  font-family: "PoppinsRegular", sans-serif;
  margin-top: 0.5rem;
  display: block;
  font-size: 1.2rem;
}

@media only screen and (min-width: 1200px) {
  html {
    font-size: 11px;
  }
}
@media only screen and (min-width: 1400px) {
  html {
    font-size: 13px;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 12px;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 12px;
  }
}
@media (max-width: 320px) {
  html {
    font-size: 11px;
  }
}

body {
  font-family: "PoppinsRegular", sans-serif, sans-serif;
  font-size: 1.4rem;
  color: #221F20;
}

.title-first {
  font-size: 3.5rem;
  line-height: 1.5;
  color: #221F20;
  font-weight: 600;
  font-family: "PoppinsSemiBold", sans-serif;
}
@media (max-width: 767px) {
  .title-first {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }
  .title-first br {
    display: none;
  }
}

.title-secnd {
  font-size: 3rem;
  color: #221F20;
  font-family: "PoppinsSemiBold", sans-serif;
}
@media (max-width: 767px) {
  .title-secnd {
    font-size: 2rem;
    line-height: 3rem;
  }
}

.title-third {
  font-size: 3.25rem;
  color: #221F20;
  font-family: "PoppinsSemiBold", sans-serif;
}
@media (max-width: 767px) {
  .title-third {
    font-size: 1.8rem;
  }
}

.title-fourth {
  font-size: 1.6rem;
  margin: 1.5rem 0;
  font-family: "PoppinsSemiBold", sans-serif;
  color: #221F20;
}

.heading-sec p {
  color: #707070;
  font-size: 1.75rem;
  line-height: 2.625rem;
  font-family: "PoppinsRegular", sans-serif, sans-serif;
}
@media (max-width: 767px) {
  .heading-sec p {
    font-size: 1.5rem;
  }
}
@media (max-width: 768px) {
  .heading-sec p br {
    display: none;
  }
}
.heading-sec p.nm-text {
  font-size: 1.4rem;
  line-height: 2.15rem;
  color: #221F20;
}
.heading-sec .title-secnd {
  margin-bottom: 2rem;
}
@media (max-width: 992px) {
  .heading-sec .title-secnd {
    margin-bottom: 1.2rem;
  }
}
.heading-sec .title-first {
  text-shadow: inherit;
  margin-bottom: 2rem;
}

.big-ttl {
  font-size: 4.125rem;
  font-family: "PoppinsBold", sans-serif;
  color: #221F20;
  line-height: 1.4;
}
@media screen and (max-width: 992px) {
  .big-ttl {
    font-size: 3rem;
  }
}

/*box shadow*/
.box-shadow, .fable-blog-List .tab-blog-list .tab-blog-item, .fables-banner .fables-caption-right, .btn-bg.btn-bg-dark:hover {
  box-shadow: 0px 0px 8px #F0F0F0;
}

.light-box-shadow {
  box-shadow: 0px 0px 8px #F0F0F0;
}

.App-Body {
  min-height: 100vh;
  margin-top: 9.25rem;
}
@media screen and (max-width: 767px) {
  .App-Body {
    display: block;
    width: 100%;
    overflow: inherit;
  }
}
@media screen and (max-width: 992px) {
  .App-Body {
    margin-top: 8.45rem;
  }
}
@media screen and (max-width: 590px) {
  .App-Body {
    margin-top: 6rem;
  }
}

.App {
  width: 100%;
  margin: 0 auto;
  overflow: inherit;
}

.modal-backdrop {
  z-index: 99999 !important;
}

.modal {
  z-index: 99999 !important;
}
@keyframes toTopFromBottom {
  49% {
    transform: translateY(-100%);
  }
  50% {
    opacity: 0;
    transform: translateY(100%);
  }
  51% {
    opacity: 1;
  }
}
.common-modal-thankyou .modal-content .modal-header {
  border: 0;
}
.common-modal-thankyou .modal-content .modal-body {
  padding: 2rem;
  padding-bottom: 1.5em;
  text-align: center;
}
.common-modal-thankyou .modal-content .modal-body h4 {
  margin-top: 1rem;
  font-family: "PoppinsMedium", sans-serif;
  color: #221F20;
  font-size: 1.65rem;
}
.common-modal-thankyou .modal-content .modal-body h3 {
  font-family: "PoppinsMedium", sans-serif;
  color: #221F20;
  margin-top: 2rem;
}
.common-modal-thankyou .modal-content .modal-footer {
  text-align: center;
  justify-content: center;
  border: 0;
  padding-bottom: 1.5em;
}
.common-modal-thankyou .modal-content .modal-footer .btn-yellow {
  background-color: #FFCE02;
  border-radius: 27px;
  color: #221F20;
  font-size: 1.5rem;
  line-height: 1.375rem;
  font-family: "PoppinsSemiBold", sans-serif;
  display: inline-block;
  border: none;
  padding: 0.8rem 2rem;
  margin-top: 1rem 0;
}

/* common card styling */
.carditem-nbfc {
  background: #ffffff;
  box-shadow: 0px 0px 8px #F0F0F0;
  border-radius: 20px;
  padding: 2.5rem 2rem;
  text-decoration: none;
  display: block !important;
  width: 90% !important;
  margin: 0 auto;
  height: 100%;
  min-height: 17rem;
  text-align: center;
}
@media (min-width: 768px) and (max-width: 992px) {
  .carditem-nbfc {
    padding: 1.8rem;
    font-size: 1.1rem;
  }
}
.carditem-nbfc:hover .cardimg .img {
  animation: toTopFromBottom 0.5s forwards;
}
.carditem-nbfc .cardimg {
  display: inline-block;
  overflow: hidden;
  height: 54px;
  font-size: 0.8rem;
}
.carditem-nbfc .card-ttl {
  font-size: 1.625rem;
  line-height: 1.5;
  font-family: "PoppinsSemiBold", sans-serif;
  color: #221F20;
  margin: 1rem 0 0 0;
}
.carditem-nbfc .subtext {
  font-size: 1.3rem;
  line-height: 1.9rem;
  margin: 1rem 0 0 0;
  color: #221F20;
  font-family: "PoppinsRegular", sans-serif;
}
@media (min-width: 768px) and (max-width: 992px) {
  .carditem-nbfc .subtext {
    font-size: 1.1rem;
  }
}

.grecaptcha-badge {
  z-index: 999999999;
}

.float-right {
  float: right;
}

.text-danger {
  font-size: 1.2rem;
  font-family: "PoppinsRegular", sans-serif;
  margin-top: 0.5rem;
  display: block;
}

.banner-title2 {
  font-family: "PoppinsSemiBold", sans-serif;
  color: #FFCE02;
  font-size: 2.1rem;
  margin-bottom: 2rem;
  display: block;
}
@media (max-width: 767px) {
  .banner-title2 {
    text-align: center;
    margin-bottom: 1rem;
  }
}
.banner-title2.mf-ttl {
  color: #0066B3;
  display: block !important;
  font-size: 2.4rem;
}
.banner-title2.mobile {
  display: none;
}

.term_link {
  text-decoration: none;
}

.sticy-card-sub-new {
  position: relative;
  padding: 3rem;
  background: #004393;
  background-size: cover;
  border-radius: 14px;
  margin: 0;
  width: 100%;
  transition-duration: 0.6s;
}
.sticy-card-sub-new .title-secnd {
  color: #fff;
  padding-bottom: 1rem;
}
@media (max-width: 992px) {
  .sticy-card-sub-new .title-secnd {
    font-size: 2rem;
  }
}
.sticy-card-sub-new ul {
  list-style: none;
  padding: 0;
}
.sticy-card-sub-new ul li {
  padding: 1rem 0;
  display: flex;
  align-items: center;
}
.sticy-card-sub-new ul li .bx-icon {
  padding-right: 1rem;
}
.sticy-card-sub-new ul li .bx-text {
  color: #ffffff;
  font-family: "PoppinsMedium", sans-serif;
  font-size: 1.7rem;
  white-space: nowrap;
}
.sticy-card-sub-new ul li .bx-text .fw-regular {
  font-family: "PoppinsRegular", sans-serif;
}
@media (max-width: 992px) {
  .sticy-card-sub-new ul li {
    display: flex;
    align-items: center;
  }
}
.sticy-card-sub-new .btn-open {
  padding-top: 2rem;
}
@media (max-width: 992px) {
  .sticy-card-sub-new {
    padding: 2rem;
    width: 40%;
  }
}
.sticy-card-sub-new.sub-new-small .title-secnd {
  font-size: 2.5rem;
}
@media (max-width: 992px) {
  .sticy-card-sub-new.sub-new-small .title-secnd {
    font-size: 1.7rem;
  }
}
@media (max-width: 767px) {
  .sticy-card-sub-new.sub-new-small .title-secnd {
    font-size: 2rem;
  }
}
.sticy-card-sub-new.sub-new-small ul li .bx-icon .svg-fill {
  height: 31px;
}
.sticy-card-sub-new.sub-new-small ul li .bx-text {
  font-size: 1.375rem;
}
@media (max-width: 992px) {
  .sticy-card-sub-new.sub-new-small ul li .bx-text {
    font-size: 1.3rem;
  }
}
@media (max-width: 767px) {
  .sticy-card-sub-new.sub-new-small ul li .bx-text {
    white-space: initial;
  }
}
@media (max-width: 992px) {
  .sticy-card-sub-new.sub-new-small .btn-open {
    padding-top: 1rem;
  }
}
@media (max-width: 767px) {
  .sticy-card-sub-new.sub-new-small .btn-open .btn-bg {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .sticy-card-sub-new.sub-new-small {
    padding: 2rem 1.5rem 2rem;
    width: 100%;
  }
}

/*Bootstrap Override*/
/*Font family*/
/*bg varibales*/
/*textvaribales*/
/*Shadow color*/
/*Responsive screen width*/
.fables-single-parent {
  animation: hideMe 4s forwards;
}

.fables-banner {
  overflow-x: hidden;
  padding-bottom: 1rem;
}
@media (min-width: 992px) and (max-width: 1281px) {
  .fables-banner .mt2 {
    margin-top: 1.8rem;
  }
}
.fables-banner .fables-caption-left {
  width: 58%;
  padding: 5rem;
  padding-left: 0;
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 0 24px 24px 0;
  background: #FFCE02;
}
.fables-banner .fables-caption-left .big-ttl {
  position: relative;
}
.fables-banner .fables-caption-left .big-ttl span {
  font-family: "PoppinsRegular", sans-serif;
  display: block;
}
.fables-banner .fables-caption-left::before {
  content: "";
  width: 350%;
  height: 100%;
  display: block;
  position: absolute;
  left: -350%;
  top: 0;
  background: #FFCE02;
}
@media screen and (max-width: 767px) {
  .fables-banner .fables-caption-left::before {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .fables-banner .fables-caption-left {
    width: 100%;
    padding: 3rem 2rem;
    border-radius: 20px;
    text-align: center;
  }
}
.fables-banner .fables-caption-right {
  width: 40%;
  padding: 2.5rem;
  position: relative;
  border-radius: 24px 0 0 24px;
}
.fables-banner .fables-caption-right .fable-trending-list .trending-itm {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  text-decoration: none;
}
.fables-banner .fables-caption-right .fable-trending-list .trending-itm .trending-itm-img {
  width: 30%;
}
.fables-banner .fables-caption-right .fable-trending-list .trending-itm .trending-itm-img img {
  width: 100%;
  border-radius: 10px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 992px) {
  .fables-banner .fables-caption-right .fable-trending-list .trending-itm .trending-itm-img img {
    height: 70px;
  }
}
.fables-banner .fables-caption-right .fable-trending-list .trending-itm .trending-itm-des {
  width: 70%;
  padding-left: 2rem;
}
.fables-banner .fables-caption-right .fable-trending-list .trending-itm .trending-itm-des p {
  color: #221F20;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: initial;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.fables-banner .fables-caption-right::before {
  content: "";
  width: 500%;
  height: 100%;
  display: block;
  position: absolute;
  right: -497%;
  top: 0;
  background: #ffffff;
  box-shadow: 5px 0px 8px 0 #f0f0f0;
}
@media screen and (max-width: 767px) {
  .fables-banner .fables-caption-right::before {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .fables-banner .fables-caption-right {
    margin-top: 4rem;
    width: 100%;
    padding: 2rem;
    border-radius: 20px;
  }
}

.blog-middle-cont {
  position: relative;
  padding: 10rem 0;
}
.blog-middle-cont::before {
  content: "";
  width: 21rem;
  height: 40rem;
  display: block;
  position: absolute;
  background: url(../../assets/images/fable/fable-circle-left.svg) no-repeat top left;
  background-size: contain;
  left: 0;
  top: -13rem;
}
@media screen and (max-width: 992px) {
  .blog-middle-cont::before {
    display: none;
  }
}
.blog-middle-cont::after {
  content: "";
  width: 21rem;
  height: 42rem;
  display: block;
  position: absolute;
  background: url(../../assets/images/fable/fable-circle-right.svg) no-repeat top left;
  background-size: contain;
  right: 0;
  bottom: 0rem;
}
@media screen and (max-width: 992px) {
  .blog-middle-cont::after {
    display: none;
  }
}
.blog-middle-cont .all-latest-blog-list {
  position: relative;
  z-index: 99;
  margin-top: 10rem;
}
@media (max-width: 992px) {
  .blog-middle-cont .all-latest-blog-list {
    margin-top: 5rem;
  }
}
.blog-middle-cont .all-latest-blog-list .latest-blog-itm {
  margin-bottom: 2.5rem;
}
.blog-middle-cont .all-latest-blog-list .latest-blog-itm .blog-itm {
  display: flex;
  text-decoration: none;
  align-items: center;
}
.blog-middle-cont .all-latest-blog-list .latest-blog-itm .blog-itm .blog-itm-des {
  width: 70%;
  padding-right: 10rem;
}
.blog-middle-cont .all-latest-blog-list .latest-blog-itm .blog-itm .blog-itm-des .itm-des-cont {
  font-size: 1.765rem;
  line-height: 2.6rem;
  color: #221F20;
  font-family: "PoppinsSemiBold", sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: initial;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
@media (max-width: 590px) {
  .blog-middle-cont .all-latest-blog-list .latest-blog-itm .blog-itm .blog-itm-des .itm-des-cont {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}
.blog-middle-cont .all-latest-blog-list .latest-blog-itm .blog-itm .blog-itm-des .tag-act {
  color: #9F9F9F;
  font-family: "PoppinsRegular", sans-serif;
}
@media (max-width: 992px) {
  .blog-middle-cont .all-latest-blog-list .latest-blog-itm .blog-itm .blog-itm-des {
    padding-right: 2rem;
  }
}
.blog-middle-cont .all-latest-blog-list .latest-blog-itm .blog-itm .blog-itm-img {
  width: 30%;
}
.blog-middle-cont .all-latest-blog-list .latest-blog-itm .blog-itm .blog-itm-img .img-blog {
  width: 100%;
  height: 155px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
@media (max-width: 992px) {
  .blog-middle-cont .all-latest-blog-list .latest-blog-itm .blog-itm .blog-itm-img .img-blog {
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 10px;
  }
}
@media (max-width: 590px) {
  .blog-middle-cont .all-latest-blog-list .latest-blog-itm .blog-itm .blog-itm-img .img-blog {
    height: 100px;
  }
}
.blog-middle-cont .single-blog-con .single-blog-img {
  margin-bottom: 2rem;
}
.blog-middle-cont .single-blog-con .single-blog-img img {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
@media (max-width: 992px) {
  .blog-middle-cont .single-blog-con .single-blog-img img {
    height: 350px;
  }
}
@media (max-width: 590px) {
  .blog-middle-cont .single-blog-con .single-blog-img img {
    height: 250px;
  }
}
.blog-middle-cont .single-blog-con .single-blog-des h3 {
  font-size: 2.25rem;
  color: #221F20;
  font-family: "PoppinsSemiBold", sans-serif;
  margin-bottom: 10px;
}
.blog-middle-cont .single-blog-con .single-blog-des .des-cont {
  color: #707070;
}
.blog-middle-cont .single-blog-con .single-blog-des .des-cont a {
  color: #0C71B9;
  text-decoration: none;
}
.blog-middle-cont .blog-middle-left {
  position: relative;
  z-index: 9;
}
.blog-middle-cont .blog-middle-left .heading-sec {
  padding-bottom: 2rem;
}
@media (max-width: 992px) {
  .blog-middle-cont .blog-middle-left .heading-sec {
    padding-right: 0;
  }
}
@media screen and (max-width: 767px) {
  .blog-middle-cont .blog-middle-left {
    padding-right: 0;
  }
}
.blog-middle-cont .blog-middle-left .single-blog-con .single-blog-des .tag-act {
  color: #9F9F9F;
  font-family: "PoppinsRegular", sans-serif;
}
.blog-middle-cont .blog-middle-right {
  padding-left: 3rem;
}
@media (max-width: 992px) {
  .blog-middle-cont .blog-middle-right {
    padding-left: 0;
  }
}
.blog-middle-cont .blog-middle-right .heading-sec p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: initial;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
@media screen and (max-width: 767px) {
  .blog-middle-cont .blog-middle-right {
    padding-left: 0;
  }
}
@media screen and (max-width: 992px) {
  .blog-middle-cont {
    padding: 5rem 0 0 0;
  }
}

.fable-blog-List {
  padding: 2rem 0 15rem 0;
  position: relative;
  overflow: hidden;
}
.fable-blog-List .fable-list-menu {
  margin-bottom: 3rem;
  position: relative;
}
.fable-blog-List .fable-list-menu > ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: inherit;
  top: -5rem;
  justify-content: space-between;
}
.fable-blog-List .fable-list-menu > ul > li {
  margin: 0 2rem;
}
.fable-blog-List .fable-list-menu > ul > li .link-txt {
  color: rgba(34, 31, 32, 0.7490196078);
  display: block;
  position: relative;
  text-decoration: none;
  font-family: "PoppinsMedium", sans-serif;
  border: 0;
  font-size: 1.375rem;
}
@media (max-width: 992px) {
  .fable-blog-List .fable-list-menu > ul > li .link-txt {
    padding: 1rem 0;
    white-space: nowrap;
  }
}
.fable-blog-List .fable-list-menu > ul > li .link-txt.link-active {
  font-family: "PoppinsSemiBold", sans-serif;
}
.fable-blog-List .fable-list-menu > ul > li .link-txt.link-active::before {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  display: block;
  background: #221F20;
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 2px;
}
@media (max-width: 992px) {
  .fable-blog-List .fable-list-menu > ul > li .link-txt.link-active::before {
    bottom: 0;
  }
}
.fable-blog-List .fable-list-menu > ul > li .link-txt:hover::before {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  display: block;
  background: #221F20;
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 2px;
}
@media (max-width: 992px) {
  .fable-blog-List .fable-list-menu > ul > li .link-txt:hover::before {
    bottom: 0;
  }
}
@media (max-width: 992px) {
  .fable-blog-List .fable-list-menu > ul {
    overflow: auto;
  }
}
.fable-blog-List .tab-blog-list {
  display: flex;
  margin-top: 4rem;
  margin-left: -3%;
  position: relative;
  flex-wrap: wrap;
  z-index: 9;
  padding-bottom: 8rem;
}
@media (max-width: 992px) {
  .fable-blog-List .tab-blog-list {
    padding-bottom: 0;
    margin-top: 0;
  }
}
.fable-blog-List .tab-blog-list .tab-blog-item {
  width: 30%;
  margin-left: 3%;
  border-radius: 20px;
  background: #ffffff;
  text-decoration: none;
}
.fable-blog-List .tab-blog-list .tab-blog-item .blog-item-img img {
  width: 100%;
  border-radius: 20px 20px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 767px) {
  .fable-blog-List .tab-blog-list .tab-blog-item .blog-item-img img {
    height: 200px;
  }
}
.fable-blog-List .tab-blog-list .tab-blog-item .blog-item-des {
  padding: 2rem;
}
.fable-blog-List .tab-blog-list .tab-blog-item .blog-item-des h4 {
  font-size: 1.5rem;
  line-height: 1.6;
  color: #221F20;
  font-family: "PoppinsSemiBold", sans-serif;
  margin-bottom: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: initial;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.fable-blog-List .tab-blog-list .tab-blog-item .blog-item-des p {
  font-size: 1.3rem;
  color: #707070;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: initial;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.fable-blog-List .tab-blog-list .tab-blog-item .blog-item-des .sm-text {
  font-size: 1rem;
  color: #707070;
  font-family: "PoppinsRegular", sans-serif;
}
@media screen and (max-width: 767px) {
  .fable-blog-List .tab-blog-list .tab-blog-item {
    width: 97%;
    margin-bottom: 3rem;
  }
}
.fable-blog-List::before {
  content: "";
  width: 24rem;
  height: 46rem;
  display: block;
  position: absolute;
  background: url(../../assets/images/fable/fable-circle-left.svg) no-repeat top left;
  background-size: contain;
  left: 0;
  bottom: -8rem;
}
@media screen and (max-width: 992px) {
  .fable-blog-List::before {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .fable-blog-List {
    padding: 2rem 0 10rem 0;
  }
}
@media screen and (max-width: 767px) {
  .fable-blog-List {
    padding: 2rem 0 5rem 0;
  }
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}/*# sourceMappingURL=fable.css.map */