@import '../../assets/css/customvariable.scss';






// banner section
.stockbanner{
    padding: 12rem 0;
    background-color: #F6F6F6;
    @media (max-width:$sm) {
        padding: 4rem 0;
    }
    .highlightblue{
        color: $gradientclr2;
    }
    .text{
        width: 90%;
        padding-bottom: 14px;
        @media (max-width:$sm) {
            width: 100%;
        }
        .btn-read{
            font-weight: 700;
            font-style: normal;
            font-size: 1.75rem;
            @media (max-width:$sm) {
                font-size: 1.5rem;
            }
        }
    }
    .details{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        @media (max-width:$sm) {
            justify-content: flex-end;
            flex-direction: column-reverse;
            bottom: 24px;
            right: 9px;
            z-index: 999999;
        }
        .navigation{
            padding: 12px ;
            border-radius: 12px;
            border: 1px solid #FFFFFF;
            background-color: #fff;
            box-shadow: 0px 0px 24px $stockboxshadow;
            @media (max-width:$sm) {
                border-radius: 50%;
                margin-top: 3rem;
                position: fixed;
                z-index: 999;
                bottom: 25px;
                right: 16px;
                padding: 0;
                width: 42px;
                height: 42px;
                border-radius: 50%;
                justify-content: center;
                display: flex;
                align-items: center;

            }
        }
        .calldetail{
            margin-left: 1.5rem;
            .calldetail2{
                display: inline-flex;
                align-items: center;
                justify-content: center;
                @media (max-width:$sm) {
                    background-color: #fff;
                    text-decoration: none;
                    border-radius: 60px;
                    height: 30px;
                    overflow:hidden;
                    width: auto;
                    max-width: 42px;
                    transition: max-width 0.3s;
                    box-shadow: 0 0 10px #C8C8C8;
                 
                .calldetail2:hover {
                    max-width: 300px;
                  }
                  .text{
                    white-space: nowrap;
                    padding: 3rem;
                    padding-right: 1.5rem;
                    font-size: 1.2rem;
                  }
                
            }
            .callwrap{
                background: url(../../assets/images/stock-broker-mumbai/call.gif) no-repeat;
                background-position: center;
                background-size: cover;
                width: 55px;
                height: 55px;
                margin-right: 15px;
                padding: 0px 30px;
                align-items: center;
                display: inline-flex;
                 @media (max-width:$sm) {
                        width: 42px;
                        height: 42px;
                        padding: 0;
                        position: absolute;
                        left: 0;
                        box-shadow: 0 0 10px #C8C8C8;
                 }
              }
            }

            @media (max-width:$sm) {
                margin-left: 0;
                position: fixed;
                bottom: 90px;
                z-index: 99999;
                right: 16px;
                
            }
          
           
            a{
                padding-left: 1rem;
                text-decoration: none;
                color: $primary;
                @media (max-width:$sm) {
                  
                    overflow:hidden;
                width: auto;
                max-width: 32px;
                transition: max-width 0.5s;
                    }
                    .callwrap{
                        padding: 14px 10px 16px;
                        border-radius: 12px;
                        border: 1px solid #FFFFFF;
                        background-color: #fff;
                        box-shadow: 0px 0px 24px $stockboxshadow;
                        
                        @media (max-width:$sm) {
                            border-radius: 50%;
                           
                        }
                       
                    }
                    .text{
                        padding-left:1rem ;
                        @media (max-width:$sm) {
                            border-radius: 50%;
                            background: #fff;
                            padding: 0.3rem;
                            border-radius: 11px;
                            white-space: nowrap;
                        }
                    }
                    &:hover{
                        max-width: 300px;
                    }
            }
            
        }
    }
    .companydetail{
        background-color: $primary;
        border-radius: 16px;
        margin-top: 4rem;
        padding: 18px 15px;
        display: flex;
        justify-content: space-between;
        width: 90%;
        @media (max-width:$sm) {
            padding: 18px 0 18px 15px;
            width: 100%;
        }
        .address{
            width: 50%;
            border-right: 1px solid #989898;
            .heading{
                color: $whiteColor;
                font-size: 14px;
                line-height: 22px;
            }
            .text{
                color: #CFCFCF;    
                font-size: 14px;
                line-height: 22px;
                width: 98% !important;
                .day{
                    width: 50%;
                }
            }
        }
        .timing{
            width: 50%;
            padding-left: 2rem;
            @media (max-width:$sm) {
                padding-left: 1.5rem;
            }
            .heading{
                color: $whiteColor;
                font-size: 14px;
                line-height: 22px;
            }
            .text{
                color: #CFCFCF;    
                font-size: 14px;
                line-height: 22px;
                display: flex;
                @media (max-width:$sm) {
                    flex-direction: column;
                }
                .day{
                    width: 50%;
                    @media (max-width:$sm) {
                        width: 100%;
                    }
                }
                .time{
                    width: 50%;
                    @media (max-width:$sm) {
                        width: 100%;
                    }
                }
            }
        }
    }
}
// end banner section


// financial service
.financialservices{
    padding: 8.5rem 0;
    .services-list{
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        .service-item{
            padding: 1.5rem 2rem;
            border: 1px solid #C8C8C8;
            border-radius: 12px;
            margin:2rem 1rem;
            width: 19%;
            text-align: center;
            .slick-dots{
                @media (max-width:$sm) {
                    bottom: -45px;
                }

            }
            @media (max-width:$sm) {
                width: 75% !important;
                display: block !important;
                margin: 0 auto ;
               
            }
            h5{
                margin-top: 1.5rem;
                color: #333333;
                font-size: 1.5rem;
                line-height: 1.875rem;
            }
            &:hover{
                background-color: #0068B3;
                h5{
                    color: #fff;
                }
                svg{
                    path{
                        fill: #fff;
                    }
                  
                }
            }
        }
    }
}
// end financial services

// open now section

.openaccount-sec{
    padding: 2rem 0 8.5rem 0;
    .wrapper{
        background-image: url(../../assets/images/stock-broker-mumbai/open-now-bg.svg);
        background-size: cover;
        object-fit: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 16px;
        padding: 60px;
        display: flex;
        align-items: center;
        @media (max-width:$sm) {
            flex-direction: column;
            padding: 35px;
        }
        .left-sec{
            width: 60%;
            @media (max-width:$sm) {
                width: 100%;
            }
            .title-secnd{
                font-size: 2.5rem;
                @media (max-width:$sm) {
                    font-size: 2rem;
                }
                .free{
                    background-image: url(../../assets/images/stock-broker-mumbai/zigzag-bg.svg);
                    background-size: contain;
                    object-fit: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                    padding: 1.7rem;
                    color: #0068B3;
                  
                    line-height: 3.125rem;
    
                }
                .borderbottom{
                   position: relative;
                   z-index: 1;
                   @media (max-width:$sm) {
                    font-size: 2.5rem;
                }
                   &:before{
                    content: '';
                    position: absolute;
                    display: block;
                    height: 5px;
                    width: 100%;
                    right: 0;
                    top: 25px;
                    background-image: url(../../assets/images/stock-broker-mumbai/line.svg);
                    background-repeat: no-repeat;
                    background-size: cover;
                    z-index: -1;
                    @media (max-width:$sm) {
                        width: 260px;
                        top: 69px;
                    }
                   }
                }
            }
         
            .listing{
                margin-top: 3.5rem;
                @media (max-width:$sm) {
                    margin: 2.5rem 0;
                 }
                .firstrow, .secondrow{
                    display: flex;
                    @media (max-width:$sm) {
                       flex-direction: column;
                    }
                    .texting{
                        width: 50%;
                        position: relative;
                        display: flex;
                        align-items: center;
                        padding-bottom: 1.375rem;
                        @media (max-width:$sm) {
                            width: 100%;
                        }
                        &:before{
                            content: '';
                            position: absolute;
                            display: block;
                            width: 20px;
                            height: 20px;
                           
                            background-image: url(../../assets/images/stock-broker-mumbai/tick.svg);
                            background-repeat: no-repeat;
                            background-size: cover;
                        }
                        span{
                            padding-left: 2.5rem;
                            font-size:1.5rem;
                            line-height: 2rem;
                            color: #000000;
                        }
                    }
                }
            }
        }
        .right-sec{
            width: 40%;
            text-align: right;
            @media (max-width:$sm) {
                width: 100%;
                text-align: left;
            }
            .btn-bg-dark{
                position: relative;
                padding: 1.3rem 2rem !important;
                text-align: left;
                &::before{
                    content: '';
                    position: absolute;
                    display: block;
                    width: 24px;
                    height: 24px;
                    background-image: url(../../assets/images/stock-broker-mumbai/arrow.svg);
                    background-repeat: no-repeat;
                    background-size: cover;
                    top: 19px;
                    right: 15px;
                }
            }
        }
    }
    
}




.branch{
    padding: 6rem 0;
    @media (max-width:$sm) {
        padding: 0 0 6rem 0;
      }
    .branchsubtext{
        @media (max-width:$sm) {
          margin-bottom: 0 !important;
        }
    }
    .branches-list{
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        .branch-item{
            padding: 1rem 2.5rem;
            border-radius: 12px;
            width: 15%;
            text-align: center;
            @media (max-width:$sm) {
                width: 50%;
            }
            h5{
                margin-top: 1.5rem;
                color: #333333;
                font-size: 1.5rem;
                line-height: 1.875rem;
                font-weight: 600;
            }
            img{
                margin: 0 auto;
            }
            &:hover{
                h5{
                    color: #0068B3;
                }
            }
        }
    }
}

// best in mumbai
.best-in-mumbai{
    padding: 12rem 0;
    background-color: #F6F6F6;
    align-items: center;
    @media (max-width:$sm) {
        padding: 6rem 0;
    }
    .left-sec{
        .btn-read{
            font-style: normal;
            font-size: 1.75rem;
            color: #707070;
            @media (max-width:$sm) {
                font-size: 1.5rem;
            }
        }
    }
    .right-sec{
        display: flex;
        align-items: center;
        justify-content: center;
       
            @media (max-width:$sm) {
                display: none;
            }
       
        
    }
}
// end best in mumbai section