@import '../../assets/css/common.scss';
@import '../../assets/css/customvariable.scss';



.code-mainwrapper {
    .head {
        color: #221F20;
        font-weight: 600;
        margin-bottom: 1.8rem;
        margin-top: 1rem;
        font-size: 1.7rem;
    }

    ul li {
        margin-bottom: 2rem;
        color: #707070;
    }
}







