/*Bootstrap Override*/
/*Font family*/
/*bg varibales*/
/*textvaribales*/
/*Shadow color*/
/*Responsive screen width*/
@font-face {
  font-family: "PoppinsMedium";
  src: url("../fonts/PoppinsMedium.eot");
  src: url("../fonts/PoppinsMedium.eot") format("embedded-opentype"), url("../fonts/PoppinsMedium.woff2") format("woff2"), url("../fonts/PoppinsMedium.woff") format("woff"), url("../fonts/PoppinsMedium.ttf") format("truetype"), url("../fonts/PoppinsMedium.svg#PoppinsMedium") format("svg");
  font-display: swap;
}
@font-face {
  font-family: "PoppinsRegular";
  src: url("../fonts/PoppinsRegular.eot");
  src: url("../fonts/PoppinsRegular.eot") format("embedded-opentype"), url("../fonts/PoppinsRegular.woff2") format("woff2"), url("../fonts/PoppinsRegular.woff") format("woff"), url("../fonts/PoppinsRegular.ttf") format("truetype"), url("../fonts/PoppinsRegular.svg#PoppinsRegular") format("svg");
  font-display: swap;
}
@font-face {
  font-family: "PoppinsSemiBold";
  src: url("../fonts/PoppinsSemiBold.eot");
  src: url("../fonts/PoppinsSemiBold.eot") format("embedded-opentype"), url("../fonts/PoppinsSemiBold.woff2") format("woff2"), url("../fonts/PoppinsSemiBold.woff") format("woff"), url("../fonts/PoppinsSemiBold.ttf") format("truetype"), url("../fonts/PoppinsSemiBold.svg#PoppinsSemiBold") format("svg");
  font-display: swap;
}
@font-face {
  font-family: "PoppinsBold";
  src: url("../fonts/PoppinsBold.eot");
  src: url("../fonts/PoppinsBold.eot") format("embedded-opentype"), url("../fonts/PoppinsBold.woff2") format("woff2"), url("../fonts/PoppinsBold.woff") format("woff"), url("../fonts/PoppinsBold.ttf") format("truetype"), url("../fonts/PoppinsBold.svg#PoppinsBold") format("svg");
  font-display: swap;
}
@font-face {
  font-family: "RedHatDisplayBold";
  src: url("../fonts/RedHatDisplayBold.eot");
  src: url("../fonts/RedHatDisplayBold.eot") format("embedded-opentype"), url("../fonts/RedHatDisplayBold.woff2") format("woff2"), url("../fonts/RedHatDisplayBold.woff") format("woff"), url("../fonts/RedHatDisplayBold.ttf") format("truetype"), url("../fonts/RedHatDisplayBold.svg#RedHatDisplayBold") format("svg");
  font-display: swap;
}
@font-face {
  font-family: "Poppins-Regular";
  src: url("../fonts/Poppins-Regular.eot");
  src: url("../fonts/Poppins-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Regular.svg#Poppins-Regular") format("svg"), url("../fonts/Poppins-Regular.ttf") format("truetype"), url("../fonts/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
/*Bootstrap Override*/
/*Font family*/
/*bg varibales*/
/*textvaribales*/
/*Shadow color*/
/*Responsive screen width*/
.btn-bg {
  font-family: "PoppinsSemiBold", sans-serif;
  color: #ffffff !important;
  background: #221F20 !important;
  padding: 1.3rem 2.8rem !important;
  display: inline-block;
  border-radius: 16px !important;
  min-width: 16rem;
  font-size: 1.5rem !important;
  text-align: center;
  text-decoration: none;
  border: 0 !important;
  outline: none !important;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.btn-bg:hover {
  background: #FFCE02 !important;
  color: #221F20 !important;
}
.btn-bg:focus, .btn-bg:active, .btn-bg:not(:disabled):not(.disabled):active, .btn-bg:not(:disabled):not(.disabled).active {
  outline: none;
}
.btn-bg.btn-bg-dark {
  background: #FFCE02 !important;
  color: #221F20 !important;
}
.btn-bg.btn-bg-dark:hover {
  background: #ffffff !important;
}
.btn-bg.btn-light {
  background-color: #ffffff !important;
  color: #221F20 !important;
}
.btn-bg.btn-light:hover {
  background: #FFCE02 !important;
  color: #221F20 !important;
}

.link-nrl {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0066B3;
  width: auto;
  border-radius: 100px;
  padding: 0.8rem 2rem;
  margin-right: 2.5rem;
  text-decoration: none;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
  position: relative;
  font-family: "PoppinsRegular", sans-serif;
  min-height: 4rem;
}
.link-nrl img {
  margin-right: 0.5rem;
}
.link-nrl.white {
  background-color: #F5F5F5;
}
.link-nrl.white:hover {
  background-color: #FFCE02;
}
.link-nrl .img-ico {
  width: 17rem;
  display: block;
}
@media (max-width: 768px) {
  .link-nrl .img-ico {
    width: 8rem;
  }
}
.link-nrl .whitecolor {
  color: #ffffff;
  font-size: 1.7rem;
}
@media (max-width: 768px) {
  .link-nrl .whitecolor {
    font-size: 16px;
  }
}
.link-nrl .blackcolor {
  color: #13151A;
  font-size: 1.25rem;
}
@media (max-width: 768px) {
  .link-nrl .blackcolor {
    font-size: 16px;
  }
}
.link-nrl:hover {
  transform: translateY(-8px);
}
@media (max-width: 768px) {
  .link-nrl {
    margin-right: 1rem;
    width: 42%;
    margin-bottom: 1rem;
    padding: 8px;
  }
}
.link-nrl.link-nrl-sm {
  width: auto;
  padding: 0.5rem 1.5rem;
  margin-right: 1.5rem;
  white-space: nowrap;
}
.link-nrl.link-nrl-sm .whitecolor {
  color: #ffffff;
  font-size: 15px;
  color: #ffffff;
  font-size: 16px;
}
.link-nrl.link-nrl-sm .blackcolor {
  color: #13151A;
  font-size: 16px;
}
.link-nrl.link-nrl-sm.white {
  background-color: #F5F5F5;
}
.link-nrl.link-nrl-sm.white:hover {
  background-color: #FFCE02;
}
.link-nrl.link-nrl-sm:hover {
  transform: translateY(-8px);
}
@media (min-width: 767px) and (max-width: 768px) {
  .link-nrl.link-nrl-sm {
    width: 42%;
    margin-bottom: 1rem;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .link-nrl.link-nrl-sm {
    margin-bottom: 1rem;
  }
}
@media (min-width: 1025px) and (max-width: 1200px) {
  .link-nrl.link-nrl-sm {
    width: 55%;
    margin-bottom: 1rem;
  }
}
.link-nrl.link-nrl-sm img {
  display: block;
}
.link-nrl.link-nrl-sm span {
  padding-left: 10px;
}
@media (max-width: 768px) {
  .link-nrl.link-nrl-sm {
    margin-right: 0.5rem;
  }
}
.link-nrl .ico-sm {
  margin-right: 0.8rem;
}

.scroll-top {
  position: fixed;
  right: 30px;
  bottom: 70px;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  border: 0;
  font-size: 1.9rem;
  z-index: 9999;
  color: #ffffff;
  background: #FFCE02;
  box-shadow: 0px 0px 8px #d6d6d6;
}
@media (max-width: 767px) {
  .scroll-top {
    display: none;
  }
}
.scroll-top .fa-angle-up {
  animation: bounce 1600ms infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

@keyframes bounce {
  50% {
    transform: translateY(-8px);
  }
}
p {
  font-family: "PoppinsRegular", sans-serif, sans-serif;
  font-size: 1.375rem;
  line-height: 2.15rem;
}

.text-danger {
  font-family: "PoppinsRegular", sans-serif;
  margin-top: 0.5rem;
  display: block;
  font-size: 1.2rem;
}

@media only screen and (min-width: 1200px) {
  html {
    font-size: 11px;
  }
}
@media only screen and (min-width: 1400px) {
  html {
    font-size: 13px;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 12px;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 12px;
  }
}
@media (max-width: 320px) {
  html {
    font-size: 11px;
  }
}

body {
  font-family: "PoppinsRegular", sans-serif, sans-serif;
  font-size: 1.4rem;
  color: #221F20;
}

.title-first {
  font-size: 3.5rem;
  line-height: 1.5;
  color: #221F20;
  font-weight: 600;
  font-family: "PoppinsSemiBold", sans-serif;
}
@media (max-width: 767px) {
  .title-first {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }
  .title-first br {
    display: none;
  }
}

.title-secnd {
  font-size: 3rem;
  color: #221F20;
  font-family: "PoppinsSemiBold", sans-serif;
}
@media (max-width: 767px) {
  .title-secnd {
    font-size: 2rem;
    line-height: 3rem;
  }
}

.title-third {
  font-size: 3.25rem;
  color: #221F20;
  font-family: "PoppinsSemiBold", sans-serif;
}
@media (max-width: 767px) {
  .title-third {
    font-size: 1.8rem;
  }
}

.title-fourth {
  font-size: 1.6rem;
  margin: 1.5rem 0;
  font-family: "PoppinsSemiBold", sans-serif;
  color: #221F20;
}

.heading-sec p {
  color: #707070;
  font-size: 1.75rem;
  line-height: 2.625rem;
  font-family: "PoppinsRegular", sans-serif, sans-serif;
}
@media (max-width: 767px) {
  .heading-sec p {
    font-size: 1.5rem;
  }
}
@media (max-width: 768px) {
  .heading-sec p br {
    display: none;
  }
}
.heading-sec p.nm-text {
  font-size: 1.4rem;
  line-height: 2.15rem;
  color: #221F20;
}
.heading-sec .title-secnd {
  margin-bottom: 2rem;
}
@media (max-width: 992px) {
  .heading-sec .title-secnd {
    margin-bottom: 1.2rem;
  }
}
.heading-sec .title-first {
  text-shadow: inherit;
  margin-bottom: 2rem;
}

.big-ttl {
  font-size: 4.125rem;
  font-family: "PoppinsBold", sans-serif;
  color: #221F20;
  line-height: 1.4;
}
@media screen and (max-width: 992px) {
  .big-ttl {
    font-size: 3rem;
  }
}

/*box shadow*/
.box-shadow, .btn-bg.btn-bg-dark:hover {
  box-shadow: 0px 0px 8px #F0F0F0;
}

.light-box-shadow {
  box-shadow: 0px 0px 8px #F0F0F0;
}

.App-Body {
  min-height: 100vh;
  margin-top: 9.25rem;
}
@media screen and (max-width: 767px) {
  .App-Body {
    display: block;
    width: 100%;
    overflow: inherit;
  }
}
@media screen and (max-width: 992px) {
  .App-Body {
    margin-top: 8.45rem;
  }
}
@media screen and (max-width: 590px) {
  .App-Body {
    margin-top: 6rem;
  }
}

.App {
  width: 100%;
  margin: 0 auto;
  overflow: inherit;
}

.modal-backdrop {
  z-index: 99999 !important;
}

.modal {
  z-index: 99999 !important;
}
@keyframes toTopFromBottom {
  49% {
    transform: translateY(-100%);
  }
  50% {
    opacity: 0;
    transform: translateY(100%);
  }
  51% {
    opacity: 1;
  }
}
.common-modal-thankyou .modal-content .modal-header {
  border: 0;
}
.common-modal-thankyou .modal-content .modal-body {
  padding: 2rem;
  padding-bottom: 1.5em;
  text-align: center;
}
.common-modal-thankyou .modal-content .modal-body h4 {
  margin-top: 1rem;
  font-family: "PoppinsMedium", sans-serif;
  color: #221F20;
  font-size: 1.65rem;
}
.common-modal-thankyou .modal-content .modal-body h3 {
  font-family: "PoppinsMedium", sans-serif;
  color: #221F20;
  margin-top: 2rem;
}
.common-modal-thankyou .modal-content .modal-footer {
  text-align: center;
  justify-content: center;
  border: 0;
  padding-bottom: 1.5em;
}
.common-modal-thankyou .modal-content .modal-footer .btn-yellow {
  background-color: #FFCE02;
  border-radius: 27px;
  color: #221F20;
  font-size: 1.5rem;
  line-height: 1.375rem;
  font-family: "PoppinsSemiBold", sans-serif;
  display: inline-block;
  border: none;
  padding: 0.8rem 2rem;
  margin-top: 1rem 0;
}

/* common card styling */
.carditem-nbfc {
  background: #ffffff;
  box-shadow: 0px 0px 8px #F0F0F0;
  border-radius: 20px;
  padding: 2.5rem 2rem;
  text-decoration: none;
  display: block !important;
  width: 90% !important;
  margin: 0 auto;
  height: 100%;
  min-height: 17rem;
  text-align: center;
}
@media (min-width: 768px) and (max-width: 992px) {
  .carditem-nbfc {
    padding: 1.8rem;
    font-size: 1.1rem;
  }
}
.carditem-nbfc:hover .cardimg .img {
  animation: toTopFromBottom 0.5s forwards;
}
.carditem-nbfc .cardimg {
  display: inline-block;
  overflow: hidden;
  height: 54px;
  font-size: 0.8rem;
}
.carditem-nbfc .card-ttl {
  font-size: 1.625rem;
  line-height: 1.5;
  font-family: "PoppinsSemiBold", sans-serif;
  color: #221F20;
  margin: 1rem 0 0 0;
}
.carditem-nbfc .subtext {
  font-size: 1.3rem;
  line-height: 1.9rem;
  margin: 1rem 0 0 0;
  color: #221F20;
  font-family: "PoppinsRegular", sans-serif;
}
@media (min-width: 768px) and (max-width: 992px) {
  .carditem-nbfc .subtext {
    font-size: 1.1rem;
  }
}

.grecaptcha-badge {
  z-index: 999999999;
}

.float-right {
  float: right;
}

.text-danger {
  font-size: 1.2rem;
  font-family: "PoppinsRegular", sans-serif;
  margin-top: 0.5rem;
  display: block;
}

.banner-title2 {
  font-family: "PoppinsSemiBold", sans-serif;
  color: #FFCE02;
  font-size: 2.1rem;
  margin-bottom: 2rem;
  display: block;
}
@media (max-width: 767px) {
  .banner-title2 {
    text-align: center;
    margin-bottom: 1rem;
  }
}
.banner-title2.mf-ttl {
  color: #0066B3;
  display: block !important;
  font-size: 2.4rem;
}
.banner-title2.mobile {
  display: none;
}

.term_link {
  text-decoration: none;
}

.sticy-card-sub-new {
  position: relative;
  padding: 3rem;
  background: #004393;
  background-size: cover;
  border-radius: 14px;
  margin: 0;
  width: 100%;
  transition-duration: 0.6s;
}
.sticy-card-sub-new .title-secnd {
  color: #fff;
  padding-bottom: 1rem;
}
@media (max-width: 992px) {
  .sticy-card-sub-new .title-secnd {
    font-size: 2rem;
  }
}
.sticy-card-sub-new ul {
  list-style: none;
  padding: 0;
}
.sticy-card-sub-new ul li {
  padding: 1rem 0;
  display: flex;
  align-items: center;
}
.sticy-card-sub-new ul li .bx-icon {
  padding-right: 1rem;
}
.sticy-card-sub-new ul li .bx-text {
  color: #ffffff;
  font-family: "PoppinsMedium", sans-serif;
  font-size: 1.7rem;
  white-space: nowrap;
}
.sticy-card-sub-new ul li .bx-text .fw-regular {
  font-family: "PoppinsRegular", sans-serif;
}
@media (max-width: 992px) {
  .sticy-card-sub-new ul li {
    display: flex;
    align-items: center;
  }
}
.sticy-card-sub-new .btn-open {
  padding-top: 2rem;
}
@media (max-width: 992px) {
  .sticy-card-sub-new {
    padding: 2rem;
    width: 40%;
  }
}
.sticy-card-sub-new.sub-new-small .title-secnd {
  font-size: 2.5rem;
}
@media (max-width: 992px) {
  .sticy-card-sub-new.sub-new-small .title-secnd {
    font-size: 1.7rem;
  }
}
@media (max-width: 767px) {
  .sticy-card-sub-new.sub-new-small .title-secnd {
    font-size: 2rem;
  }
}
.sticy-card-sub-new.sub-new-small ul li .bx-icon .svg-fill {
  height: 31px;
}
.sticy-card-sub-new.sub-new-small ul li .bx-text {
  font-size: 1.375rem;
}
@media (max-width: 992px) {
  .sticy-card-sub-new.sub-new-small ul li .bx-text {
    font-size: 1.3rem;
  }
}
@media (max-width: 767px) {
  .sticy-card-sub-new.sub-new-small ul li .bx-text {
    white-space: initial;
  }
}
@media (max-width: 992px) {
  .sticy-card-sub-new.sub-new-small .btn-open {
    padding-top: 1rem;
  }
}
@media (max-width: 767px) {
  .sticy-card-sub-new.sub-new-small .btn-open .btn-bg {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .sticy-card-sub-new.sub-new-small {
    padding: 2rem 1.5rem 2rem;
    width: 100%;
  }
}

/*Bootstrap Override*/
/*Font family*/
/*bg varibales*/
/*textvaribales*/
/*Shadow color*/
/*Responsive screen width*/
.banner-section {
  background: #ffffff;
  padding: 4rem 0 10rem;
}
@media (max-width: 992px) {
  .banner-section {
    padding: 4rem 0 6rem;
  }
}
.banner-section .banner-ttle p {
  font-size: 1.75rem;
  line-height: 1.5;
  font-family: "PoppinsRegular", sans-serif;
  padding-top: 2rem;
}
@media (max-width: 767px) {
  .banner-section .banner-ttle p {
    font-size: 1.231rem;
  }
}
@media (max-width: 767px) {
  .banner-section .field-sec {
    margin-top: 0;
  }
}
.banner-section .field-sec .tabs-btn {
  position: relative;
  top: 5rem;
}
.banner-section .field-sec .tabs-btn .tabs-list {
  justify-content: center;
  max-width: 58rem;
}
@media (max-width: 992px) {
  .banner-section .field-sec .tabs-btn .tabs-list {
    justify-content: flex-start;
  }
}
.banner-section .field-sec .tabs-btn .list_group1 {
  background-color: #ffffff;
  border-radius: 1.231rem;
  box-shadow: 0 3px 6px #C8C8D6;
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
}
.banner-section .field-sec .tabs-btn .list_group1 .list-group-item {
  background: #ffffff;
  border: none;
  border-radius: 1.375rem;
  color: #221F20;
  cursor: pointer;
  font-family: "PoppinsMedium", sans-serif;
  font-size: 1.385rem;
  line-height: 2.077rem;
  padding: 0.8rem 1rem;
  text-align: center;
  text-decoration: none;
  width: 100%;
}
.banner-section .field-sec .tabs-btn .list_group1 .list-group-item.active {
  background-color: rgba(0, 102, 178, 0.1);
  color: #0066B3;
}
@media (max-width: 767px) {
  .banner-section .field-sec .tabs-btn {
    top: 2.5rem;
  }
}
.banner-section .field-sec .content-tabs .content {
  display: none;
}
.banner-section .field-sec .content-tabs .content.active-content {
  display: block;
}
.banner-section .field-sec .content-tabs .content .form-section {
  display: flex;
  justify-content: space-between;
}
.banner-section .field-sec .content-tabs .content .form-section .left-sec {
  width: 56%;
  padding-top: 8rem;
}
@media (max-width: 992px) {
  .banner-section .field-sec .content-tabs .content .form-section .left-sec {
    width: 48%;
    padding-top: 7rem;
  }
}
@media (max-width: 767px) {
  .banner-section .field-sec .content-tabs .content .form-section .left-sec {
    width: 100%;
    padding-top: 5rem;
  }
}
.banner-section .field-sec .content-tabs .content .form-section .left-sec .row-sec {
  padding-bottom: 2rem;
  align-items: center;
  justify-content: center;
}
.banner-section .field-sec .content-tabs .content .form-section .left-sec .row-sec .frm-label {
  font-size: 1.385rem;
  font-family: "PoppinsMedium", sans-serif;
  line-height: 1.5;
  margin: 0;
}
@media (max-width: 992px) {
  .banner-section .field-sec .content-tabs .content .form-section .left-sec .row-sec .frm-label {
    margin-bottom: 1rem;
  }
}
@media (max-width: 992px) {
  .banner-section .field-sec .content-tabs .content .form-section .left-sec .row-sec {
    padding-bottom: 3rem;
  }
}
@media (max-width: 767px) {
  .banner-section .field-sec .content-tabs .content .form-section .left-sec .row-sec {
    padding-bottom: 3rem;
  }
}
.banner-section .field-sec .content-tabs .content .form-section .left-sec .search-icon {
  background: url(../../assets/images/brokerage-calculator/search.svg) no-repeat center right 13px;
}
.banner-section .field-sec .content-tabs .content .form-section .left-sec .input-form {
  font-size: 1.385rem;
  font-family: "PoppinsRegular", sans-serif;
  line-height: 1.5;
  padding: 0.775rem 0;
  text-transform: uppercase;
  color: #221F20;
  text-align: right;
}
.banner-section .field-sec .content-tabs .content .form-section .left-sec .input-form:focus {
  box-shadow: none;
  border-color: #0066B2;
}
.banner-section .field-sec .content-tabs .content .form-section .left-sec .input-font {
  font-size: 1.385rem;
  font-family: "PoppinsRegular", sans-serif;
  line-height: 1.5;
  padding: 0.775rem 2.25rem 0.775rem 0.75rem;
  text-transform: uppercase;
  color: #221F20;
}
.banner-section .field-sec .content-tabs .content .form-section .left-sec .input-font:focus {
  box-shadow: none;
  border-color: #0066B2;
}
.banner-section .field-sec .content-tabs .content .form-section .left-sec .calculate-btn {
  text-align: center;
  padding-top: 1rem;
}
@media (max-width: 767px) {
  .banner-section .field-sec .content-tabs .content .form-section .left-sec .calculate-btn .btn-bg {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .banner-section .field-sec .content-tabs .content .form-section .left-sec .mobile-view {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media (max-width: 992px) {
  .banner-section .field-sec .content-tabs .content .form-section .left-sec .mobile-view .width-resp {
    width: 50%;
  }
}
.banner-section .field-sec .content-tabs .content .form-section .left-sec .mobile-view .width-resp .percent {
  background: url(../../assets/images/brokerage-calculator/perc.svg) no-repeat center right 13px;
}
.banner-section .field-sec .content-tabs .content .form-section .left-sec .mobile-view .width-resp .form-control2 {
  position: relative;
  background: #ffffff;
  display: flex;
  align-items: center;
}
.banner-section .field-sec .content-tabs .content .form-section .left-sec .mobile-view .width-resp .form-control2 .rupees-symble {
  position: absolute;
  left: 1rem;
  font-size: 1.385rem;
  color: #221F20;
  font-family: "PoppinsRegular", sans-serif;
}
.banner-section .field-sec .content-tabs .content .form-section .left-sec .mobile-view .width-resp .form-control2 .percent-symble {
  position: absolute;
  right: 1rem;
  font-size: 1.385rem;
  color: #221F20;
  font-family: "PoppinsRegular", sans-serif;
}
@media (max-width: 767px) {
  .banner-section .field-sec .content-tabs .content .form-section .left-sec .mobile-view .width-resp .form-control2 .percent-symble {
    top: 1rem;
  }
}
.banner-section .field-sec .content-tabs .content .form-section .left-sec .mobile-view .width-resp .form-control2 .years-symble {
  position: absolute;
  right: 1rem;
  font-size: 1.385rem;
  color: #221F20;
  font-family: "PoppinsRegular", sans-serif;
}
@media (max-width: 767px) {
  .banner-section .field-sec .content-tabs .content .form-section .left-sec .mobile-view .width-resp .form-control2 .years-symble {
    top: 1rem;
  }
}
.banner-section .field-sec .content-tabs .content .form-section .left-sec .mobile-view .width-resp .form-control2 .input-1 {
  padding-right: 1rem;
}
.banner-section .field-sec .content-tabs .content .form-section .left-sec .mobile-view .width-resp .form-control2 .input-2 {
  padding-right: 1.5rem;
}
@media (max-width: 992px) {
  .banner-section .field-sec .content-tabs .content .form-section .left-sec .mobile-view .width-resp .form-control2 .input-2 {
    padding-right: 3rem;
  }
}
.banner-section .field-sec .content-tabs .content .form-section .left-sec .mobile-view .width-resp .form-control2 .input-3 {
  padding-right: 2.5rem;
}
.banner-section .field-sec .content-tabs .content .form-section .left-sec .brokerage-search {
  position: relative;
  padding-bottom: 2rem;
}
.banner-section .field-sec .content-tabs .content .form-section .left-sec .brokerage-search .brokerage-search-result {
  position: absolute;
  z-index: 1;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  border-radius: 8px;
  background: #ffffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
@media (max-width: 992px) {
  .banner-section .field-sec .content-tabs .content .form-section .left-sec .brokerage-search .brokerage-search-result {
    max-height: 250px;
    overflow: auto;
  }
}
.banner-section .field-sec .content-tabs .content .form-section .left-sec .brokerage-search .brokerage-search-result .brokerage-search-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 1px solid #D9D9D9;
  cursor: pointer;
  padding: 0.5rem 1.154rem;
}
.banner-section .field-sec .content-tabs .content .form-section .left-sec .brokerage-search .brokerage-search-result .brokerage-search-list .symbol {
  text-align: left;
  width: 45%;
  font-size: 1.231rem;
  font-family: "PoppinsMedium", sans-serif;
}
@media (max-width: 992px) {
  .banner-section .field-sec .content-tabs .content .form-section .left-sec .brokerage-search .brokerage-search-result .brokerage-search-list .symbol {
    width: 100%;
  }
}
.banner-section .field-sec .content-tabs .content .form-section .left-sec .brokerage-search .brokerage-search-result .brokerage-search-list .name {
  width: 45%;
  font-size: 1.077rem;
  font-family: "PoppinsRegular", sans-serif;
  color: #666666;
}
@media (max-width: 992px) {
  .banner-section .field-sec .content-tabs .content .form-section .left-sec .brokerage-search .brokerage-search-result .brokerage-search-list .name {
    width: 80%;
  }
}
.banner-section .field-sec .content-tabs .content .form-section .left-sec .brokerage-search .brokerage-search-result .brokerage-search-list .exchange {
  width: 10%;
  font-size: 1.077rem;
  font-family: "PoppinsRegular", sans-serif;
  color: #666666;
  text-align: right;
}
.banner-section .field-sec .content-tabs .content .form-section .left-sec .brokerage-search .brokerage-search-result .brokerage-search-list:last-child {
  border-bottom: none;
}
.banner-section .field-sec .content-tabs .content .form-section .right-sec {
  width: 40%;
}
@media (max-width: 992px) {
  .banner-section .field-sec .content-tabs .content .form-section .right-sec {
    width: 48%;
  }
}
@media (max-width: 767px) {
  .banner-section .field-sec .content-tabs .content .form-section .right-sec {
    width: 100%;
    margin-top: 4rem;
  }
}
.banner-section .field-sec .content-tabs .content .form-section .right-sec .brokerage-card {
  background-color: #F3FAFF;
  border-radius: 10px;
  padding: 2rem;
}
@media (max-width: 992px) {
  .banner-section .field-sec .content-tabs .content .form-section .right-sec .brokerage-card {
    padding: 1rem;
  }
}
.banner-section .field-sec .content-tabs .content .form-section .right-sec .brokerage-card .card-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  list-style: none;
  padding: 0.5rem 0;
}
.banner-section .field-sec .content-tabs .content .form-section .right-sec .brokerage-card .card-flex .flex-items span {
  font-size: 1.231rem;
  font-family: "PoppinsRegular", sans-serif;
  color: #444444;
}
.banner-section .field-sec .content-tabs .content .form-section .right-sec .brokerage-card .card-flex .flex-items .text-bold {
  font-family: "PoppinsSemiBold", sans-serif;
  color: #221F20;
}
.banner-section .field-sec .content-tabs .content .form-section .right-sec .brokerage-card .card-flex .flex-items .font-danger {
  color: #EF404A;
  font-family: "PoppinsSemiBold", sans-serif;
}
.banner-section .field-sec .content-tabs .content .form-section .right-sec .brokerage-card .card-flex .flex-items .font-success {
  color: #00AE6F;
}
.banner-section .field-sec .content-tabs .content .form-section .right-sec .brokerage-card .card-flex .flex-items .txt-success {
  color: #00AE6F;
}
.banner-section .field-sec .content-tabs .content .form-section .right-sec .brokerage-card .card-flex.brd {
  height: 1px;
  background: #D9D9D9;
  padding: 0 !important;
  margin: 0.615rem 0 0.5rem !important;
}
.banner-section .field-sec .content-tabs .content .form-section .right-sec .brokerage-card .card-flex.brd-bottom {
  border-bottom: 1px solid #D9D9D9;
}
@media (max-width: 767px) {
  .banner-section .field-sec .content-tabs .content .form-section {
    flex-wrap: wrap;
  }
}

.open-free-accont {
  background: #221F20;
  padding: 6rem 0 0;
  position: relative;
  overflow: hidden;
}
.open-free-accont::after {
  content: "";
  background: url(../../assets/images/brokerage-calculator/bg-sec.webp) no-repeat;
  background-size: contain;
  display: block;
  width: 58.08rem;
  height: 100%;
  position: absolute;
  right: 0;
  z-index: 1;
  bottom: 0;
}
@media (max-width: 767px) {
  .open-free-accont::after {
    width: 45.08rem;
    right: -30rem;
    bottom: -20rem;
  }
}
.open-free-accont .columns {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.open-free-accont .columns .left-items {
  width: 65%;
}
@media (max-width: 992px) {
  .open-free-accont .columns .left-items {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .open-free-accont .columns .left-items {
    width: 100%;
    padding: 0 1rem;
  }
}
.open-free-accont .columns .left-items .benifits {
  display: flex;
  align-items: flex-end;
}
.open-free-accont .columns .left-items .benifits .benifits-section {
  width: 60%;
}
.open-free-accont .columns .left-items .benifits .benifits-section .card-bg {
  background: #F3FAFF;
  border-radius: 24px 24px 0px 0px;
  position: relative;
  padding: 3.5rem 2.5rem;
}
@media (max-width: 992px) {
  .open-free-accont .columns .left-items .benifits .benifits-section .card-bg {
    padding: 3.5rem 2rem;
  }
}
@media (max-width: 767px) {
  .open-free-accont .columns .left-items .benifits .benifits-section .card-bg {
    border-radius: 0px 0px 24px 24px;
    padding: 1rem 2rem 3.5rem;
    margin-top: -6rem;
  }
}
.open-free-accont .columns .left-items .benifits .benifits-section .card-bg::before {
  content: "";
  background: url(../../assets/images/brokerage-calculator/card-bg-before.webp) no-repeat top;
  background-size: contain;
  display: block;
  width: 15rem;
  height: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .open-free-accont .columns .left-items .benifits .benifits-section .card-bg::before {
    background: rgba(34, 31, 32, 0.1019607843);
    width: 112px;
    height: 4px;
    bottom: 2rem;
    top: inherit;
  }
}
.open-free-accont .columns .left-items .benifits .benifits-section .card-bg::after {
  content: "";
  background: url(../../assets/images/brokerage-calculator/star.webp) no-repeat;
  background-size: contain;
  display: block;
  width: 4.5rem;
  height: 4rem;
  position: absolute;
  top: 3rem;
  right: -2.4rem;
}
@media (max-width: 767px) {
  .open-free-accont .columns .left-items .benifits .benifits-section .card-bg::after {
    width: 3.5rem;
    height: 3rem;
    right: -1.9rem;
  }
}
.open-free-accont .columns .left-items .benifits .benifits-section .card-bg ul {
  list-style: none;
  padding: 0;
}
.open-free-accont .columns .left-items .benifits .benifits-section .card-bg ul li {
  align-items: center;
  display: flex;
  padding: 1rem 0;
}
.open-free-accont .columns .left-items .benifits .benifits-section .card-bg ul li .bx-icon {
  min-height: 56px;
  min-width: 56px;
}
.open-free-accont .columns .left-items .benifits .benifits-section .card-bg ul li .bx-text {
  font-size: 2rem;
  font-family: "PoppinsRegular", sans-serif;
  margin: 0;
  padding-left: 1rem;
}
@media (max-width: 992px) {
  .open-free-accont .columns .left-items .benifits .benifits-section .card-bg ul li .bx-text {
    font-size: 1.75rem;
  }
}
@media (max-width: 767px) {
  .open-free-accont .columns .left-items .benifits .benifits-section .card-bg ul li .bx-text {
    font-size: 1.538rem;
  }
}
.open-free-accont .columns .left-items .benifits .benifits-section .card-bg ul li .bx-text span {
  font-family: "PoppinsSemiBold", sans-serif;
}
@media (max-width: 992px) {
  .open-free-accont .columns .left-items .benifits .benifits-section {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .open-free-accont .columns .left-items .benifits .men {
    display: none;
  }
}
.open-free-accont .columns .left-items .benifits .men img {
  position: relative;
  left: -4rem;
}
.open-free-accont .columns .right-items {
  width: 35%;
}
@media (max-width: 992px) {
  .open-free-accont .columns .right-items {
    width: 42%;
  }
}
@media (max-width: 767px) {
  .open-free-accont .columns .right-items {
    width: 100%;
  }
}
.open-free-accont .columns .right-items .free-account-ttl .title-first {
  color: #ffffff;
  padding-bottom: 3.5rem;
}
@media (max-width: 992px) {
  .open-free-accont .columns .right-items .free-account-ttl .title-first {
    font-size: 2.5rem;
  }
}
.open-free-accont .columns .right-items .free-account-ttl .title-first span {
  color: #FFCE02;
}
@media (max-width: 992px) {
  .open-free-accont .columns .right-items .free-account-ttl .title-first br {
    display: none;
  }
}
.open-free-accont .columns .right-items .free-account-ttl .btn-light {
  position: relative;
  z-index: 99 !important;
}
@media (max-width: 767px) {
  .open-free-accont .columns .right-items .free-account-ttl .btn-light {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .open-free-accont .columns .right-items .free-account-ttl {
    text-align: center;
    padding: 5rem 0;
  }
}

.more-content {
  padding: 10rem 0 8rem;
}
@media (max-width: 992px) {
  .more-content {
    padding: 6rem 0 4rem;
  }
}
.more-content .title-content {
  margin-bottom: 2rem;
}
.more-content p {
  font-size: 1.385rem;
  padding-bottom: 2rem;
  margin-bottom: 0;
}/*# sourceMappingURL=brokerage-calculator.css.map */