
@import '../../assets/css/common.scss';
@import '../../assets/css/customvariable.scss';

.banner-section{
    background: $whiteColor;
    padding: 4rem 0 10rem;
    @media (max-width:$md) {
        padding:4rem 0 6rem;
    }
    .banner-ttle{
        p{
            font-size: 1.75rem;
            line-height: 1.5;
            font-family: $font-family-poppins-regular;
            padding-top: 2rem;
            @media (max-width:$sm) {
                font-size: 1.231rem;
            }
        }
    }
    .field-sec{
        // margin-top: -3rem;
        @media (max-width:$sm) {
            margin-top: 0;
        }
    .tabs-btn{
        position: relative;
        top: 5rem;
        .tabs-list{
            justify-content: center;
            max-width: 58rem;
            @media (max-width:$md) {
                justify-content: flex-start;
            }
        }
        .list_group1 {
            background-color: $whiteColor;
            border-radius: 1.231rem;
            box-shadow: 0 3px 6px $tab-shadow;
            display: flex;
            flex-direction: row;
            // margin-bottom: 2.5rem;
            // margin-top: 1rem;
            padding: 0.5rem;
            .list-group-item {
                background: $whiteColor;
                border: none;
                border-radius: 1.375rem;
                color: $primary;
                cursor: pointer;
                font-family: $font-family-poppins-medium;
                font-size: 1.385rem;
                line-height: 2.077rem;
                padding: 0.8rem 1rem;
                text-align: center;
                text-decoration: none;
                width: 100%;
                &.active {
                    background-color: rgba(0,102,178,.1);
                    color: $bgcolor-blue;
                }
                    
                    
                }
    }
        @media (max-width:$sm) {
            top: 2.5rem;
        }
    }
    
    .content-tabs {
        .content {
            display: none;
            &.active-content {
                display: block;
            }
           
            .form-section{
                display: flex;
                justify-content: space-between;
                .left-sec{
                    width: 56%;
                    padding-top: 8rem;
                    @media (max-width:$md) {
                        width: 48%;
                        padding-top: 7rem;
                    }
                    @media (max-width:$sm) {
                        width: 100%;
                        padding-top: 5rem;
                    }
                    .row-sec{
                        padding-bottom: 2rem;
                        align-items: center;
                        justify-content: center;
                    .frm-label{
                        font-size: 1.385rem;
                        font-family: $font-family-poppins-medium;
                        line-height: 1.5;
                        margin: 0;
                        @media (max-width:$md) {
                            margin-bottom: 1rem;
                        }
                    }
                    @media (max-width:$md) {
                        padding-bottom: 3rem;
                    }
                    @media (max-width:$sm) {
                        padding-bottom: 3rem;
                    }
                 }
                 .search-icon{
                    background: url(../../assets/images/brokerage-calculator/search.svg) no-repeat center right 13px ;
               }
               .input-form{
                    font-size: 1.385rem;
                    font-family: $font-family-poppins-regular;
                    line-height: 1.5;
                    padding: .775rem 0;
                   
                    text-transform: uppercase;
                    color: $primary;
                    text-align: right;
                    &:focus{
                        box-shadow: none;
                        border-color: #0066B2;
                    }
               }
               .input-font{
                    font-size: 1.385rem;
                    font-family: $font-family-poppins-regular;
                    line-height: 1.5;
                    padding: .775rem 2.25rem .775rem .75rem;
                    text-transform: uppercase;
                    color: $primary;
                    &:focus{
                        box-shadow: none;
                        border-color: #0066B2;
                    }
                }
                .calculate-btn{
                    text-align: center;
                    padding-top: 1rem;
                    .btn-bg{
                        @media (max-width:$sm) {
                            width: 100%;
                        }
                    }
                }
                .mobile-view{
                    @media (max-width:$md) {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                    }
                  
                    .width-resp{
                        @media (max-width:$md) {
                            width: 50%;
                        }
                       
                        .percent{
                            background: url(../../assets/images/brokerage-calculator/perc.svg) no-repeat center right 13px ;
                    }
                    .form-control2{
                        position: relative;
                        background: $whiteColor;
                        display: flex;
                        align-items: center;
                        .rupees-symble{
                            position: absolute;
                            left: 1rem;
                            font-size: 1.385rem;
                            color: $primary;
                            font-family: $font-family-poppins-regular;
                        }
                        .percent-symble{
                            position: absolute;
                            right: 1rem;
                            font-size: 1.385rem;
                            color: $primary;
                            font-family: $font-family-poppins-regular;
                            @media (max-width:$sm) {
                                top:1rem;
                            }
                    }
                        .years-symble{
                        position: absolute;
                        right: 1rem;
                        font-size: 1.385rem;
                        color: $primary;
                        font-family: $font-family-poppins-regular;
                        @media (max-width:$sm) {
                            top:1rem;
                        }
                    }
                    .input-1{
                        padding-right: 1rem;
                    }
                    .input-2{
                        padding-right: 1.5rem;
                        @media (max-width:$md) {
                            padding-right: 3rem;
                        }
                    }
                    .input-3{
                        padding-right: 2.5rem;
                    }
            }
            }
        }
        .brokerage-search{
            position: relative;
            padding-bottom: 2rem;
            .brokerage-search-result{
                position: absolute;
                z-index: 1;
                width: 100%;
                list-style: none;
                padding: 0;
                margin: 0;
                border-radius: 8px;
                background: $whiteColor;
                box-shadow: 0px 4px 4px 0px $nbfcboxshadow;
                @media (max-width:$md) {
                    max-height: 250px;
                    overflow: auto;
                }
                .brokerage-search-list {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    align-items: center;
                    border-bottom: 1px solid $border-gray;
                    cursor: pointer;
                    padding: 0.5rem 1.154rem;
                    
                    .symbol {
                        text-align: left;
                        width: 45%;
                        font-size: 1.231rem;
                        font-family: $font-family-poppins-medium;
                        @media (max-width:$md) {
                            width: 100%;
                        }
                    }
                    .name {
                        width: 45%;
                        font-size: 1.077rem;
                        font-family: $font-family-poppins-regular;
                        color: $textgray;
                        @media (max-width:$md) {
                            width: 80%;
                        }
                    }
                    .exchange {
                        width: 10%;
                        font-size: 1.077rem;
                        font-family: $font-family-poppins-regular;
                        color: $textgray;
                        text-align: right;
                    }
                    &:last-child{
                        border-bottom: none;
                     }
                }
                
            }
        }   
                }
                .right-sec{
                    width: 40%;
                    @media (max-width:$md) {
                        width: 48%;
                    }
                    @media (max-width:$sm) {
                        width: 100%;
                        margin-top: 4rem;
                    }
                    .brokerage-card{
                        background-color: $abt-bg;
                        border-radius: 10px;
                        padding: 2rem;
                        @media (max-width:$md) {
                            padding: 1rem;
                        }
                        .card-flex {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            margin: 0;
                            list-style: none;
                            padding: .5rem 0;
                            .flex-items{
                                span{
                                    font-size: 1.231rem;
                                    font-family: $font-family-poppins-regular;
                                    color: $listcolor;
                                }
                                .text-bold{
                                    font-family: $font-family-poppins-semibold;
                                    color: $primary;
                                }
                                .font-danger{
                                    color: $redbg;
                                    font-family: $font-family-poppins-semibold;
                                }
                                .font-success{
                                    color: $pluscolor;
                                }
                            }
                            &.brd{
                                height: 1px;
                                background: $border-gray;
                                padding: 0 !important;
                                margin: 0.615rem 0 0.5rem !important;
                            }
                            &.brd-bottom{
                                border-bottom: 1px solid $border-gray;
                            }
                        }
                       
                    }
            }
            @media (max-width:$sm) {
                flex-wrap: wrap;
            }
        }
    } 
    
        }
       
    }
}

.open-free-accont{
    background: $primary;
    padding: 6rem 0 0;
    position: relative;
    overflow: hidden;
    &::after{
        content: '';
        background: url(../../assets/images/brokerage-calculator/bg-sec.webp) no-repeat;
        background-size: contain;
        display: block;
        width: 58.08rem;
        height: 100%;
        position: absolute;
        right: 0;
        z-index: 1;
        bottom: 0;
        @media (max-width:$sm) {
            width: 45.08rem;
            right: -30rem;
            bottom: -20rem;
        }
    }
    .columns{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        .left-items{
            width: 65%;
            @media (max-width:$md) {
                width: 50%;
            }
            @media (max-width:$sm) {
                width: 100%;
                padding: 0 1rem;
            }
            .benifits{
                display: flex;
                align-items: flex-end;
                .benifits-section{
                    width: 60%;
                    .card-bg{
                    background: $abt-bg;
                    border-radius: 24px 24px 0px 0px;
                    position: relative;
                    padding: 3.5rem 2.5rem;
                    @media (max-width:$md) {
                        padding:3.5rem 2rem;
                    }
                    @media (max-width:$sm) {
                        border-radius: 0px 0px 24px 24px;
                        padding: 1rem 2rem 3.5rem;
                        margin-top: -6rem;
                    }
                    &::before{
                        content: '';
                        background: url(../../assets/images/brokerage-calculator/card-bg-before.webp) no-repeat top;
                        background-size: contain;
                        display: block;
                        width: 15rem;
                        height: 2rem;
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        margin: 0 auto;
                        @media (max-width:$sm) {
                            background: $brd-line;
                            width: 112px;
                            height: 4px;
                            bottom: 2rem;
                            top: inherit;
                        }
                    }
                    &::after{
                        content: '';
                        background: url(../../assets/images/brokerage-calculator/star.webp) no-repeat;
                        background-size: contain;
                        display: block;
                        width: 4.5rem;
                        height: 4rem;
                        position: absolute;
                        top: 3rem;
                        right: -2.4rem;
                        @media (max-width:$sm) {
                            width: 3.5rem;
                            height: 3rem;
                            right: -1.9rem;
                        }
                    }
                    ul{
                        list-style: none;
                        padding: 0;
                        li {
                            align-items: center;
                            display: flex;
                            padding: 1rem 0;
                            .bx-icon {
                                min-height: 56px;
                                min-width: 56px;
                            }
                            .bx-text{
                                font-size: 2rem;
                                font-family: $font-family-poppins-regular;
                                margin: 0;
                                padding-left: 1rem;
                                @media (max-width:$md) {
                                    font-size: 1.75rem;
                                }
                                @media (max-width:$sm) {
                                    font-size: 1.538rem;
                                }
                                span{
                                    font-family: $font-family-poppins-semibold;
                                }
                            }
                        }
                    }
                }
                @media (max-width:$md) {
                  width: 100%;
                }
            }
            .men{
                @media (max-width:$md) {
                    display: none;
                }
                img{
                    position: relative;
                    left: -4rem;
                }
            }
        }
        }
        .right-items{
            width: 35%;
            @media (max-width:$md) {
                width: 42%;
            }
            @media (max-width:$sm) {
                width: 100%;
            }
            .free-account-ttl{
                .title-first{
                    color: $whiteColor;
                    padding-bottom: 3.5rem;
                    @media (max-width:$md) {
                        font-size: 2.5rem;
                    }
                    span{
                        color: $bgcolor-yellow;
                    }
                    br{
                        @media (max-width:$md) {
                            display: none;
                        }
                    }
                }
                .btn-light{
                    position: relative;
                    z-index: 9999 !important;
                    @media (max-width:$sm) {
                       width: 100%;
                    }
                }
                @media (max-width:$sm) {
                    text-align: center;
                    padding: 5rem 0;
                }
            }
        }
    }
  
   
}

.more-content{
    padding: 10rem 0 8rem;
    @media (max-width:$md) {
        padding: 6rem 0 4rem;
    }
    .title-content{
        margin-bottom: 2rem;
    }
    p{
        font-size: 1.385rem;
        padding-bottom: 2rem;
    }
}
