@import '../../assets/css/common.scss';
@import '../../assets/css/customvariable.scss';

.brokerage-charges-new{
    .brokerage-charges-banner{
        padding: 5rem 0rem;
        @media (max-width:$sm) {
            padding: 3.5rem 0rem;
            overflow: hidden;
        }
        .banner-left{
            .big-ttl{
                margin-bottom: 2.25rem;
                @media (max-width:$sm) {
                    text-align: center;
                 }
                .text-bg{
                    position: relative;
                    display: inline-block;
                    &:before{
                        content: '';
                        position: absolute;
                        background: url(../../assets/images/Brokerage-New/yellow-bg.png) no-repeat bottom right;
                        width: 233px;
                        height: 62px;
                        z-index: -1;
                        left: -1.2rem;
                        top:7px;
                        background-size: contain;
                        @media (min-width:$md) and (max-width:$xl) {
                            width: 204px;
                            height: 56px;
                        }
                        @media (min-width:$sm-x) and (max-width:$md) {
                            width: 148px;
                            height: 40px;
                        }
                        @media (max-width:$sm) {
                            width: 149px;
                            height: 40px;
                         }
                         
                    }
                }
            }
            .para{
                color: $darkblack;
                font-size:1.5rem;
                line-height:2.25rem;
                font-family: $font-family-poppins-regular;
                font-weight: 400;
                margin-bottom: 3.75rem;
                @media (max-width:$sm) {
                    text-align: center;
                 }
            }
            .carditem-option-tab {
                
                .slick-track {
                    display: flex;
                    padding: 10px 0;
                   
    
                    .slick-slide {
                        float: none;
                        height: inherit !important;
    
                        >div {
                            height: 100%;
    
                            .carditem-option {
                                min-height: inherit;
                                height: 100%;
                                padding: 1rem 0.5rem;
                                text-align: center;
                                margin-bottom: 5px;
                                @media (max-width:$sm) {
                                    padding: 1rem;
                                }
                                .carditem-option-img {
                                    min-height: 6rem;
                                    display: flex;
                                    align-items: center;
                                    justify-content: left;
                                    @media (max-width:$sm) {
                                        justify-content: center;
                                    }
                                }
                
                                .cardoption-ttl {
                                    padding-top: 2rem;
                                    color: $primary;
                                    font-family: $font-family-poppins-semibold;
                                    font-size: 1.5rem;
                                    line-height: 1.5;
                                    text-align: left;
                                    @media (max-width:$sm) {
                                        text-align: center;
                                        padding-left: 0;
                                    }
                                    @media (max-width:$md) {
                                        font-size: 1.3rem;
    
                                    }
                                }
                            }
                        }
                    }
                    
    
                    @media (max-width:$md) {
                        margin-bottom: 1rem;
                    }
                }
                .slick-dots{
                    @media (max-width:$sm) {
                        margin-bottom: 2rem !important;
                     }
                }
            }
        }
    }
    .count-members{
        .inner-count{
            .count-itm{
                h3{
                    @media (max-width:$sm) {
                        font-size: 1.5rem !important;
                    }
                }
            }
        }
    }
    .brokerag-brokerag{
        padding: 6rem 0rem;
        background-color: $abt-bg;
        overflow: hidden;
        @media (max-width:$sm) {
            padding: 3.5rem 0rem;
        }
        .title-tab{
            .title-secnd{
                text-align: center;
                padding-bottom: 1.5rem;
                margin: 0;
                
            }
            p{
                text-align: center;
                font-size: 1.5rem;
                line-height: 2.25rem;
                color:$darkblack;
                font-family: $font-family-poppins-regular;
                margin-bottom: 4.688rem;
                @media (max-width:$sm) {
                    margin-bottom: 1rem;
                 }
            }
        }
    
           
    
            .team-list {
                width: 100vw;
                display: flex;
                position: relative;
                flex-direction: column;
                @media (max-width:$md) {
                    width: initial;
                }
    
                .img-itm {
                    display: inline-block;
                    img {
                        @media (max-width:$sm) {
                            margin: 0 auto;
                        }
                    }
                }
    
                .team-list-slider {
                    padding-bottom: 3rem;
                    .slick-slide{
                        &.slick-current{
                            .team-item {
                                background-color: $whiteColor;
                                border: 2px solid $pricolor;
                                box-shadow: 0px 0px 50px 0px #0000001A;

                            }
                        }
                    }
                    .slick-dots{
                        @media (max-width:$sm) {
                            margin-bottom: 2rem !important;
                         }
                    }
                    .team-item {
                        border: 2px solid #0C71B940;
                        border-radius: 22px;
                        width: 94% !important; 
                        margin: 0 auto;
                        text-align: center;
                        padding: 2.5rem 4.4rem;
                        min-height: 18rem;
                        @media (max-width:$sm) {
                            text-align: center;
                            min-height: inherit;
                        }
    
                        .namedesg {
                            margin-top: 0.5rem;
                            text-align: center;
    
                            @media (max-width:$sm) {
                                margin-top: 1rem;
                                width: 100%;
                            }
    
                            .title {
                                color: $darkblack;
                                font-weight: 600;
                                font-size: 1.375rem;
                                line-height: 2rem;
                                font-family: $font-family-poppins-semibold;
                                margin-bottom: 0.75rem;
                                @media (max-width:$sm) {
                                   font-size: 1.6rem;
                                }
                                @media (min-width:769px) and (max-width:1024px) {
                                    font-size: 1.5rem;
                                }
                            }
    
                            .text {
                                font-size: 1.125rem;
                                line-height: 1.5rem;
                                font-weight: 400;
                                font-family: $font-family-poppins-regular;
                                @media (max-width:$sm) {
                                    font-size: 1rem;
                                 }
                                @media (min-width:769px) and (max-width:1024px) {
                                    font-size: 1rem;
                                }
                            }
                        }
                    }
    
                    .slick-dots {
                        text-align: left;
                        padding-left:35%;
                        bottom: 0;
    
                        @media (max-width:$sm) {
                            text-align: center;
                            padding-left: 0;
                            bottom: -35px;
                        }
    
                        li {
                            width: 12px;
                            height: 12px; 
                            margin: 0 0.3rem;
    
                            button {
                                &:before {
                                    height: 10px;
                                    width: 10px;
                                    background-color: #D7DEEF;
                                    content: '';
                                    border-radius: 50%;
                                    opacity: 1;
                                }
                            }
                        }
    
                        .slick-active {
                            button {
                                &:before {
                                    opacity: .75;
                                    background-color: #447EC1;
                                }
                            }
                        }
                    }
                }
            }
       
    }
    .BrokerageTabs{
        padding: 6rem 0rem;
        @media (max-width:$sm) {
            padding: 3.5rem 0rem;
        }
        .title-tab{
            .title-secnd{
                text-align: center;
                padding-bottom: 1.5rem;
                margin: 0;
                @media (max-width:$sm) {
                   text-align: left;
                }
            }
            p{
                text-align: center;
                font-size: 1.5rem;
                line-height: 2.25rem;
                color:$darkblack;
                font-family: $font-family-poppins-regular;
                margin-bottom: 4.375rem;
                @media (max-width:$sm) {
                    text-align: left;
                 }
            }
        }
        .info-tabs{
              .content-tabs {
                flex-grow : 1;
              }
              .content {
                background: $whiteColor;
                padding: 0;
                width: 100%;
                height: 100%;
                display: none;
                .tab-data-sec{
                    @extend.box-shadow;
                    border-radius: 18px;
                    padding: 1.625rem 1.438rem;
                    // margin-bottom: 9rem;
                    background: $whiteColor;
                    @media (max-width:$md) {
                        padding: 0;
                    }
                    .condition{
                        color: $secondary;
                        padding:0.75rem 1.625rem;
                    }
                    .table{
                        border-collapse: collapse;
                        td{
                            padding: 1.419rem 1.8rem 1.5rem 1.8rem;
                            font-size: 1.3rem;
                            @media (max-width:$md) {
                            --bs-table-accent-bg:initial;
                            &::before{
                                content: attr(data-label);
                            float: none;
                            font-size:10px;
                            text-transform: uppercase;
                            font-weight: bold;
                            display: block;
                            }
                        }
                        }
                        
                        th{
                            text-transform: uppercase;
                            padding: 0.803rem 2rem 2.041rem 2rem;
                            font-family: $font-family-poppins-semibold;
                            font-size: 1.093rem;
                        }
                        .tableheading{
                            @media (max-width:$md) {
                                display: none;
                             }
                        }
                        .charges-heads{
                            @media (max-width:$md) {
                                width: 100%;
                                background-color: $tablestrip;
                                border:  0.5px solid $darkblack;
                                border-left: 0;
                                border-right: 0;
                                font-family: $font-family-poppins-semibold;
                                font-weight: 600;
                            }
                        }
                        tbody{
                           tr{
                            @media (max-width:$md) {
                                display: flex;
                                flex-wrap: wrap;
                                background: #fff;
                            }
                            td{
                                .charges-heads{
                                    @media (max-width:$md) {
                                        width: 100%;
                                    }
                                }
                            }
                           } 
                        }
                    }
                }
              }
            
              .active-content {
                display: block;
              }
            .bloc-tabs{
                display: flex;
                align-items: center;
                justify-content: center;
                .tabs{
                    padding: 15px;
                    text-align: center;
                    width: 33.33%;
                    // margin: 0 4%;
                    cursor: pointer;
                    box-sizing: content-box;
                    position: relative;
                    outline: none;
                    background: transparent;
                    border: 0;
                    padding: 0.625rem 1rem  1.25rem 1rem ;
                    &.active-tabs{
                        border: 0;
                        &:before {
                          content: "";
                          display: block;
                          position: absolute;
                          bottom: inherit;
                          bottom: 0;
                          left: 50%;
                          transform: translateX(-50%);
                          width: calc(100% + 2px);
                          height: 3px;
                          background: $pricolor;
                          border-radius: 4px;
                          @media (max-width:$sm) {
                            bottom: -2px;
                        }
                        }
                        h4{
                            color:$pricolor ;
                        }
                    }
                    h4{
                        font-size: 2rem;
                        line-height: 3rem;
                        font-family: $font-family-poppins-semibold;
                        margin: 0;
                        @media (max-width:$md) {
                            font-size: 1.3rem;
                            line-height: 0.8rem;
                        }
                    }
                    img{
                      margin: 0 auto;
                      height: 50px;
                    }
                    @media (max-width:$sm-x) {
                        width: 27%;
                        padding: 1.5rem 0.5rem;
                        margin: 0 1%;
                    }
                    // .tb-ico{
                    //     display: block;
                    //     overflow: hidden;
                    // }
                    // &:hover{
                    //     .img-fluid{
                    //         -webkit-animation: toTopFromBottom 0.5s forwards;
                    //             -moz-animation: toTopFromBottom 0.5s forwards;
                    //             animation: toTopFromBottom 0.5s forwards;
                    //     }
                    // }
                }
            }
            
        }
    }
    .BrokerageCosts {
            padding: 6rem 0rem;
            background-color: $abt-bg ;
            @media (max-width:$sm) {
                padding: 3.5rem 0rem;
            }
            .title {
                text-align: center;
    
                .title-secnd {
                    text-align: center;
                    padding-bottom: 1.5rem;
                    margin: 0;
    
                    @media (max-width:$sm) {
                        text-align: left;
                    }
                }
    
                p {
                    text-align: center;
                    font-size: 1.5rem;
                    line-height: 2.25rem;
                    color: $darkblack;
                    font-family: $font-family-poppins-regular;
                    margin-bottom: 4.375rem;
    
                    @media (max-width:$sm) {
                        text-align: left;
                    }
                }
            }
    
            .calculator-list-section {
                display: flex;
                flex-wrap: wrap;
           
    
                .list-itm {
                       background-color: $whiteColor;
                        border-radius: 16px;
                        display: block !important;
                        margin: 0 auto 2rem;
                        padding: 3.25rem 2rem 2rem 2rem;
                        text-align: left;
                        width: 47%;
                        border-bottom: 6px solid $pricolor;
                        @media (max-width:$sm) {
                            width: 100%;
                        }
                        h3{
                            color: $darkblack;
                            font-size:2rem;
                            font-family: $font-family-poppins-semibold;
                            font-weight: 600;
                            line-height: 3rem;
                        }
                        p{
                           font-size: 1.125rem;
                           line-height: 1.5rem; 
                           color: $darkblack;
                           font-family: $font-family-poppins-regular;
                        }
                        .list-itm-btn{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            .nav-link{
                                 text-decoration: none;
                                 background-color:$bgcolor-yellow;
                                 color:$primary ;
                                 padding: 1.125rem 1.75rem;
                                 border-radius: 12px;
                                 font-size: 1.125rem;
                                 font-family:$font-family-poppins-medium ;
                                 @media (min-width:$sm-x) and (max-width:$md) {
                                    padding: 1rem 0.5rem;
                                }
                            }
                        }
                }
            }
        }
    .ApplicableCharges{
        padding: 6rem 0rem;
            background-color: $whiteColor;
            @media (max-width:$sm) {
                padding: 3.5rem 0rem;
            }
        .applicable-title{
            .title-secnd{
                    text-align: center;
                    padding-bottom: 1.5rem;
                    margin: 0;
    
                    @media (max-width:$sm) {
                        text-align: left;
                    }
            }
            p {
                text-align: center;
                font-size: 1.5rem;
                line-height: 2.25rem;
                color: $darkblack;
                font-family: $font-family-poppins-regular;
                margin-bottom: 4.375rem;

                @media (max-width:$sm) {
                    text-align: left;
                }
            }
        }
                .applicable-Charges-main {
                    border: 2px solid $val-clr;
                    border-radius: 8px;
                    .Regulatory-charges {
                        h3{
                           font-size: 1.375rem;
                           line-height: 2rem;
                           font-family: $font-family-poppins-semibold;
                           font-weight: 600;
                           color: $darkblack;
                           padding: 1.625rem 1.5rem 1.5rem 1.5rem;
                        }
                        .new-heading{
                            border-top: 1px solid $val-clr;
                        }
                        .Regulatory-checklist {
                            .checklist-items {
                                display: flex;
                                @media (max-width:$sm) {
                                    flex-direction: column;
                                }
                                .checklist{
                                    border: 1px solid $val-clr;
                                    border-bottom: 0;
                                    border-left: 0;
                                    width: 50%;
                                    padding: 1rem 1.5rem;
                                    @media (max-width:$sm) {
                                        border: 0;
                                    }
                                    @media (max-width:$sm) {
                                        width: 100%;
                                    }
                                    &:last-child{
                                        border-right: 0;
                                     }
                                     .checklist-ul{
                                        margin: 0;
                                        li{
                                            margin-bottom: 1rem;
                                            font-size: 1rem;
                                            line-height:1.5rem;
                                            color: $darkblack;
                                            font-family: $font-family-poppins-regular;
                                            &::marker{
                                                margin: 0;
                                            }
                                            &:last-child{
                                                margin-bottom: 0;
                                                @media (max-width:$sm) {
                                                    margin-bottom: 1rem;
                                                }
                                            }
                                        }
                                        @media (max-width:$sm) {
                                            border-bottom: 1px solid $lightbrdr;
                                            
                                        }
                                        
                                     }
                                     .note-para{
                                        font-size: 1rem;
                                        line-height: 1.5rem;
                                        font-family: $font-family-poppins-regular;
                                        color: $darkblack;
                                     }
                                    h4{
                                        font-size: 1.125rem;
                                        line-height:1.688rem;
                                        font-family: $font-family-poppins-medium;
                                        font-weight: 500;
                                        color: $darkblack;
                                        text-transform: capitalize;
                                     }
                                }
                                &:last-child{
                                    .checklist{
                                        .checklist-ul{
                                            @media (max-width:$sm) {
                                        border-bottom: none;
                                            }
                                        }
                                        
                                    }
                                   
                                }
                            }
                        }
                    }
                    .Disclaimer-para{
                        border-top: 1px solid $val-clr;
                        padding: 1rem 1.5rem;
                        margin: 0;
                        font-size: 1.125rem;
                        line-height: 2rem;
                        font-family: $font-family-poppins-regular;
                        font-weight: 400;
                        color: $darkblack;
                    }
        }
    }  
    .brokeragefaq{
        padding: 6rem 0rem;
        @media (max-width:$sm) {
            padding: 3.5rem 0rem;
        }
        .title-secnd {
            text-align: center;
            padding-bottom: 4.5rem;
            margin: 0;

            @media (max-width:$sm) {
                text-align: left;
            }
        }
        .faq-item {
            border: 1px solid #C2C2C2 !important;
            border-radius: 20px;
            background: #FFFFFF;
            padding: 1.5rem;
            margin-bottom: 2rem;
    
            @media (max-width:$sm) {
                padding: 1.5rem 1rem;
            }
    
            .faq-header {
                .accordion-button{
                    font-family: $font-family-poppins-semibold;
                    color: $primary;
                    font-size: 2rem;
                    @media (max-width:$sm) {
                        font-size: 1.75rem;
                    }
                }
                
                
            }
        }
    
        .accordion-button {
    
            &:not(.collapsed) {
                background-color: transparent !important;
                border: none !important;
                box-shadow: none !important;
            }
    
            &:focus {
                border: none !important;
                box-shadow: none !important;
            }
    
            &:after {
                display: none !important;
            }
        }
    }
    .all-In-one-section {
        padding: 6rem 0rem;
        background-color: $abt-bg ;
        @media (max-width:$sm) {
                padding: 3.5rem 0rem;
            }
       
        .caption{
            text-align: center;
            @media (max-width:$sm) {
                padding: 0 1.25rem;
            }
            h2 {
                margin-bottom: 2rem;
                color: $darkblack;
                font-family: $font-family-poppins-medium;
                font-weight: 500;
                font-size: 2.5rem;
                line-height: 4.063rem;
                @media (max-width:$sm) {
                    text-align: center;
                    font-size: 2rem;
                    line-height: 3rem;
                
                }
                .caption-dark{
                    font-family: $font-family-poppins-semibold;
                    font-weight: 600;
                    display: block;
                    @media (max-width:$sm) {
                        text-align: center;
                    }
                }
            }
    
            
    
        }

       
        .benifits-list-section {
            margin: 4rem 0;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            margin: 4rem auto 0;
            @media (max-width:$md) {
                width: 100%;
            }
            @media (max-width:$sm) {
                margin-top: 2rem;
                margin-bottom: 2rem;
            }
            

            .list-itm {
                background-color: $whiteColor;
                text-align: center;
                border-radius: 8px;
                padding: 1.875rem;
                display: block !important;
                min-height: 12.188rem;
                margin: 0 auto;
                height: 100%;
                width: 15%;
                border-bottom: 5px solid $yellowColor;

                @media (min-width:$sm-x) and (max-width:$md) {
                    width:26%;
                    min-height: 13rem;
                    margin-bottom: 2.5rem;
                }

                @media (max-width:$sm) {
                    width: 45% !important;
                    min-height: 10rem;
                    padding: 2rem 1rem;
                    margin-bottom: 2.5rem;
                }
                
                h5 {
                    margin-bottom: 0;
                    margin-top: 1.5rem;
                    font-size: 1.275rem;
                    line-height: 2rem;
                    font-weight: 500;
                    font-family: $font-family-poppins-medium;
                    color: $darkblack;
                    @media (max-width:$md) {
                        font-size: 1.25rem;
                        line-height: 1rem;
                    }
                    @media (max-width:$sm) {
                        font-size: 1.125rem;
                        line-height: 1rem;
                    }
                  
                    br {
                        @media (max-width:$md) {
                            display: none;
                        }
                        @media (max-width:$sm) {
                            display: block;
                        }
                    }
            }

            
        }
    }
    }
    .last-form-sec{
        padding: 6rem 0rem;
        background-color: $primary;
        @media (max-width:$sm) {
            padding: 3.5rem 0rem;
        }
    }
}