@import '../../assets/css/common.scss';
@import '../../assets/css/customvariable.scss';


.Channel-fin-banner{
    background: $pinklight;
    padding: 10rem 0;
    @media (max-width: $md) {
        padding: 5rem 0;
    }
    .Chanfin-banner-caption{
        max-width: 800px;
        margin: 0 auto;
        display: block;
        position: relative;
        &::before {
            content: '';
            width: 17rem;
            height: 12rem;
            display: block;
            position: absolute;
            left: 0;
            top: 10rem;
            background: url(../../assets/images/invoice-financing/dots-bg-banner.svg) no-repeat top left;
            background-size: contain;
    
            @media (max-width: $md) {
                display: none;
            }
        }
        &::after {
            content: '';
            width: 9rem;
            height: 7rem;
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            background: url(../../assets/images/invoice-financing/dots-bg-banner.svg) no-repeat top right;
            background-size: contain;
    
            @media (max-width: $md) {
                display: none;
            }
        }
        .big-ttl{
            font-family: $font-family-poppins-medium;
            color: $darkblack;
            margin-bottom: 2rem;
        }
        .aply-btn{
            color: $darkblack;
        }
        p{
            font-size: 1.75rem;
            line-height: 1.5;
            color: $txtgrey;
            a{
                text-decoration: none;
            }
            .aply-btn{
                font-family: $font-family-poppins-semibold;
                color: $darkblack;
            }
        }
    }
}

