@import '../../assets/css/customvariable.scss';
@import '../../assets/css/common.scss';



    .freatured_videos {
        padding: 2.5rem 0rem;
        // border: 2px solid red;
        background-color: $primary;
        .title-first_new {
            font-size: 3.5rem;
            color: $whiteColor;
            font-family: $font-family-poppins-semibold;
            padding: 6.1rem 0px;
            
        }


        .rightsec {
            color: $whiteColor;
            // padding-left: 1.063rem;
            padding-bottom: 2rem;

            @media (max-width: $sm-x) {
                text-align: center;
            }

            .title-secnd {
                color: $whiteColor;
                text-transform: capitalize;
                line-height: 1.5;
            }


            .datetitle {
                color: #9A9A9B;
                font-size: 1.75rem;
                line-height: 2.625rem;
                font-family: $font-family-poppins-regular;

                @media (max-width: 768px) {
                    font-size: 1.563rem;
                    line-height: 1.875rem;
                }
            }

            .subhead {
                font-size: 1.75rem;
                line-height: 2.625rem;
                padding-top: 0.75rem;
                font-family: $font-family-poppins-regular;


                @media (max-width: $sm-x) {
                    line-height: 2.15rem;
                    font-size: 1.45rem;

                }
            }

            .btn-bg-new {
                font-family: $font-family-poppins-semibold;
                color: $primary ;
                background: #D9D9D9;
                padding: 0.9rem 0;
                display: inline-block;
                border-radius: 10px;
                font-size: 1.5rem;
                text-align: center;
                text-decoration: none;
                border: 0;
                outline: none;
                width: 11.875rem;
                margin-top: 1rem;

                &:hover {
                    background: $yellowColor;
                }
            }
        }
    }

    .latest_vidoes {
        // padding: 4rem 0;
        margin-top: 6rem;
        position: relative;

        @media (max-width: $sm-x) {
            padding: 3rem 0;
        }

        .title-first {
            text-transform: capitalize;
            margin-bottom: 3rem;
        }

        .videos-list-itm {
            padding: 0 1.75rem;
        }


        .video_img_des {
            .body_date {
                font-size: 1.5rem;
                line-height: 2.25rem;
                color: #A6A6A6;
                font-family: $font-family-poppins-regular;
                padding-top: 0.625rem;
            }

            .latest_vidoes_head {
                font-size: 2rem;
                line-height: 3rem;
                color: $primary;
                font-family: $font-family-poppins-semibold;
                text-transform: capitalize;

                @media (max-width:$sm-x) {
                    font-size: 1.5rem;
                    line-height: 2rem;
                }
            }
        }

        .explore_btn {
            padding: 7.125rem 0rem;

            .explo_btn {
                font-family: $font-family-poppins-regular;
                color: $whiteColorlight;
                background: $darkblack;
                padding: 0.9rem 0;
                display: inline-block;
                border-radius: 1.125rem;
                font-size: 1.938rem;
                text-align: center;
                text-decoration: none;
                border: 0;
                outline: none;
                width: 14.875rem;
                margin-top: 1rem;

                &:hover {
                    background: $yellowColor;
                }
            }
        }

    }

    .videos-list-slider {
        .slick-arrow {
            top: -4.5rem;
            bottom: inherit;
            z-index: 99;
            width: 3.5rem;
            height: 3.5rem;
            right: 1.5625rem;
            border: 1px solid #ffffff38;
            border-radius: 50%;
            background: $whiteColor;

            &::before {
                content: '';
                background: url(../../assets/images/icons/arrow-thin.svg) no-repeat;
                background-size: contain;
                width: 1.5rem;
                height: 1rem;
                display: block;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }

            &.slick-disabled {
                background: inherit;
                cursor: not-allowed;
                opacity: 0.5;
            }
        }

        .slick-arrow.slick-prev {
            left: inherit;
            right: 5rem;

            &::before {
                content: '';
                background: url(../../assets/images/icons/arrow-thin-left.svg) no-repeat;
                background-size: contain;
                width: 1.5rem;
                height: 1rem;
                display: none;

            }
        }

        .slick-dots {
            position: absolute;
            top: -4rem;
            bottom: inherit;
            display: flex !important;
            flex-wrap: wrap;
            width: 40%;
            left: inherit;
            right: 10rem;

            >li {
                width: 20%;
                margin: 0;

                button {
                    width: 100%;
                    background: #F4F4F4;
                    height: 4px;
                    padding: 0;

                    &::before {
                        display: none;
                    }
                }

                &.slick-active {
                    button {
                        background: $yellowColor;
                        border-radius: 3px;
                    }
                }
            }

            @media only screen and (min-width: $lg) {
                width: 32%
            }

            @media only screen and (max-width: $md) {
                left: 2rem;
                width: 69%;
            }
          
           
        }
    }

