.sub-broker-skeleton-parent {
    .head {
        .heading {
            font-size: 66px;
            line-height: 99px;
            text-align: left;
            font-family: 'Poppins', sans-serif;
            font-weight: 700;
            color: #221F20;
            padding: 8.1rem 0px;

            @media (max-width: 768px) {
                font-size: 49px;
                // padding: 30px 0px;
                line-height: 30px;
            }

            @media (max-width: 532px) {
                font-size: 28px;
                // padding: 30px 0px;
                line-height: 0px;
            }
        }

    }

    .freatured_videos {
        // border: 2px solid red;
        background-color: #221F20;

        .title {
            color: #FFFFFF;
            font-size: 56px;
            line-height: 84px;
            font-weight: 600;
            text-align: left;
            padding: 32px 0px;
            font-family: 'Poppins', sans-serif;

            @media (max-width: 768px) {
                font-size: 28px;
                // padding: 30px 0px;
                line-height: 30px;
                text-align: center;
            }
        }

        .leftsec {
            img {
                width: 100%;
                height: auto;
            }
        }

        .rightsec {
            color: #FFFFFF;
            padding-left: 17px;
            padding-bottom: 80px;
            @media (max-width: 768px) {
                text-align: center;
            }


            .righttitle {
                font-size: 48px;
                line-height: 72px;
                font-weight: 600;
                text-transform: capitalize;
                font-family: 'Poppins', sans-serif;

                @media (max-width: 768px) {
                    font-size: 28px;
                    // padding: 30px 0px;
                    line-height: 30px;
                    text-align: center;
                }
            }

            .datetitle {
                color: #9A9A9B;
                font-size: 28px;
                line-height: 42px;
                font-weight: 300;
                font-family: 'Poppins', sans-serif;
                @media (max-width: 768px) {
                    font-size: 25px;
                    line-height: 30px;
                }
            }

            .subhead {
                font-size: 28px;
                line-height: 42px;
                font-weight: 400;
                font-family: 'Poppins', sans-serif;
                @media (max-width: 768px) {
                    font-size: 25px;
                    line-height: 30px;
                }
            }

            .readmorebutton {
                background: #D9D9D9;
                border-radius: 10px;
                padding: 13px 30px;
                font-size: 24px;
                color: #221F20;
                line-height: 36px;
                font-weight: 600;
                border: 0;
              
            }
        }
    }

    .latest_vidoes {
        .title_latest_videos {
            color: #221F20;
            font-size: 56px;
            line-height: 84px;
            font-weight: 600;
            text-align: left;
            padding-top: 50px;
            padding-bottom: 15px;
            font-family: "Poppins", sans-serif;
            text-transform: capitalize;

            @media (max-width: 768px) {
                font-size: 28px;
                // padding: 30px 0px;
                line-height: 30px;
            }
        }

        .responsive_flex {
            @media (max-width: 768px) {
                display: flex;
                flex-direction: column;
                align-items: center;
            }


            .body_date {
                font-size: 24px;
                font-weight: 300;
                line-height: 36px;
                color: #A6A6A6;
                font-family: "Poppins", sans-serif;
                padding-top: 10px;
                @media (max-width: 768px) {
                    font-size: 18px;
                    line-height: 30px;
                    text-align: center;
                }

            }

            .latest_vidoes_head {
                font-size: 32px;
                line-height: 48px;
                font-weight: 600;
                color: #221F20;
                font-family: "Poppins", sans-serif;
                text-transform: capitalize;

                @media (max-width: 768px) {
                    font-size: 23px;
                    line-height: 32px;
                    text-align: center;
                }
               
            }
        }
    }

    .sectionexplore {
        a {
            display: inline-block;
            margin: 80px;
            text-decoration: none;
            outline: 0;
            text-align: center;
            font-size: 31px;
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            line-height: 46px;
            background-color: #000000;
            border-radius: 18px;
            padding: 15px 51px 15px 50px;
            color: #F7F7F7;

            @media (max-width: 425px) {
                margin: 68px;
                font-size: 16px;
                line-height: 36px;
                padding: 15px 31px 15px 30px;
                color: #F7F7F7;
            }
        }
    }
}