@import '../../assets/css/customvariable.scss';
@import '../../assets/css/common.scss';

.sub-broker-skeleton-parent {

    .freatured_videos {
        // border: 2px solid red;
        background-color: $primary;

        h1 {
            color: $whiteColor;
            padding: 6.1rem 0px;
        }

        .rightsec {
            color:$whiteColor;
            // padding-left: 1.063rem;
            padding-bottom: 2rem;

            @media (max-width: $sm-x) {
                text-align: center;
            }

            h2 {
                color: $whiteColor;
            }


            .datetitle {
                color: #9A9A9B;
                font-size: 1.75rem;
                line-height: 2.625rem;
                font-family: $font-family-poppins-regular;

                @media (max-width: 768px) {
                    font-size: 1.563rem;
                    line-height: 1.875rem;
                }
            }

            .subhead {
                font-size: 1.75rem;
                line-height: 2.625rem;
                font-family: $font-family-poppins-regular;


                @media (max-width: $sm-x) {
                    line-height: 2.15rem;
                    font-size: 1.45rem;

                }
            }

            .btn-bg {
                font-family: "PoppinsSemiBold", sans-serif;
                color: #221F20 !important;
                background: $whiteColor  !important;
                padding: 1.3rem 3rem !important;
                display: inline-block;
                border-radius: 16px !important;
                min-width: 16rem;
                font-size: 1.5rem !important;
                text-align: center;
                text-decoration: none;
                border: 0 !important;
                outline: none !important;
                transition: 0.5s;
                -webkit-transition: 0.5s;

            }
        }
    }

    .latest_vidoes {
        h2 {
            padding-top: 3.125rem;
            padding-bottom: 0.938rem;
        }


        .video_img_des {
            .body_date {
                font-size: 1.5rem;
                line-height: 2.25rem;
                color: #A6A6A6;
                font-family: $font-family-poppins-regular;
                padding-top: 0.625rem;



            }

            .latest_vidoes_head {
                font-size: 2rem;
                line-height: 3rem;
                color: $primary;
                font-family: $font-family-poppins-semibold;
                text-transform: capitalize;

                @media (max-width:$sm-x) {
                    font-size: 1.5rem;
                    line-height: 2rem;
                }
            }
        }
        .explore_btn{
            padding: 3.125rem 0rem;

        }

    }

}