@import 'common.scss';


.career-list-slider{
    .slick-slide{
        padding:0 2rem;
        img{
            width: 100%;
        }
    }
}

.our-values{
    padding: 13rem 0;
    .heading-sec{
        text-align: center;
    }
}

.career-main{
    .bannersection{
        padding-bottom: 0;
       
    }

    .benefits-perks{
        background: $primary;
        padding: 10rem 0;
        .heading-sec{
            .title-first{
                color: $whiteColor;
                text-align: center;
            }
        }
        .perks-list{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin-top: 6rem;
            justify-content: space-between;
            .perks-list-itm{
                width: 46%;
                display: flex;
                margin-left: 2%;
                flex-wrap: wrap;
                align-items: center;
                margin-bottom: 3rem;
                img{
                    width: 3.5rem;
                }
                h4{
                    color: $whiteColor;
                    width: calc(100% - 5rem);
                    padding-left: 3rem;
                }
            }
        }
    }

    .career-team{
        padding: 15rem 0 5rem 0;
        .explore-opportunities{
            position: relative;
            padding-top: 5rem;
            .bg-img{
                width: 100%;
            }
            .opportunities-cont{
                position: absolute;
                bottom: 3rem;
                width: 100%;
                left: 0;
                .ttl1{
                    font-size: 4.125rem;
                    color: #F5F5F5;
                    font-family: 'PoppinsBold';
                    margin-bottom: 4rem;
                    span{
                        color: #FFCE02;
                    }
                }
                .job-search{
                    .form1{
                        width: 100%;
                        position: relative;
                        .input-field{
                            width: 100%;
                            padding: 0.8rem 1rem;
                            border-radius: 7px;
                            border: 0;
                            outline: none;
                        }
                        .btn-submit{
                            position: absolute;
                            right: 3px;
                            top: 3.5px;
                            background: #221F20;
                            color: #F7F7F7;
                            display: block;
                            padding: 0.5rem 2rem;
                            border-radius: 7px;
                            border: 0;
                            outline: none;
                        }
                    }
                }
            }
        }
    }

    .career-jobs{
        padding: 0 0 25rem 0;
        .ttl2{
            font-size: 2rem;
            font-family: 'PoppinsSemiBold';
        }
        .jobs-list{
            margin-top: 2rem;
            .jobs-list-itm{
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
                padding: 1rem 0;
                border-bottom: 1px solid #E5E5E5;
                margin-bottom: 1rem;
                h5{
                    color: #707070;
                    .apl-btn{
                        color: $bgcolor-yello;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

.culture-values{
    padding: 10rem 0;
    .culture-values-img{
        .shdow{
            box-shadow: 0 0 4px #ccc;
        }
    }
}