@import 'customvariable.scss';


.career-list-slider{
    .slick-slide{
        padding:0 2rem;
        outline: none;
        div{
            outline: none;
        }
        img{
            width: 100%;
        }
        @media (max-width: $md){
            padding: 0 1rem;
        }
    }
}

.our-values{
    padding: 13rem 0;
    .heading-sec{
        text-align: center;
        @media (max-width: $sm){
            padding: 0 2rem;
        }
    }
    @media (max-width: $md){
        padding: 5rem 0 0 0;
    }
}

.career-main{
    .bannersection{
        padding-bottom: 0;
        @media (max-width: $md){
            padding-top: 10rem;
        }
    }

    .benefits-perks{
        background: $primary;
        padding: 10rem 0;
        .heading-sec{
            .title-first{
                color: $whiteColor;
                text-align: center;
            }
        }
        .perks-list{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin-top: 6rem;
            justify-content: space-between;
            .perks-list-itm{
                width: 46%;
                display: flex;
                margin-left: 2%;
                flex-wrap: wrap;
                align-items: center;
                margin-bottom: 3rem;
                img{
                    width: 3.5rem;
                }
                h4{
                    color: $whiteColor;
                    width: calc(100% - 5rem);
                    padding-left: 3rem;
                }
                @media (max-width: $sm){
                   width: 80%;
                }
            }
            @media (max-width: $sm){
                justify-content: center;
                margin-top: 2rem;
            }
        }
        @media (max-width: $md){
            padding: 6rem 0 3rem 0;
        }
    }

    .career-team{
        padding: 22rem 0 5rem 0;
        .explore-opportunities{
            position: relative;
            padding-top: 7rem;
            .bg-img{
                width: 100%;
                @media (max-width: $md){
                    height: 400px;
                    object-fit: cover;
                }
            }
            .opportunities-cont{
                position: absolute;
                bottom: 3rem;
                width: 100%;
                left: 0;
                .ttl1{
                    font-size: 4.5rem;
                    color: $lightColor;
                    font-family: 'PoppinsBold';
                    margin-bottom: 3rem;
                    span{
                        color: $bgcolor-yello;
                    }
                    @media (max-width: $md){
                        font-size: 3.5rem;
                    }
                    @media (max-width: $sm){
                        font-size: 2.4rem;
                    }
                }
                .job-search{
                    margin: 0.5rem 0;
                    .form1{
                        width: 100%;
                        position: relative;
                        .input-field{
                            width: 100%;
                            padding: 0.8rem 1rem;
                            border-radius: 7px;
                            border: 0;
                            outline: none;
                        }
                        .btn-submit{
                            position: absolute;
                            right: 3px;
                            top: 3.5px;
                            background: $bgcolordark;
                            color: #F7F7F7;
                            display: block;
                            padding: 0.5rem 2rem;
                            border-radius: 7px;
                            border: 0;
                            outline: none;
                            @media (max-width: $sm){
                                padding: 0.5rem 1rem;
                            }
                        }
                    }
                }
                .cust-dropdown{
                    margin: 0.5rem 0;
                    .dropdown{
                        width: 100%;
                        .dropdown-toggle{
                            width: 100%;
                            background: $whiteColor;
                            font-size: 1.4rem;
                            text-align: left;
                            padding: 0.8rem 1rem;
                            border-radius: 7px;
                            border: 0;
                            &::after{
                                background:url(../images/career/arrow-sort.svg) no-repeat top 9px left 6px $bgcolordark;
                                right: 4px;
                                position: absolute;
                                width: 3rem;
                                height: 3rem;
                                border-radius: 7px;
                                top: 4px;
                                background-size: 1.2rem;
                            }
                        }
                        .dropdown-menu{
                            width: 100%;
                            font-size: 1.4rem;
                        }
                    }
                }
            }
        }
        @media (max-width: $md){
            padding: 8rem 0 5rem 0;
        }
        @media (max-width: $sm){
           text-align: center;
           .heading-sec{
                padding: 0 2rem;        
            }
        }
       
    }

    .career-jobs{
        padding: 0 0 25rem 0;
        .ttl2{
            font-size: 2rem;
            font-family: 'PoppinsSemiBold';
        }
        .jobs-list{
            margin-top: 2rem;
            .jobs-list-itm{
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
                padding: 1rem 0;
                border-bottom: 1px solid #E5E5E5;
                margin-bottom: 1rem;
                .sec-ttl{
                    color: $subtext;
                    .apl-btn{
                        color: $bgcolor-yello;
                        text-decoration: none;
                    }
                    @media (max-width: $sm){
                        width: 50%;
                    }
                }
            }
        }
        @media (max-width: $md){
            padding: 0 0 5rem 0;
        }
    }
}

.culture-values{
    padding: 10rem 0;
    .culture-values-img{
        .shdow{
            box-shadow: 0 0 4px #ccc;
        }
    }
    .heading-sec{
        @media (max-width: $sm){
            text-align: center;
            margin-bottom: 3rem;
        }
    }
    @media (max-width: $md){
        padding: 5rem 2rem;
    }
}