/*Bootstrap Override*/

/*Font family*/
$font-family-poppins-bold: 'PoppinsBold', sans-serif;
$font-family-poppins-semibold: 'PoppinsSemiBold', sans-serif;
$font-family-poppins-regular: 'PoppinsRegular', sans-serif;
$font-family-poppins-medium: 'PoppinsMedium', sans-serif;
$font-family-RedHat-Bold:'RedHatDisplayBold', sans-serif;


/*bg varibales*/
$bgcolor: #C9E3F5;
$bgcolordark: #221F20;
$bgcolor-yellow: #FFCE02;
$bgcolor-graydark:#292728;
$bgolor-lightwhite:#F5F5F5;
$bgcolor-lightgray:#E0D6F4;
$bgcolor-fadegray:#DDD7D5;


/*textvaribales*/
$primary: #221F20;
$secondary: #707070;
$graycolor:#797A7D;
$whiteColor: #ffffff;
$lightColor: #F5F5F5;
$yellowColor:#FFCE02;
$whiteColorlight:#F7F7F7;
$dotColorgray:#797A7D;
$darkColorgray:#9F9F9F;



/*Responsive screen width*/

$xs: 590px;
$sm-x: 768px;
$sm-xs: 375px;
$sm: 767px;
$md: 992px;
$lg: 1200px;
$xl: 1500px;


