/*Bootstrap Override*/

$primary: #221F20;
$secondary: #344068;
$font-family-sans-serif: "Open Sans";
$font-family-raleway: "Raleway";
$font-weight-base: 500;
$input-border-radius: 0rem;
$btn-border-radius: 0rem;
$font-size-base: 1rem;
$headings-font-weight: 900;
$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;
$card-border-width: 0;
$card-spacer-x: 2.625rem;
/*Custom variables*/

$headingtext: #221F20;
$whiteColor: #ffffff;
$lightColor: #F5F5F5;
$subtext: #707070;
$bgcolor: #C9E3F5;
$bgcolordark: #221F20;
$bgcolor-yello: #FFCE02;

/*Responsive screen width*/

$xs: 590px;
$sm-x: 768px;
$sm-xs: 375px;
$sm: 767px;
$md: 992px;
$lg: 1200px;
$xl: 1500px;

