/*Bootstrap Override*/

/*Font family*/
$font-family-poppins-bold: 'PoppinsBold', sans-serif;
$font-family-poppins-semibold: 'PoppinsSemiBold', sans-serif;
$font-family-poppins-regular: 'PoppinsRegular', sans-serif;
$font-family-poppins-medium: 'PoppinsMedium', sans-serif;
$font-family-RedHat-Bold:'RedHatDisplayBold', sans-serif;


/*bg varibales*/
$bgcolor: #C9E3F5;
$bgcolordark: #221F20;
$bgcolorblackdark:#231F20;
$bgcolor-yellow: #FFCE02;
$bgcolor-graydark:#292728;
$bgolor-lightwhite:#F5F5F5;
$bgcolor-lightgray:#E0D6F4;
$bgcolor-fadegray:#DDD7D5;
$abt-bg:#F3FAFF;
$bgcolor-blue:#0066B3;
$bgcolor-blue-light:#E0EFE4;
$bgcolor-cream: #FFF9ED;
$bgcolor-green: #25B8AF;
$bglight-grey: #EFEDF2;
$bgligh-cream:#FDFFF2;
$graydark:#DEE0E6;
$bg-sky:#E0EFE4;
$bg-sky2:#E1EEFF;
$bg-sky3:#F8FAFD;
$txtgrey: #585858;
$lightsky:#F8FFF0;
$range-green:#66DB1E;
$pinklight2:#FFF6DF;
$bg-check:#00AA69;
$pinklight3:#FFFBF4;
$bluelight3:#F9FFF4;
$bluelight4:#F4FCFF;
$bg-li:rgba(0, 0, 0, 0.05);
$bgcolor-lightyellow:#FFCE021A;
$bg-lightgreen:#0CBCB7;
$bg-sky4:#E2FFFE;
$bgcolor-hover:#e0efe4;
$bgCircle-1:#ffce0229;
$bgCircle-2:#ff475529;
$bgCircle-3:#97da7b29;
$tabbg:#0066b21a;


/*textvaribales*/
$primary: #221F20;
$secondary: #707070;
$graycolor:#797A7D;
$graylight:#797979;
$whiteColor: #ffffff;
$lightColor: #F5F5F5;
$yellowColor:#FFCE02;
$whiteColorlight:#F7F7F7;
$dotColorgray:#797A7D;
$darkColorgray:#9F9F9F;
$blackColorlight:#13151A;
$blackcolordark:#15171A;
$blueColortext:#0066B3;
$bluetext:#0C71B9;
$bluedark:#005CB9;
$cta-f:#073E6A;
$redtext:#ff1a1a;
$redbg:#EF404A;
$greentext:#00B26B;
$lightblue:#EEFBFF;
$pinklight: #FCF2DD;
$pinkdark: #F4E3DD;
$gradientclr1: #00EFD1;
$gradientclr2: #00ACEA;
$lightgray2: #C1CBD4;
$linkcolor: #407BFF;
$listcolor:#444444;
$pluscolor:#00AE6F;
$pricolor:#004393;
$text-gray:#ffffffcc;
$darkblue:#0CBCB7;
$lightgray:#C2C2C2;
$lighblack:#060606;
$darkblack:#000000;
$blacktext: #111111;
$bglightwhite:#E5E5E5;
$bglightpinkish:#F9F9F9;
$tcolor:#333333;
$shadowdark:#00000040;
$input-bg:#F4F4F4;
$label-clr:#8A8A8A;
$color-input:#2E2E2E;
$trcolor:#AAAAAA;
$bluetextlight:#0CBCB7;
$crd-border:#ffffff54;
$val-clr:#999999;
$bluebg:#E1EEFF;
$darkblue:#0CBCB7;
/*Shadow color*/
$darkyellow:#FCF0D2;
$boxshadow:#F0F0F0;
$stockboxshadow: #00000014;
$border-light: rgba(0, 0, 0, 0.1);
$nbfcboxshadow:rgba(0, 0, 0, 0.25);
$bx-shadow:rgba(0, 0, 0, 0.16);
$card-shadow:rgba(0, 0, 0, 0.05);
$textcolor: #CFCFCF;
$tickshadow:#ECECEC;
$outer-green:#0dbdb7;
$tab-shadow:#C8C8D6;
$text-shadow:#221f2029;
$textgray:#666666;
$popupbg:#FAFAFA;
$sucessgreen: #00AE6F;
$brd-line:#221f201a;
/*Responsive screen width*/

//border color


$border-green:#D9FFBB;
$border-gray:#D9D9D9;
//mf step colors
$textblue:#1ED0CB;
$textgreen:#4EAC3F;
$textskycolor:#089E9A;
$textorange:#E88832;
$lightbrdr:#EEEEEE;
$tablestrip:#F3F3F3;
$xs: 590px;
$sm-x: 768px;
$sm-xs: 375px;
$sm: 767px;
$md: 992px;
$lg: 1200px;
$xl: 1500px;

