
@import 'common.scss';

.main-footer{
    position: relative;
    .footer-top-sec{
        background: $bgcolordark;
        padding: 4rem 0;
        position: relative;
        z-index: 999;
        .top-sec-sub{
            margin-bottom: 5rem;
        }
        .top-sec-quick-links{
           .quick-links-list{
               display: flex;
               flex-wrap: wrap;
               .reset{
                   width: 42%;
                   padding: 0;
                   margin: 0;
                   list-style: none;
                   >li{
                       margin-bottom: 1rem;
                       @media (max-width: $sm-x){
                        margin-bottom: 0.8rem;
                       }
                       h4{
                        color: $lightColor;
                        font-size: 1.4rem;
                        margin-bottom: 2rem;
                        font-family: $font-family-poppins-bold;
                       }
                       a{
                           color: $lightColor;
                           font-size: 1.2rem;
                           text-decoration: none;
                           font-family: $font-family-poppins-regular, sans-serif;
                           &:hover{
                               color: $bgcolor-yellow;
                           }
                           @media (max-width: $sm-x){
                            font-size: 1.1rem;
                           }
                       }
                       .pdffooter{
                        color: $lightColor;
                           font-size: 1.2rem;
                           text-decoration: none;
                           font-family: $font-family-poppins-regular, sans-serif;
                           cursor: pointer;
                           &:hover{
                            color: $bgcolor-yellow;
                        }
                       }
                   }
                   @media (max-width: $sm-x){
                    padding: 1rem;
                    }
                &.quicklink2{
                    width: 28%;
                    @media (max-width: $sm-x){
                        width: 33.33%;
                    }
                }
                @media (max-width: $sm-x){
                    width: 33.33%;
                }
               }
           }
        }
        .footer-cont-details{
            text-align: right;
            
            p{
                color: $lightColor;
                font-size: 1.2rem;
                position: relative;
                padding-right: 2.5rem;
                margin-bottom: 2.5rem;
                .fa{
                    position: absolute;
                    top: 50%;
                    transform: translate(0, -50%);
                    right: 0;
                    font-size: 1.5rem;
                    color: $lightColor;
                    @media (max-width: $md){
                        right: inherit;
                        left: 0;
                    }
                }
                svg{
                    position: absolute;
                    top: 50%;
                    transform: translate(0, -50%);
                    right: 0;
                    font-size: 1.5rem;
                    color: $lightColor;
                    @media (max-width: $md){
                        right: inherit;
                        left: 0;
                    }
                }
                a{
                    color: $lightColor;
                    text-decoration: none;
                    &:hover{
                        color: $bgcolor-yellow;
                    }
                }
                @media (max-width: $md){
                    padding-left: 2.5rem;
                }
            }
            @media (max-width: $md){
                text-align: left;
                margin-top: 2rem;
            }
        }
        .top-social-extra-links{
            margin-top: 2.5rem;
            .links-wrap-social{
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                @media (max-width: $sm-x){
                    flex-direction: column;
                    align-items: flex-start;
                }
                .wrap-app-links{
                    display: flex;
                    margin-top: 2rem;
                    
                    @media (max-width: $sm-x){
                        width: 100%;
                        flex-wrap: wrap;
                    }
                    @media (min-width:768px) and (max-width:1200px){
                        flex-direction: initial;
                    }
                    a{
                        text-decoration: none;
                    }
                    .link-nrl{
                        @media (max-width: $md){
                            width: auto;
                            margin-right: 1.5rem;
                        }
                        @media (max-width: $sm){
                            margin-right: 0.5rem;
                        }
                    }

                        

                }
                .footer-social-links{
                    display: flex;
                    margin-top: 2rem;
                    a{
                        width: 2.875rem;
                        height: 2.875rem;
                        display: block;
                        font-size:1.375rem;
                        text-decoration: none;
                        background: $lightColor;
                        border-radius: 50%;
                        color: $bgcolordark;
                        position: relative;
                        margin-left: 1rem;
                        -webkit-transform: perspective(1px) translateZ(0);
                        transform: perspective(1px) translateZ(0);
                        box-shadow: 0 0 1px rgb(0 0 0);
                        -webkit-transition-duration: 0.3s;
                        transition-duration: 0.3s;
                        -webkit-transition-property: transform;
                        transition-property: transform;
                        -webkit-transition-timing-function: ease-out;
                        transition-timing-function: ease-out;
                        position: relative;
                        
                        .fa{
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                        }
                        svg{
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                        }
                        &:hover{
                            -webkit-transform: translateY(-8px);
                            transform: translateY(-8px);
                            background-color: $bgcolor-yellow;
                        }
                    }
                }
            }
            .extra-links-right{
                padding: 0;
                margin: 0;
                margin-top: 2rem;
                list-style: none;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: flex-end;
                > li{
                    margin-left:2rem;
                    color: #9A9A9A;
                    font-family: $font-family-poppins-medium;
                    font-size: 1.2rem;
                    a{
                        color: #9A9A9A;
                        font-family: $font-family-poppins-medium;
                        text-decoration: none;
                    &:hover{
                            color: $yellowColor;
                        }
                    }
                   
                    .fa-heart{
                        color: #EF5350;
                    }
                    @media (max-width: $sm-x){
                        margin: 0.5rem;
                        font-size: 1.1rem;
                    }
                }
                @media (max-width: $sm-x){
                    margin-top: 2rem;
                    justify-content: flex-start;
                }
            }
        }
    }
    
}
.cursor-pointer{
    cursor: pointer;
  }
.footer-bottom{
    padding: 4rem 0;
    background: $bgcolor-graydark;
    z-index: 999;
    position: relative;
    a {
             color: $whiteColor;
            text-decoration: underline;
        // &:link {
        //     color: $whiteColor;
        //     text-decoration: none;
        // }
        &:hover {
            color: $yellowColor;
            text-decoration: none;
        }
    }
    
    p{
        color: $whiteColor;
        font-family: $font-family-poppins-medium;
        font-size: 1.1rem;
        line-height: 2.4;
        margin-bottom: 1.5rem;
    }
    .moreless-button{
        color: $whiteColor;
        font-family: $font-family-poppins-medium;
        font-size: 1.2rem;
        text-decoration: none;
        cursor: pointer;
    }
    .ol-p0{
        padding-left: 1.2rem;
    }
}

.moretext {
    display: none;
  }


 
  .footer-marquee{
    background: $bgcolordark;
    padding: 1rem;
    position: relative;
    color: $whiteColor !important;
    font-size: 1.1rem;
    .overlay{
        display: none;
    } 
}

.quick-links-footer{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 9999;
    height: auto;
    .btn-links{
        background: $yellowColor;
        color: $primary;
        font-size: 1.25rem;
        font-family: $font-family-poppins-bold;
        display: block;
        padding: 1.14rem 1.5rem;
        z-index: 9;
        height: auto;
        position: relative;
        cursor: pointer;
        border-radius: 10px 0 0 10px;
    }
    .links-footer-quick{
        position: absolute;
        right: 0;
        bottom: 3.2rem;
        transition: .5s ease;
        min-width: 20.5rem;
        padding:2rem 2rem; 
        display: block;
        background: $primary;
        visibility: hidden;
        opacity: 0;
        display: none;
        max-height: calc(100vh - 15rem);
        overflow: auto;

        >li{
            padding: 0.6rem 1rem;
            list-style: none;
            a{
                cursor: pointer;
                font-size: 1.3rem;
                color: $whiteColor;
                text-decoration: none;
                font-family: $font-family-poppins-semibold;
                display: block;
                transition: .5s ease;
                
                &:hover{
                    color: $yellowColor;
                }
            }
        }
        &::before{
            content: '';
            width: 100%;
            height: 6px;
            display: block;
            background: $yellowColor;
            position: absolute;
            top: 0;
            left: 0;
        }
        
    }
    &:hover{
        
        .links-footer-quick{
           display: block;
           opacity: 1;
           visibility: visible;
        }
    }
}	

.links-footer-quick::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.links-footer-quick::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.links-footer-quick::-webkit-scrollbar-thumb
{
	background-color: #000000;
}