@import 'common.scss';

.Header{
    .main-header{
        position: fixed;
        background: $whiteColor;
        width: 100%;
        z-index: 9999;
        top: 0;
        left: 0;
        box-shadow: 0px 0px 8px #F0F0F0;
        padding: 2rem 0;
        min-height: 119px;
        
        .navbar{
            box-shadow: none;
            .logo-main{
                margin-right: 3rem;
                width: 150px;
                @media screen and (max-width: 1170px) {
                    max-width: 110px;
                    margin-right: 0;
                }
            }
           
        }
        .navbar-toggler{ 
            outline: none !important;
            box-shadow: inherit;
            font-size: 2.2rem;
            padding: 0.5rem 1rem !important;
        }
        .nav-header{
    
                display: flex;
                padding: 0;
                margin: 0;
                list-style: none;
                align-items: center;
                >li{
                    margin: 0 1rem;
                    &.active{
                        &::before{
                            content: "";
                            width: 0.7rem;
                            height: 0.7rem;
                            display: block;
                            background: $bgcolordark;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            margin: 0 auto;
                            border-radius: 2px;
                        }
                    }
                    a{
                        font-size: 1.5rem;
                        color: #221f20bf;
                        font-family: $font-family-poppins-medium;
                        text-decoration: none;
                        white-space: nowrap;
                        position: relative;
                        @media screen and (max-width: 1170px) {
                            font-size: 1.4rem;
                        }
                        &:hover{
                            color: $primary;
                            &::before{
                                content: "";
                                width: 0.7rem;
                                height: 0.7rem;
                                display: block;
                                background: $bgcolordark;
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                right: 0;
                                margin: 0 auto;
                                border-radius: 2px;
                                @media screen and (max-width: $md) {
                                    display: none;
                                }
                            }
                        }
                        
                        @media (max-width: $md){
    
                        }
                        &.active-header{
                            color: $primary;
                            &::before{
                                content: "";
                                width: 0.7rem;
                                height: 0.7rem;
                                display: block;
                                background: $bgcolordark;
                                position: absolute;
                                bottom: 0px;
                                left: 0;
                                right: 0;
                                margin: 0 auto;
                                border-radius: 2px;
                                @media (max-width: $md){
                                    display: none;
                                }
                            }
                        }
                    }
                    &.login-btn{
                        margin-left: 3rem;
                        a{
                            font-family: $font-family-poppins-semibold;
                            color: $primary;
                            &:hover{
                                &::before{
                                    display: none;
                                }
                            }
                        }
                        @media screen and (max-width: 1170px) {
                            margin-left: 1rem;
                        }
                    }
                    &.get-btn{
                       
                        a{
                            background: $primary;
                            color: $whiteColorlight;
                            display: block;
                            padding: 1rem 2rem;
                            border-radius: 12px;
                            text-align: center;
                            &:hover{
                                background: $bgcolor-yellow;
                                color: $primary;
                                &::before{
                                    display: none;
                                }
                            }
                            @media screen and (max-width: 1170px) {
                                padding: 0.7rem 1.5rem;
                            }   
                        }
                    }
                    @media screen and (max-width: 1170px) {
                        margin: 0 0.6rem;
                    }
                    @media (max-width: $md){
                        width: 100%;
                        text-align: left;
                        border-bottom: 1px solid #ccc;
                        padding: 0.4rem 1em;
                    }
                }
                .dropdown{
                    .dropdown-menu{
                        top: 130%;
                        border: 0;
                        border-radius: 0;
                        box-shadow: 0 0 10px #eee;
                        &::before{
                            // content: '';
                            width: 0;
                            height: 0;
                            border-left: 15px solid transparent;
                            border-right: 15px solid transparent;
                            border-bottom: 20px solid $whiteColor;
                            position: absolute;
                            left: 0;
                            right: 0;
                            margin: 0 auto;
                            top: -20px;
                        }
                    .dropdown-item{
                        font-size: 1.3rem;
                        font-family: $font-family-poppins-regular;
                        text-transform: capitalize;
                        background: $whiteColor !important;
                        &:hover{
                            background: #e9ecef !important; 
                        }
                    }
                    }
                    @media screen and (max-width: $md) {
                        .dropdown-menu{
                            position: static !important;
                            top: inherit !important;
                            transform: inherit !important;
                            &::before{
                                display: none;
                            }
                        }
                    } 
                }
           
        }
        @media (max-width: $md){
            min-height: 101px;
        }
        @media (max-width: $sm){
            padding: 1rem 0;
        }
        @media (max-width: $xs){
            min-height: 60px;
        }

        .logo-light{
            display: none;
        }
        .top-nav-div{
            .brand-logo{
                padding: 0;
                margin: 0;
                .navbar-brand{
                    margin-right: 3rem;
                    width: 150px;
                    display: block;
                }
            }
            .navbar-nav{

                align-items: center;
                
                .nav-link{
                    font-size: 1.5rem;
                    color: #221f20bf;
                    font-family: $font-family-poppins-medium;
                    text-decoration: none;
                    white-space: nowrap;
                    position: relative;
                    margin: 0 1rem;
                    @media screen and (max-width: 1170px) {
                        font-size: 1.4rem;
                    }
                    &:hover{
                        color: $primary;
                        &::before{
                            content: "";
                            width: 0.7rem;
                            height: 0.7rem;
                            display: block;
                            background: $bgcolordark;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            margin: 0 auto;
                            border-radius: 2px;
                            @media screen and (max-width: $md) {
                                display: none;
                            }
                        }
                    }
                    
                    @media (max-width: $md){
    
                    }
                    &.active-header{
                        color: $primary;
                        &::before{
                            content: "";
                            width: 0.7rem;
                            height: 0.7rem;
                            display: block;
                            background: $bgcolordark;
                            position: absolute;
                            bottom: 0px;
                            left: 0;
                            right: 0;
                            margin: 0 auto;
                            border-radius: 2px;
                            @media (max-width: $md){
                                display: none;
                            }
                        }
                    }
                    &.get-btn{
                        background: $primary;
                                color: $whiteColorlight;
                                display: block;
                                padding: 1rem 2rem;
                                border-radius: 12px;
                                text-align: center;
                                &:hover{
                                    background: $bgcolor-yellow;
                                    color: $primary;
                                    &::before{
                                        display: none;
                                    }
                                }
                                @media screen and (max-width: 1170px) {
                                    padding: 0.5rem 1.5rem;
                                }   
                    }
                    
                    
                }
                .nav-item{
                    .dropdown-menu{
                        top: 130%;
                        border: 0;
                        border-radius: 0;
                        box-shadow: 0 0 10px #eee;
                        &::before{
                            content: '';
                            width: 0;
                            height: 0;
                            border-left: 15px solid transparent;
                            border-right: 15px solid transparent;
                            border-bottom: 20px solid $whiteColor;
                            position: absolute;
                            left: 0;
                            right: 0;
                            margin: 0 auto;
                            top: -20px;
                        }
                    }
                    .dropdown-item{
                        font-size: 1.4rem;
                        font-family: $font-family-poppins-regular;
                        text-transform: capitalize;
                    }
                }
                .login-btn{
                    margin-left: 3rem;
                    a{
                        font-family: $font-family-poppins-semibold;
                        color: $primary;
                        margin: 0;
                        &:hover{
                            &::before{
                                display: none;
                            }
                        }
                    }
                    @media screen and (max-width: 1170px) {
                        margin-left: 1rem;
                    }
                }
               
            }
            
        }
    }
    &.header-light{
       
        .main-header{
            .logo-light{
                display: block;
            }
            .logo-dark{
                display: none;
            }
            .nav-header{
                >li{
                    a{
                        color: $whiteColor;
                        @media (max-width: $md){
                            color: $primary;
                        }
                        &:hover{
                            &::before{
                                content: '';
                                background: $whiteColor;
                            }
                        }
                        &.active-header{
                            &::before{
                                background: $whiteColor;
                            }
                        }
                    }
                    &.get-btn{
                        a{
                            background: $whiteColor;
                            color: $primary;
                            @media (max-width: $md){
                                background: $primary;
                                color: $whiteColor;
                            }
                            &:hover{
                                background: $bgcolor-yellow;
                                color: $primary
                            }
                        }
                       
                        
                    }
                }
            }
        }
    }

}






nav{
    top:0;
    box-shadow: 0px 13px 24px 0px rgba(0,0,0,0.08);
    padding-top: .5rem;
    padding-bottom: .5rem;
}
// nav .navbar-collapse.collapse{
//     display: block;
// }
@media (max-width: 991px){
    nav .navbar-collapse.collapse{
        overflow: hidden;
    }
    nav .navbar-collapse.active{
        height: auto !important;
        display: block;
        background: #F7F7F7;
        padding: 0;
        margin-top: 1rem;
        box-shadow: 0 1px 5px #767676dd;
        width: 98%;
        position: absolute;
        top: 55px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
}
nav .navbar-collapse{
    transition: .6s all ease-in-out;
}

.navbar-toggler{
    border: 0;
    padding: 0;
    outline: none;
    box-shadow: none;
    .MuiSvgIcon-root{
        width: 2em;
        height: 2em;
        
    }
    @media (max-width: $sm-x){
        padding: 0 !important;
    }
}

.header-light{
    .navbar-toggler{
        .MuiSvgIcon-root{
            color: $whiteColor;
        }
    }
}


.get-btn2{

    @media (max-width: $md){
        padding: 1rem 1rem !important;
    }

}

