@import 'common.scss';

.main-header{
    position: absolute;
    background: transparent;
    width: 100%;
    z-index: 99;
    top: 0;
    left: 0;
    padding: 2rem 0;
    .navbar{
        box-shadow: inherit;
        .logo-main{
            @media screen and (max-width: 1170px) {
                max-width: 110px;
            }
        }
    }
    .nav-header{

            display: flex;
            padding: 0;
            margin: 0;
            list-style: none;
            align-items: center;
            >li{
                margin: 0 1rem;
                a{
                    font-size: 1.5rem;
                    color: #221f20bf;
                    font-family: 'PoppinsMedium';
                    text-decoration: none;
                    white-space: nowrap;
                    position: relative;
                    @media screen and (max-width: 1170px) {
                        font-size: 1.4rem;
                    }
                    &:hover{
                        color: $headingtext;
                        &::before{
                            content: '';
                            width: 0.5rem;
                            height: 0.5rem;
                            display: block;
                            background: $headingtext;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            margin: 0 auto;
                        }
                    }
                }
                &.login-btn{
                    margin-left: 5rem;
                    a{
                        font-family: 'PoppinsSemiBold';
                    }
                    @media screen and (max-width: 1170px) {
                        margin-left: 1rem;
                    }
                }
                &.get-btn{
                    a{
                        background: $headingtext;
                        color: #F7F7F7;
                        display: block;
                        padding: 1rem 2rem;
                        border-radius: 18px;
                        &:hover{
                            background: $bgcolor-yello;
                            color: $headingtext;
                            &::before{
                                display: none;
                            }
                        }
                        @media screen and (max-width: 1170px) {
                            padding: 0.5rem 1.5rem;
                        }   
                    }
                }
                @media screen and (max-width: 1170px) {
                    margin: 0 0.6rem;
                }
            }
         
    }
    @media (max-width: 767px){
        padding: 1rem 0;
    }
}


nav{
    top:0;
    box-shadow: 0px 13px 24px 0px rgba(0,0,0,0.08);
    padding-top: .5rem;
    padding-bottom: .5rem;
}
nav .navbar-collapse.collapse{
    // display: block;
}
@media (max-width: 991px){
    nav .navbar-collapse.collapse{
        overflow: hidden;
    }
    nav .navbar-collapse.active{
        height: auto !important;
        display: block;
        background: #F7F7F7;
        padding: 2rem;
        margin-top: 1rem;
    }
}
nav .navbar-collapse{
    transition: .6s all ease-in-out;
}

.navbar-toggler{
    border: 0;
    padding: 0;
    outline: none;
    box-shadow: none;
    .MuiSvgIcon-root{
        width: 2em;
        height: 2em;
    }
}