@font-face {
  font-family: "PoppinsMedium";
  src: url("../fonts/PoppinsMedium.eot");
  src: url("../fonts/PoppinsMedium.eot") format("embedded-opentype"), url("../fonts/PoppinsMedium.woff2") format("woff2"), url("../fonts/PoppinsMedium.woff") format("woff"), url("../fonts/PoppinsMedium.ttf") format("truetype"), url("../fonts/PoppinsMedium.svg#PoppinsMedium") format("svg");
}
@font-face {
  font-family: "PoppinsRegular";
  src: url("../fonts/PoppinsRegular.eot");
  src: url("../fonts/PoppinsRegular.eot") format("embedded-opentype"), url("../fonts/PoppinsRegular.woff2") format("woff2"), url("../fonts/PoppinsRegular.woff") format("woff"), url("../fonts/PoppinsRegular.ttf") format("truetype"), url("../fonts/PoppinsRegular.svg#PoppinsRegular") format("svg");
}
@font-face {
  font-family: "PoppinsSemiBold";
  src: url("../fonts/PoppinsSemiBold.eot");
  src: url("../fonts/PoppinsSemiBold.eot") format("embedded-opentype"), url("../fonts/PoppinsSemiBold.woff2") format("woff2"), url("../fonts/PoppinsSemiBold.woff") format("woff"), url("../fonts/PoppinsSemiBold.ttf") format("truetype"), url("../fonts/PoppinsSemiBold.svg#PoppinsSemiBold") format("svg");
}
@font-face {
  font-family: "PoppinsBold";
  src: url("../fonts/PoppinsBold.eot");
  src: url("../fonts/PoppinsBold.eot") format("embedded-opentype"), url("../fonts/PoppinsBold.woff2") format("woff2"), url("../fonts/PoppinsBold.woff") format("woff"), url("../fonts/PoppinsBold.ttf") format("truetype"), url("../fonts/PoppinsBold.svg#PoppinsBold") format("svg");
}
html {
  font-size: 14px;
}
@media only screen and (max-width: 1570px) {
  html {
    font-size: 12px;
  }
}

body {
  font-family: "PoppinsRegular";
  font-size: 1.375rem;
  color: #221F20;
}

.title-first {
  font-size: 3.5rem;
  color: #221F20;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.2509803922);
  font-family: "PoppinsSemiBold";
}

.title-secnd {
  font-size: 3rem;
  color: #221F20;
  font-family: "PoppinsSemiBold";
}

.main-header {
  position: absolute;
  background: transparent;
  width: 100%;
  z-index: 99;
  top: 0;
  left: 0;
  padding: 2rem 0;
}
.main-header .flex-nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main-header .flex-nav .nav-header {
  width: calc(100% - 200px);
  display: flex;
  justify-content: flex-end;
}
.main-header .flex-nav .nav-header > ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  align-items: center;
}
.main-header .flex-nav .nav-header > ul > li {
  margin: 0 1rem;
}
.main-header .flex-nav .nav-header > ul > li a {
  font-size: 1.5rem;
  color: #221F20;
  font-family: "PoppinsMedium";
  text-decoration: none;
  white-space: nowrap;
}
.main-header .flex-nav .nav-header > ul > li.login-btn {
  margin-left: 5rem;
}
.main-header .flex-nav .nav-header > ul > li.login-btn a {
  font-family: "PoppinsSemiBold";
}
.main-header .flex-nav .nav-header > ul > li.get-btn a {
  background: #221F20;
  color: #F7F7F7;
  display: block;
  padding: 1rem 2rem;
  border-radius: 18px;
}
.main-header .flex-nav .nav-header > ul > li.get-btn a:hover {
  background: #FFCE02;
  color: #221F20;
}

.btn-bg {
  font-family: "PoppinsSemiBold";
  color: #FFFFFF;
  background: #221F20;
  padding: 1.3rem 2rem;
  display: inline-block;
  border-radius: 16px;
  min-width: 15.625rem;
  text-align: center;
  text-decoration: none;
  border: 0;
  outline: none;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.btn-bg:hover {
  background: #FFCE02;
  color: #221F20;
}

.heading-sec p {
  color: #707070;
  font-size: 1.75rem;
  line-height: 2.625rem;
}
.heading-sec .title-secnd {
  margin-bottom: 2rem;
}
.heading-sec .title-first {
  text-shadow: inherit;
  margin-bottom: 1rem;
}

.home-banner {
  position: relative;
}
.home-banner .banner-img {
  width: 100%;
}
.home-banner .banner-desc {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 0;
  width: 100%;
}
.home-banner .banner-desc .banner-caption h3 {
  font-size: 4.125rem;
  font-family: "PoppinsBold";
  color: #221F20;
}

.main-services {
  padding: 20rem 0 15rem 0;
  position: relative;
}
.main-services .title-first {
  text-align: center;
  margin-bottom: 8rem;
}
.main-services .main-services-list .services-list-slider {
  padding-bottom: 3rem;
}
.main-services .main-services-list .services-list-slider .service-item {
  padding-right: 15rem;
}
.main-services .main-services-list .services-list-slider .service-item .img-itm {
  display: block;
  margin-bottom: 1rem;
}
.main-services .main-services-list .services-list-slider .service-item h5 {
  font-size: 2rem;
  font-family: "PoppinsSemiBold";
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.main-services .main-services-list .services-list-slider .service-item p {
  font-family: "PoppinsRegular";
  font-size: 1.5rem;
  line-height: 2.25rem;
}
.main-services .main-services-list .services-list-slider .service-item a {
  font-family: "PoppinsMedium";
  color: #221F20;
  text-decoration: none;
  font-size: 1.375rem;
  display: flex;
  align-items: center;
}
.main-services .main-services-list .services-list-slider .service-item a .arrow-img {
  position: relative;
  margin-left: 1rem;
}
.main-services .main-services-list .services-list-slider .service-item a .arrow-img img {
  max-width: 100%;
}
.main-services .main-services-list .services-list-slider .slick-dots li {
  margin: 0;
}
.main-services .main-services-list .services-list-slider .slick-dots li button::before {
  color: #797A7D;
  font-size: 1rem;
  line-height: 1rem;
}
.main-services .main-services-list .services-list-slider .slick-dots li.active button::before {
  opacity: 1;
}
.main-services::before {
  content: "";
  width: 20rem;
  height: 50rem;
  display: block;
  position: absolute;
  left: 0;
  top: -9rem;
  background: url(../images/clipath-img1-svg.png) no-repeat top left;
  background-size: contain;
}
.main-services::after {
  content: "";
  width: 12rem;
  height: 40rem;
  display: block;
  position: absolute;
  right: 0;
  bottom: -9rem;
  background: url(../images/clipath-img2.png) no-repeat top right;
  background-size: contain;
}

.choice-finx {
  background: url(../images/bg-img1.png) no-repeat #F3FAFF;
  background-size: 100% 100%;
  padding-top: 10rem;
  position: relative;
  z-index: 9;
}
.choice-finx .finx-section {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: -15rem;
}
.choice-finx .finx-section .finx-left-cont {
  width: 80%;
  padding-right: 6%;
}
.choice-finx .finx-section .finx-left-cont .finx-app-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 6.5rem;
  margin-left: -4%;
}
.choice-finx .finx-section .finx-left-cont .finx-app-list .app-list-item {
  width: 29.33%;
  margin-left: 4%;
}
.choice-finx .finx-section .finx-left-cont .finx-app-list .app-list-item a {
  background: #FFFFFF;
  box-shadow: 0px 0px 15px 1px #C2C2C2;
  border-radius: 20px;
  padding: 2rem;
  text-decoration: none;
  display: block;
  height: 100%;
}
.choice-finx .finx-section .finx-left-cont .finx-app-list .app-list-item a h4 {
  font-size: 1.625rem;
  font-family: "PoppinsSemiBold";
  color: #221F20;
  margin: 1rem 0;
}
.choice-finx .finx-section .finx-left-cont .finx-app-list .app-list-item a p {
  font-size: 1.125rem;
  line-height: 1.7rem;
  margin-bottom: 0;
  color: #221F20;
}
.choice-finx .finx-section .finx-left-cont .expl-app {
  display: flex;
  align-items: center;
  margin-top: 5rem;
}
.choice-finx .finx-section .finx-left-cont .expl-app a {
  margin-right: 2rem;
}
.choice-finx .finx-section .finx-left-cont .expl-app a .ico-img {
  width: 5rem;
}
.choice-finx .finx-section .finx-app-img {
  width: 20%;
  position: absolute;
  right: 0;
  top: 0;
}
.choice-finx .finx-section .finx-app-img img {
  width: 100%;
}

.market-insights-sec {
  background: #FFFFFF;
  padding: 30rem 0 12rem 0;
  position: relative;
}
.market-insights-sec .heading-sec {
  text-align: center;
}
.market-insights-sec .heading-sec .title-first {
  margin-bottom: 1rem;
}
.market-insights-sec .market-insights-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  margin-left: -4%;
}
.market-insights-sec .market-insights-list .insights-list-item {
  width: 18%;
  margin-left: 4%;
  transition: width 1.5s;
}
.market-insights-sec .market-insights-list .insights-list-item .insights-item-cont {
  border-radius: 36px;
  overflow: hidden;
  position: relative;
}
.market-insights-sec .market-insights-list .insights-list-item .insights-item-cont img {
  width: 100%;
  height: 420px;
  -o-object-fit: cover;
     object-fit: cover;
}
.market-insights-sec .market-insights-list .insights-list-item .insights-item-cont .ttl-sm {
  display: inline-block;
  position: absolute;
  left: -2rem;
  transition: 0.7s;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
  transform: rotate(-90deg);
  bottom: 8rem;
  background: #DDD7D5;
  border-radius: 10px;
  color: #221F20;
  width: 14rem;
  padding: 0.5rem 1rem;
  text-align: left;
}
.market-insights-sec .market-insights-list .insights-list-item.insights-list-active {
  width: 30%;
}
.market-insights-sec .market-insights-list .insights-list-item.insights-list-active .ttl-sm {
  transform: rotate(0);
  bottom: 2rem;
  left: 2rem;
  background: #FFCE02;
}
.market-insights-sec .market-insights-list .insights-list-item:hover {
  width: 30%;
}
.market-insights-sec .market-insights-list .insights-list-item:hover .ttl-sm {
  transform: rotate(0);
  bottom: 2rem;
  left: 2rem;
  background: #FFCE02;
}
.market-insights-sec .market-insights-list .insights-list-item .item-cont-descr {
  padding: 1.5rem 0;
}
.market-insights-sec::before {
  content: "";
  width: 17rem;
  height: 42rem;
  display: block;
  position: absolute;
  right: 0;
  top: 11rem;
  background: url(../images/clipath-img3.png) no-repeat top right;
  background-size: contain;
}
.market-insights-sec::after {
  content: "";
  width: 17rem;
  height: 42rem;
  display: block;
  position: absolute;
  left: 0;
  bottom: -22rem;
  background: url(../images/clipath-img4.png) no-repeat top left;
  background-size: contain;
}

.features-cont {
  padding: 5rem 0 0 0;
}
.features-cont .heading-sec {
  text-align: center;
  margin-bottom: 4rem;
}
.features-cont .features-list-cont {
  background: #231F20;
  padding: 4rem 0 2rem 0;
}
.features-cont .features-list-cont .all-features-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -25%;
}
.features-cont .features-list-cont .all-features-list .feature-item {
  margin-left: 18%;
  width: 15%;
  margin-bottom: 5rem;
}
.features-cont .features-list-cont .all-features-list .feature-item img {
  max-width: 100%;
}
.features-cont .features-list-cont .all-features-list .feature-item h4 {
  font-size: 1.625rem;
  font-family: "PoppinsSemiBold";
  color: #FFFFFF;
  margin: 1rem 0;
}
.features-cont .features-list-cont .all-features-list .feature-item p {
  font-size: 1.125rem;
  line-height: 1.7rem;
  margin-bottom: 0;
  color: #FFFFFF;
}

.fables-stories {
  padding: 15rem 0 0 0;
  position: relative;
  overflow: hidden;
}
.fables-stories .heading-sec {
  text-align: center;
}
.fables-stories .stories-sec-main {
  padding-top: 8rem;
  display: flex;
  flex-wrap: wrap;
}
.fables-stories .stories-sec-main .stories-sec-left {
  width: 40%;
}
.fables-stories .stories-sec-main .stories-sec-left img {
  width: 100%;
  display: block;
  border-radius: 30px;
}
.fables-stories .stories-sec-main .stories-sec-right {
  width: 60%;
  padding-left: 8rem;
  padding-top: 5rem;
}
.fables-stories .stories-sec-main .stories-sec-right h4 {
  font-size: 2.25rem;
  color: #221F20;
  font-family: "PoppinsSemiBold";
  margin-bottom: 2rem;
}
.fables-stories .stories-sec-main .stories-sec-right p {
  font-size: 1.75rem;
}
.fables-stories .stories-sec-main .sec-slider-cont {
  width: 70%;
  position: absolute;
  right: -14%;
  bottom: 20rem;
}
.fables-stories .stories-sec-main .sec-slider-cont .stories-sec-slider .itm-img {
  padding: 2rem;
}
.fables-stories .stories-sec-main .sec-slider-cont .stories-sec-slider .itm-img img {
  width: 100%;
}
.fables-stories .stories-sec-main .sec-slider-cont .stories-sec-slider .slick-dots {
  text-align: left;
  bottom: -7.5rem;
  padding-left: 4rem;
}
.fables-stories .btn-bg {
  margin-top: 14rem;
}

.count-value-section {
  padding: 25rem 0 20rem 0;
  position: relative;
}
.count-value-section .heading-sec {
  padding-left: 4rem;
}
.count-value-section .heading-sec .title-first {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.count-value-section .count-value-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.count-value-section .count-value-list .count-value-item {
  border: 2px solid #E0EFE4;
  box-shadow: 0px 0px 8px #F0F0F0;
  border-radius: 20px;
  padding: 1.5rem 1rem;
  width: 44%;
  margin-left: 4%;
  margin-bottom: 3%;
  text-align: center;
  background: #FFFFFF;
}
.count-value-section .count-value-list .count-value-item h4 {
  font-size: 3.5rem;
  font-family: "PoppinsSemiBold";
  color: #221F20;
}
.count-value-section .count-value-list .count-value-item:first-child {
  margin-left: 0;
}
.count-value-section::before {
  content: "";
  width: 60rem;
  height: 50rem;
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  background: url(../images/clipath-img5.svg) no-repeat top left;
  background-size: contain;
}

.home-testimonial {
  padding: 10rem 0;
}
.home-testimonial .title-first {
  text-align: center;
}
.home-testimonial .testimonial-slider .slider-item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.home-testimonial .testimonial-slider .slider-item .slider-item-img {
  width: 50%;
  padding: 0 4rem;
}
.home-testimonial .testimonial-slider .slider-item .slider-item-img img {
  width: 100%;
}
.home-testimonial .testimonial-slider .slider-item .slider-item-des {
  width: 50%;
}
.home-testimonial .testimonial-slider .slider-item .slider-item-des .item-des-name-value {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.home-testimonial .testimonial-slider .slider-item .slider-item-des .item-des-name-value .fa {
  color: #0C71B9;
  font-size: 2.4rem;
}
.home-testimonial .testimonial-slider .slider-item .slider-item-des .item-des-name-value h4 {
  font-family: "PoppinsBold";
}
.home-testimonial .testimonial-slider .slider-item .slider-item-des .item-des-name-value h6 {
  color: #9F9F9F;
  padding-left: 1rem;
}
.home-testimonial .testimonial-slider .slider-item .slider-item-des .likes-view {
  display: flex;
  align-items: center;
  margin-top: 3rem;
}
.home-testimonial .testimonial-slider .slider-item .slider-item-des .likes-view .fa-heart {
  color: #F13859;
}
.home-testimonial .testimonial-slider .slider-item .slider-item-des .likes-view h5 {
  margin: 0;
  margin-left: 0.5rem;
  color: #9F9F9F;
}
.home-testimonial .testimonial-slider .slick-next {
  width: 6rem;
  height: 3rem;
  z-index: 9;
  top: inherit;
  border-radius: 30px;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.1019607843);
  bottom: 6rem;
  background: #FFFFFF;
}
.home-testimonial .testimonial-slider .slick-next::before {
  content: "\f178";
  font: normal normal normal 14px/1 FontAwesome;
  display: block;
  font-size: 2.5rem;
  color: #9F9F9F;
}
.home-testimonial .testimonial-slider .slick-next.slick-disabled {
  box-shadow: none;
  cursor: not-allowed;
}
.home-testimonial .testimonial-slider .slick-next:hover::before {
  color: #0C71B9;
}
.home-testimonial .testimonial-slider .slick-prev {
  width: 6rem;
  height: 3rem;
  top: inherit;
  bottom: 6rem;
  z-index: 9;
  background: #FFFFFF;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.1019607843);
  border-radius: 30px;
  left: inherit;
  right: 5rem;
}
.home-testimonial .testimonial-slider .slick-prev::before {
  content: "\f177";
  font: normal normal normal 14px/1 FontAwesome;
  display: block;
  font-size: 2.5rem;
  color: #9F9F9F;
}
.home-testimonial .testimonial-slider .slick-prev.slick-disabled {
  box-shadow: none;
  cursor: not-allowed;
}
.home-testimonial .testimonial-slider .slick-prev:hover::before {
  color: #0C71B9;
}

.security-privacy {
  padding: 5rem 0 20rem 0;
}
.security-privacy .heading-sec {
  text-align: center;
  margin-bottom: 8rem;
}

.same-list-bx .same-list-bx-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -4%;
  transition: 0.7s;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
}
.same-list-bx .same-list-bx-list .same-list-bx-item {
  width: 29%;
  margin-left: 4%;
  position: relative;
}
.same-list-bx .same-list-bx-list .same-list-bx-item .bx-item-cont {
  background: #FFFFFF;
  padding: 3rem 2rem;
  border: 3px solid #D3DAEE;
  box-shadow: 0px 0px 8px #F0F0F0;
  border-radius: 20px;
  position: relative;
  z-index: 9;
  width: 97%;
  display: block;
  margin: 0 auto;
}
.same-list-bx .same-list-bx-list .same-list-bx-item .bx-item-cont h4 {
  font-size: 2rem;
  font-family: "PoppinsSemiBold";
  margin: 1rem 0 1rem 0;
}
.same-list-bx .same-list-bx-list .same-list-bx-item::before {
  content: "";
  background: #FFCE02;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
  transition: 0.7s;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
  opacity: 0;
  visibility: hidden;
}
.same-list-bx .same-list-bx-list .same-list-bx-item:hover .bx-item-cont {
  border: 3px solid #FFCE02;
  box-shadow: none;
}
.same-list-bx .same-list-bx-list .same-list-bx-item:hover::before {
  transform: rotate(4deg);
  opacity: 1;
  visibility: visible;
}

.main-footer .footer-top-sec {
  background: #221F20;
  padding: 4rem 0;
}
.main-footer .footer-top-sec .top-sec-sub {
  margin-bottom: 3rem;
}
.main-footer .footer-top-sec .top-sec-quick-links .quick-links-list {
  display: flex;
  flex-wrap: wrap;
}
.main-footer .footer-top-sec .top-sec-quick-links .quick-links-list .reset {
  width: 33.33%;
  padding: 0;
  margin: 0;
}
.main-footer .footer-top-sec .top-sec-quick-links .quick-links-list .reset > li {
  margin-bottom: 1rem;
}
.main-footer .footer-top-sec .top-sec-quick-links .quick-links-list .reset > li h4 {
  color: #F5F5F5;
  font-size: 1.2rem;
  font-family: "PoppinsBold";
}
.main-footer .footer-top-sec .top-sec-quick-links .quick-links-list .reset > li a {
  color: #F5F5F5;
  font-size: 1rem;
  text-decoration: none;
}
.main-footer .footer-top-sec .top-sec-quick-links .quick-links-list .reset > li a:hover {
  color: #FFCE02;
}
.main-footer .footer-top-sec .footer-cont-details {
  text-align: right;
}
.main-footer .footer-top-sec .footer-cont-details p {
  color: #F5F5F5;
  font-size: 1.1rem;
  position: relative;
  padding-right: 2.5rem;
  margin-bottom: 2.5rem;
}
.main-footer .footer-top-sec .footer-cont-details p .fa {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 0;
  font-size: 1.5rem;
  color: #F5F5F5;
}
.main-footer .footer-top-sec .footer-cont-details p a {
  color: #F5F5F5;
  text-decoration: none;
}
.main-footer .footer-top-sec .footer-cont-details p a:hover {
  color: #FFCE02;
}
.main-footer .footer-top-sec .top-social-extra-links {
  margin-top: 3rem;
}
.main-footer .footer-top-sec .top-social-extra-links .links-wrap-social {
  display: flex;
  flex-wrap: wrap;
}
.main-footer .footer-top-sec .top-social-extra-links .links-wrap-social .wrap-app-links {
  display: flex;
  margin-top: 1rem;
}
.main-footer .footer-top-sec .top-social-extra-links .links-wrap-social .wrap-app-links a {
  margin-right: 1.5rem;
  text-decoration: none;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
  position: relative;
}
.main-footer .footer-top-sec .top-social-extra-links .links-wrap-social .wrap-app-links a img {
  display: block;
}
.main-footer .footer-top-sec .top-social-extra-links .links-wrap-social .wrap-app-links a:hover {
  transform: translateY(-8px);
}
.main-footer .footer-top-sec .top-social-extra-links .links-wrap-social .footer-social-links {
  display: flex;
  margin-top: 1rem;
}
.main-footer .footer-top-sec .top-social-extra-links .links-wrap-social .footer-social-links a {
  width: 2.875rem;
  height: 2.875rem;
  display: block;
  text-decoration: none;
  background: #F5F5F5;
  border-radius: 50%;
  color: #221F20;
  position: relative;
  margin-left: 1rem;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
  position: relative;
}
.main-footer .footer-top-sec .top-social-extra-links .links-wrap-social .footer-social-links a .fa {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.main-footer .footer-top-sec .top-social-extra-links .links-wrap-social .footer-social-links a:hover {
  transform: translateY(-8px);
}
.main-footer .footer-top-sec .top-social-extra-links .extra-links-right {
  margin-top: 1rem;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}
.main-footer .footer-top-sec .top-social-extra-links .extra-links-right > li {
  margin-left: 2.5rem;
  color: #9A9A9A;
  font-family: "PoppinsMedium";
  font-size: 1.2rem;
}
.main-footer .footer-top-sec .top-social-extra-links .extra-links-right > li a {
  color: #9A9A9A;
  font-family: "PoppinsMedium";
  text-decoration: none;
}
.main-footer .footer-top-sec .top-social-extra-links .extra-links-right > li .fa-heart {
  color: #EF5350;
}

.slick-dots li {
  margin: 0;
}
.slick-dots li button::before {
  color: #797A7D;
  font-size: 1rem;
  line-height: 1rem;
}
.slick-dots li.slick-active button::before {
  opacity: 1;
  color: #797A7D;
}/*# sourceMappingURL=style.css.map */