@import 'customvariable.scss';


.home-banner{
    padding: 8rem 0 0;
    background-color: #EFEDF2;
    .banner-img{
        width: 100%;
    }
    .banner-desc{
      
        .banner-caption{
            text-align: left;
            position: relative;
            top: 50%;
            transform: translate(0, -50%);
            left: 0;
            width: 100%;
            h1{
                font-size: 4.4rem;
                line-height: 70px;

                font-family: $font-family-poppins-bold;
                color: $primary;
                @media (max-width: $md){
                    font-size: 3rem;
                    line-height: 4rem;
                }
                @media (max-width: $sm){
                    font-size: 2rem;
                    line-height: 40px;
                }
            }
        }
    }
}

.main-services {
    padding: 20rem 0 15rem 0;
    position: relative;

    .title-first {
        text-align: center;
        margin-bottom: 8rem;

        @media (max-width: $sm-x) {
            margin-bottom: 3rem;
        }
    }

    .main-services-list {
        position: relative;
        z-index: 9;

        .services-list-slider {
            padding-bottom: 9rem;

            .service-item {
                padding-right: 7rem;

                .img-itm {
                    display: block;
                    margin-bottom: 1rem;

                    @media (max-width: $sm) {
                        display: inline-block;
                    }
                }

                h5 {
                    font-size: 2rem;
                    font-family: 'PoppinsSemiBold';
                    text-transform: capitalize;
                    margin-bottom: 1rem;
                }

                p {
                    font-family: 'PoppinsRegular';
                    font-size: 1.5rem;
                    line-height: 2.25rem;
                }

                a {
                    font-family: 'PoppinsMedium';
                    color: $headingtext;
                    text-decoration: none;
                    font-size: 1.375rem;
                    display: flex;
                    align-items: center;

                    .arrow-img {
                        position: relative;
                        margin-left: 1rem;

                        img {
                            max-width: 100%;
                        }
                    }

                    @media (max-width: $sm) {
                        justify-content: center;
                    }
                }

                @media (max-width: $sm) {
                    padding-right: 0;
                    text-align: center;
                    padding: 1rem;
                }
            }

            .slick-dots {
                li {
                    margin: 0;

                    button {
                        &::before {
                            color: #797A7D;
                            font-size: 1rem;
                            line-height: 1rem;
                        }
                    }

                    &.active {
                        button {
                            &::before {
                                opacity: 1;
                            }
                        }
                    }
                }

            }
        }
    }

    &::before {
        content: '';
        width: 20rem;
        height: 50rem;
        display: block;
        position: absolute;
        left: 0;
        top: -9rem;
        background: url(../images/clipath-img1-svg.png) no-repeat top left;
        background-size: contain;

        @media (max-width: $md) {
            display: none;
        }
    }

    &::after {
        content: '';
        width: 12rem;
        height: 40rem;
        display: block;
        position: absolute;
        right: 0;
        bottom: -6rem;
        background: url(../images/clipath-img2.png) no-repeat top right;
        background-size: contain;

        @media (max-width: $md) {
            display: none;
        }
    }

    @media (max-width: $md) {
        padding: 5rem 0 5rem 0;
    }
}

.choice-finx{
    background: url(../../assets/images/bg-img1.png) no-repeat #F3FAFF;
    background-size: 100% 100%;
    padding-top: 10rem;
    position: relative;
    z-index: 9;
    .finx-section{
        display: flex;
        flex-wrap: wrap;
        position: relative;
        margin-bottom: -15rem;
        .finx-left-cont{
            width: 80%;
            padding-right: 6%;
            .finx-app-list{
                display: flex;
                flex-wrap: wrap;
                margin-top: 6.5rem;
                margin-left: -4%;
                .app-list-item{
                    width: 29.33%;
                    margin-left: 4%;
                a{
                    background: $whiteColor;
                    box-shadow: 0px 0px 15px 1px #C2C2C2;
                    border-radius: 20px;
                    padding: 2rem;
                    text-decoration: none;
                    display: block;
                    height: 100%;
                    h4{
                        font-size: 1.625rem;
                        font-family: $font-family-poppins-semibold;
                        color: $primary;
                        margin: 1rem 0;
                    }
                    p{
                        font-size: 1.125rem;
                        line-height: 1.7rem;
                        margin-bottom: 0;
                        color: $primary;
                        font-family: $font-family-poppins-regular, sans-serif;
                    }
                }
                @media (max-width: $sm){
                    width: 97%;
                    margin-bottom: 2rem;
                }
                }
            }
            
            @media (max-width: $sm){
                width: 100%;
                padding: 0;
                text-align: center;
            }
        }
        .finx-app-img{
            width: 20%;
            position: absolute;
            right: 0;
            top: 0;
            img{
                width: 100%;
                @media (max-width: $sm){
                    width: 80%;
                    margin: 0 auto;
                    display: block;
                }
            }
            @media (max-width: $sm){
                width: 100%;
                position: relative;
                margin-top: 2rem;
            }
        }
        @media (max-width: $md){
            margin: 0;
        }
    }
    @media (max-width: $md){
        background: $abt-bg;
        padding: 7rem 0;
    }
    .expl-app{
        display: flex;
        align-items: center;
        margin-top: 5rem;
        width: 100%;
        a{
            margin-right: 2rem;
            transition: transform 0.8s ease;
            .ico-img{
                width: 5rem;
            }
            @media (max-width: $sm){
                margin-right: 1rem;
            }
           &:hover{
            transform: translateY(-8px);
           }
        }

        .media{
            &:hover{
                .black{
                
                    fill: #221F20;
                } 
                .yellow{
                    fill: #FFCE02;
                   
                }
            }
           
            
           
        }

       
        @media (max-width:$sm){
           justify-content: center;
        }
    }
}

.market-insights-sec {
    background: $whiteColor;
    padding: 32rem 0 12rem 0;
    position: relative;

    .heading-sec {
        text-align: center;

        .title-first {
            margin-bottom: 1rem;
        }
    }

    .market-insights-list {
        display: flex;
        flex-wrap: wrap;
        margin-top: 5rem;

        .insights-list-item {
            width: 19%;
            margin-left: 4%;
            transition: width 1.5s;

            .insights-item-cont {
                border-radius: 36px;
                overflow: hidden;
                position: relative;

                img {
                    width: 100%;
                    height: 420px;
                    object-fit: cover;

                    @media (max-width: $sm) {
                        height: auto;
                    }
                }

                .ttl-sm {
                    display: inline-block;
                    position: absolute;
                    left: -2rem;
                    transition: 0.70s;
                    -webkit-transition: 0.70s;
                    -moz-transition: 0.70s;
                    -ms-transition: 0.70s;
                    -o-transition: 0.70s;
                    transform: rotate(-90deg);
                    bottom: 8rem;
                    background: #DDD7D5;
                    border-radius: 10px;
                    color: $headingtext;
                    width: 14rem;
                    padding: 0.5rem 1rem;
                    text-align: left;

                    @media (max-width: $sm) {
                        transform: rotate(0);
                        bottom: 2rem;
                        left: 2rem;
                        background: #FFCE02;
                    }
                }
            }

            &.insights-list-active {
                width: 30%;

                .ttl-sm {
                    transform: rotate(0);
                    bottom: 2rem;
                    left: 2rem;
                    background: #FFCE02;
                }

                @media (max-width: $sm) {
                    width: 100%;
                    text-align: center;
                }
            }

            &:hover {
                width: 30%;

                .ttl-sm {
                    transform: rotate(0);
                    bottom: 2rem;
                    left: 2rem;
                    background: #FFCE02;
                }

                @media (max-width: $sm) {
                    width: 100%;
                    text-align: center;
                }

                .item-cont-descr {
                    p {
                        // overflow: inherit;
                        // text-overflow: inherit;
                        // white-space: initial;
                        // display: -webkit-box;
                        // -webkit-line-clamp: inherit;
                    }
                }
            }

            .item-cont-descr {
                padding: 1.5rem 0;

                p {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: initial;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                }
            }

            @media (max-width: $sm) {
                width: 100%;
                margin-left: 0;
                margin-bottom: 2rem;
            }

            &:first-child {
                margin-left: 0;
            }
        }

        @media (max-width: $sm) {
            margin-left: 0;
        }
    }

    &::before {
        content: '';
        width: 17rem;
        height: 42rem;
        display: block;
        position: absolute;
        right: 0;
        top: 14rem;
        background: url(../images/clipath-img3.png) no-repeat top right;
        background-size: contain;

        @media (max-width: $sm) {
            display: none;
        }
    }

    &::after {
        content: '';
        width: 17rem;
        height: 42rem;
        display: block;
        position: absolute;
        left: 0;
        bottom: -22rem;
        background: url(../images/clipath-img4.png) no-repeat top left;
        background-size: contain;

        @media (max-width: $sm) {
            display: none;
        }
    }

    @media (max-width: $md) {
        padding: 8rem 0 12rem 0;
    }

    @media (max-width:$sm) {
        padding: 8rem 0 4rem 0;
    }
}

.features-cont {
    padding: 5rem 0 0 0;

    .heading-sec {
        text-align: center;
        margin-bottom: 4rem;
    }

    .features-list-cont {
        background: #231F20;
        padding: 7rem 0 1rem 0;

        .all-features-list {
            display: flex;
            flex-wrap: wrap;
            margin-left: -25%;

            .feature-item {
                margin-left: 18%;
                width: 15%;
                margin-bottom: 5rem;

                img {
                    max-width: 100%;
                }

                h4 {
                    font-size: 1.8rem;
                    font-family: 'PoppinsSemiBold';
                    color: $whiteColor;
                    margin: 1.7rem 0 1rem 0;
                }

                p {
                    font-size: 1.3rem;
                    line-height: 2rem;
                    margin-bottom: 0;
                    color: $whiteColor;
                }

                @media (max-width: $md) {
                    margin-left: 5%;
                    width: 28%;
                }

                @media (max-width: $sm) {
                    width: 96%;
                    text-align: center;
                }
            }

            @media (max-width: $md) {
                margin-left: -5%;
            }
        }
    }
}

.fables-stories {
    padding: 18rem 0 0 0;
    position: relative;
    overflow: hidden;

    .heading-sec {
        text-align: center;
    }

    .stories-sec-main {
        padding-top: 8rem;
        display: flex;
        flex-wrap: wrap;

        .stories-sec-left {
            width: 40%;

            img {
                width: 100%;
                display: block;
                border-radius: 30px;
            }

            @media (max-width: $sm) {
                width: 100%;
            }
        }

        .stories-sec-right {
            width: 60%;
            padding-left: 8rem;
            padding-top: 5rem;

            h4 {
                font-size: 2.25rem;
                color: $headingtext;
                font-family: 'PoppinsSemiBold';
                margin-bottom: 2rem;
            }

            p {
                font-size: 1.75rem;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: initial;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;

                @media screen and (max-width: $md) {
                    font-size: 1.3rem;
                }
            }

            @media screen and (max-width: $md) {
                padding-left: 3rem;
                padding-top: 3rem;
            }

            @media (max-width: $sm) {
                width: 100%;
                padding-left: 0;
                text-align: center;
            }
        }

        .sec-slider-cont {
            bottom: 20rem;
            position: absolute;
            left: 46%;
            width: 90rem;

            .stories-sec-slider {
                .itm-img {
                    padding: 2rem;
                    outline: none;

                    img {
                        width: 100%;
                    }
                }

                .slick-dots {
                    text-align: left;
                    bottom: -7.5rem;
                    padding-left: 4rem;

                    li {
                        margin: 0;

                        button {
                            &::before {
                                color: #797A7D;
                                font-size: 1rem;
                                line-height: 1rem;
                            }
                        }

                        &.active {
                            button {
                                &::before {
                                    opacity: 1;
                                }
                            }
                        }
                    }

                    @media (max-width: $sm) {
                        text-align: center;
                        bottom: -4.5rem;
                        padding-left: 0;
                    }
                }
            }

            @media (max-width: $md) {
                width: 100%;
                position: relative;
                right: inherit;
                bottom: inherit;
                left: 0;
            }
        }

        @media (max-width: $sm-x) {
            padding-top: 3rem;
        }

    }

    .btn-bg {
        margin-top: 14rem;

        @media screen and (max-width: $md) {
            margin-top: 6rem;
        }
    }

    @media (max-width: $md) {
        padding: 7rem 0 0 0;
    }
}

.fables-parent {
    .slick-current {
        display: none !important;
    }
}

.count-value-section {
    padding: 25rem 0 20rem 0;
    position: relative;

    .heading-sec {
        padding-left: 4rem;

        .title-first {
            font-size: 3rem;
            margin-bottom: 1rem;

            @media (max-width: $sm) {
                font-size: 2.3rem;
            }
        }

        @media (max-width: $md) {
            padding-left: 0;
            padding-top: 4rem;
        }

        @media (max-width: $sm) {
            text-align: center;
        }
    }

    .count-value-list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        position: relative;

        .count-value-item {
            border: 2px solid #E0EFE4;
            box-shadow: 0px 0px 8px #F0F0F0;
            border-radius: 20px;
            padding: 1.5rem 1rem;
            width: 44%;
            margin-left: 4%;
            margin-bottom: 3%;
            text-align: center;
            background: $whiteColor;

            h4 {
                font-size: 3.5rem;
                font-family: 'PoppinsSemiBold';
                color: $headingtext;

                @media (max-width: $sm-x) {
                    font-size: 2.5rem;
                }

                @media (max-width: 375px) {
                    font-size: 2rem;
                }
            }

            &:first-child {
                margin-left: 0;
            }

            @media (max-width: $sm-x) {
                padding: 1rem;
            }
        }
    }

    &::before {
        content: '';
        width: 74rem;
        height: 50rem;
        display: block;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
        background: url(../images/Vector.png) no-repeat top left;
        background-size: contain;

        @media (max-width: 1025px) {
            width: 54rem;
            height: 40rem;
        }

        @media (max-width: $md) {
            display: none;
        }
    }

    &::after {
        content: "";
        width: 13rem;
        height: 32rem;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        background: url(../images/single-cirlce.png) no-repeat top right;
        background-size: contain;

        @media (max-width: $md) {
            display: none;
        }
    }

    @media (max-width: $md) {
        padding: 10rem 0 0 0;
    }
}



.home-testimonial {
    // border: 2px solid black;
    padding: 10rem 0;

    .title-first {
        text-align: center;
    }

    .testimonial-slider {

        // border: 2px solid red;
        .slider-item {
            display: flex !important;
            align-items: center;
            flex-wrap: wrap;

            .slider-item-img {
                // border: 2px solid blue;
                width: 50%;
                padding: 0 4rem;
                padding-left: 8rem;

                img {
                    // border: 2px solid green;
                    width: 100%;
                }

                @media (max-width: 1025px) {
                    width: 40%;
                    padding: 0 4rem;
                    padding-left: 0;
                }

                @media (max-width: $sm) {
                    width: 100%;
                    padding: 0 4rem;
                    padding-bottom: 2rem;
                }
            }

            .slider-item-des {
                width: 50%;

                .item-des-name-value {
                    display: flex;
                    align-items: center;
                    margin-bottom: 2rem;
                    flex-wrap: wrap;

                    .fa-twitter {
                        color: #0C71B9;
                        font-size: 2.4rem;

                    }

                    h4 {
                        font-family: 'RedHatDisplayBold';
                        padding-left: 1rem;
                        font-size: 1.8rem;
                    }

                    h6 {
                        color: #9F9F9F;
                        font-size: 1.2rem;
                        padding-left: 2.5rem;

                        @media (max-width: $sm) {
                            padding-left: 0.5rem;
                            padding-top: 0.5rem;
                            width: 50%;
                        }
                    }
                }

                .item-des-cont {
                    min-height: 80px;
                }

                .likes-view {
                    display: flex;
                    align-items: center;
                    margin-top: 3rem;
                    justify-content: space-between;

                    .fa-heart {
                        color: #F13859;
                    }

                    h5 {
                        margin: 0;
                        margin-left: 0.5rem;
                        color: #9F9F9F;
                    }

                    .likes-view-left {
                        display: flex;
                        align-items: center;
                    }

                    .right-btn-extr {
                        .btn {
                            color: $subtext;
                            border-color: $whiteColor;
                            box-shadow: 0px 0px 11px #0000001a;
                            border: 0;
                            width: 6rem;
                            background: $whiteColor;
                            height: 3rem;
                            border-radius: 30px;
                            margin: 0 1rem;

                            svg {
                                height: 1.5rem;
                            }

                            &:disabled {
                                box-shadow: inherit;
                            }

                            &:hover {
                                color: #0C71B9;
                            }
                        }
                    }
                }

                @media (max-width: 1025px) {
                    width: 60%;
                }

                @media (max-width: $sm) {
                    width: 100%;
                }
            }
        }

        .slick-next {
            width: 6rem;
            height: 3rem;
            z-index: 9;
            top: inherit;
            border-radius: 30px;
            box-shadow: 0px 0px 11px #0000001a;
            bottom: 15%;
            background: $whiteColor;

            &::before {
                content: "";
                background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAUCAYAAACaq43EAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAEJSURBVHgBxdU/joJAFMfx35vd2MgmHMEb7JabrWg2Zrvtt3BvIBh78AL+uYHGeAajFmqlnYeRygjPkbFQE5VinnwTCMxM+EACgWAx1x9XElJzJtWP29+te2sVLLYHKqw3cBo5jVmIZ8Fx92ehUfOkD/AXWG63Hi1Kn38EIk/rXumrht1quBSH8+IicB5cDH6Ei8L3cDpOOs2ZhzT1IBgxatmnpmPi4DUbTdI5hOOLm6Awg5k5UEq9QzBm/Oq9a2T0CE/I8SehxqIT2orb1UgcLgfTOoG756g5FOwtmBxfqP41ak4LQM1QAagZLgA1UxYr+9MPIt6cLjzYdqr/t9Za/R8TEhc50EI7AF3Dhj6FCM4LAAAAAElFTkSuQmCC) no-repeat;
                background-size: contain;
                display: block;
                font-size: 2.5rem;
                color: #9F9F9F;
                width: 2rem;
                height: 1.5rem;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                filter: grayscale(20);
            }

            &.slick-disabled {
                box-shadow: none;
                cursor: not-allowed;
            }

            &:hover {
                &::before {
                    filter: inherit;
                }
            }

            @media (max-width: $md) {
                bottom: -20px;
                right: 0;
            }

        }

        .slick-prev {
            width: 6rem;
            height: 3rem;
            top: inherit;
            bottom: 15%;
            z-index: 9;
            background: $whiteColor;
            box-shadow: 0px 0px 11px #0000001a;
            border-radius: 30px;
            left: inherit;
            right: 5rem;

            &::before {
                content: "";
                background: url(../images/arrow2.png) no-repeat;
                background-size: contain;
                display: block;
                font-size: 2.5rem;
                color: #9F9F9F;
                width: 2rem;
                height: 1.5rem;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                filter: grayscale(20);
            }

            &.slick-disabled {
                box-shadow: none;
                cursor: not-allowed;
            }

            &:hover {
                &::before {
                    filter: inherit;
                }
            }

            @media (max-width: $md) {
                bottom: -20px;
                right: 7rem;
            }

        }
    }

    @media (max-width: $md) {
        padding: 5rem 0;
    }
}

.security-privacy {
    padding: 5rem 0 20rem 0;
    position: relative;
    overflow: hidden;

    .heading-sec {
        text-align: center;
        margin-bottom: 8rem;
    }

    @media (max-width: $md) {
        padding: 5rem 0 7rem 0;
    }

    &::before {
        content: "";
        width: 29rem;
        height: 42rem;
        display: block;
        position: absolute;
        right: 0;
        bottom: -20rem;
        background: url(../images/clipath-img6.png) no-repeat top right;
        background-size: contain;

        @media (max-width: $sm) {
            display: none;
        }
    }

    &::after {
        content: '';
        width: 37rem;
        height: 42rem;
        display: block;
        position: absolute;
        left: 0;
        bottom: -15rem;
        background: url(../images/clipath-img7.png) no-repeat top left;
        background-size: contain;

        @media (max-width: $sm) {
            display: none;
        }
    }
}

.same-list-bx {
    .same-list-bx-list {
        display: flex;
        flex-wrap: wrap;
        margin-left: -4%;
        transition: 0.70s;
        -webkit-transition: 0.70s;
        -moz-transition: 0.70s;
        -ms-transition: 0.70s;
        -o-transition: 0.70s;

        .same-list-bx-item {
            width: 29%;
            margin-left: 4%;
            position: relative;

            .bx-item-cont {
                background: $whiteColor;
                padding: 3rem 2rem;
                border: 3px solid #D3DAEE;
                box-shadow: 0px 0px 8px #F0F0F0;
                border-radius: 20px;
                position: relative;
                z-index: 9;
                width: 97%;
                display: block;
                margin: 0 auto;
                height: 100%;

                h4 {
                    font-size: 2rem;
                    font-family: 'PoppinsSemiBold';
                    margin: 1rem 0 1rem 0;
                }
            }

            &::before {
                content: '';
                background: #FFCE02;
                width: 100%;
                height: 100%;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 20px;
                transition: 0.70s;
                -webkit-transition: 0.70s;
                -moz-transition: 0.70s;
                -ms-transition: 0.70s;
                -o-transition: 0.70s;
                opacity: 0;
                visibility: hidden;
            }

            &:hover {
                .bx-item-cont {
                    border: 3px solid #FFCE02;
                    box-shadow: none;
                }

                &::before {
                    transform: rotate(4deg);
                    opacity: 1;
                    visibility: visible;
                }
            }

            @media (max-width: $sm) {
                width: 90%;
                margin-left: 0;
                margin-bottom: 3rem;
                text-align: center;
            }
        }

        @media (max-width: $sm) {
            margin-left: 0;
            justify-content: center;
        }

    }
}

.imgsub22 {
    margin-left: 5em;
}

.imgsub21 {
    position: absolute;
    margin-left: -10em;
}

.imgsub23 {
    position: absolute;
    margin-left: -8em;
    margin-top: 14em;
}


.leftt-btn {
    margin-left: 25em;
}

.rightt-btn {
    margin-left: 2em;
}

// Slick slider dots
.slick-dots {
    li {
        margin: 0;

        button {
            &::before {
                color: #797A7D;
                font-size: 1rem;
                line-height: 1rem;
            }
        }

        &.slick-active {
            button {
                &::before {
                    opacity: 1;
                    color: #797A7D;
                }
            }
        }
    }
}

.home-testimonial-new {
    .testimonial-slider {
        position: relative;
        margin-top: 4rem;

        .imgsub22 {
            position: absolute;
            left: 80px;
            top: -40px;
            width: 60px;

            img {
                max-width: 100%;
            }

            @media (max-width: $md) {
                display: none;
            }
        }

        .imgsub21 {
            position: absolute;
            left: -50px;
            top: 15%;
            width: 100px;
            margin: 0;

            img {
                max-width: 100%;
            }

            @media (max-width: $md) {
                display: none;
            }
        }

        .imgsub23 {
            position: absolute;
            left: 0px;
            width: 80px;
            margin: 0;
            bottom: 40px;

            img {
                max-width: 100%;
            }

            @media (max-width: $md) {
                display: none;
            }
        }
    }
}
