@import '../../assets/css/common.scss';
@import '../../assets/css/customvariable.scss';



.trading-Stratebanner{
    padding-top: 7rem;
    position: relative;
    .banner-btn{
        padding-bottom: 3rem;
        @media (max-width:$sm) {
            text-align: center;
        }
        .all-account{
            background-color: $bgcolor-lightyellow;
            color: $yellowColor;
            border: 1px solid $yellowColor;
            font-size: 1.5;
            font-family: $font-family-poppins-medium;
            line-height: 1.5;
            padding: 7px 15px;
            text-transform: capitalize;
            border-radius: 25px;
        }
    }
    .trading-banner-caption{
        .big-ttl{
            span{
                color: $bgcolor-yellow;
            }
            @media (max-width:$sm) {
                text-align: center;
             }
            br{
                @media (max-width:$sm) {
                   display: none;
                }
            }
        }
        .para{
            color:$secondary;
            font-family: $font-family-poppins-regular;
            font-size: 1.75rem;
            line-height: 2.625rem;
            padding: 2rem 10rem 2rem 0;
        }
    }
    @media (max-width:$sm) {
       padding: 4rem 0 6rem 0;
    }
}
.develop-strategies {
    padding: 10rem 0;
    position: relative;

    .treding-mr {
        padding-bottom: 5rem;
    }

    .content-list {
        position: relative;
        padding: 0;
        margin-top: 0;
        padding-right: 8rem;

        .slick-track {
            height: auto !important;
            .slick-slide{
                &:first-child{
                    .content-list-itm{
                        border-top: 0;
                    }
                }
            }
        }

        .content-list-itm {
            padding-left: 3.5rem;
            margin-bottom: -0.2rem;
            position: relative;
            cursor: pointer;
            border-top: 1px solid $border-gray;

            &.list-itm-active {
                padding: 2rem;
                background-color: $bgcolor-hover;
                border-radius: 24px;
                border-top: 0;

                @media (min-width:$sm)and (max-width:$md) {
                    padding: 1rem;
                }
                @media (max-width:$sm) {
                    margin-bottom: 0.8rem;
                }

                .single-ttl {
                    color: $primary;
                    margin-bottom: 0;

                    @media (min-width:$sm)and (max-width:$md) {
                        padding: 1.1rem 0rem;
                    }
                }

                .para {
                    display: block;
                    color: $primary;
                }
            }
            &.list-itmive{
                border-top: 0;
            }

            .single-ttl {
                font-family: $font-family-poppins-semibold;
                font-size: 1.75rem;
                color: $primary;
                padding: 1.7rem 0rem;
            }

            .para {
                display: none;

                @media (max-width:$sm) {
                    display: block;
                }
            }


            @media (max-width:$sm) {
                padding-bottom: 0;
                margin: 0;
            }

            @media (max-width:$sm) {
                padding: 0 1rem;
                text-align: center;
            }
        }


        @media (max-width:$md) {
            padding-right: 0;
        }
    }

    .trade-easy-images-div {
        display: flex;
        justify-content: center;
        padding: 0 4rem;

        .single-trade-easy-images {
            max-width: 100%;
            height: auto;
            border-radius: 24px;
            box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.16);
        }

        @media (max-width:$md) {
            padding: 0;
        }

        @media (max-width:$sm) {
            padding-top: 4rem;
        }
    }

    @media (max-width: $sm-x) {
        padding: 5rem 0 5rem 0;
    }
}

.why-open-freedematac{
    background: $bgcolordark;
    padding: 6rem 0;
    .title-secnd{
        color: $whiteColor;
        span{
            color: $bgcolor-yellow;
        }
        br{
            @media (max-width:$sm) {
               display: none;
            }
        }
    }
    .row-pd{
        padding:3rem 0;
    .benefit-list {
        padding: 3rem;
        text-align: center;
        .benefit-img{
            @media (max-width:$sm) {
                width: 40%;
            }
        }
        .benefit-item {
            padding-top: 2rem;
            .title-cam{
                color: $whiteColor;
                font-size:1.5rem ;
                font-family: $font-family-poppins-semibold;
                line-height: 1.5;
                @media (max-width:$md) {
                    font-size: 1.3rem ;
                }
            }
            @media (max-width:$sm) {
                padding-top: 0;
                width: 56%;
                text-align: left;
            }
        }
        @media (max-width:$md) {
            padding:0;
        }
        @media (max-width:$sm) {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 0 3rem 0;
        }
    }
}
}

