@import '../../assets/css/common.scss';
@import '../../assets/css/customvariable.scss';

.afsec{
    padding-bottom: 4rem;
    .subhead{
        color: $bgcolor-green;
        font-size: 1.125rem;
        font-weight: 500;
        line-height: 1.688rem;
        padding-bottom: 2.563rem;
        @media (max-width:$sm) {
            padding-bottom: 0;
        }
    }
    .profile{
       display: none;
        @media (max-width:$sm) {
            display: block;
            font-weight: 400;
            font-size: 1.3rem;
            line-height: 1.3125rem;
            color: $bgcolordark;
            padding-bottom: 2.5rem;
            margin: 0;
        }
    }
    .left-sec{
        width: 68%;
        @media (max-width:$sm) {
            width: 100%;
        }
        .table-sec{
            border: 1px solid $lightgray;
            padding: 2rem;
            border-radius: 8px;
            .rowwrap{
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid #DDDDDD;
                padding: 24px 0;
                @media (max-width:$sm) {
                    padding: 12px  0;
                }
                &:first-child{
                    padding: 0 0 24px 0;
                    @media (max-width:$sm) {
                        padding: 0 0 12px 0;
                    }
                }
                &:last-child{
                    border:none;
                    padding: 24px 0 0 0;
                    @media (max-width:$sm) {
                        padding: 12px 0 0 0;
                    }
                }
                @media (max-width:$sm) {
                    flex-direction: column;
                }
                .name{
                    font-size: 1.35rem;
                    color: $darkblack;
                    text-transform: capitalize;
                    line-height: 1.625rem;
                    font-weight: 500;
                }
                
                .textwrap{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    width: 50%;
                    .numberwrap{
                        .number{
                            color:  $bgcolor-green;
                            font-size: 1.25rem;
                            font-weight: 600;
                        }
                        .percent{
                            color:  $textgray;
                            font-size: 1rem;
                            font-weight: 400;
                        }
                    }
                    .amount{
                        .rupee{
                            color: $bgcolordark;
                            font-size:1.25rem ;
                           line-height: 1.875rem;
                        }
                        .text{
                            color: $textgray;
                            font-size:1rem ;
                           line-height: 1.5rem;
                           text-align: right;
                        }
                    }
                    
                    
                    p{
                        margin: 0;
                    }
                    @media (max-width:$sm) {
                        flex-direction: row;
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        margin-top: 1.5rem;
                    }
                }
            }
        }
    }
    .right-sec{
        width: 30%;
        margin-left:2%;
        @media (max-width:$sm) {
            width: 100%;
            position: fixed;
            bottom: 0;
            width: 100%;
            left: 0;
            z-index: 99999999;
            padding: 0;
            margin-left: 0;
        }

        .formwrapper{
           
           .otpsec{
            padding: 1.5rem;
            background-color: $bgcolor-green;
            border-radius: 8px;
            @media (max-width:$sm) {
                border-radius: 8px 8px 0 0;
                padding: 0;
            }
            .resdiv{
                @media (max-width:$sm) {
                   padding: 1.5rem;
                } 
            }
            .otpmodal{
                .otptext{
                    color: $whiteColor;
                    text-transform: capitalize;
                    font-size: 1.55rem;
                    line-height: 2.5rem;
                    font-weight: 600;
                }
                .subtext{
                    color: $bgolor-lightwhite;
                    text-transform: capitalize;
                    font-size: 1.188rem;
                    line-height: 1.75rem;
                    margin: 0;
                }
            }
            
        .otp-wrapper{
            display: flex;
            align-items: center;
            input{
                width: 25px;
                height: 35px;
                margin: 5px;
                text-align:left;  
                border: none;
                border-bottom: 1px solid $whiteColor;
                background-color: transparent;
                outline: 0;
                color:$whiteColor;
                
            }
        }
        

        .warning{
            color: $yellowColor;
            font-size: 1rem;
            line-height: 1.5rem;
            padding-top: 5px;
            font-weight: 600;
        }
        .submitbtn{
            @media (max-width:$sm) {
                width: 100%;
                border-radius: 0 !important;
            }
        }
        .disablebtn{
            background-color: #DBDBDB !important;
        }


           }
            
            .new-wrapp{
                padding: 1.5rem;
                background-color: $bgcolor-green;
                border-radius: 8px;
                
                @media (max-width:$sm) {
                    border-radius: 8px 8px 0 0;
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    justify-content: space-between;
                }
                .infowrap{

                    padding-bottom: 2.375rem;
                    p{
                        color: $whiteColor;
                        text-transform: capitalize;
                        font-size: 1.5rem;
                        line-height: 2.5rem;
                        font-weight: 600;
                        margin: 0;
                    }
                    @media (max-width:$sm) {
                        display: none;
                    }
                  
                }
             
                .amtwrap{
                    .investmentamount{
                        margin: 0;
                        font-size: 1.188rem;
                        line-height: 1.75rem;
                        color:$whiteColor;
                        @media (max-width:$sm) {
                            font-size: 12px;
                        }
                    }
                    .amountrs{
                        margin: 0;
                        font-size: 1.5rem;
                        line-height: 2.25rem;
                        color:$whiteColor;
                    }
                }
                .investnowbtn{
                    margin-top: 3.75rem;
                    @media (max-width:$sm) {
                        margin-top: 0rem;
                        min-width: 13rem;
                        // margin-left: 1.5rem;
                        padding: 1rem !important;
                    }
                    @media (min-width:768px) and (max-width:920px) {
                        margin-top: 2rem;
                        min-width: 14rem;
                        // margin-left: 1.5rem;
                        padding: 1rem !important;
                    }
                }
          
            }
           .redirectwrap{
            text-align: center;
            padding: 1.5rem;
            background-color: $bgcolor-green;
            border-radius: 8px;
            @media (max-width:$sm) {
                border-radius: 8px 8px 0 0;
            }
            .redirectimg{
                transform: rotate(270deg);
                margin-top: 2rem;
            }
            .redirecttext{
                font-size: 1.5rem;
                font-weight: 600;
                line-height: 2.25rem;
                text-align: center;
                padding: 2.5rem 4.5rem;
                color: $whiteColor;
             
            }
           }

       
        }
      
    }
    .sticky-investnow{
        position: fixed;
        bottom: 0;
        z-index: 99999999;
        width: 100%;
        left: 0;
        display: none !important;
        background-color: $bgcolor-green;
        .stickywrap{
            display: flex;
            justify-content: space-between;
            padding: 1.125rem 1rem;
            .left{
                .text{
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 18px;
                    color: $whiteColor;
                    margin: 0;
                }
                .num{
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    color: $whiteColor;
                    margin: 0;
                }
            }
            .rightbtn{
                .investnowbtn{
                    padding: 1rem !important;
                    min-width: 14rem;
                }
            }
        }
        @media (max-width:$sm) {
            display: none !important;
        }
    }
}


 
//   @keyframes animate-success {
//       0% {
//         background-color:$whiteColor;
//         color: $darkblack;
//       }
      
//     50%{
//        background-color:#28a745;
//         color: $whiteColor;
//     }
   
//       100% {
//          background-color:$whiteColor;
//         color: $darkblack;
       
//       }
//   }


//   @keyframes animate-danger {
//     0% {
//       background-color:$whiteColor;
//       color: $darkblack;
//     }
  
//     50%{
//       background-color:#ff6363;
//       color: $whiteColor;
//     }
 
//     100% {
//       background-color:$whiteColor;
//       color: $darkblack;
//     }
// }




.successful{
    background: $popupbg;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    padding: 1rem 3rem 3rem;
    text-align: center;
    width: 40%;
    display: block;
    margin: 0 auto;
    @media (max-width:$sm) {
        width: 100%;
    }
        .sucesstext{
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 2.25rem;
            color: $sucessgreen;
            padding-bottom: 36px;
            margin: 0;
        }
   }
   
.order-register{
    background: $popupbg;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    padding:  3rem;
    text-align: center;
    width: 40%;
    display: block;
    margin: 0 auto;
    @media (max-width:$sm) {
        width: 100%;
    }
        .sucesstext{
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 2.25rem;
            color: $sucessgreen;
            padding-bottom: 36px;
            margin: 0;
        }
        .subtext{
            font-size:1.25rem;
            font-weight: 400;
            line-height: 1.875rem;
            color: #191919;
            width: 70%;
            display: block;
            margin: 0 auto;
            padding-bottom: 36px;
        }
   }