@import '../../assets/css/common.scss';
@import '../../assets/css/customvariable.scss';

.afsec{
    padding-bottom: 4rem;
    .subhead{
        color: #25B8AF;
        font-size: 1.125rem;
        font-weight: 500;
        line-height: 1.688rem;
        padding-bottom: 2.563rem;
        @media (max-width:767px) {
            padding-bottom: 0;
        }
    }
    .profile{
       display: none;
        @media (max-width:767px) {
            display: block;
            font-weight: 400;
            font-size: 1.3rem;
            line-height: 1.3125rem;
            color: #221F20;
            padding-bottom: 2.5rem;
            margin: 0;
        }
    }
    .left-sec{
        width: 68%;
        @media (max-width:767px) {
            width: 100%;
        }
        .table-sec{
            border: 1px solid #C2C2C2;
            padding: 2rem;
            border-radius: 8px;
            .rowwrap{
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid #DDDDDD;
                padding: 24px 0;
                @media (max-width:767px) {
                    padding: 12px  0;
                }
                &:first-child{
                    padding: 0 0 24px 0;
                    @media (max-width:767px) {
                        padding: 0 0 12px 0;
                    }
                }
                &:last-child{
                    border:none;
                    padding: 24px 0 0 0;
                    @media (max-width:767px) {
                        padding: 12px 0 0 0;
                    }
                }
                @media (max-width:767px) {
                    flex-direction: column;
                }
                .name{
                    font-size: 1.35rem;
                    color: #000;
                    text-transform: capitalize;
                    line-height: 1.625rem;
                    font-weight: 500;
                }
                
                .textwrap{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    width: 50%;
                    .numberwrap{
                        .number{
                            color:  #25B8AF;
                            font-size: 1.25rem;
                            font-weight: 600;
                        }
                        .percent{
                            color:  #666666;
                            font-size: 1rem;
                            font-weight: 400;
                        }
                    }
                    .amount{
                        .rupee{
                            color: #221F20;
                            font-size:1.25rem ;
                           line-height: 1.875rem;
                        }
                        .text{
                            color: #666666;
                            font-size:1rem ;
                           line-height: 1.5rem;
                           text-align: right;
                        }
                    }
                    
                    
                    p{
                        margin: 0;
                    }
                    @media (max-width:767px) {
                        flex-direction: row;
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        margin-top: 1.5rem;
                    }
                }
            }
        }
    }
    .right-sec{
        width: 30%;
        margin-left:2%;
        @media (max-width:767px) {
            width: 100%;
            position: fixed;
            bottom: 0;
            width: 100%;
            left: 0;
            z-index: 99999999;
            padding: 0;
            margin-left: 0;
        }

        .formwrapper{
           
           .otpsec{
            padding: 1.5rem;
            background-color: #25B8AF;
            border-radius: 8px;
            @media (max-width:767px) {
                border-radius: 8px 8px 0 0;
            }
            .otpmodal{
                .otptext{
                    color: #fff;
                    text-transform: capitalize;
                    font-size: 1.55rem;
                    line-height: 2.5rem;
                    font-weight: 600;
                }
                .subtext{
                    color: #F5F5F5;
                    text-transform: capitalize;
                    font-size: 1.188rem;
                    line-height: 1.75rem;
                    margin: 0;
                }
            }
           }
            
            .new-wrapp{
                padding: 1.5rem;
                background-color: #25B8AF;
                border-radius: 8px;
                
                @media (max-width:767px) {
                    border-radius: 8px 8px 0 0;
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    justify-content: space-between;
                }
                .infowrap{

                    padding-bottom: 2.375rem;
                    p{
                        color: #fff;
                        text-transform: capitalize;
                        font-size: 1.5rem;
                        line-height: 2.5rem;
                        font-weight: 600;
                        margin: 0;
                    }
                    @media (max-width:767px) {
                        display: none;
                    }
                  
                }
             
                .amtwrap{
                    .investmentamount{
                        margin: 0;
                        font-size: 1.188rem;
                        line-height: 1.75rem;
                        color:#fff;
                        @media (max-width:767px) {
                            font-size: 12px;
                        }
                    }
                    .amountrs{
                        margin: 0;
                        font-size: 1.5rem;
                        line-height: 2.25rem;
                        color:#fff;
                    }
                }
                .investnowbtn{
                    margin-top: 3.75rem;
                    @media (max-width:767px) {
                        margin-top: 0rem;
                        min-width: 13rem;
                        // margin-left: 1.5rem;
                        padding: 1rem !important;
                    }
                }
          
            }
           .redirectwrap{
            text-align: center;
            padding: 1.5rem;
            background-color: #25B8AF;
            border-radius: 8px;
            @media (max-width:767px) {
                border-radius: 8px 8px 0 0;
            }
            .redirectimg{
                transform: rotate(270deg);
                margin-top: 2rem;
            }
            .redirecttext{
                font-size: 1.5rem;
                font-weight: 600;
                line-height: 2.25rem;
                text-align: center;
                padding: 2.5rem 4.5rem;
                color: #fff;
             
            }
           }

       
        }
      
    }
    .sticky-investnow{
        position: fixed;
        bottom: 0;
        z-index: 99999999;
        width: 100%;
        left: 0;
        display: none !important;
        background-color: #25B8AF;
        .stickywrap{
            display: flex;
            justify-content: space-between;
            padding: 1.125rem 1rem;
            .left{
                .text{
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 18px;
                    color: #FFFFFF;
                    margin: 0;
                }
                .num{
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    color: #FFFFFF;
                    margin: 0;
                }
            }
            .rightbtn{
                .investnowbtn{
                    padding: 1rem !important;
                    min-width: 14rem;
                }
            }
        }
        @media (max-width:767px) {
            display: none !important;
        }
    }
}

.otp-wrapper{
    display: flex;
    align-items: center;
  }
  
  .otp-wrapper input{
    width: 25px;
    height: 35px;
    margin: 5px;
    text-align:left;  
    border: none;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    outline: 0;
    color:#fff;
    
  }
  .warning{
    color: #FFCE02;
    font-size: 1rem;
    line-height: 1.5rem;
    padding-top: 5px;
    font-weight: 600;
  }

  .disablebtn{
    background-color: #DBDBDB;
  }


  
  #message{
    text-align: center;
  }
  
 
  @keyframes animate-success {
      0% {
        background-color:#fff;
        color: #000;
      }
      
    50%{
       background-color:#28a745;
        color: #fff;
    }
   
      100% {
         background-color:#fff;
        color: #000;
       
      }
  }


  @keyframes animate-danger {
    0% {
      background-color:#fff;
      color: #000;
    }
  
    50%{
      background-color:#ff6363;
      color: #fff;
    }
 
    100% {
      background-color:#fff;
      color: #000;
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.successful{
    background: #FAFAFA;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    padding: 1rem 3rem 3rem;
    text-align: center;
    width: 40%;
    display: block;
    margin: 0 auto;
    @media (max-width:767px) {
        width: 100%;
    }
        .sucesstext{
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 2.25rem;
            color: #00AE6F;
            padding-bottom: 36px;
            margin: 0;
        }
   }
   
.order-register{
    background: #FAFAFA;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    padding:  3rem;
    text-align: center;
    width: 40%;
    display: block;
    margin: 0 auto;
    @media (max-width:767px) {
        width: 100%;
    }
        .sucesstext{
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 2.25rem;
            color: #00AE6F;
            padding-bottom: 36px;
            margin: 0;
        }
        .subtext{
            font-size:1.25rem;
            font-weight: 400;
            line-height: 1.875rem;
            color: #191919;
            width: 70%;
            display: block;
            margin: 0 auto;
            padding-bottom: 36px;
        }
   }