/*Bootstrap Override*/
/*Font family*/
/*bg varibales*/
/*textvaribales*/
/*Shadow color*/
/*Responsive screen width*/
@font-face {
  font-family: "PoppinsMedium";
  src: url("../fonts/PoppinsMedium.eot");
  src: url("../fonts/PoppinsMedium.eot") format("embedded-opentype"), url("../fonts/PoppinsMedium.woff2") format("woff2"), url("../fonts/PoppinsMedium.woff") format("woff"), url("../fonts/PoppinsMedium.ttf") format("truetype"), url("../fonts/PoppinsMedium.svg#PoppinsMedium") format("svg");
  font-display: swap;
}
@font-face {
  font-family: "PoppinsRegular";
  src: url("../fonts/PoppinsRegular.eot");
  src: url("../fonts/PoppinsRegular.eot") format("embedded-opentype"), url("../fonts/PoppinsRegular.woff2") format("woff2"), url("../fonts/PoppinsRegular.woff") format("woff"), url("../fonts/PoppinsRegular.ttf") format("truetype"), url("../fonts/PoppinsRegular.svg#PoppinsRegular") format("svg");
  font-display: swap;
}
@font-face {
  font-family: "PoppinsSemiBold";
  src: url("../fonts/PoppinsSemiBold.eot");
  src: url("../fonts/PoppinsSemiBold.eot") format("embedded-opentype"), url("../fonts/PoppinsSemiBold.woff2") format("woff2"), url("../fonts/PoppinsSemiBold.woff") format("woff"), url("../fonts/PoppinsSemiBold.ttf") format("truetype"), url("../fonts/PoppinsSemiBold.svg#PoppinsSemiBold") format("svg");
  font-display: swap;
}
@font-face {
  font-family: "PoppinsBold";
  src: url("../fonts/PoppinsBold.eot");
  src: url("../fonts/PoppinsBold.eot") format("embedded-opentype"), url("../fonts/PoppinsBold.woff2") format("woff2"), url("../fonts/PoppinsBold.woff") format("woff"), url("../fonts/PoppinsBold.ttf") format("truetype"), url("../fonts/PoppinsBold.svg#PoppinsBold") format("svg");
  font-display: swap;
}
@font-face {
  font-family: "RedHatDisplayBold";
  src: url("../fonts/RedHatDisplayBold.eot");
  src: url("../fonts/RedHatDisplayBold.eot") format("embedded-opentype"), url("../fonts/RedHatDisplayBold.woff2") format("woff2"), url("../fonts/RedHatDisplayBold.woff") format("woff"), url("../fonts/RedHatDisplayBold.ttf") format("truetype"), url("../fonts/RedHatDisplayBold.svg#RedHatDisplayBold") format("svg");
  font-display: swap;
}
@font-face {
  font-family: "Poppins-Regular";
  src: url("../fonts/Poppins-Regular.eot");
  src: url("../fonts/Poppins-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Regular.svg#Poppins-Regular") format("svg"), url("../fonts/Poppins-Regular.ttf") format("truetype"), url("../fonts/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
/*Bootstrap Override*/
/*Font family*/
/*bg varibales*/
/*textvaribales*/
/*Shadow color*/
/*Responsive screen width*/
.btn-bg {
  font-family: "PoppinsSemiBold", sans-serif;
  color: #ffffff !important;
  background: #221F20 !important;
  padding: 1.3rem 2.8rem !important;
  display: inline-block;
  border-radius: 16px !important;
  min-width: 16rem;
  font-size: 1.5rem !important;
  text-align: center;
  text-decoration: none;
  border: 0 !important;
  outline: none !important;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.btn-bg:hover {
  background: #FFCE02 !important;
  color: #221F20 !important;
}
.btn-bg:focus, .btn-bg:active, .btn-bg:not(:disabled):not(.disabled):active, .btn-bg:not(:disabled):not(.disabled).active {
  outline: none;
}
.btn-bg.btn-bg-dark {
  background: #FFCE02 !important;
  color: #221F20 !important;
}
.btn-bg.btn-bg-dark:hover {
  background: #ffffff !important;
}
.btn-bg.btn-light {
  background-color: #ffffff !important;
  color: #221F20 !important;
}
.btn-bg.btn-light:hover {
  background: #FFCE02 !important;
  color: #221F20 !important;
}

.link-nrl {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0066B3;
  width: auto;
  border-radius: 100px;
  padding: 0.8rem 2rem;
  margin-right: 2.5rem;
  text-decoration: none;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
  position: relative;
  font-family: "PoppinsRegular", sans-serif;
  min-height: 4rem;
}
.link-nrl img {
  margin-right: 0.5rem;
}
.link-nrl.white {
  background-color: #F5F5F5;
}
.link-nrl.white:hover {
  background-color: #FFCE02;
}
.link-nrl .img-ico {
  width: 17rem;
  display: block;
}
@media (max-width: 768px) {
  .link-nrl .img-ico {
    width: 8rem;
  }
}
.link-nrl .whitecolor {
  color: #ffffff;
  font-size: 1.7rem;
}
@media (max-width: 768px) {
  .link-nrl .whitecolor {
    font-size: 16px;
  }
}
.link-nrl .blackcolor {
  color: #13151A;
  font-size: 1.25rem;
}
@media (max-width: 768px) {
  .link-nrl .blackcolor {
    font-size: 16px;
  }
}
.link-nrl:hover {
  transform: translateY(-8px);
}
@media (max-width: 768px) {
  .link-nrl {
    margin-right: 1rem;
    width: 42%;
    margin-bottom: 1rem;
    padding: 8px;
  }
}
.link-nrl.link-nrl-sm {
  width: auto;
  padding: 0.5rem 1.5rem;
  margin-right: 1.5rem;
  white-space: nowrap;
}
.link-nrl.link-nrl-sm .whitecolor {
  color: #ffffff;
  font-size: 15px;
  color: #ffffff;
  font-size: 16px;
}
.link-nrl.link-nrl-sm .blackcolor {
  color: #13151A;
  font-size: 16px;
}
.link-nrl.link-nrl-sm.white {
  background-color: #F5F5F5;
}
.link-nrl.link-nrl-sm.white:hover {
  background-color: #FFCE02;
}
.link-nrl.link-nrl-sm:hover {
  transform: translateY(-8px);
}
@media (min-width: 767px) and (max-width: 768px) {
  .link-nrl.link-nrl-sm {
    width: 42%;
    margin-bottom: 1rem;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .link-nrl.link-nrl-sm {
    margin-bottom: 1rem;
  }
}
@media (min-width: 1025px) and (max-width: 1200px) {
  .link-nrl.link-nrl-sm {
    width: 55%;
    margin-bottom: 1rem;
  }
}
.link-nrl.link-nrl-sm img {
  display: block;
}
.link-nrl.link-nrl-sm span {
  padding-left: 10px;
}
@media (max-width: 768px) {
  .link-nrl.link-nrl-sm {
    margin-right: 0.5rem;
  }
}
.link-nrl .ico-sm {
  margin-right: 0.8rem;
}

.scroll-top {
  position: fixed;
  right: 30px;
  bottom: 70px;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  border: 0;
  font-size: 1.9rem;
  z-index: 9999;
  color: #ffffff;
  background: #FFCE02;
  box-shadow: 0px 0px 8px #d6d6d6;
}
@media (max-width: 767px) {
  .scroll-top {
    display: none;
  }
}
.scroll-top .fa-angle-up {
  animation: bounce 1600ms infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

@keyframes bounce {
  50% {
    transform: translateY(-8px);
  }
}
p {
  font-family: "PoppinsRegular", sans-serif, sans-serif;
  font-size: 1.375rem;
  line-height: 2.15rem;
}

.text-danger {
  font-family: "PoppinsRegular", sans-serif;
  margin-top: 0.5rem;
  display: block;
  font-size: 1.2rem;
}

@media only screen and (min-width: 1200px) {
  html {
    font-size: 11px;
  }
}
@media only screen and (min-width: 1400px) {
  html {
    font-size: 13px;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 12px;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 12px;
  }
}
@media (max-width: 320px) {
  html {
    font-size: 11px;
  }
}

body {
  font-family: "PoppinsRegular", sans-serif, sans-serif;
  font-size: 1.4rem;
  color: #221F20;
}

.title-first {
  font-size: 3.5rem;
  line-height: 1.5;
  color: #221F20;
  font-weight: 600;
  font-family: "PoppinsSemiBold", sans-serif;
}
@media (max-width: 767px) {
  .title-first {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }
  .title-first br {
    display: none;
  }
}

.title-secnd {
  font-size: 3rem;
  color: #221F20;
  font-family: "PoppinsSemiBold", sans-serif;
}
@media (max-width: 767px) {
  .title-secnd {
    font-size: 2rem;
    line-height: 3rem;
  }
}

.title-third {
  font-size: 3.25rem;
  color: #221F20;
  font-family: "PoppinsSemiBold", sans-serif;
}
@media (max-width: 767px) {
  .title-third {
    font-size: 1.8rem;
  }
}

.title-fourth {
  font-size: 1.6rem;
  margin: 1.5rem 0;
  font-family: "PoppinsSemiBold", sans-serif;
  color: #221F20;
}

.heading-sec p {
  color: #707070;
  font-size: 1.75rem;
  line-height: 2.625rem;
  font-family: "PoppinsRegular", sans-serif, sans-serif;
}
@media (max-width: 767px) {
  .heading-sec p {
    font-size: 1.5rem;
  }
}
@media (max-width: 768px) {
  .heading-sec p br {
    display: none;
  }
}
.heading-sec p.nm-text {
  font-size: 1.4rem;
  line-height: 2.15rem;
  color: #221F20;
}
.heading-sec .title-secnd {
  margin-bottom: 2rem;
}
@media (max-width: 992px) {
  .heading-sec .title-secnd {
    margin-bottom: 1.2rem;
  }
}
.heading-sec .title-first {
  text-shadow: inherit;
  margin-bottom: 2rem;
}

.big-ttl {
  font-size: 4.125rem;
  font-family: "PoppinsBold", sans-serif;
  color: #221F20;
  line-height: 1.4;
}
@media screen and (max-width: 992px) {
  .big-ttl {
    font-size: 3rem;
  }
}

/*box shadow*/
.box-shadow, .why-invst-mf .mf-list-slider .slick-slide .mf-list-itm, .btn-bg.btn-bg-dark:hover {
  box-shadow: 0px 0px 8px #F0F0F0;
}

.light-box-shadow {
  box-shadow: 0px 0px 8px #F0F0F0;
}

.App-Body {
  min-height: 100vh;
  margin-top: 9.25rem;
}
@media screen and (max-width: 767px) {
  .App-Body {
    display: block;
    width: 100%;
    overflow: inherit;
  }
}
@media screen and (max-width: 992px) {
  .App-Body {
    margin-top: 8.45rem;
  }
}
@media screen and (max-width: 590px) {
  .App-Body {
    margin-top: 6rem;
  }
}

.App {
  width: 100%;
  margin: 0 auto;
  overflow: inherit;
}

.modal-backdrop {
  z-index: 99999 !important;
}

.modal {
  z-index: 99999 !important;
}
@keyframes toTopFromBottom {
  49% {
    transform: translateY(-100%);
  }
  50% {
    opacity: 0;
    transform: translateY(100%);
  }
  51% {
    opacity: 1;
  }
}
.common-modal-thankyou .modal-content .modal-header {
  border: 0;
}
.common-modal-thankyou .modal-content .modal-body {
  padding: 2rem;
  padding-bottom: 1.5em;
  text-align: center;
}
.common-modal-thankyou .modal-content .modal-body h4 {
  margin-top: 1rem;
  font-family: "PoppinsMedium", sans-serif;
  color: #221F20;
  font-size: 1.65rem;
}
.common-modal-thankyou .modal-content .modal-body h3 {
  font-family: "PoppinsMedium", sans-serif;
  color: #221F20;
  margin-top: 2rem;
}
.common-modal-thankyou .modal-content .modal-footer {
  text-align: center;
  justify-content: center;
  border: 0;
  padding-bottom: 1.5em;
}
.common-modal-thankyou .modal-content .modal-footer .btn-yellow {
  background-color: #FFCE02;
  border-radius: 27px;
  color: #221F20;
  font-size: 1.5rem;
  line-height: 1.375rem;
  font-family: "PoppinsSemiBold", sans-serif;
  display: inline-block;
  border: none;
  padding: 0.8rem 2rem;
  margin-top: 1rem 0;
}

/* common card styling */
.carditem-nbfc {
  background: #ffffff;
  box-shadow: 0px 0px 8px #F0F0F0;
  border-radius: 20px;
  padding: 2.5rem 2rem;
  text-decoration: none;
  display: block !important;
  width: 90% !important;
  margin: 0 auto;
  height: 100%;
  min-height: 17rem;
  text-align: center;
}
@media (min-width: 768px) and (max-width: 992px) {
  .carditem-nbfc {
    padding: 1.8rem;
    font-size: 1.1rem;
  }
}
.carditem-nbfc:hover .cardimg .img {
  animation: toTopFromBottom 0.5s forwards;
}
.carditem-nbfc .cardimg {
  display: inline-block;
  overflow: hidden;
  height: 54px;
  font-size: 0.8rem;
}
.carditem-nbfc .card-ttl {
  font-size: 1.625rem;
  line-height: 1.5;
  font-family: "PoppinsSemiBold", sans-serif;
  color: #221F20;
  margin: 1rem 0 0 0;
}
.carditem-nbfc .subtext {
  font-size: 1.3rem;
  line-height: 1.9rem;
  margin: 1rem 0 0 0;
  color: #221F20;
  font-family: "PoppinsRegular", sans-serif;
}
@media (min-width: 768px) and (max-width: 992px) {
  .carditem-nbfc .subtext {
    font-size: 1.1rem;
  }
}

.grecaptcha-badge {
  z-index: 999999999;
}

.float-right {
  float: right;
}

.text-danger {
  font-size: 1.2rem;
  font-family: "PoppinsRegular", sans-serif;
  margin-top: 0.5rem;
  display: block;
}

.banner-title2 {
  font-family: "PoppinsSemiBold", sans-serif;
  color: #FFCE02;
  font-size: 2.1rem;
  margin-bottom: 2rem;
  display: block;
}
@media (max-width: 767px) {
  .banner-title2 {
    text-align: center;
    margin-bottom: 1rem;
  }
}
.banner-title2.mf-ttl {
  color: #0066B3;
  display: block !important;
  font-size: 2.4rem;
}
.banner-title2.mobile {
  display: none;
}

.term_link {
  text-decoration: none;
}

.sticy-card-sub-new {
  position: relative;
  padding: 3rem;
  background: #004393;
  background-size: cover;
  border-radius: 14px;
  margin: 0;
  width: 100%;
  transition-duration: 0.6s;
}
.sticy-card-sub-new .title-secnd {
  color: #fff;
  padding-bottom: 1rem;
}
@media (max-width: 992px) {
  .sticy-card-sub-new .title-secnd {
    font-size: 2rem;
  }
}
.sticy-card-sub-new ul {
  list-style: none;
  padding: 0;
}
.sticy-card-sub-new ul li {
  padding: 1rem 0;
  display: flex;
  align-items: center;
}
.sticy-card-sub-new ul li .bx-icon {
  padding-right: 1rem;
}
.sticy-card-sub-new ul li .bx-text {
  color: #ffffff;
  font-family: "PoppinsMedium", sans-serif;
  font-size: 1.7rem;
  white-space: nowrap;
}
.sticy-card-sub-new ul li .bx-text .fw-regular {
  font-family: "PoppinsRegular", sans-serif;
}
@media (max-width: 992px) {
  .sticy-card-sub-new ul li {
    display: flex;
    align-items: center;
  }
}
.sticy-card-sub-new .btn-open {
  padding-top: 2rem;
}
@media (max-width: 992px) {
  .sticy-card-sub-new {
    padding: 2rem;
    width: 40%;
  }
}
.sticy-card-sub-new.sub-new-small .title-secnd {
  font-size: 2.5rem;
}
@media (max-width: 992px) {
  .sticy-card-sub-new.sub-new-small .title-secnd {
    font-size: 1.7rem;
  }
}
@media (max-width: 767px) {
  .sticy-card-sub-new.sub-new-small .title-secnd {
    font-size: 2rem;
  }
}
.sticy-card-sub-new.sub-new-small ul li .bx-icon .svg-fill {
  height: 31px;
}
.sticy-card-sub-new.sub-new-small ul li .bx-text {
  font-size: 1.375rem;
}
@media (max-width: 992px) {
  .sticy-card-sub-new.sub-new-small ul li .bx-text {
    font-size: 1.3rem;
  }
}
@media (max-width: 767px) {
  .sticy-card-sub-new.sub-new-small ul li .bx-text {
    white-space: initial;
  }
}
@media (max-width: 992px) {
  .sticy-card-sub-new.sub-new-small .btn-open {
    padding-top: 1rem;
  }
}
@media (max-width: 767px) {
  .sticy-card-sub-new.sub-new-small .btn-open .btn-bg {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .sticy-card-sub-new.sub-new-small {
    padding: 2rem 1.5rem 2rem;
    width: 100%;
  }
}

/*Bootstrap Override*/
/*Font family*/
/*bg varibales*/
/*textvaribales*/
/*Shadow color*/
/*Responsive screen width*/
body {
  background-color: #ffffff;
}

.mainwrapper {
  overflow: hidden;
  animation: hideMe 4s forwards;
  width: 100%;
}

.mfi-bannersection {
  padding: 10rem 0 14rem 0;
  position: relative;
  background: url(../../assets/images/mutual-funds-investment/invest-in-mutual-funds-online.webp) no-repeat bottom left;
  background-size: cover;
}
.mfi-bannersection .lft-sec .big-ttl {
  color: #221F20;
  margin-bottom: 5rem;
  font-family: "PoppinsSemiBold", sans-serif;
  text-transform: capitalize;
}
.mfi-bannersection .lft-sec .big-ttl span {
  font-family: "PoppinsBold", sans-serif;
}
@media (max-width: 992px) {
  .mfi-bannersection .lft-sec .big-ttl {
    margin-bottom: 2.5rem;
  }
}
.mfi-bannersection .lft-sec .para {
  color: #707070;
  font-size: 1.75rem;
  line-height: 2.45rem;
}
.mfi-bannersection .lft-sec .para.p-yl {
  font-family: "PoppinsSemiBold", sans-serif;
  color: #FFCE02;
  margin-top: 5rem;
}
@media (max-width: 768px) {
  .mfi-bannersection .lft-sec .para.p-yl {
    margin-top: 2.5rem;
  }
}
@media (max-width: 768px) {
  .mfi-bannersection .lft-sec .para br {
    display: none;
  }
}
@media (max-width: 768px) {
  .mfi-bannersection .lft-sec {
    padding-bottom: 3rem;
  }
}
@media (max-width: 768px) {
  .mfi-bannersection {
    text-align: center;
    padding: 5rem 0 5rem 0;
    background: #cedae4;
  }
}
.mfi-bannersection .home-banner-ved {
  position: relative;
  overflow: hidden;
}
.mfi-bannersection .home-banner-ved::before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background: transparent;
}
.mfi-bannersection .home-banner-ved .banner-ved {
  position: relative;
  right: -1px;
}

.why-invst-mf {
  padding: 10rem 0 7rem 0;
}
@media (max-width: 768px) {
  .why-invst-mf {
    padding: 5rem 0;
  }
}
.why-invst-mf .title-first {
  text-transform: capitalize;
  padding-top: 1rem;
}
@media (max-width: 768px) {
  .why-invst-mf .title-first {
    text-align: center;
  }
}
.why-invst-mf .mf-list-slider .slick-slide {
  padding: 1rem 1.5rem;
}
.why-invst-mf .mf-list-slider .slick-slide .mf-list-itm {
  text-align: center;
  padding: 3rem 2rem;
  background: #ffffff;
  border-radius: 1rem;
  min-height: 26.5rem;
  height: 100%;
}
@media (max-width: 767px) {
  .why-invst-mf .mf-list-slider .slick-slide .mf-list-itm {
    min-height: 23.5rem;
    height: 100%;
  }
}
.why-invst-mf .mf-list-slider .slick-slide .mf-list-itm .mf-sm-img {
  display: inline-block;
  margin-bottom: 3rem;
}
.why-invst-mf .mf-list-slider .slick-slide .mf-list-itm h3 {
  line-height: 2.3rem;
}

.explore-best-mf {
  padding: 7rem 0 9rem 0;
  background: #F3FAFF;
  position: relative;
}
.explore-best-mf .best-mf-cont {
  padding-top: 4rem;
}
.explore-best-mf .best-mf-cont .title-first {
  text-transform: capitalize;
  margin-bottom: 2rem;
}
@media (max-width: 768px) {
  .explore-best-mf .best-mf-cont {
    padding-top: 0;
  }
}
.explore-best-mf .best-mf-cont .btn-bg-dark:hover {
  background: #221F20 !important;
  color: #ffffff !important;
}
.explore-best-mf .best-mf-list {
  display: flex;
  padding-left: 3rem;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.explore-best-mf .best-mf-list .mf-lis-itm {
  width: 28%;
  padding: 3rem 2rem;
  border-radius: 16px;
  background: transparent;
  border: 1px solid transparent;
  text-align: center;
  transition: 0.2s ease;
  text-decoration: none;
  color: #221F20;
}
.explore-best-mf .best-mf-list .mf-lis-itm .sm-img-itm {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
  overflow: hidden;
  min-height: 85px;
}
.explore-best-mf .best-mf-list .mf-lis-itm h4 {
  font-family: "PoppinsMedium", sans-serif;
  line-height: 2.3rem;
}
.explore-best-mf .best-mf-list .mf-lis-itm:hover {
  background: #ffffff;
  border: 1px solid #25B8AF;
}
.explore-best-mf .best-mf-list .mf-lis-itm:hover .sm-img-itm .img-fluid {
  animation: toTopFromBottom 0.5s forwards;
}
@media (max-width: 768px) {
  .explore-best-mf .best-mf-list .mf-lis-itm {
    width: 49%;
    padding: 1.5rem;
  }
}
@media (max-width: 768px) {
  .explore-best-mf .best-mf-list {
    padding-left: 0;
  }
}
@media (max-width: 768px) {
  .explore-best-mf .best-mf-list {
    justify-content: center;
    align-items: inherit;
  }
}
@media (max-width: 767px) {
  .explore-best-mf {
    text-align: center;
  }
}

.get-start {
  position: relative;
  margin-bottom: -5rem;
}
@media (max-width: 768px) {
  .get-start {
    padding-bottom: 5rem;
    margin: 0;
  }
}
.get-start .get-start-sub {
  display: flex;
  align-items: center;
  background: #E0EFE4;
  border-radius: 16px;
  padding: 2rem 2rem;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}
.get-start .get-start-sub h3 {
  font-family: "PoppinsSemiBold", sans-serif;
  margin: 1rem;
  margin-right: 3rem;
  font-size: 2.2rem;
}
@media (max-width: 767px) {
  .get-start .get-start-sub h3 {
    margin: 1rem 0;
    font-size: 1.8rem;
  }
}
.get-start .get-start-sub .btn-bg {
  margin: 1rem;
}
.get-start.get-start-scnd {
  position: relative;
  margin-top: -5rem;
  padding-bottom: 5rem;
}

.why-choice-invest {
  background: #221F20;
  padding: 13rem 0 15rem 0;
}
@media (max-width: 768px) {
  .why-choice-invest {
    padding: 5rem 0;
  }
}
.why-choice-invest .title-first {
  margin-bottom: 5rem;
  color: #ffffff;
}
@media (max-width: 768px) {
  .why-choice-invest .title-first {
    text-align: center;
    margin-bottom: 2rem;
  }
}
.why-choice-invest .why-ipo-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 992px) {
  .why-choice-invest .why-ipo-list {
    align-items: inherit;
  }
}
.why-choice-invest .why-ipo-list .why-itm {
  text-align: center;
  border-bottom: 2px solid;
  padding: 1rem 1rem;
  border-color: #1ED0CB;
}
.why-choice-invest .why-ipo-list .why-itm .sm-img-itm {
  display: flex;
  min-height: 85px;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 2rem;
}
.why-choice-invest .why-ipo-list .why-itm h4 {
  color: #ffffff;
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-family: "PoppinsSemiBold", sans-serif;
}
@media (max-width: 767px) {
  .why-choice-invest .why-ipo-list .why-itm h4 {
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
}
@media (max-width: 992px) {
  .why-choice-invest .why-ipo-list .why-itm {
    width: 45%;
    margin-top: inherit !important;
    margin-bottom: 1.5rem;
  }
}
@media (max-width: 590px) {
  .why-choice-invest .why-ipo-list .why-itm {
    width: 48%;
  }
}
.why-choice-invest .why-ipo-list .why-itm:nth-child(2n) {
  margin-top: 8rem;
}
.why-choice-invest .why-ipo-list .why-itm:nth-child(3n) {
  border-color: #FFCE02;
}
.why-choice-invest .why-ipo-list .why-itm:nth-child(4n) {
  border-color: #FFCE02;
}

.process-ipo {
  padding: 0 0 15rem 0;
  position: relative;
}
@media (max-width: 767px) {
  .process-ipo {
    padding: 0 0 5rem 0;
  }
}
.process-ipo::after {
  content: "";
  width: 17rem;
  height: 22rem;
  display: block;
  position: absolute;
  right: 2px;
  top: 5%;
  background: url(../../assets/images/insurance/bg1.webp) no-repeat top right;
  background-size: contain;
  z-index: -9;
}
@media (max-width: 992px) {
  .process-ipo::after {
    display: none;
  }
}
.process-ipo .title-first {
  padding-bottom: 14rem;
}
@media (max-width: 767px) {
  .process-ipo .title-first {
    padding-bottom: 3rem;
    text-align: center;
  }
}
.process-ipo .ipo-list-img {
  position: relative;
  padding: 0;
}
.process-ipo .ipo-list-img .process-ipo-list .ipo-list-itm {
  position: absolute;
  width: 200px;
}
.process-ipo .ipo-list-img .process-ipo-list .ipo-list-itm:nth-child(1n) {
  left: 0;
  top: -7.5rem;
}
.process-ipo .ipo-list-img .process-ipo-list .ipo-list-itm:nth-child(1n) h3 {
  color: #1ED0CB;
}
.process-ipo .ipo-list-img .process-ipo-list .ipo-list-itm:nth-child(2n) {
  top: inherit;
  bottom: -6rem;
  left: 26%;
}
.process-ipo .ipo-list-img .process-ipo-list .ipo-list-itm:nth-child(2n) h3 {
  color: #089E9A;
}
.process-ipo .ipo-list-img .process-ipo-list .ipo-list-itm:nth-child(3n) {
  left: 50%;
}
.process-ipo .ipo-list-img .process-ipo-list .ipo-list-itm:nth-child(3n) h3 {
  color: #FFCE02;
}
.process-ipo .ipo-list-img .process-ipo-list .ipo-list-itm:nth-child(4n) {
  top: inherit;
  bottom: -7.5rem;
  left: 74%;
}
.process-ipo .ipo-list-img .process-ipo-list .ipo-list-itm:nth-child(4n) h3 {
  color: #E88832;
}
.process-ipo .ipo-list-img .process-ipo-list .ipo-list-itm h3 {
  font-size: 2.5rem;
  font-family: "PoppinsSemiBold", sans-serif;
}
.process-ipo .ipo-list-img .process-ipo-list .ipo-list-itm h4 {
  font-family: "PoppinsSemiBold", sans-serif;
  line-height: 2.1rem;
}
@media (max-width: 767px) {
  .process-ipo .ipo-list-img .process-ipo-list .ipo-list-itm {
    position: relative;
    left: inherit !important;
    right: inherit !important;
    top: inherit !important;
    bottom: inherit !important;
    width: 50%;
    margin-bottom: 1rem;
  }
}
@media (max-width: 767px) {
  .process-ipo .ipo-list-img .process-ipo-list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (max-width: 767px) {
  .process-ipo .ipo-list-img .mn-img-big {
    display: none;
  }
}

.Dematfaq {
  padding: 0 0 9rem 0;
  background-color: #ffffff;
}
.Dematfaq .title-first {
  margin-bottom: 4rem;
}
@media (max-width: 767px) {
  .Dematfaq .title-first {
    text-align: center;
    margin-bottom: 2rem;
  }
}
.Dematfaq .faq-item {
  border: 1px solid #C2C2C2 !important;
  border-radius: 20px;
  background: #ffffff;
  padding: 2.5rem 3rem;
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .Dematfaq .faq-item {
    padding: 1.5rem 1rem;
  }
}
.Dematfaq .faq-item .faq-header .accordion-button {
  font-family: "PoppinsSemiBold", sans-serif;
  color: #221F20;
  font-size: 2rem;
}
@media (max-width: 767px) {
  .Dematfaq .faq-item .faq-header .accordion-button {
    font-size: 1.75rem;
  }
}
.Dematfaq .accordion-button:not(.collapsed) {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}
.Dematfaq .accordion-button:focus {
  border: none !important;
  box-shadow: none !important;
}
.Dematfaq .accordion-button:after {
  display: none !important;
}

.explr-all .explr-sub {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background: #FFFBEA;
  border-radius: 20px;
  padding: 2rem;
  position: relative;
  text-align: center;
  margin-top: -7rem;
  z-index: 1;
}
.explr-all .explr-sub h3 {
  font-size: 2.2rem;
  margin: 2rem 3rem;
  text-transform: capitalize;
  font-family: "PoppinsSemiBold", sans-serif;
}

.mf-testimonial {
  padding: 8rem 0;
}
@media (max-width: 768px) {
  .mf-testimonial {
    padding-bottom: 0;
  }
}
.mf-testimonial .title-first {
  text-transform: capitalize;
  position: relative;
  display: inline-block;
}
.mf-testimonial .title-first::before {
  content: "";
  width: 10rem;
  height: 10rem;
  background: url(../../assets/images/mutual-funds-investment/quote.svg) no-repeat;
  background-size: contain;
  display: block;
  position: absolute;
  left: -15rem;
  top: -2rem;
}
@media (max-width: 768px) {
  .mf-testimonial .title-first::before {
    width: 6rem;
    height: 5rem;
    left: -7rem;
    top: -2rem;
  }
}
@media (max-width: 590px) {
  .mf-testimonial .title-first::before {
    left: -20px;
  }
}
.mf-testimonial .title-first span {
  position: relative;
  z-index: 1;
}
.mf-testimonial .title-first br {
  display: block;
}

.mf-testimonial .mf-testimonial-slider .testi-slider {
  margin-top: 5rem;
  padding-bottom: 8rem;
}
.mf-testimonial .mf-testimonial-slider .testi-slider .sl-item {
  text-align: center;
  display: block !important;
  max-width: 500px;
  margin: 0 auto;
}
.mf-testimonial .mf-testimonial-slider .testi-slider .sl-item .img-testi {
  display: inline-block;
  margin-bottom: 1.5rem;
}
.mf-testimonial .mf-testimonial-slider .testi-slider .sl-item .name-font {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  text-align: center;
  line-height: 4.6rem;
  background: #FFCE02;
  font-size: 2.6rem;
  font-family: "RedHatDisplayBold", sans-serif;
  margin-bottom: 2rem;
  background: url(../../assets/images/mutual-funds-investment/quote-icon.svg) no-repeat #ffffff;
  background-size: 100% 100%;
}
.mf-testimonial .mf-testimonial-slider .testi-slider .sl-item h3 {
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  color: #221F20;
  font-family: "PoppinsSemiBold", sans-serif;
}
.mf-testimonial .mf-testimonial-slider .testi-slider .sl-item .img-star {
  display: inline-block;
  margin-bottom: 3rem;
}
.mf-testimonial .mf-testimonial-slider .testi-slider .sl-item p {
  position: relative;
}
.mf-testimonial .mf-testimonial-slider .testi-slider .sl-item p::before {
  content: "";
  background: url("../../assets/images/online-trading-app/quote1.svg") no-repeat;
  display: block;
  background-size: contain;
  position: absolute;
  height: 50px;
  width: 66px;
  left: -50px;
  top: -27px;
}
@media (max-width: 992px) {
  .mf-testimonial .mf-testimonial-slider .testi-slider .sl-item p::before {
    width: 50px;
    height: 30px;
    left: -20px;
  }
}
@media (max-width: 768px) {
  .mf-testimonial .mf-testimonial-slider .testi-slider .sl-item p::before {
    left: 0;
  }
}
.mf-testimonial .mf-testimonial-slider .testi-slider .sl-item p::after {
  content: "";
  background: url("../../assets/images/online-trading-app/quote2.svg") no-repeat;
  display: block;
  background-size: contain;
  position: absolute;
  height: 50px;
  width: 66px;
  right: -50px;
  bottom: -27px;
}
@media (max-width: 992px) {
  .mf-testimonial .mf-testimonial-slider .testi-slider .sl-item p::after {
    width: 50px;
    height: 30px;
    right: -20px;
  }
}
@media (max-width: 768px) {
  .mf-testimonial .mf-testimonial-slider .testi-slider .sl-item p::after {
    right: 0;
  }
}
.mf-testimonial .mf-testimonial-slider .testi-slider .slick-prev {
  background: url(../../assets/images/online-trading-app/left-arrow.svg) no-repeat;
  background-size: contain;
  width: 85px;
  height: 50px;
  z-index: 9;
  left: -13%;
  top: 33%;
}
.mf-testimonial .mf-testimonial-slider .testi-slider .slick-prev::before {
  display: none;
}
@media (max-width: 992px) {
  .mf-testimonial .mf-testimonial-slider .testi-slider .slick-prev {
    left: -8rem;
  }
}
.mf-testimonial .mf-testimonial-slider .testi-slider .slick-next {
  background: url(../../assets/images/online-trading-app/right-arrow.svg) no-repeat;
  background-size: contain;
  width: 85px;
  height: 50px;
  right: -13%;
  top: 33%;
}
.mf-testimonial .mf-testimonial-slider .testi-slider .slick-next::before {
  display: none;
}
@media (max-width: 992px) {
  .mf-testimonial .mf-testimonial-slider .testi-slider .slick-next {
    right: -8rem;
  }
}

.mf-partner {
  padding: 5rem 0;
}
@media (max-width: 768px) {
  .mf-partner {
    text-align: center;
  }
}
.mf-partner .title-first {
  text-transform: capitalize;
  margin-bottom: 5rem;
}
.mf-partner .img-hover {
  filter: grayscale(1);
  transition: 0.5s;
}
.mf-partner .img-hover:hover {
  filter: grayscale(0);
}
.mf-partner .mf-partner-explore-btn {
  text-align: center;
  margin-top: 5rem;
}
.mf-partner .mf-partner-explore-btn .btn-bg-dark {
  min-width: 17rem;
}
.mf-partner .mf-partner-explore-btn .btn-bg-dark:hover {
  background: #221F20 !important;
  color: #ffffff !important;
}

.investmentcontent {
  padding: 7rem 0 18rem 0;
  background: #F3FAFF;
}
.investmentcontent .title-secnd {
  font-size: 2.688rem;
  line-height: 1.5;
}
@media (max-width: 767px) {
  .investmentcontent .title-secnd {
    font-size: 2rem;
  }
  .investmentcontent .title-secnd br {
    display: none;
  }
}
.investmentcontent .terms-cont {
  margin-top: 5.5rem;
  height: 340px;
  overflow-y: scroll;
  padding-left: 3rem;
  padding-right: 8rem;
}
@media (max-width: 767px) {
  .investmentcontent .terms-cont {
    margin-top: 3rem;
    padding-left: 0;
    padding-right: 0;
  }
}
.investmentcontent .terms-cont h3 {
  font-size: 2.688rem;
  line-height: 1.5;
  font-family: "PoppinsSemiBold", sans-serif;
  margin-bottom: 1rem;
}
@media (max-width: 767px) {
  .investmentcontent .terms-cont h3 {
    font-size: 2rem;
    padding-left: 2rem;
  }
}
.investmentcontent .terms-cont h4 {
  font-size: 2.2rem;
  line-height: 1.5;
  font-family: "PoppinsSemiBold", sans-serif;
  margin-bottom: 1rem;
}
@media (max-width: 767px) {
  .investmentcontent .terms-cont h4 {
    font-size: 1.8rem;
    padding-left: 2rem;
  }
}
.investmentcontent .terms-cont li {
  font-size: 1.625rem;
  line-height: 1.6;
  margin-bottom: 2rem;
  list-style: none;
  padding-left: 3rem;
  padding-right: 8rem;
  position: relative;
}
@media (max-width: 767px) {
  .investmentcontent .terms-cont li {
    padding-left: 2rem;
    padding-right: 0rem;
    margin-bottom: 1rem;
  }
}
.investmentcontent .terms-cont li .lipara {
  margin-bottom: 0;
  font-size: 1.625rem;
  line-height: 1.6;
  color: #707070;
  margin-bottom: 2rem;
  list-style: none;
  position: relative;
}
@media (max-width: 767px) {
  .investmentcontent .terms-cont li .lipara {
    padding-left: 0rem;
    padding-right: 1rem;
    font-size: 1.4rem;
    margin-bottom: 0;
  }
}
.investmentcontent .terms-cont li::before {
  content: "";
  width: 0.8rem;
  height: 0.8rem;
  background-color: #221F20;
  display: block;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 1.2rem;
}
@media (max-width: 767px) {
  .investmentcontent .terms-cont li::before {
    top: 0.7rem;
  }
}
.investmentcontent .terms-cont li::marker {
  display: none;
}
.investmentcontent .terms-cont .para {
  font-size: 1.625rem;
  line-height: 1.6;
  color: #707070;
  margin-bottom: 2rem;
  list-style: none;
  position: relative;
}
@media (max-width: 767px) {
  .investmentcontent .terms-cont .para {
    padding-left: 2rem;
    padding-right: 1rem;
    font-size: 1.4rem;
  }
}
@media (max-width: 767px) {
  .investmentcontent .terms-cont {
    height: 430px;
  }
}

#style-1::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #ffffff;
}
#style-1::-webkit-scrollbar {
  width: 5px;
  background-color: #ffffff;
}
#style-1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #FFCE02;
}/*# sourceMappingURL=mf-investment.css.map */