@import '../../assets/css/common.scss';
@import '../../assets/css/customvariable.scss';

.Corporate-main {
    .corporate-banner {
        margin-top: 12rem;
        margin-bottom: 6rem;

        .corporate-banner-headings {
            .para-first {
                font-family: $font-family-poppins-semibold;
                font-size: 2rem;
                line-height: 3;
                color: $darkblack;
                margin: 0;

                @media (max-width:$sm) {
                    font-size: 1.231rem;
                    line-height: 1.5;
                }
            }

            .title {
                font-size: 4.923rem;
                line-height: 1.3;
                color: $primary;
                font-family: $font-family-poppins-bold;

                @media (max-width:$sm) {
                    font-size: 3.077rem;
                    line-height: 1.3;
                }

                span {
                    color: $yellowColor;
                    text-transform: capitalize;
                    display: block;
                    font-size: 7.077rem;

                    @media (max-width:$sm) {
                        font-size: 3.385rem;
                        line-height: 1;
                        margin-top: 1rem;
                    }
                }
            }

            .para-scnd {
                font-size: 1.846rem;
                line-height: 1.4;
                color: $darkblack;
                font-family: $font-family-poppins-regular;
                margin: 5rem 0rem;

                @media (max-width:$sm) {
                    font-size: 1.077rem;
                    margin: 2rem 0rem;
                    line-height: 1.4;
                }


            }

            .btn-new {
                font-size: 1.846rem !important;
                background: $darkblack !important;
                color: $whiteColor !important;
                padding: 1.2rem 3.07rem !important;
                border-radius: 12px !important;
                font-family: $font-family-poppins-medium !important;

                @media (max-width:$sm) {
                    font-size: 1.385rem !important;
                    padding: 1.6rem 3.07rem !important;
                    border-radius: 10px !important;
                }

                &:hover {
                    background: $yellowColor !important;
                    color: $darkblack !important;
                }
            }
        }

        .banner-img {
            img {
                @media (max-width:$sm) {
                    display: none;
                }
            }

        }
    }

    .count-members {
        background: $bgcolordark;

        .inner-count {
            display: flex;
            flex-wrap: wrap;
            position: relative;

            @media (max-width:$sm) {
                margin-top: 0;
                justify-content: space-between;
            }

            .count-itm {
                width: 33.33%;
                text-align: center;
                padding: 3.846rem 3rem;
                border-right: 0;
                position: relative;

                @media (max-width:$sm) {
                    padding: 1.5rem 1.3rem;
                    width: 28%;
                }

                &::before {
                    content: '';
                    width: 2px;
                    height: 70%;
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    border: 0;
                    border-image-source: linear-gradient(180deg, rgba(247, 173, 54, 0) 0%, rgba(247, 173, 54, 0.3) 48.66%, rgba(247, 173, 54, 0) 100%);
                    background: linear-gradient(180deg, rgba(247, 173, 54, 0) 0%, rgba(247, 173, 54, 0.3) 48.66%, rgba(247, 173, 54, 0) 100%);
                    transform: translate(0, -50%);
                }

                &:first-child {
                    &::before {
                        display: none;
                    }
                }

                h3 {
                    font-size: 3.231rem;
                    color: $whiteColor;
                    font-family: $font-family-poppins-semibold;

                    @media (max-width:$sm) {
                        font-size: 2rem;
                    }
                }

                h5 {
                    color: $whiteColor;
                    font-family: $font-family-poppins-medium;
                    font-size: 1.692rem;
                    margin: 0;

                    @media (max-width:$sm) {
                        font-size: 1rem;
                        line-height: 1.5;
                    }
                }
            }
        }
    }

    .why-corporate-account {
        background-color: $abt-bg;
        padding: 8rem 0rem;

        .why-corporate-heading {
            font-size: 3.462rem;
            font-family: $font-family-poppins-semibold;
            color: $darkblack;

            .title-secnd {
                margin-bottom: 4rem;

                @media (max-width:$sm) {
                    margin-bottom: 2rem;
                    text-align: left;
                }
            }
        }

        .why-corporate-para1 {
            text-align: center;
            font-size: 1.846rem;
            line-height: 1.4;
            color: $darkblack;
            font-family: $font-family-poppins-regular;

            @media (max-width:$sm) {
                text-align: left;
                font-size: 1.077rem;
            }

            br {
                @media (max-width:$sm) {
                    display: none;
                }
            }

            &.para2 {
                padding: 2.5rem 0rem;

                @media (max-width:$sm) {
                    display: none;
                }
            }
        }

        .list-section {
            margin: 4rem 0;
            display: flex;
            flex-wrap: wrap;

            @media (max-width:$sm) {
                display: block;
                margin-top: 2rem;
            }

            .slick-list {
                @media (max-width:$sm) {
                    width: 100%;
                }
            }

            .list-itm {
                text-align: center;
                border-radius: 16px;
                padding: 3rem 2rem;
                display: block !important;
                width: 31%;
                margin: 0 auto 2rem;
                border: 1px solid #00000033;
                // box-shadow: 0 0 8px $card-shadow;

                @media (max-width:$md) {
                    padding: 2rem;
                }

                @media (max-width:$sm) {
                    width: 90% !important;
                    min-height: 22rem;
                    padding: 2rem 1rem;
                    margin-bottom: 0.5rem;
                }

                >span {
                    display: inline-block;
                    margin: 0 auto;

                    img {
                        height: 56px;
                    }
                }

                h4 {
                    font-size: 1.692rem;
                    color: $primary;
                    font-family: $font-family-poppins-semibold;
                    margin: 1.25rem 0;

                    @media (max-width:$sm) {
                        font-size: 1.667rem;
                    }
                }

                h5 {
                    margin: 0;
                    font-size: 1.385rem;
                    line-height: 1.5;
                }

                @media (min-width:$sm-x) {
                    font-size: 1.667rem;

                    &:nth-child(4) {
                        margin: 0 1rem 2rem auto;
                    }

                    &:nth-child(5) {
                        margin: 0 auto 2rem 1rem;
                    }
                }

                &:hover {
                    // box-shadow: 0 0 8px $card-shadow;
                    background: $whiteColor;
                    box-shadow: 0px 0px 20px 0px #0066B340;
                    border: none;
                    border-bottom: 8px solid $blueColortext;

                    @media (max-width:$sm) {
                        box-shadow: 0px 0px 10px 0px #0000001F;
                        border-bottom: none;
                    }
                }
            }

            .slick-dots {
                position: relative;
                bottom: -11px
            }
        }
    }

    .types-of-corporate {
        background-color: $whiteColor;
        padding: 8rem 0rem;

        .types-list-section {
            margin: 4rem 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .types-list-itm {
                background: $abt-bg;
                text-align: center;
                border-radius: 20px;
                padding: 3rem 3rem;
                display: block !important;
                // width: 30%;
                margin: auto 1rem;
                border-bottom: 8px solid $blueColortext;

                @media (max-width:$sm) {
                    margin: 2rem auto;
                }

                h4 {
                    color: $darkblack;
                    font-size: 2.462rem;
                    font-family: $font-family-poppins-semibold;
                    margin: 1.25rem 0;

                }

            }
        }

    }

    .corporate-sticky {
        background-color: $bgcolordark;
        padding: 4rem 0rem;

        .corporate-sticky-heading {
            font-size: 4.308rem;
            font-family: $font-family-poppins-semibold;
            color: $whiteColor;

            @media (max-width:$sm) {
                font-size: 2.154rem;
                text-align: center;
            }

            span {
                color: $bgcolor-yellow;
                display: block;
            }
        }

        .form_main {
            flex-direction: row;
            // justify-content: space-between;
            display: flex;
            padding: 0rem 0rem;
            align-items: center;
            flex-wrap: wrap;
            position: relative;

            @media (max-width:$sm) {
                flex-direction: column;
                align-items: center;
            }

            .demat_text {
                width: 100%;
                margin-bottom: 3rem;

                @media (max-width:$sm) {
                    text-align: center;
                    margin-top: 2rem;
                }

                .form-ttl {
                    color: $whiteColor;
                    font-size: 2.4rem;

                    @media (max-width:$sm) {
                        font-size: 1.8rem;
                    }

                }
            }

            .Mobile_text {
                width: 45%;
                margin-right: 3rem;

                @media (min-width:$sm-x) and (max-width:$md) {
                    width: 100%;
                    margin-right: 0;
                    margin-bottom: 3rem;
                }
                @media (max-width:$sm) {
                    margin-right: 0;
                    width: 70%;
                }

                .form-textbox {
                    background-color: $whiteColor;
                    border-radius: 0.615rem;
                    border: 1px solid rgba(35, 31, 32, 0.1411764706);
                    padding: 16px;
                    width: 100%;
                }
            }

            .cust_check {
                position: absolute;
                bottom: -28px;
                left: 0;
                @media (min-width:$sm-x) and (max-width:$md) {
                    left: 0;
                    bottom: 33%;
                }
                @media (max-width:$sm) {
                    top: 59%;
                    left: 53px;
                }

                .form_check_text {
                    color: $whiteColor;
                    font-size: 1.231rem;

                    .link_tc {
                        color: $blueColortext;
                    }
                }

                input[type=checkbox] {
                    background-color: $whiteColor !important;

                }
            }

            .api_errornew {
                width: 45%;
                text-align: right;
                @media (min-width:$sm-x) and (max-width:$md) {
                    width: 100%;
                    text-align: center;
                    margin-top: 3rem;
                }
                @media (max-width:$sm) {
                    text-align: center;
                    width: 70%;
                    margin-top: 6rem;
                }

                .btn-bg {
                    @media (min-width:$sm-x) and (max-width:$md) {
                        min-width: 22rem !important;
                    }
                    @media (max-width:$sm) {
                        min-width: 20rem !important;
                    }
                }
            }
           
        }
    }
    .key-features{
        background-color: $whiteColor;
        padding: 8rem 0rem;
        .key-list-section {
            margin: 4rem 0;
            display: flex;
            flex-wrap: wrap;

            @media (max-width:$sm) {
                display: block;
                margin-top: 2rem;
            }

            .slick-list {
                @media (max-width:$sm) {
                    width: 100%;
                }
            }

            .list-itm {
                background-color: $abt-bg;
                text-align: left;
                border-radius: 10px;
                padding: 3rem 2rem;
                display: block !important;
                width: 23%; 
                margin: 0 auto 2rem;
                // box-shadow: 0 0 8px $card-shadow;
                @media (min-width:$sm-x) and (max-width:$md) {
                    width: 46%;
                }
                @media (max-width:$md) {
                    padding: 2rem;
                }

                @media (max-width:$sm) {
                    width: 90% !important;
                    min-height: 22rem;
                    padding: 2rem 1rem;
                    margin-bottom: 0.5rem;
                }

                >span {
                    display: inline-block;
                    margin: 0 auto;

                    img {
                        height: 56px;
                    }
                }

                h4 {
                    font-size:2rem;
                    color: $primary;
                    font-family: $font-family-poppins-semibold;
                    margin: 1.25rem 0;

                    @media (max-width:$sm) {
                        font-size: 1.667rem;
                    }
                }

                h5 {
                    margin: 0;
                    font-size: 1.692rem;
                    line-height: 1.5;
                }

                @media (min-width:$sm-x) {
                    font-size: 1.667rem;

                    &:nth-child(4) {
                        margin: 0 1rem 2rem auto;
                    }

                    &:nth-child(5) {
                        margin: 0 auto 2rem 1rem;
                    }
                }

                &:hover {
                    // box-shadow: 0 0 8px $card-shadow;
               
                    border-bottom: 5px solid $blueColortext;
                }
            }

            .slick-dots {
                position: relative;
                bottom: -11px
            }
        }
    }
}