@import '../../assets/css/common.scss';
@import '../../assets/css/customvariable.scss';

.Corporate-main {
    .corporate-banner {
        margin-top: 12rem;
        margin-bottom: 0;
        overflow: hidden;
        @media (max-width:$sm) {
            margin-top: 10rem;
        }
        .banner-img{
            width: 806px;
            position: relative;
            left: -150px;
            @media (max-width:$md) {
                display: none;
            }
        }
        .corporate-banner-headings {
            position: relative;
            z-index: 99;
            @media (max-width:$md) {
                text-align: center;
                padding-bottom: 5rem;
            }
            @media (max-width:$sm) {
                text-align: left;
                padding-left: 1.25rem;
            }
            .para-first {
                font-family: $font-family-poppins-semibold;
                font-size: 2rem;
                line-height: 3;
                color: $darkblack;
                margin: 0;

                @media (max-width:$md) {
                    font-size: 1.65rem;
                    line-height: 1.5;
                }

                @media (max-width:$sm) {
                    font-size: 1.231rem;
                    line-height: 1.5;
                }
            }

            .title {
                font-size: 4.923rem;
                line-height: 1.3;
                color: $primary;
                font-family: $font-family-poppins-bold;

                @media (max-width:$md) {
                    font-size: 3.923rem;
                    line-height: 1.5;
                }

                @media (max-width:$sm) {
                    font-size: 3.077rem;
                    line-height: 1.3;
                }

                span {
                    color: $yellowColor;
                    text-transform: capitalize;
                    display: block;
                    font-size: 7.077rem;

                    @media (max-width:$md) {
                        font-size: 5.077rem;
                        line-height: 1.5;
                    }

                    @media (max-width:$sm) {
                        font-size: 3.385rem;
                        line-height: 1;
                        margin-top: 1rem;
                    }
                }
            }

            .para-scnd {
                font-size: 1.846rem;
                line-height: 1.4;
                color: $darkblack;
                font-family: $font-family-poppins-regular;
                margin: 5rem 0rem;

                @media (max-width:$md) {
                    font-size: 1.5rem;
                    margin: 3rem 0;
                }

                @media (max-width:$sm) {
                    font-size: 1.077rem;
                    margin: 2rem 0rem 4rem;
                    line-height: 1.4;
                }


            }

            .btn-new {
                font-size: 1.846rem !important;
                background: $darkblack !important;
                color: $whiteColor !important;
                padding: 1.2rem 3.07rem !important;
                border-radius: 12px !important;
                font-family: $font-family-poppins-medium !important;

                @media (max-width:$sm) {
                    font-size: 1.385rem !important;
                    padding: 1.6rem 3.07rem !important;
                    border-radius: 10px !important;
                }

                &:hover {
                    background: $yellowColor !important;
                    color: $darkblack !important;
                }
            }
        }

        .banner-img {
            img {
                @media (max-width:$sm) {
                    display: none;
                }
            }

        }
    }

    .count-members {
        background: $bgcolordark;
        .inner-count {
            display: flex;
            flex-wrap: wrap;
            position: relative;
            @media (max-width:$sm) {
                margin-top: 0;
                justify-content: space-between;
            }
            .count-itm {
                width: 33.33%;
                text-align: center;
                padding: 3.846rem 3rem;
                border-right: 0;
                position: relative;

                @media (max-width:$sm) {
                    padding: 1.5rem 1.3rem;
                    width: 28%;
                }

                &::before {
                    content: '';
                    width: 2px;
                    height: 70%;
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    border: 0;
                    border-image-source: linear-gradient(180deg, rgba(247, 173, 54, 0) 0%, rgba(247, 173, 54, 0.3) 48.66%, rgba(247, 173, 54, 0) 100%);
                    background: linear-gradient(180deg, rgba(247, 173, 54, 0) 0%, rgba(247, 173, 54, 0.3) 48.66%, rgba(247, 173, 54, 0) 100%);
                    transform: translate(0, -50%);
                }

                &:first-child {
                    &::before {
                        display: none;
                    }
                }

                h3 {
                    font-size: 3.231rem;
                    color: $whiteColor;
                    font-family: $font-family-poppins-semibold;

                    @media (max-width:$sm) {
                        font-size: 2rem;
                    }
                }

                h5 {
                    color: $whiteColor;
                    font-family: $font-family-poppins-medium;
                    font-size: 1.692rem;
                    line-height: 1.5;
                    margin: 0;
                    @media (max-width:$md) {
                        font-size: 1.45rem;
                    }
                    @media (max-width:$sm) {
                        font-size: 1rem;
                    }
                }
            }
        }
    }

    .why-corporate-account {
        background-color: $abt-bg;
        padding: 8rem 0rem;
        @media (max-width:$sm) {
            padding: 4rem 0rem !important;
        }
        .why-corporate-heading {
            font-size: 3.462rem;
            font-family: $font-family-poppins-semibold;
            color: $darkblack;
            @media (max-width:$sm) {
               padding: 0 1.25rem;
            }
            .title-secnd {
                margin-bottom: 4rem;
                color: $darkblack !important;

                @media (max-width:$sm) {
                    margin-bottom: 2rem;
                    text-align: left;
                }
            }
        }

        .why-corporate-para1 {
            text-align: center;
            font-size: 1.846rem;
            line-height: 1.4;
            color: $darkblack;
            font-family: $font-family-poppins-regular;

            @media (max-width:$sm) {
                text-align: left;
                font-size: 1.077rem;
            }

            br {
                @media (max-width:$sm) {
                    display: none;
                }
            }

            &.para2 {
                padding: 2.5rem 0rem;

                @media (max-width:$sm) {
                    display: none;
                }
            }
        }

        .list-section {
            margin: 4rem 0;
            display: flex;
            flex-wrap: wrap;

            @media (max-width:$sm) {
                display: block;
                margin-top: 2rem;
            }

            .slick-list {
                @media (max-width:$sm) {
                    width: 100%;
                }
            }

            .list-itm {
                text-align: center;
                border-radius: 20px;
                display: block !important;
                width: 31%;
                margin: 0 auto 2rem;
                border: 1px solid #00000033;
                position: relative;
                z-index: 9;
                background-color: $abt-bg;
                @media (max-width:$sm) {
                    width: 90% !important;
                    min-height: 22rem;
                    padding: 2rem 1rem;
                    margin-bottom: 0.5rem;
                    background-color: $whiteColor;
                    border: 0;
                }
            .bx-item-cont{
                position: relative;
                z-index: 9;
                background-color: $abt-bg;
                padding: 3rem 2rem;
                border-radius: 20px;
                height: 100%;
                @media (max-width:$sm) {
                    background-color: $whiteColor;
                }
                &:hover{
                    background: $whiteColor;
                }
                >span {
                    display: inline-block;
                    margin: 0 auto;

                    img {
                        height: 56px;
                    }
                }

                h4 {
                    font-size: 1.692rem;
                    color: $primary;
                    font-family: $font-family-poppins-semibold;
                    margin: 1.25rem 0;

                    @media (max-width:$sm) {
                        font-size: 1.667rem;
                    }
                }

                h5 {
                    margin: 0;
                    font-size: 1.385rem;
                    line-height: 1.5;
                }
            }
              

                @media (min-width:$sm-x) {
                    font-size: 1.667rem;

                    &:nth-child(4) {
                        margin: 0 1rem 2rem auto;
                    }

                    &:nth-child(5) {
                        margin: 0 auto 2rem 1rem;
                    }
                }

                &::before {
                    position: absolute;
                    content: '';
                    top: 8px;
                    left: 0;
                    right: 0;
                    height: 100%;
                    width: 100%;
                    border-radius:20px;
                    background: $blueColortext;
                    display: block;
                    opacity: 0;
                    visibility: hidden;
                    box-shadow: 0px 0px 20px 0px #0066B340;
                    @media (max-width:$sm) {
                       display: none;
                    }
                }
                &:hover {
                    background: $whiteColor;
                    border: none;
                   &::before{
                    opacity: 1;
                    visibility: visible;
                   }
                }
            }

            .slick-dots {
                position: relative;
                bottom: -11px
            }
        }
        .corporate-btn{
            font-size: 1.846rem !important;
            font-family: $font-family-poppins-medium !important;
            padding: 1.3rem 4rem !important;
        }
    }

    .types-of-corporate {
        background-color: $whiteColor;
        padding: 8rem 0rem;
        @media (max-width:$sm) {
            padding: 4rem 0rem !important;
        }
        .types-list-section {
            margin: 4rem 0;
            display: flex;
            justify-content: center;
            @media (max-width:$sm) {
                margin: 0;
                flex-direction: column;
            }
            .types-list-itm {
                background: $abt-bg;
                text-align: center;
                border-radius: 20px;
                padding: 3rem 3rem;
                display: block !important;
                margin: auto 1rem;
                border-bottom: 8px solid $blueColortext;
                @media (max-width:$sm) {
                    margin: 2rem auto 0;
                    width: 90%;
                    border-bottom: 0;
                    border-radius: 10px;
                }
                >span{
                    img{
                        @media (max-width:$sm) {
                            height: 56px;
                            width: 56px;
                        }
                       
                    }
                }
                h4 {
                    color: $darkblack;
                    font-size: 2.462rem;
                    line-height: 1.5;
                    font-family: $font-family-poppins-semibold;
                    margin: 1.25rem 0;
                    @media (max-width:$sm) {
                      font-size: 1.462rem;
                    }
                }
            }
        }

    }

    .corporate-sticky {
        background-color: $bgcolordark;
        padding: 4rem 0rem;

        .corporate-sticky-heading {
            font-size: 4.308rem;
            font-family: $font-family-poppins-semibold;
            color: $whiteColor;

            @media (max-width:$sm) {
                font-size: 2.154rem;
                text-align: center;
            }

            span {
                color: $bgcolor-yellow;
                display: block;
            }
        }

        .form_main {
            flex-direction: row;
            // justify-content: space-between;
            display: flex;
            padding: 0rem 0rem;
            align-items: center;
            flex-wrap: wrap;
            position: relative;

            @media (max-width:$sm) {
                flex-direction: column;
                align-items: center;
            }

            .demat_text {
                width: 100%;
                margin-bottom: 3rem;
                @media (max-width:$sm) {
                    text-align: center;
                    margin-top: 2rem;
                }

                .form-ttl {
                    color: $whiteColor;
                    font-size: 2.4rem;

                    @media (max-width:$sm) {
                        font-size: 1.8rem;
                    }

                }
            }

            .Mobile_text {
                width: 55%;
                // margin-right: 3rem;

                @media (min-width:$sm-x) and (max-width:$md) {
                    width: 100%;
                    margin-right: 0;
                    margin-bottom: 3rem;
                }

                @media (max-width:$sm) {
                    margin-right: 0;
                    width: 70%;
                }

                .form-textbox {
                    background-color: $whiteColor;
                    border-radius: 0.615rem;
                    border: 1px solid rgba(35, 31, 32, 0.1411764706);
                    padding: 16px;
                    width: 100%;
                }
            }

            .cust_check {
                position: absolute;
                bottom: -28px;
                left: 0;

                @media (min-width:$sm-x) and (max-width:$md) {
                    left: 0;
                    bottom: 33%;
                }

                @media (max-width:$sm) {
                    top: 59%;
                    left: 53px;
                }

                .form_check_text {
                    color: $whiteColor;
                    font-size: 1.231rem;
                    padding-left: 0.6rem;
                    .link_tc {
                        color: $blueColortext;
                    }
                }

                input[type=checkbox] {
                    background-color: $whiteColor !important;

                }
            }

            .api_errornew {
                width: 45%;
                text-align: right;

                @media (min-width:$sm-x) and (max-width:$md) {
                    width: 100%;
                    text-align: center;
                    margin-top: 3rem;
                }

                @media (max-width:$sm) {
                    text-align: center;
                    width: 70%;
                    margin-top: 6rem;
                }

                .btn-bg {
                    @media (min-width:$sm-x) and (max-width:$md) {
                        min-width: 22rem !important;
                    }

                    @media (max-width:$sm) {
                        min-width: 20rem !important;
                    }
                }
            }

        }
    }

    .key-features {
        background-color: $whiteColor;
        padding: 8rem 0rem;
        overflow: hidden;
        @media (max-width:$sm) {
            padding: 4rem 0;
        }
        .caption{
            text-align: center;
            @media (max-width:$sm) {
                padding: 0 1.25rem;
            }
            .title-secnd{
                @media (max-width:$sm) {
                   text-align: left;
                }
            }
            p {
                text-align: center;
                font-size: 1.846rem;
                line-height: 1.4;
                color: $darkblack;
                font-family: $font-family-poppins-regular;
                margin-bottom: 0;
                margin-top: 2rem;
    
                @media (max-width:$sm) {
                    font-size: 1rem;
                    text-align: left;
                    margin-top: 1rem;
                }
            }
        }
       
        .key-list-section {
            margin: 4rem 0 0 0;
            display: flex;
            flex-wrap: wrap;

            @media (max-width:$sm) {
                display: block;
                margin-top: 2rem;
                margin-bottom: 0;
            }

            .slick-list {
                @media (max-width:$sm) {
                    // width: 100%;
                    margin-right: -50%;
                }
            }

            .list-itm {
                background-color: $abt-bg;
                text-align: left;
                border-radius: 10px;
                padding: 3rem 2rem;
                display: block !important;
                width: 23%;
                margin: 0 auto 2rem;
                @media (min-width:$sm-x) and (max-width:$md) {
                    width: 46%;
                }

                @media (max-width:$md) {
                    padding: 2rem;
                }

                @media (max-width:$sm) {
                    width: 90% !important;
                    min-height: 22rem;
                    margin-bottom: 0.5rem;
                }

                >span {
                    display: inline-block;
                    margin: 0 auto;

                    img {
                        height: 56px;
                    }
                }

                h4 {
                    font-size: 2rem;
                    color: $primary;
                    font-family: $font-family-poppins-semibold;
                    margin: 1.25rem 0;

                    @media (max-width:$sm) {
                        font-size: 1.667rem;
                    }
                }

                h5 {
                    margin: 0;
                    font-size: 1.692rem;
                    line-height: 1.5;
                    @media (max-width:$sm) {
                        font-size: 1.143rem;
                    }
                }

                @media (min-width:$sm-x) {
                    font-size: 1.667rem;

                    &:nth-child(4) {
                        margin: 0 1rem 2rem auto;
                    }

                    &:nth-child(5) {
                        margin: 0 auto 2rem 1rem;
                    }
                }

                &:hover {
                    border-bottom: 5px solid $blueColortext;
                    @media (max-width:$sm) {
                        border-bottom-left-radius: 0;
                        border-bottom-right-radius: 0;
                    }
                }
            }

            .slick-dots {
                position: relative;
                bottom: -11px
            }
        }
    }

    .how-open-demat {
        background-color: $abt-bg;
        padding: 8rem 0rem;

        @media (max-width:$sm) {
            padding: 4rem 0;
        }

        .title-secnd {
            @media (max-width:$sm) {
                text-align: left;
            }
        }

        p {
            text-align: center;
            font-size: 1.846rem;
            line-height: 1.4;
            color: $darkblack;
            font-family: $font-family-poppins-regular;
            margin-bottom: 0;
            margin-top: 2rem;

            @media (max-width:$sm) {
                font-size: 1rem;
                text-align: left;
                margin-top: 1rem;
            }
        }

        .flex-mobile {
            @media (max-width:$sm) {
                display: flex;
            }

            .process-list-section {
                margin: 5rem 0 0;
                display: flex;
                flex-wrap: wrap;

                @media (max-width:$sm) {
                    row-gap: 3rem;
                    margin: 4rem 0;
                }

                .list-itm {
                    background-color: $whiteColor;
                    text-align: center;
                    border-radius: 20px;
                    padding: 4rem 2rem;
                    display: block !important;
                    width: 18%;
                    margin: 0 auto 2rem;

                    @media (max-width:$md) {
                        padding: 2rem;
                    }

                    @media (max-width:$sm) {
                        width: 51% !important;
                        padding: 1rem;
                        border-radius: 10px;
                        align-items: center;
                        display: flex !important;
                        justify-content: center;
                        margin-bottom: 2rem;
                    }

                    >span {
                        display: inline-block;
                        margin: 0 auto;

                        img {
                            height: 85px;

                            @media (max-width:$sm) {
                                height: 52px;
                            }
                        }
                    }
                }
            }

            .partner-work-steps {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin-top: 1rem;
                position: relative;

                .work-steps-itm {
                    width: 19%;
                    text-align: center;

                    span {
                        display: block;
                        margin: 0 auto;
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        background: $abt-bg;
                        display: flex;
                        align-items: center;
                        position: relative;
                        justify-content: center;
                        border: 3px solid $bluetext;
                        color: $bluetext;
                        font-weight: 600;
                        font-family: $font-family-poppins-semibold;
                        font-size: 1.714rem;

                        h6 {
                            background: $blueColortext;
                            width: 30px;
                            height: 30px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 50%;
                            color: $whiteColor;
                            font-family: $font-family-poppins-medium;
                            font-size: 1.2rem;
                            position: absolute;
                            left: 0;
                            top: 0;
                        }

                        @media (max-width:$sm) {
                            width: 36px;
                            height: 36px;
                            margin: 0;
                        }
                    }

                    h6 {
                        font-size: 1.571rem;
                        font-family: $font-family-poppins-regular;
                        color: $primary;
                        margin-top: 2rem;
                        line-height: 1.5;

                        @media (max-width:$md) {
                            font-size: 1.25rem;
                        }

                        @media (max-width:$sm) {
                            margin-top: 0;
                            font-size: 1rem;
                            text-align: left;
                            width: 100px;
                        }
                    }

                    @media (max-width:$sm) {
                        width: 100%;
                        margin-bottom: 5rem;
                        display: flex;
                        align-items: center;
                        column-gap: 1rem;
                        &:first-child{
                            margin-top: 4rem;
                        }
                    }
                    
                }

                &:before {
                    content: "";
                    display: block;
                    position: absolute;
                    border: none;
                    border-top: 3px solid $bluetext;
                    top: 0;
                    left: 0;
                    height: 3px;
                    width: 78%;
                    top: 14%;
                    margin: 0 auto;
                    right: 0;

                    @media (max-width:$sm) {
                        border-left: 3px solid $bluetext;
                        height: 75%;
                        border-top: 0;
                        top: 10%;
                        left: -6%;
                    }
                }
            }
        }

        .accordian-sec {
            margin-bottom: 6rem;

            @media (max-width:$sm) {
                margin-bottom: 3rem;
            }

            .accor-ttl {
                text-align: center;
                margin-top: 6rem;
                margin-bottom: 3rem;

                @media (max-width:$sm) {
                    margin-top: 0;
                    margin-bottom: 2rem;
                    text-align: left;
                }

                h3 {
                    font-size: 2.286rem;
                    font-weight: 600;
                    font-family: $font-family-poppins-semibold;
                    line-height: 48px;
                    color: $primary;

                    @media (max-width:$sm) {
                        font-size: 1.5rem;
                        line-height: 28px;
                    }
                }
            }

            .open-demat-accordion {
                .faq-item {
                    background: $whiteColor;
                    border: 1px solid $nbfcboxshadow;
                    border-radius: 10px;

                    .faq-header {
                        .accordion-button {
                            color: $primary;
                            font-size: 1.714rem;
                            font-weight: 500;
                            font-family: $font-family-poppins-medium;
                            border-radius: 10px;
                            padding: 1.5rem;

                            &:not(.collapsed) {
                                background-color: rgba(0, 0, 0, 0) !important;
                                box-shadow: none !important;
                            }

                            &:focus {
                                background-color: rgba(0, 0, 0, 0) !important;
                                box-shadow: none !important;
                            }

                            &::after {
                                background-image: url(../../assets/images/Corporate-Demat-Account/arrow-up.svg);
                                width: 2.857rem;
                                height: 2.857rem;
                                background-size: 2.857rem;

                                @media (max-width:$sm) {
                                    width: 1.857rem;
                                    height: 1.857rem;
                                    background-size: 1.857rem;
                                }
                            }

                            @media (max-width:$sm) {
                                font-size: 1.25rem;
                            }
                        }
                    }
                }

                .accordion-body {
                    padding: 0;

                    .account-checklist {
                        .checklist-items {
                            display: flex;

                            .checklist {
                                border: 1px solid $nbfcboxshadow;
                                border-bottom: 0;
                                border-left: 0;
                                display: flex;
                                align-items: flex-start;
                                flex-wrap: wrap;
                                column-gap: 1.25rem;
                                width: 50%;
                                padding: 1.5rem;

                                &:last-child {
                                    border-right: 0;
                                }

                                .checklist-details {
                                    width: 81%;

                                    h6 {
                                        font-size: 1.571rem;
                                        font-weight: 500;
                                        font-family: $font-family-poppins-medium;
                                        margin: 0;

                                        @media (max-width:$sm) {
                                            font-size: 1rem;
                                        }
                                    }

                                    span {
                                        font-size: 1.286rem;
                                        font-weight: 400;
                                        font-family: $font-family-poppins-regular;

                                        @media (max-width:$sm) {
                                            display: none;
                                        }
                                    }
                                }

                                .img-check {
                                    @media (max-width:$sm) {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }

            }
        }
    }

    .why-choose-choice {
        background-color: $whiteColor;
        padding: 8rem 0rem;

        @media (max-width:$sm) {
            padding: 4rem 0;
        }

       .caption{
        text-align: center;
        @media (max-width:$sm) {
            padding: 0 1.25rem;
            text-align: left;
        }
        h2 {
            margin-bottom: 2rem;

            @media (max-width:$sm) {
                text-align: left;
            }
        }

        p {
            font-size: 1.714rem;
            line-height: 1.5;
            font-family: $font-family-poppins-regular;
            font-weight: 400;

            @media (max-width:$sm) {
                font-size: 1rem;
                text-align: left;
            }
        }
       }

        .awrd-list-section {
            margin: 4rem 0 0;
            display: flex;
            flex-wrap: wrap;

            @media (max-width:$sm) {
                display: block;
                margin-top: 2rem;
                margin-bottom: 0;
            }

            .slick-list {
                @media (max-width:$sm) {
                    width: 100%;
                }
            }

            .list-itm {
                display: block !important;
                width: 33.33%;
                margin: 0 auto;
                text-align: center;

                @media (max-width:$md) {
                    width: 28%;
                }

                @media (max-width:$sm) {
                    width: 90% !important;
                }
            }

            .slick-dots {
                position: relative;
                bottom: -11px
            }
        }
    }

    .benifits-sec {
        background-color: $abt-bg;
        padding: 8rem 0rem;
        overflow: hidden;

        @media (max-width:$sm) {
            padding: 4rem 0;
        }
        .caption{
            text-align: center;
            @media (max-width:$sm) {
                padding: 0 1.25rem;
            }
            h2 {
                margin-bottom: 2rem;
    
                @media (max-width:$sm) {
                    text-align: left;
                }
            }
    
            p {
                font-size: 1.714rem;
                line-height: 1.5;
                font-family: $font-family-poppins-regular;
                font-weight: 400;
    
                @media (max-width:$sm) {
                    font-size: 1rem;
                    text-align: left;
                }
            }
    
        }

       
        .benifits-list-section {
            margin: 4rem 0;
            display: flex;
            flex-wrap: wrap;
            width: 90%;
            margin: 4rem auto 0;
            @media (max-width:$md) {
                width: 100%;
            }
            @media (max-width:$sm) {
                display: block;
                margin-top: 2rem;
                margin-bottom: 2rem;
            }
            &.slick-slider{
                .slick-list{
                    @media (max-width:$sm) {
                        margin-right: -30%;
                        padding-bottom: 1rem;
                    }
                }
            }

            .list-itm {
                background-color: $whiteColor;
                text-align: center;
                border-radius: 10px;
                padding: 2rem;
                display: block !important;
                min-height: 17rem;
                margin: 0 auto;
                height: 100%;
                width: 23%;
                border-bottom: 5px solid $yellowColor;

                @media (min-width:$sm-x) and (max-width:$md) {
                    width: 22%;
                    min-height: 15rem;
                }

                @media (max-width:$sm) {
                    width: 85% !important;
                    min-height: 15rem;
                    padding: 2rem 1rem;
                    margin-bottom: 0.5rem;
                }

                >span {
                    display: inline-block;
                    margin: 0 auto;
                    color: $bgcolor-blue;
                    font-size: 2.786rem;
                    font-weight: 600;
                    font-family: $font-family-poppins-semibold;
                    line-height: 58px;

                    @media (max-width:$md) {
                        font-size: 2rem;
                        line-height: 48px;
                    }
                    @media (max-width:$sm) {
                        font-size: 2.786rem;
                        line-height: 58px;
                    }
                }

                h5 {
                    margin-bottom: 0;
                    margin-top: 1.5rem;
                    font-size: 1.571rem;
                    line-height: 1.5;
                    font-weight: 500;
                    font-family: $font-family-poppins-medium;

                    @media (max-width:$md) {
                        font-size: 1.25rem;
                    }
                    @media (max-width:$sm) {
                        font-size: 1.429rem;
                    }
                  
                    br {
                        @media (max-width:$md) {
                            display: none;
                        }
                        @media (max-width:$sm) {
                            display: block;
                        }
                    }
            }

            .slick-dots {
                position: relative;
                bottom: -11px
            }
        }
    }
}

.Dematfaq{
    padding: 8rem 0;
    @media (max-width:$md) {
        padding: 4rem 0;
    }
    .faq-ttl{
        text-align: center;
        .title-secnd{
            @media (max-width:$sm) {
                text-align: left;
            }
        }
        p{
            font-size: 1.714rem;
            line-height: 1.5;
            font-family: $font-family-poppins-regular;
            font-weight: 400;
            margin-top: 2rem;
            margin-bottom: 3.5rem;
            @media (max-width:$sm) {
                font-size: 1rem;
                text-align: left;
            }
        }
    }
    .open-demat-faqs-accordion{
        .faq-item{
            position: relative;
            padding: 1.5rem;
            border-radius: 10px;
            .numbers{
                position: absolute;
                left: -4%;
                top: 35%;
                font-size: 2.286rem;
                font-weight: 500;
                font-family: $font-family-poppins-medium;
                @media (max-width:$md) {
                   display: none;
                }
            }
            .accordion-body{
                padding-left: 0;
                padding-right: 0;
                padding-bottom: 0;
                @media (max-width:$sm) {
                    font-size: 1.125rem;
                 }
            }
            .accordion-button{
                padding: 0;
                @media (max-width:$sm) {
                    font-size: 1.35rem;
                    &:after {
                        display: block !important;
                        width: 1.857rem;
                        height: 1.857rem;
                        background-size: 1.857rem;
                        background-image: url(../../assets/images/Corporate-Demat-Account/arrow-up.svg);
                    }
                 }

                
            }
        }

   
}
}
.client-testimonials-main {
    background-color: $whiteColor;
    padding: 8rem 0rem;
    @media (max-width:$sm) {
        padding: 4rem 0;
    }
    .client-testimonials-head {
        width: 76%;
        margin: 0 auto;
        text-align: center;
        @media (max-width:$sm) {
            text-align: left;
            width: 100%;
            padding: 0 1.25rem;
        }
        .Testimonials-para1 {
            margin-top: 2rem;
            text-align: center;
            font-size: 1.846rem;
            line-height: 1.4;
            color: $darkblack;
            font-family: $font-family-poppins-regular;
            @media (max-width:$sm) {
                text-align: left;
                font-size: 1rem;
            }
        }
    }


    .client-list-section {
        margin: 4rem 0;
        display: flex;
        flex-wrap: wrap;

        @media (max-width:$sm) {
            display: block;
            margin-top: 2rem;
        }

        .slick-list {
            @media (max-width:$sm) {
                width: 100%;
            }
        }

        .list-itm {
            background-color: $abt-bg;
            text-align: left;
            border-radius: 16px;
            padding: 3rem 3rem;
            display: block !important;
            width: 47%;
            margin: 0 auto 2rem;
            @media (min-width:$sm-x) and (max-width:$md) {
                width: 46%;
            }

            @media (max-width:$md) {
                padding: 2rem;
            }

            @media (max-width:$sm) {
                width: 90% !important;
                min-height: 20rem;
                padding: 1rem;
                margin-bottom: 0.5rem;
            }

            h5 {
                margin: 0;
                font-size: 1.385rem;
                line-height: 1.5;
                color: $darkblack;
                @media (max-width:$sm) {
                    font-size: 0.929rem;
                }
            }

            .client-list-itm {
                display: flex;
                align-items: center;
                justify-content: left;
                margin-top: 2rem;
                // >span {
                //     display: inline-block;
                //     margin: 0 auto;

                //     img {
                //         height: 56px;
                //     }
                // }
                .client-details {
                    margin-left: 2rem;
                    h6 {
                        font-size: 1.385rem;
                        font-family: $font-family-poppins-semibold;
                        color: $darkblack;
                        margin: 0;
                        @media (max-width:$sm) {
                           font-size: 1rem; 
                        }
                    }

                    p {
                        font-size: 1.385rem;
                        font-family: $font-family-poppins-medium;
                        color: $darkblack;
                        padding: 0;
                        margin: 0;
                        @media (max-width:$sm) {
                            font-size:0.857rem; 
                         }
                    }
                }

            }

            @media (min-width:$sm-x) {
                font-size: 1.667rem;

                &:nth-child(4) {
                    margin: 0 1rem 2rem auto;
                }

                &:nth-child(5) {
                    margin: 0 auto 2rem 1rem;
                }
            }


        }

        .slick-dots {
            position: relative;
            bottom: -11px
        }
    }
    .testimonial-btn{
        font-size: 1.846rem !important;
        font-family: $font-family-poppins-medium !important;
        min-width: 14rem !important;
    }
}
}