@import '../../assets/css/customvariable.scss';
@import '../../assets/css/common.scss';


.digital-partner-banner {
    padding: 8rem  0;
    position: relative;
    @media (max-width:$sm) {
        overflow: hidden;
    }
    .digi-products-menu{
        position: relative;
        .nbfc-info-menu-main{
            position: absolute;
            right: 0;
            top: -4rem;
        }
    }

    .digi-title {
        @media (max-width:$sm) {
            text-align: left !important;
            margin-top: 1rem;
        }
    }

    .carditem-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 3rem 0rem;
        // @media (max-width:$md) {
        //     margin: 3rem 0rem 0;
        // }
        .slick-list {
            padding: 1rem ;
            height: 100%;
            
            @media (max-width:$md){
                padding-left: 0;
            }
            @media (max-width:$sm) {
                padding: 1rem 0rem;
                }
            .slick-slide{
                @media (max-width:$sm) {
                    padding: 2rem 0 !important;
                }
            }
        }

        .digital-carditem {
            width: 30.55%;
            background: #ffffff;
            box-shadow: 0px 0px 15px 1px $lightgray;
            border-radius: 20px;
            padding: 2.5rem 1.9rem;
            padding-bottom: 3.5rem;
            text-decoration: none;
            display: block !important;
            height: 100%;
            min-height: 38rem;
            position: relative;
            // width: 90% !important;
            margin:0 0 4rem ;
            &.digital-carditem2{
                min-height: 55rem;
            }
            @media (max-width:$md) {
                min-height: 55rem;
                width: 48%;
            }
            @media (max-width:$sm) {
                width: 90% !important;
                margin: 0 auto;
                min-height: inherit;
            }
            .digiimg {
                display: inline-block;
                overflow: hidden;
                height: 77px;
                font-size: 0.8rem;
            }
            .digiimg2{
                display: inline-block;
                overflow: hidden;
                height: 90px;
            }
            .digi-card-title {
                font-size: 1.875rem;
                line-height: 2.813rem;
                font-family: $font-family-poppins-semibold;
                color: $bgcolordark;
                margin: 2rem 0 0 0;
            }

            .digi-subtext {
                font-size: 1.375rem;
                line-height: 2.063rem;
                margin: 1rem 0 0 0;
                color: $secondary;
                font-family: $font-family-poppins-regular;
                margin-bottom: 4rem;

                @media (min-width:$sm-x) and (max-width: $md) {
                    font-size: 1.1rem;
                }
            }

            .knw-btn {
                color: $bluetext;
                font-size: 1.375rem;
                line-height: 2.063rem;
                font-family: $font-family-poppins-semibold;
                position: relative;
                padding-right: 3rem;
                display: inline-block;
                position: absolute;
                left: 2rem;
                bottom: 2rem;

                &:after {
                    top: 3px;
                    width: 12px;
                    height: 20px;
                    opacity: 1;
                    right: 0;
                    content: "";
                    position: absolute;
                    background: url('../../assets/images/Digital-Lending-Partners/digiarrow.svg') no-repeat;
                }
            }

            a {
                color: $bluetext ;
                text-decoration: none;



            }

        }
        .slick-dots{
            bottom: -45px;
        }
        &.other-information{
            @media (max-width:$md) {
                flex-wrap: wrap;
                row-gap: 2rem;
            }
            @media (max-width:$sm) {
                justify-content: center;
            }
            .digital-carditem{
                min-height: 18rem;
                width: 23%;
                display: grid !important;
                align-items: center;
                text-align: center;
                row-gap: 2rem;
                margin: 0;
                @media (max-width:$md) {
                    width: 48%;
                }
                .digi-card-title{
                    margin: 0;
                }
            }
        }
    }

    &::before {
        position: absolute;
        width: 521px;
        height: 671px;
        content: "";
        top: 29%;
        left: 0%;
        background: url('../../assets/images/Digital-Lending-Partners/bigimg.svg') no-repeat;
        @media (max-width:$sm) {
            display: none;
        }
    }
    &::after {
        content: "";
        background: url('../../assets/images/Digital-Lending-Partners/bg-after.svg') no-repeat;
        background-size: contain;
        top: 50%;
        right: 0%;
        position: absolute;
        width: 265px;
        height: 531px;
        z-index: -1;
        @media (max-width:$sm) {
            display: none;
        }
    }
}