/*Bootstrap Override*/
/*Font family*/
/*bg varibales*/
/*textvaribales*/
/*Shadow color*/
/*Responsive screen width*/
@font-face {
  font-family: "PoppinsMedium";
  src: url("../fonts/PoppinsMedium.eot");
  src: url("../fonts/PoppinsMedium.eot") format("embedded-opentype"), url("../fonts/PoppinsMedium.woff2") format("woff2"), url("../fonts/PoppinsMedium.woff") format("woff"), url("../fonts/PoppinsMedium.ttf") format("truetype"), url("../fonts/PoppinsMedium.svg#PoppinsMedium") format("svg");
  font-display: swap;
}
@font-face {
  font-family: "PoppinsRegular";
  src: url("../fonts/PoppinsRegular.eot");
  src: url("../fonts/PoppinsRegular.eot") format("embedded-opentype"), url("../fonts/PoppinsRegular.woff2") format("woff2"), url("../fonts/PoppinsRegular.woff") format("woff"), url("../fonts/PoppinsRegular.ttf") format("truetype"), url("../fonts/PoppinsRegular.svg#PoppinsRegular") format("svg");
  font-display: swap;
}
@font-face {
  font-family: "PoppinsSemiBold";
  src: url("../fonts/PoppinsSemiBold.eot");
  src: url("../fonts/PoppinsSemiBold.eot") format("embedded-opentype"), url("../fonts/PoppinsSemiBold.woff2") format("woff2"), url("../fonts/PoppinsSemiBold.woff") format("woff"), url("../fonts/PoppinsSemiBold.ttf") format("truetype"), url("../fonts/PoppinsSemiBold.svg#PoppinsSemiBold") format("svg");
  font-display: swap;
}
@font-face {
  font-family: "PoppinsBold";
  src: url("../fonts/PoppinsBold.eot");
  src: url("../fonts/PoppinsBold.eot") format("embedded-opentype"), url("../fonts/PoppinsBold.woff2") format("woff2"), url("../fonts/PoppinsBold.woff") format("woff"), url("../fonts/PoppinsBold.ttf") format("truetype"), url("../fonts/PoppinsBold.svg#PoppinsBold") format("svg");
  font-display: swap;
}
@font-face {
  font-family: "RedHatDisplayBold";
  src: url("../fonts/RedHatDisplayBold.eot");
  src: url("../fonts/RedHatDisplayBold.eot") format("embedded-opentype"), url("../fonts/RedHatDisplayBold.woff2") format("woff2"), url("../fonts/RedHatDisplayBold.woff") format("woff"), url("../fonts/RedHatDisplayBold.ttf") format("truetype"), url("../fonts/RedHatDisplayBold.svg#RedHatDisplayBold") format("svg");
  font-display: swap;
}
@font-face {
  font-family: "Poppins-Regular";
  src: url("../fonts/Poppins-Regular.eot");
  src: url("../fonts/Poppins-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Regular.svg#Poppins-Regular") format("svg"), url("../fonts/Poppins-Regular.ttf") format("truetype"), url("../fonts/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
/*Bootstrap Override*/
/*Font family*/
/*bg varibales*/
/*textvaribales*/
/*Shadow color*/
/*Responsive screen width*/
.btn-bg {
  font-family: "PoppinsSemiBold", sans-serif;
  color: #ffffff !important;
  background: #221F20 !important;
  padding: 1.3rem 2.8rem !important;
  display: inline-block;
  border-radius: 16px !important;
  min-width: 16rem;
  font-size: 1.5rem !important;
  text-align: center;
  text-decoration: none;
  border: 0 !important;
  outline: none !important;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.btn-bg:hover {
  background: #FFCE02 !important;
  color: #221F20 !important;
}
.btn-bg:focus, .btn-bg:active, .btn-bg:not(:disabled):not(.disabled):active, .btn-bg:not(:disabled):not(.disabled).active {
  outline: none;
}
.btn-bg.btn-bg-dark {
  background: #FFCE02 !important;
  color: #221F20 !important;
}
.btn-bg.btn-bg-dark:hover {
  background: #ffffff !important;
}
.btn-bg.btn-light {
  background-color: #ffffff !important;
  color: #221F20 !important;
}
.btn-bg.btn-light:hover {
  background: #FFCE02 !important;
  color: #221F20 !important;
}

.link-nrl {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0066B3;
  width: auto;
  border-radius: 100px;
  padding: 0.8rem 2rem;
  margin-right: 2.5rem;
  text-decoration: none;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
  position: relative;
  font-family: "PoppinsRegular", sans-serif;
  min-height: 4rem;
}
.link-nrl img {
  margin-right: 0.5rem;
}
.link-nrl.white {
  background-color: #F5F5F5;
}
.link-nrl.white:hover {
  background-color: #FFCE02;
}
.link-nrl .img-ico {
  width: 17rem;
  display: block;
}
@media (max-width: 768px) {
  .link-nrl .img-ico {
    width: 8rem;
  }
}
.link-nrl .whitecolor {
  color: #ffffff;
  font-size: 1.7rem;
}
@media (max-width: 768px) {
  .link-nrl .whitecolor {
    font-size: 16px;
  }
}
.link-nrl .blackcolor {
  color: #13151A;
  font-size: 1.25rem;
}
@media (max-width: 768px) {
  .link-nrl .blackcolor {
    font-size: 16px;
  }
}
.link-nrl:hover {
  transform: translateY(-8px);
}
@media (max-width: 768px) {
  .link-nrl {
    margin-right: 1rem;
    width: 42%;
    margin-bottom: 1rem;
    padding: 8px;
  }
}
.link-nrl.link-nrl-sm {
  width: auto;
  padding: 0.5rem 1.5rem;
  margin-right: 1.5rem;
  white-space: nowrap;
}
.link-nrl.link-nrl-sm .whitecolor {
  color: #ffffff;
  font-size: 15px;
  color: #ffffff;
  font-size: 16px;
}
.link-nrl.link-nrl-sm .blackcolor {
  color: #13151A;
  font-size: 16px;
}
.link-nrl.link-nrl-sm.white {
  background-color: #F5F5F5;
}
.link-nrl.link-nrl-sm.white:hover {
  background-color: #FFCE02;
}
.link-nrl.link-nrl-sm:hover {
  transform: translateY(-8px);
}
@media (min-width: 767px) and (max-width: 768px) {
  .link-nrl.link-nrl-sm {
    width: 42%;
    margin-bottom: 1rem;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .link-nrl.link-nrl-sm {
    margin-bottom: 1rem;
  }
}
@media (min-width: 1025px) and (max-width: 1200px) {
  .link-nrl.link-nrl-sm {
    width: 55%;
    margin-bottom: 1rem;
  }
}
.link-nrl.link-nrl-sm img {
  display: block;
}
.link-nrl.link-nrl-sm span {
  padding-left: 10px;
}
@media (max-width: 768px) {
  .link-nrl.link-nrl-sm {
    margin-right: 0.5rem;
  }
}
.link-nrl .ico-sm {
  margin-right: 0.8rem;
}

.scroll-top {
  position: fixed;
  right: 30px;
  bottom: 70px;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  border: 0;
  font-size: 1.9rem;
  z-index: 9999;
  color: #ffffff;
  background: #FFCE02;
  box-shadow: 0px 0px 8px #d6d6d6;
}
@media (max-width: 767px) {
  .scroll-top {
    display: none;
  }
}
.scroll-top .fa-angle-up {
  animation: bounce 1600ms infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

@keyframes bounce {
  50% {
    transform: translateY(-8px);
  }
}
p {
  font-family: "PoppinsRegular", sans-serif, sans-serif;
  font-size: 1.375rem;
  line-height: 2.15rem;
}

.text-danger {
  font-family: "PoppinsRegular", sans-serif;
  margin-top: 0.5rem;
  display: block;
  font-size: 1.2rem;
}

@media only screen and (min-width: 1200px) {
  html {
    font-size: 11px;
  }
}
@media only screen and (min-width: 1400px) {
  html {
    font-size: 13px;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 12px;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 12px;
  }
}
@media (max-width: 320px) {
  html {
    font-size: 11px;
  }
}

body {
  font-family: "PoppinsRegular", sans-serif, sans-serif;
  font-size: 1.4rem;
  color: #221F20;
}

.title-first {
  font-size: 3.5rem;
  line-height: 1.5;
  color: #221F20;
  font-weight: 600;
  font-family: "PoppinsSemiBold", sans-serif;
}
@media (max-width: 767px) {
  .title-first {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }
  .title-first br {
    display: none;
  }
}

.title-secnd {
  font-size: 3rem;
  color: #221F20;
  font-family: "PoppinsSemiBold", sans-serif;
}
@media (max-width: 767px) {
  .title-secnd {
    font-size: 2rem;
    line-height: 3rem;
  }
}

.title-third {
  font-size: 3.25rem;
  color: #221F20;
  font-family: "PoppinsSemiBold", sans-serif;
}
@media (max-width: 767px) {
  .title-third {
    font-size: 1.8rem;
  }
}

.title-fourth {
  font-size: 1.6rem;
  margin: 1.5rem 0;
  font-family: "PoppinsSemiBold", sans-serif;
  color: #221F20;
}

.heading-sec p {
  color: #707070;
  font-size: 1.75rem;
  line-height: 2.625rem;
  font-family: "PoppinsRegular", sans-serif, sans-serif;
}
@media (max-width: 767px) {
  .heading-sec p {
    font-size: 1.5rem;
  }
}
@media (max-width: 768px) {
  .heading-sec p br {
    display: none;
  }
}
.heading-sec p.nm-text {
  font-size: 1.4rem;
  line-height: 2.15rem;
  color: #221F20;
}
.heading-sec .title-secnd {
  margin-bottom: 2rem;
}
@media (max-width: 992px) {
  .heading-sec .title-secnd {
    margin-bottom: 1.2rem;
  }
}
.heading-sec .title-first {
  text-shadow: inherit;
  margin-bottom: 2rem;
}

.big-ttl {
  font-size: 4.125rem;
  font-family: "PoppinsBold", sans-serif;
  color: #221F20;
  line-height: 1.4;
}
@media screen and (max-width: 992px) {
  .big-ttl {
    font-size: 3rem;
  }
}

/*box shadow*/
.box-shadow, .btn-bg.btn-bg-dark:hover {
  box-shadow: 0px 0px 8px #F0F0F0;
}

.light-box-shadow {
  box-shadow: 0px 0px 8px #F0F0F0;
}

.App-Body {
  min-height: 100vh;
  margin-top: 9.25rem;
}
@media screen and (max-width: 767px) {
  .App-Body {
    display: block;
    width: 100%;
    overflow: inherit;
  }
}
@media screen and (max-width: 992px) {
  .App-Body {
    margin-top: 8.45rem;
  }
}
@media screen and (max-width: 590px) {
  .App-Body {
    margin-top: 6rem;
  }
}

.App {
  width: 100%;
  margin: 0 auto;
  overflow: inherit;
}

.modal-backdrop {
  z-index: 99999 !important;
}

.modal {
  z-index: 99999 !important;
}
@keyframes toTopFromBottom {
  49% {
    transform: translateY(-100%);
  }
  50% {
    opacity: 0;
    transform: translateY(100%);
  }
  51% {
    opacity: 1;
  }
}
.common-modal-thankyou .modal-content .modal-header {
  border: 0;
}
.common-modal-thankyou .modal-content .modal-body {
  padding: 2rem;
  padding-bottom: 1.5em;
  text-align: center;
}
.common-modal-thankyou .modal-content .modal-body h4 {
  margin-top: 1rem;
  font-family: "PoppinsMedium", sans-serif;
  color: #221F20;
  font-size: 1.65rem;
}
.common-modal-thankyou .modal-content .modal-body h3 {
  font-family: "PoppinsMedium", sans-serif;
  color: #221F20;
  margin-top: 2rem;
}
.common-modal-thankyou .modal-content .modal-footer {
  text-align: center;
  justify-content: center;
  border: 0;
  padding-bottom: 1.5em;
}
.common-modal-thankyou .modal-content .modal-footer .btn-yellow {
  background-color: #FFCE02;
  border-radius: 27px;
  color: #221F20;
  font-size: 1.5rem;
  line-height: 1.375rem;
  font-family: "PoppinsSemiBold", sans-serif;
  display: inline-block;
  border: none;
  padding: 0.8rem 2rem;
  margin-top: 1rem 0;
}

/* common card styling */
.carditem-nbfc {
  background: #ffffff;
  box-shadow: 0px 0px 8px #F0F0F0;
  border-radius: 20px;
  padding: 2.5rem 2rem;
  text-decoration: none;
  display: block !important;
  width: 90% !important;
  margin: 0 auto;
  height: 100%;
  min-height: 17rem;
  text-align: center;
}
@media (min-width: 768px) and (max-width: 992px) {
  .carditem-nbfc {
    padding: 1.8rem;
    font-size: 1.1rem;
  }
}
.carditem-nbfc:hover .cardimg .img {
  animation: toTopFromBottom 0.5s forwards;
}
.carditem-nbfc .cardimg {
  display: inline-block;
  overflow: hidden;
  height: 54px;
  font-size: 0.8rem;
}
.carditem-nbfc .card-ttl {
  font-size: 1.625rem;
  line-height: 1.5;
  font-family: "PoppinsSemiBold", sans-serif;
  color: #221F20;
  margin: 1rem 0 0 0;
}
.carditem-nbfc .subtext {
  font-size: 1.3rem;
  line-height: 1.9rem;
  margin: 1rem 0 0 0;
  color: #221F20;
  font-family: "PoppinsRegular", sans-serif;
}
@media (min-width: 768px) and (max-width: 992px) {
  .carditem-nbfc .subtext {
    font-size: 1.1rem;
  }
}

.grecaptcha-badge {
  z-index: 999999999;
}

.float-right {
  float: right;
}

.text-danger {
  font-size: 1.2rem;
  font-family: "PoppinsRegular", sans-serif;
  margin-top: 0.5rem;
  display: block;
}

.banner-title2 {
  font-family: "PoppinsSemiBold", sans-serif;
  color: #FFCE02;
  font-size: 2.1rem;
  margin-bottom: 2rem;
  display: block;
}
@media (max-width: 767px) {
  .banner-title2 {
    text-align: center;
    margin-bottom: 1rem;
  }
}
.banner-title2.mf-ttl {
  color: #0066B3;
  display: block !important;
  font-size: 2.4rem;
}
.banner-title2.mobile {
  display: none;
}

.term_link {
  text-decoration: none;
}

.sticy-card-sub-new {
  position: relative;
  padding: 3rem;
  background: #004393;
  background-size: cover;
  border-radius: 14px;
  margin: 0;
  width: 100%;
  transition-duration: 0.6s;
}
.sticy-card-sub-new .title-secnd {
  color: #fff;
  padding-bottom: 1rem;
}
@media (max-width: 992px) {
  .sticy-card-sub-new .title-secnd {
    font-size: 2rem;
  }
}
.sticy-card-sub-new ul {
  list-style: none;
  padding: 0;
}
.sticy-card-sub-new ul li {
  padding: 1rem 0;
  display: flex;
  align-items: center;
}
.sticy-card-sub-new ul li .bx-icon {
  padding-right: 1rem;
}
.sticy-card-sub-new ul li .bx-text {
  color: #ffffff;
  font-family: "PoppinsMedium", sans-serif;
  font-size: 1.7rem;
  white-space: nowrap;
}
.sticy-card-sub-new ul li .bx-text .fw-regular {
  font-family: "PoppinsRegular", sans-serif;
}
@media (max-width: 992px) {
  .sticy-card-sub-new ul li {
    display: flex;
    align-items: center;
  }
}
.sticy-card-sub-new .btn-open {
  padding-top: 2rem;
}
@media (max-width: 992px) {
  .sticy-card-sub-new {
    padding: 2rem;
    width: 40%;
  }
}
.sticy-card-sub-new.sub-new-small .title-secnd {
  font-size: 2.5rem;
}
@media (max-width: 992px) {
  .sticy-card-sub-new.sub-new-small .title-secnd {
    font-size: 1.7rem;
  }
}
@media (max-width: 767px) {
  .sticy-card-sub-new.sub-new-small .title-secnd {
    font-size: 2rem;
  }
}
.sticy-card-sub-new.sub-new-small ul li .bx-icon .svg-fill {
  height: 31px;
}
.sticy-card-sub-new.sub-new-small ul li .bx-text {
  font-size: 1.375rem;
}
@media (max-width: 992px) {
  .sticy-card-sub-new.sub-new-small ul li .bx-text {
    font-size: 1.3rem;
  }
}
@media (max-width: 767px) {
  .sticy-card-sub-new.sub-new-small ul li .bx-text {
    white-space: initial;
  }
}
@media (max-width: 992px) {
  .sticy-card-sub-new.sub-new-small .btn-open {
    padding-top: 1rem;
  }
}
@media (max-width: 767px) {
  .sticy-card-sub-new.sub-new-small .btn-open .btn-bg {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .sticy-card-sub-new.sub-new-small {
    padding: 2rem 1.5rem 2rem;
    width: 100%;
  }
}

/*Bootstrap Override*/
/*Font family*/
/*bg varibales*/
/*textvaribales*/
/*Shadow color*/
/*Responsive screen width*/
.funds-bannersection {
  background: radial-gradient(47.16% 287.41% at 84.35% 45.01%, rgba(255, 206, 2, 0.03) 0%, rgba(255, 206, 2, 0.4) 100%);
  padding: 7rem 0 6rem 0;
}
.funds-bannersection .lft-sec .big-ttl {
  color: #221F20;
  margin-bottom: 2.5rem;
}
.funds-bannersection .lft-sec .para {
  color: #221F20;
  font-size: 1.75rem;
  line-height: 1.5;
}
@media (max-width: 767px) {
  .funds-bannersection .lft-sec .para br {
    display: none;
  }
}
@media (max-width: 767px) {
  .funds-bannersection .lft-sec {
    padding-bottom: 3rem;
  }
}
@media (max-width: 767px) {
  .funds-bannersection {
    text-align: center;
    padding: 5rem 0 5rem 0;
  }
}

.search-amc-sec {
  padding: 10rem 0 7rem;
}
@media (max-width: 992px) {
  .search-amc-sec {
    padding: 6rem 0 3rem;
  }
}
.search-amc-sec .form-select {
  font-size: 1.429rem;
  font-family: "PoppinsRegular", sans-serif;
  color: #707070;
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 15px;
  padding: 1rem 2rem 1rem 0.75rem;
}
.search-amc-sec .form-select:focus {
  outline: 0;
}
.search-amc-sec .drop-sec {
  display: flex;
  align-items: center;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
@media (max-width: 992px) {
  .search-amc-sec .drop-sec {
    justify-content: space-between;
    margin-bottom: 2rem;
  }
}
.search-amc-sec .drop-sec .drop-items {
  width: 50%;
}
.search-amc-sec .serch-drp-sec {
  display: flex;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  place-content: end;
}
@media (max-width: 767px) {
  .search-amc-sec .serch-drp-sec {
    justify-content: space-between;
  }
}
.search-amc-sec .serch-drp-sec .left-sec {
  width: 70%;
}
@media (max-width: 767px) {
  .search-amc-sec .serch-drp-sec .left-sec {
    width: 50%;
  }
}
.search-amc-sec .serch-drp-sec .left-sec.search-bar-items .input-control {
  font-size: 1.429rem;
  font-family: "PoppinsRegular", sans-serif;
  color: #707070;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 7px;
  padding: 1rem 0.375rem 1rem 4rem;
  position: relative;
  text-align: left;
  width: 100%;
}
.search-amc-sec .serch-drp-sec .left-sec.search-bar-items .input-control:focus {
  outline: 0;
}
.search-amc-sec .serch-drp-sec .left-sec.search-bar-items .input-control.search-icon {
  background: url(../../assets/images/mf-top-funds/search.svg) no-repeat center left 20px;
}
.search-amc-sec .serch-drp-sec .right-sec {
  width: 30%;
}
@media (max-width: 767px) {
  .search-amc-sec .serch-drp-sec .right-sec {
    width: 50%;
  }
}

.listing-details {
  position: relative;
  padding-bottom: 10rem;
}
@media (max-width: 992px) {
  .listing-details {
    padding-bottom: 6rem;
  }
}
.listing-details::before {
  content: "";
  background: url(../../assets/images/amc-details/bg-before.webp) no-repeat center left;
  background-size: contain;
  position: absolute;
  left: 0;
  display: block;
  height: 38rem;
  top: 50%;
  width: 17rem;
  z-index: -9;
}
@media (max-width: 767px) {
  .listing-details::before {
    display: none;
  }
}
.listing-details::after {
  content: "";
  background: url(../../assets/images/amc-details/bg-after.webp) no-repeat top right;
  background-size: contain;
  position: absolute;
  right: 0;
  display: block;
  height: 38rem;
  top: 5%;
  width: 17rem;
  z-index: -9;
}
@media (max-width: 767px) {
  .listing-details::after {
    display: none;
  }
}
.listing-details .bg-before::after {
  content: "";
  background: url(../../assets/images/amc-details/bg-after2.webp) no-repeat bottom right;
  background-size: contain;
  position: absolute;
  right: 0;
  display: block;
  height: 38rem;
  bottom: 13%;
  width: 17rem;
  z-index: -9;
}
@media (max-width: 767px) {
  .listing-details .bg-before {
    display: none;
  }
}
.listing-details .wrapper {
  display: flex;
  place-content: end;
}
@media (max-width: 767px) {
  .listing-details .wrapper {
    justify-content: center;
  }
}
.listing-details .wrapper .pagination-sec {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}
.listing-details .wrapper .pagination-sec .pagination {
  margin: 0;
  padding: 0;
  text-align: center;
}
.listing-details .wrapper .pagination-sec .pagination .pagenum {
  display: inline;
  border: 0;
  border-right: 4px solid #E1E1E1;
  transition: background-color 0.3s;
  display: inline-block;
  text-decoration: none;
  padding: 0 0.9rem;
  color: #221F20;
  font-size: 1.714rem;
  font-weight: 400;
  font-family: "PoppinsRegular", sans-serif;
  margin: 0 0.5rem;
  cursor: pointer;
  background: none;
}
.listing-details .wrapper .pagination-sec .pagination .pagenum:last-child {
  border-right: 0;
}
.listing-details .wrapper .pagination-sec .pagination .pagenum.active {
  position: relative;
  color: #FFCE02;
  font-weight: 600;
  font-family: "PoppinsSemiBold", sans-serif;
  border-radius: 0;
}
.listing-details .wrapper .pagination-sec .pagination .pagenum.active::before {
  content: "";
  position: absolute;
  bottom: 0;
  border-bottom: 4px solid #FFCE02;
  width: 70%;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.listing-details .wrapper .pagination-sec .pagination li {
  position: relative;
  display: inline;
  border-right: 4px solid #E1E1E1;
  border-radius: 5px;
  transition: background-color 0.3s;
  display: inline-block;
  text-decoration: none;
  padding: 0 1.3rem;
  color: #221F20;
  font-size: 1.714rem;
  font-weight: 400;
  font-family: "PoppinsRegular", sans-serif;
  cursor: pointer;
}
.listing-details .wrapper .pagination-sec .pagination li:last-child {
  border-right: 0;
}
.listing-details .wrapper .pagination-sec .pagination li.active {
  position: relative;
  color: #FFCE02;
  font-weight: 600;
  font-family: "PoppinsSemiBold", sans-serif;
  border-radius: 0;
}
.listing-details .wrapper .pagination-sec .pagination li.active::before {
  content: "";
  position: absolute;
  bottom: 0;
  border-bottom: 4px solid #FFCE02;
  width: 70%;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.listing-details .wrapper .pagination-sec button {
  border: 0;
  background: none;
}
.listing-details .card {
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 7px;
  padding: 2rem;
  margin-bottom: 5rem;
}
.listing-details .card a {
  text-decoration: none !important;
}
.listing-details .card a .display-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 4rem;
}
@media (max-width: 767px) {
  .listing-details .card a .display-flex {
    margin-bottom: 2rem;
  }
}
.listing-details .card a .display-flex .flex-i {
  width: 50%;
}
@media (max-width: 992px) {
  .listing-details .card a .display-flex .flex-i {
    width: 100%;
  }
}
.listing-details .card a .display-flex .flex-i .border-left {
  border-left: 1px solid #221F20;
}
@media (max-width: 767px) {
  .listing-details .card a .display-flex .flex-i .border-left {
    border-left: inherit;
  }
}
.listing-details .card a .display-flex .flex-i .rating-det {
  padding: 0.8rem 0 1rem 0;
  float: right;
}
@media (max-width: 992px) {
  .listing-details .card a .display-flex .flex-i .rating-det {
    float: left;
  }
}
.listing-details .card a .display-flex .flex-i .rating-det .fa-star {
  font-size: 1.5rem;
  padding: 0 0.1rem;
}
.listing-details .card a .display-flex .flex-i .rating-det .fa-star path {
  fill: #FFCE02;
}
.listing-details .card a .display-flex .flex-i .rating-det .fa-star.unfill path {
  fill: #D9D9D9;
  opacity: 0.6;
}
@media (max-width: 767px) {
  .listing-details .card a .left {
    display: none;
  }
}
.listing-details .card a .border-left {
  border-left: 1px solid #221F20;
}
@media (max-width: 767px) {
  .listing-details .card a .border-left {
    border-left: inherit;
  }
}
.listing-details .card a .btn-bg {
  min-width: 15rem;
}
@media (max-width: 992px) {
  .listing-details .card a .btn-bg {
    margin-top: 2rem;
  }
}
@media (max-width: 767px) {
  .listing-details .card a .btn-bg {
    width: 100%;
  }
}
.listing-details .card a h3 {
  font-size: 2rem;
  font-weight: 600;
  font-family: "PoppinsSemiBold", sans-serif;
  color: #221F20;
}
@media (max-width: 767px) {
  .listing-details .card a h3 {
    font-size: 1.5rem;
  }
}
.listing-details .card a .category {
  font-size: 1.429rem;
  font-family: "PoppinsMedium", sans-serif;
  font-weight: 500;
  color: #221F20;
  margin: 0;
}
@media (max-width: 767px) {
  .listing-details .card a .category {
    font-size: 1.2rem;
    display: flex;
    flex-wrap: wrap;
  }
  .listing-details .card a .category > span:nth-child(3n) {
    border-left: 0;
    padding-left: 0;
    margin-left: 0;
  }
}
.listing-details .card a .category .brder-left {
  border-left: 1px solid #221F20;
  padding-left: 1rem;
  margin-left: 1rem;
}
.listing-details .card a .fundlist-flex {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.listing-details .card a .fundlist-flex li {
  width: 33.33%;
  border-right: 1px solid #221F20;
  text-align: center;
}
.listing-details .card a .fundlist-flex li:last-child {
  border-right: 0;
}
.listing-details .card a .fundlist-flex li .time-period {
  color: #FFCE02 !important;
}
.listing-details .card a .fundlist-flex li h5 {
  font-size: 1.714rem;
  font-weight: 600;
  font-family: "PoppinsSemiBold", sans-serif;
  color: #221F20 !important;
}
@media (max-width: 767px) {
  .listing-details .card a .fundlist-flex li h5 {
    font-size: 1.325rem;
  }
}

.more-content-sec {
  padding: 6rem 0;
  background: #F3FAFF;
}
.more-content-sec .title-first {
  text-align: center;
  margin-bottom: 2rem;
}
.more-content-sec .title-first span {
  color: #FFCE02;
}
.more-content-sec .seo-para {
  font-family: "PoppinsRegular", sans-serif;
  font-weight: 400;
  color: #221F20;
}
.more-content-sec .more-contentamc p {
  font-family: "PoppinsRegular", sans-serif !important;
  font-weight: 400 !important;
  color: #221F20 !important;
  font-size: 1.625rem !important;
  line-height: 1.6 !important;
}

@media (max-width: 767px) {
  .hideform {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .visibleform {
    display: block !important;
  }
}/*# sourceMappingURL=amc-details.css.map */