@import '../../assets/css/common.scss';
@import '../../assets/css/customvariable.scss';




.bannersec{
	padding: 5rem  0 0;
	background-image: url('../../assets/images/news-media/banner-bg.webp');
	background-repeat: no-repeat;
    background-size: contain;
	background-position: 50% 50%;
    height:600px;
    width: 100%;
    background-color: #F2F7FD;
    position: relative;
	@media (max-width:$sm) {
	display: none;
	}
	.imgwrap{
		position: absolute;
    left: 0;
    width: 100%;
    top: 30%;
    transform: translate(0, -39%);
    z-index: 9;
	height: 300px;
	display: flex;
	justify-content: center;
	}

}
.bluecolor{
	background-color: $bgcolor-blue;
	padding: 4rem 0;
	bottom: 184px;
    position: relative;
	@media (max-width:$sm) {
		bottom: 0;
		margin-top: 2rem;
	}
    @media (min-width:767px) and (max-width:1024px) {
		bottom: 219px;
	}
	h1{
		color: $whiteColor;
		font-size: 3.8125rem;
		line-height: 9.5px;
		display: flex;
		justify-content: center;
        @media (max-width:$sm) {
            font-size: 2.65rem;
        }
	}
}
.media-banner {
    padding: 0 0 7rem;
    overflow: inherit;
    @media (max-width:$sm) {
        padding: 0rem 0;
    }
    .card{

        width: 90%;
        margin: 0 auto;
        height: 100% !important;
        .youtube-play {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            margin:0 !important; padding: 0 !important;
            cursor: pointer;
        &:before {
            position: absolute;
               content: "";
               background: url('../../assets/images/news-media/video-play.webp') no-repeat center ;
               background-size: contain;
                width: 100px;
                height: 100px;
               left: 0;
               right: 0;
               margin:0 auto;
            z-index: 999;
            
                
            }
            img{width:100%;}
        }
    
        .card-footer {
            background-color: $bgcolor-blue;
            font-size: 1.8rem;
            color: $whiteColor;
            font-family: $font-family-poppins-regular;
            text-align: center;
            height: 100%;
            padding: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            @media (min-width:767px) and (max-width:1024px) {
                font-size: 1.4rem;
            }
        }
        .socail-media{
            background-color: #F4F3FF;
            padding: 12px 20px;
           
        }
    }
   


}

.mt-7{
    margin-top: 7rem;
    @media (max-width:767px) {
        margin-bottom: 3rem;
        margin-top: 0;
    }
}

.mb3{
    @media (max-width:767px) {
    margin-bottom: 3rem;
    }
}