@import '../../assets/css/customvariable.scss';
@import '../../assets/css/common.scss';


.pricing-banner-tabs{
    padding: 5rem 0 10rem 0;
    position: relative;
    &::after {
        content: '';
        width: 21rem;
        height: 20rem;
        display: block;
        position: absolute;
        left: 2rem;
        bottom:0;
        background: url(../../assets/images/pricing/bg2.png) no-repeat top left;
        background-size: contain;

        @media (max-width: $md) {
            display: none;
        }
    }
    &::before {
        content: '';
        width: 28rem;
        height: 44rem;
        display: block;
        position: absolute;
        right: 0;
        bottom:7rem;
        background: url(../../assets/images/pricing/banner-bg-right.png) no-repeat top right;
        background-size: contain;

        @media (max-width: $md) {
            display: none;
        }
    }
    .heading-sec-top{
        margin-bottom: 6rem;
        @media (max-width: $sm-x) {
            text-align: center;
        }
        h3{
            font-size: 4.125rem;
            font-weight: 700;
            font-family: $font-family-poppins-bold;
            @media (max-width: $sm) {
             font-size: 2.5rem;
            }
        }
    }
    .pricing-bloc-tabs{
        display: flex;
        flex-wrap: wrap;
        margin-left: -3%;
        padding-bottom: 9rem;
        position: relative;
        z-index: 9;
        &::after {
            content: '';
            width: 48rem;
            height: 47rem;
            display: block;
            position: absolute;
            right: -13rem;
            top: -20rem;
            background: url(../../assets/images/pricing/slider-bg.png) no-repeat top right;
            background-size: contain;
            z-index: -1;
            @media (max-width: $md) {
                display: none;
            }
        }
        .tabs{
            width: 23%;
            margin-left: 2%;
            margin-bottom: 3rem;
            position: relative;
            border: 0;
            outline: none;
            box-sizing: inherit;
            background: inherit;
            .bloc-tabs-sub {
                background: $whiteColor;
                padding: 3rem 1.2rem;
                border: 3px solid transparent;
                box-shadow: 0px 0px 8px #F0F0F0;
                border-radius: 20px;
                position: relative;
                z-index: 9;
                width: 97%;
                display: block;
                margin: 0 auto;
                height: 100%;
                text-align: left;

                h4 {
                    
                    font-family: $font-family-poppins-semibold;
                    margin: 1.5rem 0 1rem 0;
                    @media (max-width:767px) {
                        font-size: 1.6rem;
                    }
                }

                p {
                    margin: 0;
                    font-size: 1.375rem;
                }
                .tab-ico{
                    width: 50px;
                    height: 50px;
                }
                @media (max-width: $sm-x) {
                    text-align: center;
                }
            }

            &::before {
                content: '';
                background: $yellowColor;
                width: 100%;
                height: 100%;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 20px;
                transition: 0.70s;
                -webkit-transition: 0.70s;
                -moz-transition: 0.70s;
                -ms-transition: 0.70s;
                -o-transition: 0.70s;
                opacity: 0;
                visibility: hidden;
            }

            &:hover {
                .bloc-tabs-sub {
                    border: 3px solid $yellowColor;
                    box-shadow: none;
                }

                &::before {
                    transform: rotate(4deg);
                    opacity: 1;
                    visibility: visible;
                }
            }

            &.active-tabs{
                .bloc-tabs-sub {
                    border: 3px solid $yellowColor;
                    box-shadow: none;
                }

                &::before {
                    transform: rotate(4deg);
                    opacity: 1;
                    visibility: visible;
                }
            }

            @media (max-width: $md) {
                width: 48%;
            }

            @media (max-width: $sm) {
                width: 90%;
                margin: 0 auto;
                margin-bottom: 3rem;
                text-align: center;
            }
        }
        @media (max-width: $sm) {
            margin-left: 0;
            padding-bottom: 4rem;
        }
    }
    .content-tabs{
        .content{
            background: #ffffff;
            padding: 0;
            width: 100%;
            height: 100%;
            display: none;
            &.active-content{
                display: block;
            }
        }
        .banner-tab-cont{
            .heading-sec{
                margin-bottom: 4rem;
            }
           .pricing-table-tab{
            @extend.box-shadow;
            border-radius: 18px;
            padding: 2rem 1rem;
            margin-bottom: 9rem;
                .pricing-data{
                    tbody{
                        td{
                            padding: 1.5rem 1.5rem;
                            h5{
                                font-family: $font-family-poppins-medium;
                                font-size: 1.5rem;
                                line-height: 1.7;
                            }
                            h6{
                                font-size: 1.3rem;
                                line-height: 1.6;
                                font-family: $font-family-poppins-regular;
                                font-weight: 400;
                                @media (max-width: $sm-x) {
                                    white-space: nowrap;
                                }
                            }

                        }
                    }
                    thead{
                        th{
                            padding: 1.5rem 1.5rem;
                            padding-bottom: 2rem;
                            font-size: 1.5rem;
                            @media (max-width: $sm-x) {
                                white-space: nowrap;
                            }
                        }
                    }
                }
                .term-para{
                    padding: 2rem;
                    margin-top: 1rem;
                }
                @media (max-width: $sm-x) {
                    margin-bottom: 5rem;
                }
           } 

           .brokerage-calculator{
            .calc-box{
                display: flex;
                flex-wrap: wrap;
                margin-left: -3%;
                .box-sub{
                    width: 47%;
                    margin-left: 3%;
                    border-radius: 20px;
                    margin-bottom: 3rem;
                    overflow: hidden;
                    position: relative;
                    z-index: 9;
                    background: $whiteColor;
                    @extend.box-shadow;
                    .box-sub-head{
                        background: $primary;
                        display: block;
                        text-align: center;
                        color: $whiteColor;
                        padding: 2rem 3rem;
                        font-family: $font-family-poppins-semibold;
                        margin-bottom: 2rem;
                    }
                    .calc-input-list{
                        padding: 2rem 3rem;
                        display: flex;
                        flex-wrap: wrap;
                        margin-left: -10%;
                        .input-itm{
                            width: 23.33%;
                            margin-left: 10%;
                            text-align: center;
                            .formcontrol{
                                width: 100%;
                                border: 2px solid $primary;
                                display: block;
                                outline: none;
                                box-shadow: inherit;
                                color: $primary;
                                padding: 1rem;
                                border-radius: 4px;
                                font-size: 1.5rem;
                                text-align: center;
                                -webkit-appearance: none; 
                                margin: 0; 
                                &::placeholder{
                                    color: $primary;
                                }
                            }
                            h5{
                                font-size: 1.5rem;
                                color: $secondary;
                                margin-bottom: 1rem;
                                @media (max-width: $sm) {
                                    font-size: 1.4rem;
                                }
                                @media (min-width:768px) and (max-width: 990px) {
                                    font-size: 1.3rem;
                                }
                            }
                            @media (max-width: $sm) {
                                width: 27.33%;
                                margin-left: 6%;
                            }
                            .formgrp{
                                input[type=number]::-webkit-inner-spin-button, 
                                input[type=number]::-webkit-outer-spin-button { 
                                  -webkit-appearance: none; 
                                  margin: 0; 
                                }
                            }
                        }
                        @media (max-width: $sm) {
                            margin-left: -6%;
                        }
                    }
                    .calc-data-des{
                        padding: 2rem 3rem;
                        >ul{
                            padding: 0;
                            margin: 0;
                            >li{
                                list-style: none;
                                display: flex;
                                justify-content: space-between;
                                padding: 1rem 0;
                                border-bottom: 1px solid #d2cfcf;
                                span{
                                    color: $secondary;
                                    &.ttl-amt{
                                        font-family: $font-family-poppins-semibold;
                                        font-size: 1.6rem;
                                    }
                                }
                                &:last-child{
                                    border: 0;
                                    margin-bottom: 0;
                                    padding-bottom: 0;
                                }
                            }
                        }
                    }
                    @media (max-width: $sm) {
                        width: 97%;
                    }
                }
            }
           }
        }
    }
    @media (max-width: $sm-x) {
        padding: 5rem 0;
    }
}




.pricing-demat-account{
    background: #25B8AF;
    padding: 10rem 0;
    
    .demat-account-features{
        .title-secnd{
            color: $whiteColor;
            margin-bottom: 3.5rem;
            @media (max-width: $sm) {
                text-align: center;
            }
        }
        .img-demat-arrow{
            max-width: 70%;
            position: relative;
            left: -50%;
            margin-left: 100%;
            display: block;
            @media (max-width: $md) {
                display: none;
            }
        }
        .account-features-list{
            display: flex;
            flex-wrap: wrap;
            margin-left: -4%;
            .feat-list-itm{
                width: 46%;
                margin-left: 4%;
                margin-bottom: 3rem;
                padding: 2rem 2rem 1rem 2rem;
                border: 2px solid $whiteColor;
                border-radius: 20px;
                h4{
                    font-size: 1.8rem;
                    font-family: $font-family-poppins-semibold;
                    color: $whiteColor;
                    margin-bottom: 1rem;
                }
                p{
                    color: $whiteColor;
                    font-size: 1.2rem;
                    padding: 0;
                    margin: 0;
                }
            }
        }
    }
    @media (max-width: $sm-x) {
        padding: 5rem 0;
    }

}