* {
    margin: 0;
    box-sizing: border-box;
}

/* ---------------- Navbar and burger menu ------------------ */
.investor-info-menu {
    width: 100%;
    height: 5em;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    top: 0;
    right: 7%;
    padding: 1em;
    box-shadow: none;
    position: absolute;
}

.burger-menu {
    height: 100%;
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    cursor: pointer;
}

.burger-bar {
    width: 70px;
    height: 0.4em;
    background-color: #221F20;
    border-radius: 0.5em;
    &:nth-child(3n){
        width:60%;
    }
}

.menu {
    width: 75%;
    height: auto;
    margin: 0 auto;
    background-color: #221F20;
    position: absolute;
    top: 7%;
    z-index: 1;
    border-top: 7px solid #FFCE02;
}
.investor-menu-wrap{

    padding:90px 150px ;
}

.investor-info-menu-list{
    width: 50%;
}

/* ------------- sliding menu ------------------ */
.hidden {
    display: none;
}

.visible {
    display: inherit;
}

/* ----- animations--------- */
/* clicked */
.burger-bar.clicked:nth-child(1){
    transform: rotate(45deg) translate(0.75em, 1.25em);
    transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(2){
    transform: scale(0.1);
    transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(3){
    transform: rotate(135deg) translate(-0.5em, 1em);
    transition: ease-out 0.5s;
    width: 70px;
}

/* unclicked */
.burger-bar.unclicked {
    transform: rotate(0) translate(0);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}