@import '../../assets/css/customvariable.scss';
@import '../../assets/css/common.scss';


.banner-sect{
	padding: 13rem 0;
	background-color: $whiteColor;
	.banner-title{
		color: $primary;
		font-size: 3rem;
		line-height: 4.5rem;
		font-family: $font-family-poppins-bold;
		font-weight: 700;
		.yellow{
			color: $bgcolor-yellow;
		}
	}
	.zigzagline{
		padding: 2rem 0 5rem;
	}
	.formwrap{
		position: relative;
		.formbgtop {
			position: absolute;
			left: -8rem;
			bottom: -22px;
			
		}
	}

	.bannerbox{
		padding: 1.563rem;
		border: 1px solid $bgcolor-blue;
		border-radius: 1.125rem;
		height:100%;
		display: flex;
		align-items: center;
		.resptext{
			padding-left: 1rem;
		}
	}
	
}


.adv-sect{
	background-color: $abt-bg;
	padding: 9.375rem 0;
	.sectext{
		display: flex;
		align-items: center;
		position: relative;
		h2{
			font-size: 3.125rem;
			font-family: $font-family-poppins-semibold;
			font-weight: 600;
			line-height: 4.688rem;
			color: $primary;
			padding-top: 2rem;
		}
	}
	.slick-dots{
		position: absolute;
		top: 55%;
		width: 100%;
		left: -240px;
		text-align: left;
		li{
			width:10px;
			
		}
	}
	.card{
		background-color: $whiteColor;
		padding: 2.625rem ;
		text-align: center;
		background-color: transparent;
		border: 1px solid $bgcolor-blue;
		border-radius: 1.875rem;
		min-height: 330px;
		transition-duration: 0.6s ease-in-out;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		
		&:hover{
			background-color: $whiteColor;
			border: none;
		}
		.icon-wrap{
			background: $bgcolor-blue;
			margin: 1rem 0;
			text-align: center;
			padding: 1rem 0;
			max-width: 80px;
			height: 70px;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			margin-bottom: 2.5rem;
		}
		.card-block{
			.card-title{
				font-size: 1.625rem;
				font-family: $font-family-poppins-semibold;
				font-weight: 500;
				line-height: 2.438rem;
				color: $primary;
				padding-bottom: 1rem;
			}
			p{
				font-size: 1.313rem;
				font-family: $font-family-poppins-regular;
				font-weight: 500;
				line-height: 2.063rem;
				color: $primary;
			}
		}
	}
}