@import '../../assets/css/common.scss';
@import '../../assets/css/customvariable.scss';


.cgmainwrap {
    border-radius: 20px;
    border: #C2C2C2 solid 1px;
    padding: 1.5rem;
    margin-bottom: 3rem;
    
    .border-bottom {
        &:last-child {
            border-bottom: none !important;
        }
    }
}
.Investormenu{
    min-height: 110vh;
}

.page-height{
    min-height: 120vh;
   
}
.no-data-space{
    padding-top: 6rem;
}
