@import '../../assets/css/customvariable.scss';
@import '../../assets/css/common.scss';
@import '../../components/Corporate-Governance/corporate-governance.scss';


.research-banner{
    padding:2rem 0 15rem 0;
    overflow: inherit;
    .title{
        color: $primary;
        font-weight: 700;
        font-size: 4.125rem;
        line-height: 6.1875rem;
        padding-bottom: 2.1875rem;
        padding-top: 1.25rem;
        font-family: $font-family-poppins-bold;
    }
    .para{
        font-weight: 400;
        font-size: 1.75rem;
        line-height: 2.375rem;
        color: $secondary;
        font-family: $font-family-poppins-regular;
    }
    .bnr-left{
        padding-right: 4rem;
        @media (max-width:$sm) {
          padding-bottom: 4rem;
      }
        @media (max-width: $md) {
            padding-right: 0;
            .title{
                font-size: 3rem;
                line-height: 4rem;
            }
        }
    }
    .rightsec{
        position: relative;
        z-index: 9;
        
        .top-banner-img{
            border-radius: 80px 0 80px 0;
        }
        @media (max-width: $sm) {
            padding-left: 0;
        }
    }
   
    @media (max-width: $md) {
        padding-bottom: 5rem;
    }
    @media (max-width: $sm) {
        padding-bottom: 0;
        padding-top: 1rem;
        text-align: center;
    }
    
}

.research-banner-tabs{
  padding-bottom: 10rem;
  position: relative;
  padding-top: 5rem;
  &.short-term-research{
    &::before {
      content: '';
      width: 19rem;
      height: 15rem;
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      background: url(../../assets/images/research/circle-bg.png) no-repeat bottom left;
      background-size: contain;
  
      @media (max-width: $md) {
          display: none;
      }
    }
  }
  
  .content-tabs{
    .content{
      display: none;
      &.active-content{
        display: block;
      }
    }
  }
    .research-bloc-tabs{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 1.5rem 0 5rem 0;
        .tabs{
            color: #221F20BF;
            display: block;
            position: relative;
            text-decoration: none;
            font-family: $font-family-poppins-medium;
            border: 0;
            font-size: 1.575rem;
            padding: 0;
            margin: 0;
            border: 0;
            outline: none;
            background: transparent;
            &.active-tabs{
              font-family: $font-family-poppins-semibold;
              color: $primary;
              &::before{
                content: '';
                background: $bgcolordark;
                border-radius: 2px;
                bottom: -0.5rem;
                display: block;
                height: 0.5rem;
                left: 0;
                margin: 0 auto;
                position: absolute;
                right: 0;
                width: 0.5rem;
              }
            }
            &:hover{
              &::before{
                content: '';
                background: $bgcolordark;
                border-radius: 2px;
                bottom: -0.5rem;
                display: block;
                height: 0.5rem;
                left: 0;
                margin: 0 auto;
                position: absolute;
                right: 0;
                width: 0.5rem;
              }
            }
        }
        &.SB-bloc-tabs{
          justify-content: flex-start;
          .tabs{
            margin-left: 3rem;
            &:first-child{
              margin-left: 0;
            }
          }
        }
        @media (max-width: $md) {
          flex-wrap: nowrap;
          overflow-x: auto;
          overflow-y: hidden;
          .tabs{
            white-space: nowrap;
            margin-left: 2rem;
            &:first-child{
              margin-left: 0;
            }
          }
        }
    }
    .research-tab-cont{
        .research-tab-list{
          min-height: 400px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .res-tab-itm{
                width: 48%;
                display: flex;
                align-items: inherit;
                flex-wrap: wrap;
                margin-bottom: 6rem;
                .tab-itm-img{
                    width: 38%;
                    .thumb-img{
                        border-radius: 20px;
                        width: 100%;
                        object-fit: cover;
                        height: 251px;
                    }
                    @media (max-width: $xs) {
                      width: 100%;
                      margin-bottom: 2.5rem;
                    }
                }
                .tab-itm-des{
                    width: 62%;
                    padding-left: 2rem;
                    padding-top: 0.5rem;
                    position: relative;
                    .ttl-des{
                        font-size: 1.5rem;
                        line-height: 2.2rem;
                        color: $primary;
                        font-family:$font-family-poppins-semibold;
                        margin-bottom: 1rem;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: initial;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                    }
                    .itm-des-text{
                      overflow: hidden;
                      text-overflow: ellipsis;
                      white-space: initial;
                      display: -webkit-box;
                      -webkit-line-clamp: 2;
                      -webkit-box-orient: vertical;
                      margin: 0;
                    }
                    .ups-potn{
                      margin-top: 2rem;
                    }
                    p{
                      margin: 0;
                    }
                    .itm-des-sub{
                        display: flex;
                        justify-content: space-between;
                        margin-top: 3rem;
                        align-items: flex-end;
                        position: absolute;
                        bottom: 0.5rem;
                        left: 0;
                        width: 100%;
                        padding-left: 2rem;
                        .date-post{
                            font-size: 1.25rem;
                            color: $primary;
                            opacity: 0.5;
                            font-family:$font-family-poppins-regular;
                        }
                        .btn-sm{
                          color: $whiteColor;
                          background: $secondary;
                          text-decoration: none;
                          padding: 0.5rem 2rem;
                          display: block;
                          border-radius: 8px;
                          font-size: 1.3rem;
                          transition: 0.5s;
                        -webkit-transition: 0.5s;
                        -moz-transition: 0.5s;
                        -ms-transition: 0.5s;
                        -o-transition: 0.5s;
                          &.grn-btn{
                            background: $greentext;
                            padding: 0.5rem 1.5rem;
                            min-width: 130px;
                            text-align: center;
                            cursor: pointer;
                          }
                          &.red-btn{
                            background: $redbg;
                            padding: 0.5rem 1.5rem;
                            min-width: 130px;
                            text-align: center;
                            cursor: pointer;
                          }
                          &:hover{
                            background: $primary;
                            color: $whiteColor;
                          }
                        }
                        .post-read{
                            color: $primary;
                            text-decoration: none;
                            position: relative;
                            font-size: 1.25rem;
                            display: block;
                            font-family: $font-family-poppins-medium;
                            padding-right: 2.8rem;
                            cursor: pointer;
                            &::before{
                              content: '';
                              background: url(../../assets/images/research/arrow-left.svg) no-repeat;
                              display: block;
                              width: 22px;
                              height: 22px;
                              position: absolute;
                              background-size: contain;
                              right: 0;
                              top: 0;
                            }
                        }
                        @media (max-width: $sm) {
                          position: relative;
                          left: inherit;
                          top: inherit;
                          bottom: inherit;
                          padding-left: 0;
                        }
                    }
                    @media (max-width: $xs) {
                      width: 100%;
                      padding-left: 0;
                    }
                }
                &.fundamentals-itm{
                  .tab-itm-des{
                    h4{
                      color: #908E8F;
                      font-family: $font-family-poppins-semibold;
                      .grn-txt{
                        color: $greentext;
                      }
                    }
                    .itm-des-sub{
                      margin-top: 1rem;
                    }
                  }
                }
                @media (max-width: $md) {
                  width: 100%;
                }
                @media (max-width: $sm) {
                  width: 90% !important;
                  margin: 0 auto;
                  display: block !important;
                  margin-bottom: 2rem;
                }
            }
        }
    }
}



.pricing-value {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      font-size: 11px;
      color: #000000;
      font-weight: 500;
      display: inline-block;
      width: 30%;
    }
  }

  .pricing-bar {
    padding: 20px 14%;
    width: 100%;
    .bar-wrap {
      width: 100%;
      background: #e1e1e1;
      height: 3px;
      position: relative;

      &:before {
        content: "";
        width: 10px;
        height: 10px;
        border: 2px solid #e1e1e1;
        background: #ffffff;
        position: absolute;
        left: -8px;
        top: -4px;
        border-radius: 100%;
      }

      &:after {
        content: "";
        width: 10px;
        height: 10px;
        border: 2px solid #e1e1e1;
        background: #ffffff;
        position: absolute;
        right: -8px;
        top: -4px;
        border-radius: 100%;
      }

      .bar-filled {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;

        &:before {
          content: "";
          width: 2px;
          height: 16px;
          position: absolute;
          right: -2px;
          top: -7px;
        }

        &:after {
          content: "CMP";
          position: absolute;
          bottom: -18px;
          right: 0;
          transform: translateX(50%);
          font-size: 9px;
        }
        &.red {
          background: $redtext;
          &:before {
            background: $redtext;
          }
        }
        &.green {
          background: #009933;
          &:before {
            background: #009933;
          }
        }
      }
    }
  }

.SB-content-tab{
  .heading-sec-top{
    margin-bottom: 5rem;
    .title-secnd{
      font-size: 2.4rem;
      @media (max-width: 767px){
        font-size: 2rem;
      }
    }
    p{
      font-size: 1.5rem;
    }
  }
  .sbdesk-tab-cont{
    .sbdesk-tab-list{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: -3rem;
      .sbdesk-tab-itm{
        width: 46%;
        margin-bottom: 5rem;
        overflow: hidden;
        .tab-itm-top{
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          .itm-top-ttl{
            .ttl-mn{
              font-size: 1.65rem;
              font-family: $font-family-poppins-semibold;
              color: $primary;
            }
            .ttl-sm{
              color: #221f2080;
              font-family: $font-family-poppins-semibold;
              font-size: 1.25rem;
              .red-txt{
                color: $redbg;
              }
              .grn-txt{
                color: $greentext;
              }

              .balance-txt{
                color: #F6B900;
              }

              .pri-txt{
                color: #2D77F4;
              }

              .sml-txt{
                font-family: $font-family-poppins-medium;
              }
            }
          }
          .itm-date-btn{
            display: flex;
            align-items: center;
            .date-post{
              color: $primary;
              opacity: 0.5;
              font-family: $font-family-poppins-regular;
              margin: 0;
            }
            .btn-sm{
              background: $primary;
              color: $whiteColor;
              text-decoration: none;
              padding:0.5rem 2.5rem;
              display: inline-block;
              border-radius: 8px;
              font-size: 1.3rem;
              transition: 0.5s;
              margin-left: 1rem;
              text-transform: uppercase;
              -webkit-transition: 0.5s;
              -moz-transition: 0.5s;
              -ms-transition: 0.5s;
              -o-transition: 0.5s;
              &.grn-btn{
                background: $greentext;
                cursor: pointer;
              }
              &.red-btn{
                background: $redbg;
                cursor: pointer;
              }
             &:hover{
              background: $primary;
             }
            }
            @media (max-width: $md) {
              justify-content: space-between;
              margin-top: 1.5rem;
            }
          }
          @media (max-width: $md) {
            display: block;
          }
       
        }
        .tab-itm-bottom{
          margin-top: 1rem;
          .tab-itm-baar{
            position: relative;
            padding-top: 3rem;
            padding-bottom: 6rem;
            .itm-baar-line{
              background: #D7DEEF;
              display: block;
              width: 100%;
              height: 5px;
              border-radius: 8px;
              position: relative;
              &::before{
                content: '';
                width: 14px;
                height: 5px;
                display: block;
                border-radius: 4px;
                background: $redbg;
                position: absolute;
                left: 0;
                top: 0;
              }
              &::after{
                content: '';
                width: 14px;
                height: 5px;
                display: block;
                border-radius: 4px;
                background: $greentext;
                position: absolute;
                right: 0;
                top: 0;
              }
            }

            .target-line-crossed{
              &::after{
           
                // right: 10%;
                position: fixed;
               
              }
            }
            .itm-cont-des{
              h5{
                font-size: 1rem;
                color: $secondary;
                font-family: $font-family-poppins-regular;
              }
              h4{
                color: $primary;
                font-family: $font-family-poppins-regular;
                font-size: 1.375rem;
              }
            }
            .stp-loss{
              position: absolute;
              left: 0;
              bottom: 0;
            }
            .targt-prize{
              position: absolute;
              right: 0;
              bottom: 0;
              text-align: right;
            }
            .entry-prize{
              position: absolute;
              right: inherit;
              bottom: 0;
              text-align: center;
              background: $whiteColor;
              &::before{
                content: '';
                width: 2px;
                height: 14px;
                border-radius: 5px;
                display: block;
                position: absolute;
                left: 0;
                right: 0;
                top: -2.8rem;
                background: $blueColortext;
                margin: 0 auto;
              }
            }
            .curnt-mrk-price{
              position: absolute;
              bottom: inherit;
              top: 0.6rem;
              h4{
                font-size: 1.25rem;
                color: $secondary;
                font-family: $font-family-poppins-regular;
              }
              &.grn-txt{
                .sm-txt{
                  color: $greentext;
                }
              }
              &.red-txt{
                .sm-txt{
                  color: $redbg;
                }
              }
              
              &::before{
                content: '';
                width: 0;
                height: 0;
                border-left: 9px solid transparent;
                border-right: 9px solid transparent;
                border-top: 12px solid;
                border-top-color: $greentext;
                position: absolute;
                bottom: -8px;
                left: 0;
                right: 0;
                margin: 0 auto;
              }
              &.grn-txt{
                &::before{
                  border-top-color: $greentext;
                }
              }
              &.red-txt{
                &::before{
                  border-top-color: $redbg;
                }
              }
              &.valueset{
                right: 0;
                left: inherit !important;
                &::before{
                  right: 0;
                  left: inherit;
                }
              }
              &.leftvalueset{
                right: inherit !important;
                left: 0 !important;
                &::before{
                  left: 0;
                  right: inherit;
                }
              }
            }



            .cmp-crossed{
              // &::before{
              //   margin-right: 0px;
              // }
            }
          }
        }
        @media (max-width: $xs) {
          width: 100%;
        }
        &.tab-itm-inactive{
          opacity: 0.5;
        }
      }
    }
  }
}

.SB-content-tab{
  .content{
    background: $whiteColor;
    box-shadow: 0px 0px 15px 1px #c2c2c2;
    border-radius: 20px;
    padding:3rem 2rem 4rem 3rem;
    position: relative;
    z-index: 9;
    @media (max-width: $xs) {
      padding: 3rem 2rem;
    }
  }
}

.cquant-tab-cont{
  .cquant-tab-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: -2rem;
    .cquant-tab-itm{
      width: 47%;
      margin-bottom: 4rem;
      .tab-itm-top{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        .itm-top-ttl{
          .ttl-mn{
             font-size: 1.75rem;
              font-family: $font-family-poppins-semibold;
              color: $primary;
              margin: 0;
              margin-right: 2rem;
              small{
                color: #221f2080;
                font-family: $font-family-poppins-regular;
                font-size: 0.9rem;
              }
          }
          .ttl-sm{
            color: #221f2080;
            margin-left: 2.5rem;
            font-size: 1.375rem;
          }
          .ttl-sm-nw{
            color: $primary;
            font-family: $font-family-poppins-semibold;
            font-size: 1.5rem;
            margin: 0;
          }
          .date-publish{
              margin-top: 0.8rem;
              color: #221f2080;
              font-family: $font-family-poppins-regular;
              font-size: 1.1rem;
          }
          .post-read{
            color: $primary;
            text-decoration: none;
            position: relative;
            font-size: 1rem;
            display: inline-block;
            font-family: $font-family-poppins-medium;
            padding-right: 2rem;
            cursor: pointer;
            &::before{
              content: '';
              background: url(../../assets/images/research/arrow-left.svg) no-repeat;
              display: block;
              width: 17px;
              height: 18px;
              position: absolute;
              background-size: contain;
              right: 0;
              top: 0;
              transform: rotate(90deg);
            }
        }
        }
        .itm-date-btn{
          text-align: right;
          display: flex;
          flex-direction: row-reverse;
          align-items: center;
          .ltp-percent{
            font-family: $font-family-poppins-regular;
            font-weight: 300;
            margin: 0;
            margin-right: 2rem;
            font-size: 1.1rem;
            &.grn-txt{
              color: $greentext;
            }
            &.red-txt{
              color: $redbg;
            }
            @media (max-width: $md) {
              margin: 0;
              margin-left: 1rem;
            }
          }
          .btn-sm{
            background: $primary;
            color: $whiteColor;
            text-decoration: none;
            padding:0.5rem 2.5rem;
            display: inline-block;
            border-radius: 8px;
            font-size: 1.3rem;
            transition: 0.5s;
            -webkit-transition: 0.5s;
            -moz-transition: 0.5s;
            -ms-transition: 0.5s;
            -o-transition: 0.5s;
            &.grn-btn{
              background: $greentext;
              cursor: pointer;
            }
            &.red-btn{
              background: $redbg;
              cursor: pointer;
            }
           &:hover{
            background: $primary;
           }
          }
          @media (max-width: $md) {
            text-align: left;
            display: flex;
            margin-top: 1rem;
            align-items: center;
            justify-content: space-between;
          }
        }
        @media (max-width: $md) {
          display: block;
        }
        .view-post{
          width: 100%;
          margin-top: 0.5rem;
          .post-read{
            color: $primary;
              text-decoration: none;
              position: relative;
              font-size: 1.1rem;
              display: inline-block;
              font-family: $font-family-poppins-semibold;
              padding-right: 2rem;
              cursor: pointer;
              &::before{
                content: '';
                background: url(../../assets/images/research/arrow-left.svg) no-repeat;
                display: block;
                width: 20px;
                height: 20px;
                position: absolute;
                background-size: contain;
                right: -5px;
                top: 1px;
                transform: rotate(90deg);
              }
          }
        }
        &.inactive-call{
          .itm-top-ttl{
            opacity: 0.5;
          }
          .itm-date-btn{
            opacity: 0.5;
            .btn-sm{
              cursor: not-allowed;
            }
          }
        }
       
      }
      @media (max-width: $xs) {
        width: 100%;
      }
    }
  }
}




// slider section
.collectons{
  background-color: $primary;
  padding:8rem 0 6.5rem 0;
 .collection-slider{
  .slick-slider{
    .slick-track{
      height: auto !important;
    }
  }
 }
  .sliderwrap{
      
        .slick-current{
          .slider-item{
          border-left: 0.8125rem solid $bgcolor-yellow;
              padding-left: 1.125rem;
              @media (max-width:$sm) {
                  border-left: 0.5rem solid $bgcolor-yellow;
              }
              .headtext{
                  font-family: $font-family-poppins-medium;
                  font-weight: 500;
              }
              .subtext{
                  display: block;
              }
              @media (max-width:$md) {
                border-left: 0.5rem solid $yellowColor;
              }
              
          }
          @media (max-width:$md) {
            margin-bottom: 2.5rem;
          }
        }

          .slider-item{

            margin-bottom: 4.875rem;
            @media (max-width:$sm) {
             margin-bottom: 2rem;
              }
             .headtext{
                 font-family: $font-family-poppins-regular;
                 font-weight: 400;
                 color: $whiteColor;
                 line-height: 5.25rem;
                 font-size: 3.5rem;
                 @media (max-width:$md) {
                   font-size: 2.5rem;
                   line-height: 3.5rem;
                 }
                 
             }
             .subtext{
                 font-family: $font-family-poppins-regular;
                 font-weight: 400;
                 color: $whiteColor;
                 line-height:2.8125rem;
                 font-size: 1.8rem;
                 display: none;
                 @media (max-width:$md) {
                     font-size: 1.5rem;
                     line-height:2.5rem;
                 }
             }
              
      }
  }
  .imgwrap{
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 0 5rem;
     @media (max-width:$md) {
      padding: 0 1.5rem;
     }
     @media (max-width:$sm) {
          padding: 0 3rem;
          margin-top: 4rem;
          display:none !important
      }
  }
}
// End Slider Section



// Expert team

.expertteam {
  padding: 11.125rem 0 13rem;
  position: relative;

  @media (max-width:$sm) {
      padding: 6rem 0 8rem;
  }

  &:before {
      content: '';
      width: 33rem;
  height: 76rem;
      display: block;
      position: absolute;
      right: 0;
      top: -44rem;
      background: url(../../assets/images/research/slider-bg.png) no-repeat bottom right;
      background-size: contain;
      z-index: -1;

      @media (max-width:$sm) {
          display: none;
      }
  }

  &:after {
      content: '';
      display: block;
      position: absolute;
      height: 51.125rem;
      width: 22.125rem;
      bottom: -23%;
      left: -0.6875rem;
      background: url(../../assets/images/research/expertbottombg.png) no-repeat;
      z-index: -1;
      background-size: contain;
      background-position: left;

      @media (max-width:$sm) {
          display: none;
      }
  }

  .heading {
      padding-bottom: 4.5rem;
      font-style: normal;
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 5.25rem;
  text-align: center;
  font-family: "PoppinsSemiBold", sans-serif;
      @media (max-width:$sm) {
          padding-bottom: 2.5rem;
          font-size: 2.5rem;
      }
  }

  .expert-list-slider {
      position: relative;

      .expert-item {
          width: 90% !important;
          position: relative;
          overflow: hidden;
          border-radius: 20px;
          background: $primary;
          padding: 0;
          transition: 0.3s all ease-in;

          @media (max-width:$sm) {
              width: 95% !important;
              display: block !important;
              margin: 0 auto;
          }

          .namedesg {
              position: absolute;
              bottom: 0;
              transform: translateY(8.5rem);
              left: 0;
              right: 0;
              width: 100%;
              color: $whiteColor;
              text-align: center;
              background: #221F2080;
              border-radius: 0 0 20px 20px;
              transition: 0.3s all ease-in;

              h5 {
                  margin: 0;
                  padding: 0.75rem;
                  font-size: 1.625rem;
                  line-height: 2.4375rem;
                  text-align: center;
                  font-family: $font-family-poppins-medium;

                  @media (min-width:769px) and (max-width:1024px) {
                      font-size: 1.3rem;
                  }
              }

              .designation {
                  font-family: $font-family-poppins-regular;
                  color: $whiteColor;
                  font-size: 1.125rem;
                  line-height: 1.5rem;
                  text-align: center;
                  opacity: 1;
                  display: block;
              }
          }


          &:hover {
              background: #FFBA69;

              .namedesg {
                  transform: translateY(0);
              }
          }

          .img-itm {
              display: block;
              margin: 0 auto;

              img {
                  margin: 0 auto;
                  width: 100%;
              }
          }
      }

      .slick-arrow {
          z-index: 1;

          @media (max-width:$sm) {
              top: 65%;
          }
      }

      .slick-next:before {
          content: url('../../assets/images/about-us/next.png');
          position: absolute;
          height: 5.5rem;
          width: 5.5rem;
          background-color: $primary;
          border-radius: 50%;
          top: -70%;
          right: 28px;
          display: flex;
          justify-content: center;
          align-items: center;
          opacity: 1;

          @media (max-width:$sm) {
              height: 3.8rem;
              width: 3.8rem;
              top: -3.125rem;
              right: 2rem;
              content: url('../../assets/images/about-us/next-resp.png');
          }
      }

      .slick-prev:before {
          content: url('../../assets/images/about-us/prev.png');
          position: absolute;
          height: 5.5rem;
          width: 5.5rem;
          background-color: $primary;
          border-radius: 50%;
          top: -70%;
          left: -7px;
          display: flex;
          justify-content: center;
          align-items: center;
          opacity: 1;

          @media (max-width:$sm) {
              height: 3.8rem;
              width: 3.8rem;
              top: -3.125rem;
              left: 2rem;
              content: url('../../assets/images/about-us/prev-resp.png');
          }

          &.disabled {
              cursor: not-allowed;
              background-color: #B6AAA7 !important;
          }
      }

      .slick-disabled {
          &:before {
              cursor: not-allowed;
              opacity: 0% !important;
          }
      }

      .slick-dots {
          bottom: -80px;

          li {
              width: 12px;
              height: 12px;
              margin: 0 0.5rem;

              button {
                  &:before {
                      height: 10px;
                      width: 10px;
                      background: #E6E7E8;
                      content: '';
                      border-radius: 50%;
                      opacity: 1;
                  }
              }
          }

          .slick-active {
              button {
                  &:before {
                      background-color: #797A7D;
                  }
              }
          }
      }
  }
}

// End Expert team



// Our Performance



  



.our-performance{
  padding: 4rem 0 10rem 0;
  .heading{
      padding-bottom: 8rem;
      font-style: normal;
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 5.25rem;
  text-align: center;
  font-family: "PoppinsSemiBold", sans-serif;
  @media  (max-width:$sm) {
      padding-bottom: 3rem;
      font-size: 2.4rem;
      line-height: 3.5rem;
  }
  }
  .performance-tabs {
      @media  (max-width:$sm) {
         display: flex;
         justify-content: center;
         margin-top: 4rem;
         flex-wrap: wrap;
      }
      .tabs{
          font-family: $font-family-poppins-regular;
           color: #221f20bf;
           font-weight: 500;
          background-color: transparent;
          border: none;
          position: relative;
          margin: 0 10rem 0 0;
          text-align: left;
          font-size: 1.75rem;
          @media  (max-width:$md) {
              margin: 0;
              width: 33.33%;
          }
          @media  (max-width:$sm) {
            font-size: 1.4rem;
            padding: 0;
          }
          
          &.active-tabs{
              font-family: $font-family-poppins-semibold;
              color: $primary;
              &::before{
                content: '';
                background: $bgcolordark;
                border-radius: 2px;
                bottom: -0.5rem;
                display: block;
                height: 0.2rem;
                left: 0;
                margin: 0 auto;
                position: absolute;
                right: 0;
                width: 4rem;
                @media  (max-width:$md) {
                  right: inherit !important;
                }
              }
            }
            &:hover{
              &::before{
                content: '';
                background: $bgcolordark;
                border-radius: 2px;
                bottom: -0.5rem;
                display: block;
                height: 0.2rem;
                left: 0;
                margin: 0 auto;
                position: absolute;
                right: 0;
                width: 4rem;
              }
            }
      }
  }
  .content{
      display: none;
      &.active-content{
        display: block;
      }
    
  }
  .card {
    display: block;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    border-radius: 5px;
    background-color: transparent;
    background: inherit;
  border: 0;
    .percent {
      position: relative;
      left: -30px;
      @media  (max-width:$sm) {
        left: 0;
      }
    }
    .sb-bar {
      position: relative;
      width: 320px;
      height: 320px;
      transform: rotate(90deg);
      circle {
        width: 100%;
        height: 100%;
        fill: none;
        stroke: #F1F1F1;
        stroke-width: 10;
        stroke-linecap: round;
        &:last-of-type {
          stroke-dasharray: 980px;
          stroke-dashoffset: calc(975px - (900px * var(--percent)) / 100  );
          stroke: #3498db;
        }
      }
      // @media (max-width: 767px){
      //   width: 300px;
      //   height: 300px;
      // }
    }
    // .c-quant-bar {
    //   position: absolute;
    //   width: 280px;
    //   height: 280px;
    //   transform: rotate(90deg);
    //   left: 35px;
    //   top: 24px;
    //   circle {
    //     width: 100%;
    //     height: 100%;
    //     fill: none;
    //     stroke: $whiteColor;
    //     stroke-width: 10;
    //     stroke-linecap: round;
    //     &:last-of-type {
    //       stroke-dasharray: 750px;
    //       stroke-dashoffset: calc(750px - (750px * var(--percent)) / 100  );
    //       stroke: #3498db;
    //     }
    //   }
    //   @media (max-width: 767px){
    //     width: 260px;
    //     height: 260px;
    //     left: 15px;
    //   }
    // }
    .jiffy-signal-bar {
      position: relative;
      width: 320px;
      height: 320px;
      transform: rotate(90deg);
      circle {
        width: 100%;
        height: 100%;
        fill: none;
        stroke: #F1F1F1;
        stroke-width: 10;
        stroke-linecap: round;
        &:last-of-type {
          stroke-dasharray: 980px;
          stroke-dashoffset: calc(975px - (900px * var(--percent)) / 100  );
          stroke: #3498db;
        }
      }
      // @media (max-width: 767px){
      //   width: 300px;
      //   height: 300px;
      // }
    }
    .number {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      h3 {
        font-weight: 200;
        font-size: 3.5rem;
        span {
          font-size: 2rem;
        }
      }
    }
    .title {
      h2 {
        margin: 25px 0 0;
      }
    }
    &:nth-child(1) {
      .sb-bar {
        circle {
          &:last-of-type {
            stroke: #0066B3;
            stroke-width: 20px;
          }
        }
      }
      .c-quant-bar {
        circle {
          &:last-of-type {
            stroke: #4EAC3F;
          }
        }
      }
      .jiffy-signal-bar {
        circle {
          &:last-of-type {
            stroke: $yellowColor;
            stroke-width: 20px;
          }
        }
      }
    }
    &:nth-child(2) {
      svg {
        circle {
          &:last-of-type {
            stroke: #2ecc71;
          }
        }
      }
    }
    @media  (max-width:$sm) {
      display: flex;
    }
  }
  .heading-content-tabs{
      margin-top: 5rem;
      .wrapper{
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          flex-wrap: wrap;
          @media  (min-width:768px) and (max-width:1024px) {
             padding-left: 20px;
          }
          .wrap{
              padding-right: 3rem;
              .colorwrap{
                  width: 4.375rem;
                  height: 4.375rem;
                  &.blue{
                      background-color: #0066B3;
                  }
                  &.green{
                      background-color: #4EAC3F;
                  }
                  &.yellow{
                      background-color: $yellowColor;
                  }

                  }
                  .percentage{
                      color: $secondary;
                      font-size: 3rem;
                      line-height: 4rem;
                      font-family: $font-family-poppins-semibold;
                      width: 100%;
                      // padding-top: 3rem;
                      @media  (max-width:$sm) {
                          font-size:2rem;
                          line-height: 2.5rem;
                      }
                  }
                  .wrap-des{
                    align-items: flex-end;
                    margin-top: 1.5rem;
                    min-height: 98px;
                    display: flex;
                    flex-wrap: wrap;
                    @media  (max-width:$sm) {
                      min-height: 65px;
                      margin-top: 1rem;
                    }
                  }
                  .subtext{
                      font-size: 1.75rem;
                      line-height: 2.625rem;
                      color: $secondary;
                      margin: 0rem;
                      @media  (max-width:$md) {
                        font-size: 1.2rem;
                      }
                      @media  (max-width:$sm) {
                          font-size: 1rem;
                          line-height: 1.5rem;
                      }
                  }
        
          }
       
      }
      @media  (max-width:$sm) {
        margin-top: 3rem;
      }
     
  }
}


.cursor-pointer{
  cursor: pointer;
}


.target-crossed{
  // right: 10% !important;
  position: fixed;
}
.loaderB {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #221F20;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.disabled-btn{
  opacity: 0.5;
}

.border-0px{
  border: 0px;
}



.performance-new-sec{
  .new-sec-sub{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .left-tb{
      padding-right: 6rem;
      width: 25%;
      .reset{
        .pr-tab{
          display: inline-block;
          padding:1rem  2rem;
          background: $whiteColor;
          border: 2px solid $primary;
          border-radius: 16px;
          margin: 1.5rem 0;
          text-transform: capitalize;
          min-width: 160px;
          @media  (max-width:$sm-x) {
            margin: 0.5rem;
            min-width: inherit;
            white-space: nowrap;
          }
          &.active{
            border: 2px solid $yellowColor;
          }
        }
        @media  (max-width:$sm-x) {
          display: flex;
          overflow: auto;
          padding: 0;
        }
      }
      @media  (max-width:$md) {
        width: 35%;
      }
      @media  (max-width:$sm-x) {
        width: 100%;
        padding-right: 0;
        margin-bottom: 3rem;
      }
    }
    .right-tb{
      width: 75%;
      padding: 2rem 0;
      padding-left: 3rem;
      border-left: 2px solid $darkblack;
      .progress-bar-performance{
        .card{
          display: flex;
          flex-wrap: wrap;
          flex-direction: inherit;
          justify-content: space-around;
          .percent{
            left: 3px;
            .jiffy-signal-bar{
              position: relative;
              left: inherit;
              top: inherit;
            }
            .cont-perc{
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              h3{
                font-size: 3rem;
                font-family: $font-family-poppins-semibold;
                color: $blueColortext;
                margin-bottom: 0;
                &.sgnl-txt{
                  color: $yellowColor;
                }
              }
              h4{
                color: #121212;
                opacity: 0.5;
                font-family: $font-family-poppins-semibold;
                font-size: 1.6rem;
              }
            }
            @media  (max-width:$sm-x) {
              margin-bottom: 2rem;
            }
          }
        }
      }
      @media  (max-width:$md) {
        width: 65%;
      }
      @media  (max-width:$sm-x) {
        width: 100%;
        padding-left: 0;
        border: 0;
      }
    }
  }
}


.btn-ptr{
  cursor: pointer;
}

.grn-txt{
  color: $greentext !important;
}
.red-txt{
  color: $redtext !important;
}
.disclaimernew{
  background-color:#DFF1FF ;
  color: $blueColortext;
  @extend .cgmainwrap;
    border: none;
   
  }
  .filedownloadfaq{
    padding-bottom: 5rem;
  }
  





.research-banner-slider{
  .slider-sub{
    position: relative;
    .banner-img{
      width: 100%;
      height: 700px;
      object-fit: cover;
      height: calc(100vh - 119px);
      @media (max-width: $md) {
        height: 500px;
        object-fit: cover;
      }
      @media (max-width: $sm) {
        height: 450px;
        object-fit: cover;
      }
    }
    .slider-caption{
      position: absolute;
      width:44%;
      left: 0;
      top: 0;
      height: 100%;
      display: block;
      padding: 0;
      background: inherit;
      background: #00000080;
      .slider-caption-sub{
      
        position: relative;
        z-index: 99;
        padding: 6rem;
        .big-ttl{
          color: $whiteColor;
          font-size: 5.125rem;
          line-height: 1.2;
          span{
            color: #A3FFDB;
            display: block;
          }
          @media (max-width: 1300px) {
            font-size: 4.125rem;
          }
          @media (max-width: $md) {
            font-size: 3.125rem;
          }
        }
        p{
          color: $whiteColor;
          margin: 2rem 0 3rem 0;
          font-size: 1.75rem;
          line-height: 2.625rem;
          @media (max-width: $md) {
            font-size: 1.5rem;
            line-height: 1.5;
          }
        }
        a{
          display: inline-block;
        }
        .btn-bg{
          border-radius: 8px !important;
          position: relative;
          padding: 1rem 2rem !important;
          padding-right: 4rem !important;
          a{
            text-decoration: none;
            color: $primary;
          }
          &::before{
            content: '';
            background: url(../../assets/images/research/arrow-left-new.svg) no-repeat;
            background-size: contain;
            width: 2rem;
            height: 2rem;
            right: 1rem;
            top: 50%;
            display: block;
            position: absolute;
            transform: translate(0, -50%);
          }
          @media (max-width: $md) {
            font-size: 1.1rem !important;
            padding-right: 3rem !important;
          }
        }

        
        @media (max-width: $md) {
          padding:3rem 2rem;
        }
        
      }
      // &::before{
      //   content: '';
      //   width: 40%;
      //   height: 100%;
      //   display: block;
      //   position: absolute;
      //   left: 0;
      //   top: 0;
       
      // }
      @media (max-width: $md) {
        width: 52%;
      }
      @media (max-width: $sm) {
        width: auto;
        top: 3%;
        bottom: 3%;
        height: auto;
        left: 3%;
        right: 3%;
        text-align: center;
        display: flex;
        align-items: center;
      }
    }
    // &::before{
    //   content: '';
    //   width: 100%;
    //   height: 100%;
    //   display: block;
    //   position: absolute;
    //   left: 0;
    //   top: 0;
    //   background: #00000080;
    // }
  }
  .slick-dots{
    bottom: 4rem;
    left: 6rem;
    display: flex !important;
    align-items: center;
    >li{
      background: #ffffff4d;
      width: 30px;
      height: 30px;
      margin: 0 5px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: scale(1);
      button{
        font-size: 1rem;
        color: #ffffff;
        width: 100%;
        height: 100%;
        font-family: $font-family-poppins-semibold;
        &::before{
          display: none;
        }
      }
      &.slick-active{
        transform: scale(1.4);
        
      }
    }
  }
}