@import '../../assets/css/common.scss';
@import '../../assets/css/customvariable.scss';

body{
    background-color:  $whiteColor;
}

.mainwrapper{
    overflow: hidden;
    animation: hideMe 4s forwards;
    width: 100%;
}


.inv-fin-banner{
    &.individual-loans-banner{
        background: $darkyellow;
       
        .fin-banner-caption{
            &::before, &::after{
                display: none;
            }
        }
       .rightsec{
       
        @media (max-width: $sm) {
            margin-top: 3rem;
        }
       }
        @media (max-width: $sm) {
            text-align: center;
            padding: 5rem 0 5rem 0;
        }
        .home-banner-ved{
            position: relative;
            overflow: hidden;
            &::before{
                content: "";
                width: 100%;
                height: 100%;
                display: block;
                position: absolute;
                background: transparent;
            }
            .banner-ved{
                position: relative;
                right: -1px;
            }
        }
    }
}

.Loan-tabs{
    width: 100%;
    .loan-bloc-tabs{
        display: flex;
        flex-wrap: wrap;
        width:75%;
        .loanbtn{
            width: 33.33%;
            text-align: center;
            padding: 2.375rem;
            color: $darkblack;
            font-size: 2rem;
            line-height: 3.75rem;
            font-weight: 400;
            font-family: $font-family-poppins-regular;
            border: 0;
            border-right: 1px solid $lightgray;
            outline: none;
            box-shadow: inherit;
            background: $whiteColor;
            position: relative;
            cursor: pointer;
            @media (min-width:768px)and (max-width:$md) {
                font-size: 1.75rem;
              }
            @media (max-width:$sm) {
                font-size: 1.45rem;
                padding: 0.8rem 0.5rem;
                    line-height: 2.5rem;
            }
            @media (max-width:$sm) {
                font-size: 1.45rem;
                padding: 0.8rem 0.5rem;
                    line-height: 2.5rem;
            }
            &:last-child{
                border-right: none;
            }
            &.active{
                &::before{
                    content: '';
                    width: 100%;
                    height: 10px;
                    display: block;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    background: $yellowColor;
                }
            }
        }
    }
   .menu-sub-tabs{
    width: 25%;
    .nbfc-info-menu-main{
        margin: 0 auto;
    }
   }
    
}

.flexitabcontent{
    padding: 14rem 0;
    @media (min-width:768px)and (max-width:$md) {
        padding: 10rem 0 ;
      }
    .flexititle{
        position: relative;
        &:before{
            display: block;
            position: absolute;
            content: '';
            top: -2.5rem;
            right: 10.3125rem;
            width: 7.5rem;
            height: 6.5625rem;
            background: url(../../assets/images/nbfc-indivial-loan/gridone.webp) no-repeat top right;
            background-size: contain;
            @media (max-width:$sm) {
              display: none;
            }
        }
        &:after{
            display: block;
            position: absolute;
            content: '';
            top: 10rem;
            left: -4.6875rem;
            width: 22rem;
            height: 16rem;
            background: url(../../assets/images/nbfc-indivial-loan/gridone.webp) no-repeat top right;
            background-size: contain;
            @media (max-width:$sm) {
                display: none;
              }
        }
    }
    .para{
        position: relative;
        font-size: 1.75rem;
        line-height: 1.5;
        color: #221F20;
        a{
            @media (max-width:$sm) {
                display: block;
              }
            text-decoration: none;
            .aply-btn{
                font-family: "PoppinsSemiBold", sans-serif;
                color: #000000;
            }
        }
       
     
       
    }
   
    @media (max-width:$sm) {
        padding: 5rem 0;
    }
    .pb24{
        padding-bottom: 24px;
    }
}






.Doc-rqrd-sec{
    padding: 6rem 0;
    @media screen and (max-width:$sm) {
        padding: 6rem 0;     }
    .Doc-rqrd-heading{
        margin-bottom: 8rem;
        text-align: center;
        @media screen and (max-width:$sm) {
            margin-bottom: 4rem;
         }
    }
    .Doc-rq-card{
        @media screen and (max-width:$sm) {
            padding:2rem;
            border-radius: 20px;
            box-shadow: 0px 0px 8px #f0f0f0;
            margin-bottom: 3rem;
         }
        .img-height{
            min-height: 24rem;
            display: flex;
            align-items: center;
            justify-content: center;
            // margin-bottom: 3rem;
            @media screen and (max-width:$sm) {
                min-height: 15rem;  
             }
        }
        .title-doc{
            font-size: 2.5rem;
            color: $primary;
            font-family: $font-family-poppins-semibold;
            // margin-top: 3rem;
            margin-bottom: 3rem;
         }
        .list-item{
            padding: 0 4.5rem;
            @media (max-width: $sm) {
                padding: 0rem 2rem 0rem 2rem;
             }
            li{
                font-size: 2rem;
                color: $graylight;
                 @media screen and (max-width:$md) {
                    font-size: 1.8rem;
                 }
            }
        }
    }
}


.whyflexi{
    padding: 9rem 0;
}



    .card-wrap-nbfc{
        padding-bottom: 3rem;
        @media (max-width: $sm) {
            padding-bottom: 6rem;
        }
        .slick-list{
            padding: 2rem 0;
        }
    }
    
    .indiv-tabs-cont{
        .content-tabs{
            padding: 10rem 0 0 0;
            min-height: 50vh;
            .content{
                display: none;
                &.active-content{
                    display: block;
                }
            }
        }
    }
    