@import '../../assets/css/common.scss';
@import '../../assets/css/customvariable.scss';



.avail{
    padding: 6rem 6rem 0 6rem;
    @media (max-width: $sm) {
       padding: 6rem 2rem 0 2rem;
    }
}



.whyflexi{
    padding: 9rem 0;
}


.card-wrap-nbfc{
    padding-bottom: 3rem;
    @media (max-width: $sm) {
        padding-bottom: 6rem;
    }
    
    .slick-slider{
        .slick-track{
            display: flex;
            padding: 10px 0;
            .slick-slide{
                float: none;
                height: inherit !important;
                > div{
                    height: 100%;
                    .carditem-nbfc{
                        min-height: inherit;
                        height: 100%;
                        padding: 2.5rem;
                    }
                }
            }
            @media (max-width:$md) {
                margin-bottom: 2rem;
            }
        }
    }
}
.Doc-rqrd-sec{
    
    .vehicle-right{
        float: right;
        .vehicle-imgheight{
            min-height: 27rem;
        }
        .vehicle-listitem{
            padding: 0 2.5rem;
        }
        @media (max-width: $md) {
           float: none;
        }

    }
    .vehicle-left{
        float: left;
        .vehicle-listitem{
            padding: 0 2.5rem;
        }
        .vehicle-imgheight{
            min-height: 27rem;
        }
        @media (max-width: $md) {
            float: none;
         }
    }
    
}

.Doc-rq-card{
    &.vehcard{
        padding:5rem 3rem;
        .individiualvehloan{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            .img-height{
                width: 50%;
            }
            .vehicle-right{
                width: 50%;
                padding-left: 3rem;
            }
        }
    }
}




