@import '../../assets/css/common.scss';
@import '../../assets/css/customvariable.scss';

body{
    background-color:  $whiteColor;
}

.mainwrapper{
    overflow: hidden;
    animation: hideMe 4s forwards;
    width: 100%;
}

 
.inv-fin-banner{
    &.individual-loans-banner{
        background: $darkyellow;
       
        .fin-banner-caption{
            &::before, &::after{
                display: none;
            }
        }
       .rightsec{
       
        @media (max-width: $sm) {
            margin-top: 3rem;
        }
       }
        @media (max-width: $sm) {
            text-align: center;
            padding: 5rem 0 5rem 0;
        }
        .home-banner-ved{
            position: relative;
            overflow: hidden;
            &::before{
                content: "";
                width: 100%;
                height: 100%;
                display: block;
                position: absolute;
                background: transparent;
            }
            .banner-ved{
                position: relative;
                right: -1px;
            }
        }
    }
}

.Loan-tabs{
    width: 100%;
    .tabwrapper{
        @media (max-width: $sm) {
          flex-direction: column-reverse;
        }
    }
    .loan-bloc-tabs{
        display: flex;
        flex-wrap: wrap;
        width:75%;
        @media (max-width: $sm) {
            width:100%;
          }
        .loanbtn{
            width: 33.33%;
            text-align: center;
            padding: 2.375rem;
            color: $darkblack;
            font-size: 2rem;
            line-height: 3.75rem;
            font-weight: 400;
            font-family: $font-family-poppins-regular;
            border: 0;
            border-right: 1px solid $lightgray;
            outline: none;
            box-shadow: inherit;
            background: $whiteColor;
            position: relative;
            cursor: pointer;
            @media (min-width:768px)and (max-width:$md) {
                font-size: 1.75rem;
                padding: 1.5rem;
              }
            @media (max-width:$sm) {
                font-size: 1.25rem;
                padding: 0.8rem 0.5rem;
                    line-height: 2.5rem;
            }
          
            &:last-child{
                border-right: none;
            }
            &.active{
                &::before{
                    content: '';
                    width: 100%;
                    height: 8px;
                    display: block;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    background: $yellowColor;
                    @media (max-width:$sm) {
                        height: 6px;
                    }
                }
            }
        }
    }
   .menu-sub-tabs{
    width: 25%;
    @media (max-width: $sm) {
        width:100%;
        display: flex;
        justify-content: flex-end;
        padding: 1rem;
      }
    .nbfc-info-menu-main{
        margin: 0 auto;
        @media (max-width: $sm) {
         
           margin: 0;
          }
    }
   }
    
}

.flexitabcontent{
    padding:6rem 0 11.6rem 0;
    @media (min-width:768px)and (max-width:$md) {
        padding:4rem 0 10rem 0  ;
      }
    .flexititle{
        position: relative;
        // &:before{
        //     display: block;
        //     position: absolute;
        //     content: '';
        //     top: -2.5rem;
        //     right: 10.3125rem;
        //     width: 7.5rem;
        //     height: 6.5625rem;
        //     background: url(../../assets/images/nbfc-indivial-loan/gridone.webp) no-repeat top right;
        //     background-size: contain;
        //     @media (max-width:$sm) {
        //       display: none;
        //     }
        // }
        // &:after{
        //     display: block;
        //     position: absolute;
        //     content: '';
        //     top: 10rem;
        //     left: -4.6875rem;
        //     width: 22rem;
        //     height: 16rem;
        //     background: url(../../assets/images/nbfc-indivial-loan/gridone.webp) no-repeat top right;
        //     background-size: contain;
        //     @media (max-width:$sm) {
        //         display: none;
        //       }
        // }
    }
    .para{
        position: relative;
        font-size: 1.75rem;
        line-height: 1.5;
        color: $primary;
        a{
            @media (max-width:$sm) {
                display: block;
              }
            text-decoration: none;
            .aply-btn{
                font-family: "PoppinsSemiBold", sans-serif;
                color: $darkblack;
            }
        }
       
     
       
    }
    .pb24{
        padding-bottom: 24px;
    }
    @media (max-width:$sm) {
        padding: 0 0 4rem 0;
    }
    .formwrap{
        position: relative;
        display: flex;
        justify-content: end;
        &:after{
                display: block;
                 position: absolute;
                content: '';
                top: 19rem;
                z-index: -1;
                left: -2.6875rem;
                width: 22rem;
                 height: 16rem;
                 background: url(../../assets/images/nbfc-indivial-loan/gridone.webp) no-repeat top right;
                background-size: contain;
                 @media (max-width:$sm) {
                    display: none;
                   }
             }
    }
    .vehicleloan{
        &:after{
            display: block;
             position: absolute;
            content: '';
            top: 26rem;
            z-index: -1;
            left: 13.3125rem;
            width: 12rem;
            height: 16rem;
             background: url(../../assets/images/nbfc-indivial-loan/gridone.webp) no-repeat top right;
            background-size: contain;
             @media (max-width:$sm) {
                display: none;
               }
         }
    }
    .solarformwrap{
        &:after{
            display: block;
             position: absolute;
            content: '';
            top: 19rem;
            z-index: -1;
            left: 1.3125rem;
            width: 16rem;
            height: 14rem;
             background: url(../../assets/images/nbfc-indivial-loan/gridone.webp) no-repeat top right;
            background-size: contain;
             @media (max-width:$sm) {
                display: none;
               }
         }
         &:before{
            display: block;
             position: absolute;
            content: '';
            top: -3rem;
            z-index: -1;
            left: 5rem;
            width: 10rem;
            height: 14rem;
             background: url(../../assets/images/nbfc-indivial-loan/gridone.webp) no-repeat top right;
            background-size: contain;
             @media (max-width:$sm) {
                display: none;
               }
         }
    }
}






.Doc-rqrd-sec{
    padding: 6rem 0;
    @media screen and (max-width:$sm) {
        padding: 6rem 0;     }
    .Doc-rqrd-heading{
        margin-bottom: 8rem;
        text-align: center;
        @media screen and (max-width:$sm) {
            margin-bottom: 4rem;
         }
    }
    .cap-right{
        float: right;
        
        @media screen and (max-width:$md) {
            float: none;
         }
         
    }
    .cap-left{
        float: left;
        @media screen and (max-width:$md) {
            float: none;
         }
    }
    .Doc-rq-card{
        &.bringown{
            background-color: none;
            box-shadow: none;
        }
        width: 100%;
        background: $whiteColor;
        box-shadow: 10px 10px 25px $nbfcboxshadow;
        border-radius: 20px;
        padding: 2rem 3rem;
        height: 100%;
        margin: 0 1rem;
        @media screen and (max-width:$sm) {
            padding:2rem;
            border-radius: 20px;
            box-shadow: 0px 0px 8px $nbfcboxshadow;
            margin: 0 auto 3rem;
            height: auto;
         }
        .img-height{
            min-height: 24rem;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            // margin-bottom: 3rem;
            @media screen and (max-width:$sm) {
                min-height: inherit;  
                margin-bottom: 2rem;
             }
        }
        .title-doc{
            font-size: 2.5rem;
            color: $primary;
            font-family: $font-family-poppins-semibold;
            margin-top: 3.5rem;
            margin-bottom: 3rem;
            text-align: left;
         }
        .list-item{
            padding: 0 3rem;
            @media screen and (max-width:$md) {
               padding: 0 2rem;
            }
            li{
                font-size: 1.9rem;
                line-height: 1.5;
                color: $graylight;
                font-family: $font-family-poppins-medium;
                 @media screen and (max-width:$md) {
                    font-size: 1.5rem;
                    line-height: 1.5;
                 }
            }
        }
    }
}


.whyflexi{
    padding: 9rem 0;
}



    .card-wrap-nbfc{
        padding-bottom: 3rem;
        @media (max-width: $sm) {
            padding-bottom: 6rem;
        }
        
    }
    
    .indiv-tabs-cont{
        .content-tabs{
            padding: 14rem 0 0 0;
            min-height: 50vh;
            .content{
                display: none;
                &.active-content{
                    display: block;
                }
            }
            @media (max-width: $sm) {
                padding: 6rem 0 0 0;
            }
        }
    }
  