@import '../../assets/css/customvariable.scss';
@import '../../assets/css/common.scss';

/*Font family for Satoshi*/
$font-family-satoshi-light: 'Satoshi-Light', sans-serif;
$font-family-satoshi-regular: 'Satoshi-Regular', sans-serif;
$font-family-satoshi-medium: 'Satoshi-Medium', sans-serif;
$font-family-satoshi-bold: 'Satoshi-Bold', sans-serif;
// Font family for switzer
$font-family-switzer-light: 'Switzer-Light', sans-serif;
$font-family-switzer-regular: 'Switzer-Regular', sans-serif;
$font-family-switzer-medium: 'Switzer-Medium', sans-serif;
$font-family-switzer-bold: 'Switzer-Bold', sans-serif;
$font-family-switzer-semibold: 'Switzer-Semibold', sans-serif;
$font-family-switzer-black: 'Switzer-Black', sans-serif;

//fonts for satoshi
  @font-face {
    font-family: 'Satoshi-Light';
    src: url('/assets/fonts/Satoshi-Light.woff2') format('woff2'),
         url('/assets/fonts/Satoshi-Light.woff') format('woff'),
         url('/assets/fonts/Satoshi-Light.ttf') format('truetype');
         font-weight: 300;
         font-display: swap;
         font-style: normal;
  }
  
  @font-face {
    font-family: 'Satoshi-Regular';
    src: url('/assets/fonts/Satoshi-Regular.woff2') format('woff2'),
         url('/assets/fonts/Satoshi-Regular.woff') format('woff'),
         url('/assets/fonts/Satoshi-Regular.ttf') format('truetype');
         font-weight: 400;
         font-display: swap;
         font-style: normal;
  }
  
  @font-face {
    font-family: 'Satoshi-Medium';
    src: url('/assets/fonts/Satoshi-Medium.woff2') format('woff2'),
         url('/assets/fonts/Satoshi-Medium.woff') format('woff'),
         url('/assets/fonts/Satoshi-Medium.ttf') format('truetype');
         font-weight: 500;
         font-display: swap;
         font-style: normal;
  }
  
  @font-face {
    font-family: 'Satoshi-Bold';
    src: url('/assets/fonts/Satoshi-Bold.woff2') format('woff2'),
         url('/assets/fonts/Satoshi-Bold.woff') format('woff'),
         url('/assets/fonts/Satoshi-Bold.ttf') format('truetype');
         font-weight: 700;
         font-display: swap;
         font-style: normal;
  }

  @font-face {
    font-family: 'Satoshi-Black';
    src: url('/assets/fonts/Satoshi-Black.woff2') format('woff2'),
         url('/assets/fonts/Satoshi-Black.woff') format('woff'),
         url('/assets/fonts/Satoshi-Black.ttf') format('truetype');
         font-weight: 900;
         font-display: swap;
         font-style: normal;
  }
  

//fonts for switzer
@font-face {
    font-family: 'Switzer-Light';
    src: url('/assets/fonts/Switzer-Light.woff2') format('woff2'),
         url('/assets/fonts/Switzer-Light.woff') format('woff'),
         url('/assets/fonts/Switzer-Light.ttf') format('truetype');
         font-weight: 300;
         font-display: swap;
         font-style: normal;
  }
  
  @font-face {
    font-family: 'Switzer-Regular';
    src: url('/assets/fonts/Switzer-Regular.woff2') format('woff2'),
         url('/assets/fonts/Switzer-Regular.woff') format('woff'),
         url('/assets/fonts/Switzer-Regular.ttf') format('truetype');
         font-weight: 400;
         font-display: swap;
         font-style: normal;
  }
  
  @font-face {
    font-family: 'Switzer-Medium';
    src: url('/assets/fonts/Switzer-Medium.woff2') format('woff2'),
         url('/assets/fonts/Switzer-Medium.woff') format('woff'),
         url('/assets/fonts/Switzer-Medium.ttf') format('truetype');
         font-weight: 500;
         font-display: swap;
         font-style: normal;
  }
  
  @font-face {
    font-family: 'Switzer-Semibold';
    src: url('/assets/fonts/Switzer-Semibold.woff2') format('woff2'),
         url('/assets/fonts/Switzer-Semibold.woff') format('woff'),
         url('/assets/fonts/Switzer-Semibold.ttf') format('truetype');
         font-weight: 600;
         font-display: swap;
         font-style: normal;
  }
  
  @font-face {
    font-family: 'Switzer-Bold';
    src: url('/assets/fonts/Switzer-Bold.woff2') format('woff2'),
         url('/assets/fonts/Switzer-Bold.woff') format('woff'),
         url('/assets/fonts/Switzer-Bold.ttf') format('truetype');
         font-weight: 700;
         font-display: swap;
         font-style: normal;
  }
  
  @font-face {
    font-family: 'Switzer-Extrabold';
    src: url('/assets/fonts/Switzer-Extrabold.woff2') format('woff2'),
         url('/assets/fonts/Switzer-Extrabold.woff') format('woff'),
         url('/assets/fonts/Switzer-Extrabold.ttf') format('truetype');
         font-weight: 800;
         font-display: swap;
         font-style: normal;
  }
  
  @font-face {
    font-family: 'Switzer-Black';
    src: url('/assets/fonts/Switzer-Black.woff2') format('woff2'),
         url('/assets/fonts/Switzer-Black.woff') format('woff'),
         url('/assets/fonts/Switzer-Black.ttf') format('truetype');
         font-weight: 900;
         font-display: swap;
         font-style: normal;
  }
  

.App-Body{
    margin-top: inherit;
}
//header section
.Header{
    .main-header{
            background: transparent;
            box-shadow: inherit;
            min-height: 100px;
            &.header-scroll{
                background:#6eadcd;
            }
            @media (max-width:$md) {
                min-height: inherit;
            }
            .navbar{
                padding: 0;
                .nav-header{
                    >li{
                        .nav-link{
                            color: $whiteColor;
                            font-family: $font-family-satoshi-regular;
                            font-weight: 400;
                            font-size: 1.143rem;
                            @media (max-width:$md) {
                                color: inherit;
                                font-size: 1.4rem;
                            }
                        }
                        &.get-btn2{
                            a{
                             @media (max-width:$md) {
                                 color: $whiteColor;
                             }
                            }
                         }
                        &.get-btn-outline{
                            border: 1px solid $whiteColor;
                            border-radius: 12px;
                            color: $whiteColor;
                            text-align: center;
                            @media (max-width:$md) {
                                text-align: left;
                                border-bottom: 1px solid #ccc;
                                border: 0;
                                color: $primary;
                            }
                            a{
                                padding: 1rem 2rem;
                                @media (max-width:$md) {
                                  padding: 0;
                                }
                                &:hover{
                                    &::before{
                                        display: none !important;
                                    }
                                }
                            }
                        }
                    }
                    .service-section{
       
                        //opacity: 0;
                        #navbarScrollingDropdown{
                            &::before{
                                opacity: 0; 
                            }
                            color: transparent !important;
                            &::after{
                                color: $whiteColor;
                                @media (max-width:$md) {
                                    color: $primary;
                                }
                            }
                        } 
                    }
                }
            }
    }
}
//banner section
.banner-sec{
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../../assets/images/under-25/banner.png) no-repeat;
    background-size: cover;
    background-position: bottom;
    padding: 10rem 0 14rem;
    @media (max-width:$sm) {
        padding: 6rem 0 14rem;
    }
    .banner-form{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        .left-sect{
            width: 60%;
            @media (max-width:$md) {
                width: 40%;
            }
            @media (max-width:$sm) {
                width: 100%;
            }
            .banner-caption{
                h1{
                    font-size: 6.143rem;
                    font-family: $font-family-satoshi-bold;
                    font-weight: 700;
                    color: $whiteColor;
                    margin-bottom: 2.5rem;
                    @media (max-width:$md) {
                        font-size: 3.143rem;
                        margin-bottom: 1rem;
                    }
                    @media (max-width:$sm) {
                        font-size: 2.857rem;
                    }
                }
                p{
                    font-size: 2.857rem;
                    font-family: $font-family-switzer-medium;
                    font-weight: 500;
                    line-height: 1.5;
                    color: $whiteColor;
                    margin: 0;
                    @media (max-width:$md) {
                        font-size: 1.857rem;
                    }
                    @media (max-width:$sm) {
                        font-size: 1rem;
                    }
                }
            }
        }
        .right-sect{
            width: 40%;
            @media (max-width:$md) {
                width: 57%;
            }
            @media (max-width:$sm) {
                width: 100%;
                position: absolute;
                top: 60%;
                left: 0;
                right: 0;
            }
            .form-card{
                @media (max-width:$sm) {
                    width: 90%;
                }
            }
        }
       
    }
       
}
//pay only order section
.pay-only-order{
    padding: 12rem 0 6rem;
    position: relative;
    overflow: hidden;
    @media (max-width:$sm) {
        padding: 20rem 0 0;
    }
    .pay-order{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        @media (max-width:$sm) {
           row-gap: 7rem;
        }
        .img-sec{
            width: 50%;
            @media (max-width:$sm) {
                width:100%;
            }
            .pay-order-img{
                position: relative;
                img{
                    width: 100%;
                }
                &::before{
                    background: url(../../assets/images/under-25/seven-order.webp) no-repeat;
                    background-size: contain;
                    content: "";
                    display: block;
                    height: 17rem;
                    right: -17rem;
                    position: absolute;
                    top: -9rem;
                    width: 25rem;
                    z-index: 1;
                    @media (max-width:$md) {
                        height: 12rem;
                        top: -6rem;
                        width: 22rem;
                    }
                    @media (max-width:$sm) {
                        height: 8rem;
                        top: 0;
                        width: 16rem;
                        right: -3rem;
                        background: url(../../assets/images/under-25/seven-order-2.png) no-repeat;
                    }
                }
                &::after{
                    background: url(../../assets/images/under-25/market-value.webp) no-repeat;
                    background-size: contain;
                    bottom: -6rem;
                    content: "";
                    display: block;
                    height: 13rem;
                    position: absolute;
                    left: -7rem;
                    width: 25rem;
                    z-index: 1;
                    @media (max-width:$md) {
                        height: 11rem;
                        left: -4rem;
                        width: 22rem;
                    }
                    @media (max-width:$sm) {
                        left: 0;
                        width: 20rem;
                        margin: 0 auto;
                        right: 0;
                    }
                }
               }
        }
        .content-sec{
            width: 40%;
            @media (max-width:$md) {
                width: 45%;
            }
            @media (max-width:$sm) {
                width:100%;
            }
            .caption{
                h3{
                    font-size: 3.857rem;
                    font-family: $font-family-satoshi-bold;
                    @media (max-width:$md) {
                        font-size: 2.857rem;
                    }
                    @media (max-width:$sm) {
                       font-size: 2.286rem;
                    }
                }
                p{
                    font-size: 1.851rem;
                    line-height: 1.5;
                    font-family: $font-family-switzer-regular;
                    padding: 2rem 5rem 0 0;
                    margin: 0;
                    color: $primary;
                    @media (max-width:$md) {
                        padding: 2rem 0 0 0;
                        font-size: 1.5rem;
                    }
                    @media (max-width:$sm) {
                        font-size: 1.429rem;
                     }
                }
            }
        }
        }
    }
//one account financial needs section
.financial-needs-sec{
    padding: 8rem 0;
    @media (max-width:$md) {
        padding: 6rem 0;
    }
    @media (max-width:$sm) {
        padding: 6rem 0;
        margin-bottom: 6rem;
    }
    .heading-sec{
        text-align: center;
        h2{
            font-family: $font-family-satoshi-bold;
            font-size: 5.714rem;
            @media (max-width:$md) {
                font-size: 3.714rem;
            }
            @media (max-width:$sm) {
                font-size: 2.286rem;
            }
        }
        .avtar-sec{
            margin-bottom: 1rem;
        }
    }
    .name-stocks{
        position: relative;
        margin-top: 6rem;
        margin-bottom: 2rem;
        width: 100%;
        border-radius: 32px;
        background: rgba(235, 231, 255, 1);
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 6rem 0 0;
        overflow: hidden;
        @media (max-width:$sm) {
            padding: 2rem 0 0;
        }
        .stocks-banner{
            width: 100%;
        }
        .banner-caption{
            width: 40%;
            padding-left: 4rem;
            @media (max-width:$md) {
               width: 55%;
               padding-left: 2rem;
            }
            @media (max-width:$sm) {
                width: 60%;
             }
            h3{
                margin-bottom: 1.5rem;
                font-size: 2.857rem;
                font-family: $font-family-satoshi-bold;
                @media (max-width:$sm) {
                    font-size: 1.586rem;
                    margin-bottom: 1rem;
                }
            }
            p{
                font-size: 1.429rem;
                font-family: $font-family-switzer-regular;
                margin: 0;
                color: $primary;
                line-height: 1.5;
                @media (max-width:$sm) {
                    font-size: 1rem;
                }
            }
        }
        .im-sec{
           margin-left: 6%;
           margin-right: 6%;
           padding-top: 6rem;
           @media (max-width:$md) {
            padding-top: 0;
            margin-left: auto;
         }
         @media (max-width:$sm) {
            width: 60%;
            display: flex;
            justify-content: flex-end;
         }
        }
        .icons{
            position: absolute;
            z-index: 99;
            img{
                @media (max-width:$md) {
                    width: 60%;
                 }
                 @media (max-width:$sm) {
                    width: 40%;
                  }
            }
            &.icon-1{
                bottom: 3%;
                right: 870px;
                @media (max-width:$md) {
                    bottom: 10%;
                    right: 450px;
                }
                @media (max-width:$sm) {
                    bottom: 0;
                    right: 200px;
                  }
            }
            &.icon-2{
                bottom: 25%;
                right: 680px;
                @media (max-width:$md) {
                    top: 4%;
                    right: -65px;
                }
                @media (max-width:$sm) {
                    right: -75px;
                }
            }
            &.icon-3{
                bottom: 3%;
                right: 500px;
                @media (max-width:$md) {
                    bottom: 25%;
                    right: 380px;
                }
                @media (max-width:$sm) {
                    bottom: 20%;
                    right: 160px;
                }
            }
            &.icon-4{
                bottom: 55%;
                right: 410px;
                @media (max-width:$md) {
                    bottom: 40%;
                    right: 450px;
                }
                @media (max-width:$sm) {
                    right: 200px;
                }
            }
            &.icon-5{
                top: 3%;
                right: 220px;
                @media (max-width:$md) {
                    top: 23%;
                    right: 20px;
                }
                @media (max-width:$sm) {
                    right: -10px;
                }
            }
            &.icon-6{
                bottom: 55%;
                right: 25px;
                @media (max-width:$md) {
                    right: -30px;
                }
                @media (max-width:$sm) {
                    right: -60px;
                    bottom: 54%;
                }
            }
        }
    }
    .mutual-funds-order{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        @media (max-width:$sm) {
            row-gap: 2rem;
        }
       .left-sec{
        width: 49%;
        @media (max-width:$sm) {
            width: 100%;
        }
        .mf-funds{
           position: relative;
           img{
            width: 100%;
           }
           .mf-caption{
            display: block;
            left: 0;
            position: absolute;
            top: 20%;
            transform: translateY(-20%);
            width:80%;
            padding-left: 4rem;
            @media (max-width:$md) {
                top: 15%;
                transform: translateY(-15%);
                width:90%;
                padding-left: 2rem;
            }
            @media (max-width:$sm) {
                width:80%;
            }
            h3{
                margin-bottom: 1.5rem;
                font-size: 2.857rem;
                font-family: $font-family-satoshi-bold;
                @media (max-width:$md) {
                    font-size: 1.586rem;
                }
            }
            p{
                font-size: 1.429rem;
                font-family: $font-family-switzer-regular;
                margin: 0;
                color: $primary;
                line-height: 1.5;
                @media (max-width:$md) {
                    font-size: 1rem;
                }
            }
           }
        }
       }
        .right-sec{
            width: 49%;
            @media (max-width:$sm) {
                width: 100%;
            }
            .orders{
                img{
                    width: 100%;
                }
            }
        }
    }
    .invest-trends{
        position: relative;
        margin-top: 2rem;
        background: url(../../assets/images/under-25/invest-trends.png) no-repeat;
        background-size: contain;
        width: 100%;
        height: 100%;
        @media (max-width:$sm) {
            background: url(../../assets/images/under-25/invest-trends-2.png) no-repeat;
            background-size: contain;
        }
        .invest-banner{
            width: 100%;
        }
        .invest-caption{
            width: 29%;
            padding-left: 4rem;
            padding-top: 3rem;
            @media (max-width:$md) {
                width: 50%;
                padding-left: 4rem;
                padding-top: 2rem;
            }
            @media (max-width:$sm) {
                width: 90%;
                padding-left: 2rem;
            }
            h3{
                margin-bottom: 1.5rem;
                font-size: 2.857rem;
                font-family: $font-family-satoshi-bold;
                @media (max-width:$sm) {
                    font-size: 1.586rem;
                }
            }
            p{
                font-size: 1.429rem;
                font-family: $font-family-switzer-regular;
                margin: 0;
                color: $primary;
                line-height: 1.5;
                @media (max-width:$sm) {
                    font-size: 1rem;
                    padding-right: 8rem;
                }
            }
        }
    }
}
//Choioce Demat Account
.choice-demat-ac{
    padding: 8rem 0;
    margin-top: 8rem;
    @media (max-width:$md) {
        padding: 6rem 0;
        margin-top: 0;
    }
    .heading-section{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        .arrow-txt{
            font-family: $font-family-satoshi-bold;
            font-size:7rem;
            position: relative;
            padding-left: 7rem;
            opacity: 10%;
            color: #9942FF;
            @media (max-width:$md) {
                font-size:5rem;
                padding-left: 4rem;
            }
            @media (max-width:$sm) {
                font-size:2.571rem;
                padding-left: 2rem;
            }
            &::before{
                content: '';
                display: block;
                position: absolute;
                background: url(../../assets/images/under-25/is-less-than.svg) no-repeat;
                background-size: contain;
                left: 0;
                top: 50%;
                width: 6rem;
                height: 6rem;
                transform: translateY(-50%);
                @media (max-width:$md) {
                    width: 4rem;
                    height: 4rem;
                }
                @media (max-width:$sm) {
                    width: 2rem;
                    height: 2rem;
                }
            }
        }
        .heading-content{
            text-align: center;
           h2{
            font-family: $font-family-satoshi-bold;
            font-size: 4.286rem;
                @media (max-width:$md) {
                    font-size: 3rem;
                }
                @media (max-width:$sm) {
                    font-size: 2.286rem;
                }
           }
           p{
            font-size: 1.857rem;
            line-height: 1.5;
            font-family: $font-family-switzer-regular;
            margin: 0;
            color: $primary;
                @media (max-width:$md) {
                    font-size: 1.586rem;
                }
                @media (max-width:$sm) {
                    font-size: 1.429rem;
                }
            }
        }
    }
    .demat-ac-benifits{
        margin-top: 3rem;
        @media (max-width:$sm) {
            display: flex;
            justify-content: space-between;
        }
        .columns{
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: #F8F8F8;
            padding: 3rem 4rem;
            @media (max-width:$sm) {
                flex-wrap: wrap;
                width: 48%;
                padding:3rem 2rem;
            }
            .benifits-items{
                text-align: center;
                @media (max-width:$sm) {
                    width: 100%;
                    padding-bottom: 3rem;
                    &:last-child{
                        padding-bottom: 1rem;
                    }
                }
                h3{
                    font-size: 3.786rem;
                    font-family: $font-family-satoshi-bold;
                    @media (max-width:$md) {
                        font-size: 2.786rem;
                    }
                    @media (max-width:$sm) {
                        font-size: 1.929rem;
                    }
                }
                p{
                    font-size: 1.851rem;
                    line-height: 1.5;
                    font-family: $font-family-switzer-regular;
                    margin: 0;
                    color: $primary;
                    @media (max-width:$md) {
                        font-size: 1.51rem;
                    }
                    @media (max-width:$sm) {
                        font-size: 1rem;
                    }
                }
            }
            &.column-1{
                border-top-left-radius: 32px;
                border-top-right-radius: 32px;
                margin-bottom: 0.5rem;
                @media (max-width:$sm) {
                    border-bottom-left-radius: 32px;
                    border-top-right-radius: 0;
                    margin: 0;
                }
            } 
            &.column-2{
                border-bottom-left-radius: 32px;
                border-bottom-right-radius: 32px;
                @media (max-width:$sm) {
                    border-top-right-radius: 32px;
                    border-bottom-left-radius: 0;
                }
            }   
        }
    }
}
//hold up section
.hold-up-sec{
    padding: 8rem 0 10rem;
    @media (max-width:$md) {
        padding: 6rem 0;
    }
    .heading-sec{
        text-align: center;
        margin-bottom: 5rem;
        h2{
            font-family: $font-family-satoshi-bold;
            font-size: 4.286rem;
            @media (max-width:$sm) {
                font-size: 2.286rem;
            }
        }
        p{
            font-size: 1.851rem;
            line-height: 1.5;
            font-family: $font-family-switzer-regular;
            margin: 0;
            color: $primary;
            @media (max-width:$sm) {
                font-size:1.429rem;
            }
        }
    }
    .hold-up{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        @media (max-width:$sm) {
            row-gap: 2rem;
        }
        .imgcard{
            width: 32%;
            @media (max-width:$sm) {
                width: 100%;
            }
            .card-details{
                position: relative;
                img{
                    width: 100%;
                }
                .card-caption{
                    display: block;
                    left: 0;
                    position: absolute;
                    top: 20%;
                    transform: translateY(-20%);
                    width: 70%;
                    padding-left: 3rem;
                    @media (max-width:$md) {
                        top: 15%;
                        transform: translateY(-15%);
                        width: 90%;
                        padding-left: 2rem;
                    }
                    @media (max-width:$sm) {
                        width: 65%;
                        padding-left: 3rem;
                    }
                    h4{
                        font-size: 1.857rem;
                        font-weight: 700;
                        font-family: $font-family-satoshi-bold;
                        color: $whiteColor;
                        @media (max-width:$md) {
                           font-size: 1.57rem;
                        }
                        @media (max-width:$sm) {
                            font-size: 1.714;
                        }
                    }
                    p{
                        font-size: 1.143rem;
                        line-height: 1.5;
                        font-family: $font-family-satoshi-regular;
                        font-weight: 400;
                        margin: 0;
                        color: $whiteColor;
                    }
                }
            }
        }
    }
}
.form-section{
    .form-ban{
        background: url(../../assets/images/under-25/form-banner.png) no-repeat;
        background-size: cover;
        height: 100%;
        width: 100%;
        border-radius: 32px;
        padding: 6rem 0;
        @media (max-width:$sm) {
           padding: 4rem 0;
        }
        .form-card{
            @media (max-width:$sm) {
                max-width: 90%;
            }
        }
    }
}
.form-card{
    background: $whiteColor;
    max-width: 600px;
    margin: 0 auto;
    padding: 3rem 2.5rem;
    border-radius: 30px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
    @media (max-width:$md) {
        max-width: 500px;
    }
    .card-heading{
        text-align: center;
        margin-bottom: 2rem;
        h5{
            font-size: 2.143rem;
            font-weight: 600;
            font-family: $font-family-poppins-semibold;
            @media (max-width:$md) {
                font-size: 1.75rem;
            }
            @media (max-width:$sm) {
                font-size: 1.243rem;
            }
        }
        p{
            font-size: 1.429rem;
            font-family: $font-family-poppins-regular;
            line-height: 1.5;
            color: rgba(34, 31, 32, 0.6);
            margin: 0;
            @media (max-width:$md) {
                font-size: 1.25rem;
            }
            @media (max-width:$sm) {
                font-size: 1rem;
            }
        }
    }
    input{
        font-weight: 500;
        background: rgba(34, 31, 32, 0.04);
        background-image: inherit !important;
        border: 2px solid rgba(34, 31, 32, 0.08);
        border-radius: 15px;
        box-shadow: inherit;
        font-family: $font-family-poppins-medium;
        font-size: 1.429rem;
        outline: none;
        padding: 1.75rem 1.5rem;
        @media (max-width:$sm) {
            font-size: 1.25rem;
            padding: 1rem 1.5rem;
            border-radius: 11px;
        }
    }
    .input-checkbox {
        position: relative;
        display: flex;
        align-items: baseline;
        column-gap: 3rem;
        margin: 1.5rem 0 3rem 0;
        @media (max-width:$sm) {
            column-gap: 2rem;
            margin: 1rem 0 1.5rem 0;
          }
        .container-checkbox {
            position: relative;
            input {
              position: absolute;
              cursor: pointer;
              height: 0;
              width: 0;
            }
             input:checked ~ .checkmark {
                  background-color: #2196F3;
            }
            input:checked ~ .checkmark:after {
                  display: block;
            }
            .checkmark {
              position: absolute;
              top: 50%;
              left: 0;
              height: 24px;
              width: 24px;
              background-color: #eee;
              transform: translateY(-50%);
              border-radius: 4px;
              border: 1.5px solid rgba(34, 31, 32, 0.16);
              @media (max-width:$md) {
                height: 20px;
                width: 20px;
            }
              @media (max-width:$sm) {
                height: 15px;
                width: 15px;
              }
              &:after {
                content: "";
                position: absolute;
                display: none;
              }
              &:after {
                left: 9px;
                top: 5px;
                width: 5px;
                height: 10px;
                border: solid white;
                border-width: 0 3px 3px 0;
                transform: rotate(45deg);
              }
            }
        }
        .form-label{
            display: flex;
            flex-wrap: wrap;
            label{
                width: 100%;
                font-size: 1.429rem;
                font-family: $font-family-poppins-regular;
                font-weight: 400;
                @media (max-width:$md) {
                    font-size: 1.25rem;
                }
                @media (max-width:$sm) {
                    font-size: 1rem;
                }
            }
            a{
                display: block;
                text-decoration: none;
                color: $primary;
                font-weight: 600;
                font-family: $font-family-poppins-semibold;
                font-size: 1.429rem;
                @media (max-width:$md) {
                    font-size: 1.25rem;
                }
                @media (max-width:$sm) {
                    font-size: 1rem;
                }
            }
        }
    }
    .btn-otp{
        width: 100%;
        font-size: 1.286rem !important;
        @media (max-width:$sm) {
            border-radius: 9px !important;
        }
    }
}
.take-word{
    padding: 10rem 0;
    @media (max-width:$sm) {
        padding: 6rem 0;
    }
    .take-word-sec{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        .images-sec{
            width: 48%;
            display: flex;
            column-gap: 1.5rem;
            @media (max-width:$sm) {
                width: 100%;
            }
            img{
                width: 100%;
                margin-bottom: 1.5rem;
            }
            .images-sec-2{
                margin-top: 1.5rem;
            }
            .images-sec-1{
               position: relative;
            }
            .blur-1{
                position: relative;
               &::before{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                min-height: 156px;
                background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
               }
            }
            .blur-2{
                position: relative;
               &::before{
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                min-height: 156px;
                background: linear-gradient(0deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
               }
            }
        }
        .content-sec{
            width: 34%;
            @media (max-width:$md) {
                width: 45%;
            }
            @media (max-width:$sm) {
                width: 100%;
            }
            .caption{
                h3{
                    font-size: 3.857rem;
                    font-family: $font-family-satoshi-bold;
                    @media (max-width:$sm) {
                        font-size: 2.286rem;
                    }
                }
                p{
                    font-size: 1.851rem;
                    line-height: 1.5;
                    font-family: $font-family-switzer-regular;
                    padding: 2rem 5rem 0 0;
                    margin: 0;
                    color: $primary;
                    @media (max-width:$md) {
                       padding: 2rem 0 0 0;
                    }
                    @media (max-width:$sm) {
                        font-size: 1.429rem;
                    }
                }
                .btn-get{
                    margin-top: 5rem;
                    font-size: 1.286rem !important;
                    @media (max-width:$sm) {
                        margin-top: 3rem;
                    }
                }
            }
        }
    }
}
           