
@import '../../assets/css/customvariable.scss';

.errorbannersectoion {

    position: relative;
    overflow: hidden;
    padding: 5rem 0;

 .errormessage {
  font-family: $font-family-poppins-regular, sans-serif;
  font-size: 1.4rem;
  color: $primary;
  text-align: center;

    }
}