@import '../../assets/css/customvariable.scss';
@import '../../assets/css/common.scss';

/* ---------------- Navbar and burger menu ------------------ */


.investor-info-menu {
    width: 100%;
    height: 4.6em;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    top: 22px;
    // right: 7%;
    right:0;
    padding: 1em;
    box-shadow: none;
    position: absolute;
    @media screen and (max-width:767px) {
        top: 12px;
        right: 5%;
        height: 4em;
    }
    @media screen and (max-width:$xs) {
        right: 0;
    }
}

.burger-menu {
    height: 82%;
    width: 4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    cursor: pointer;
}

.burger-bar {
    width: 4rem;
    height: 0.3em;
    background-color: #221F20;
    border-radius: 0.5em;
    &:nth-child(3n){
        width:60%;
    }
    @media screen and (max-width:767px) {
        width: 3.5rem;
    }
}
.menu-cust {
    width: 75%;
    height: auto;
    margin: 0 auto;
    background-color: #221F20;
    position: relative !important;
    top: 1px !important;
    z-index: 1;
    border-top: 7px solid #FFCE02;
    margin-bottom: 50px !important;

  }


.menu {
    width: 80%;
    // width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: #221F20;
    position: absolute;
    top: 10rem;
    left: 0;
    right: 0;
    z-index: 1;
    // padding: 1rem;
    border-bottom: 8px solid #FFCE02;
    border-radius: 1.923rem;
    @media screen and (max-width:767px) {
        width: 90%;
    }
    @media screen and (max-width:768px) {
        width: 90%;
    }

    
    h3{
        padding-top: 35px; 
    }
}
.investor-menu-wrap{

    padding: 5rem 3rem 0rem 3rem;
    justify-content: space-between;

    @media screen and (max-width:767px) {
        padding:2rem 0rem 0rem 0rem;
        flex-wrap: wrap;
    }
    @media (min-width:767px) and (max-width:768px) {
        padding:4rem 2rem 2rem 2rem;
        flex-wrap: wrap;
    }
}

.investor-info-menu-list{
    // width: 50%;
    // padding-left: 1rem;
    @media screen and (max-width:767px) {
        width: 100%;
    }
}

/* ------------- sliding menu ------------------ */
.hidden {
    display: none;
}

.visible {
    display: inherit;
}

/* ----- animations--------- */
/* clicked */
.burger-bar.clicked:nth-child(1){
    transform: rotate(45deg) translate(0.4em, 0.8em);
    transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(2){
    transform: scale(0.1);
    transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(3){
    transform: rotate(135deg) translate(-0.5em, 0.8em);
    transition: ease-out 0.5s;
    width: 4rem;
    @media screen and (max-width:767px) {
        width: 3.5rem;
        transform: rotate(135deg) translate( -0.10em, 0.6em);
    }
}

/* unclicked */
.burger-bar.unclicked {
    transform: rotate(0) translate(0);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}

.investor-info-menu-list{
    .menu-itm{
        margin-bottom: 4.5rem;
        @media screen and (max-width:767px) {
            font-size: 1.4rem !important;
            }
        .menu-itm-link{
           font-family: $font-family-poppins-semibold;
           color: #CACACA;
           border: 0;
           outline: none;
           text-decoration: none;
           font-size: 1.5rem;
            line-height: 3.231rem;
            .imgfill{
                width: 35px;
                path{
                    fill: #CACACA;
                }
   
                @media screen and (max-width:$xl) {
                    width: 35px;
                    }

                @media screen and (max-width:$lg) {
                    width: 35px;
                    }
                    
                @media screen and (max-width:$md) {
                    width: 38px;
                    }
                @media screen and (max-width:767px) {
                    width: 30px;
                    }
                    
           }
           .nonfill{
                path{
                    fill: none;
                }
           }
           @media screen and (max-width:$lg){
            font-size: 1.7rem;
        }
           @media (min-width: 768px) and (max-width: 920px) {
            font-size: 1.5rem;
        }
           @media screen and (max-width:767px) {
            font-size: 1.4rem;
            }
           
           &:hover{
            color: $yellowColor;
            .imgfill{
               
                path{
                    fill: $yellowColor;
                }
           }
           .nonfill{
            path{
                stroke: $yellowColor;
                fill: none;
            }
       }
           }
           .menu_item_text{
            padding-left: 1.5rem;
            @media screen and (max-width:767px) {
                padding-left: 1rem;
                }
           }
           
        }

    }
    
    word-break: break-word;
}

.pb0{
    padding-bottom: 0 !important;
}

.menu-itm-link-header{
          width: 100%;
        text-transform: uppercase;
        text-decoration: none;
        font-family: $font-family-poppins-semibold;
        color: $primary;
        font-size: 3.077rem;
    &:hover{
     color: $yellowColor;
    }

    text-align: center;
 }
 .check-menu{
    display: none;
 }


 .investor-menu-wrap{
   ul{
    padding-left: 0 !important;
   }
   
    // @media (min-width:767px) and (max-width:768px) {
    //     padding: 4rem 2rem 2rem 2rem;
    //     overflow: scroll;
    //     height: 500px;
    // }
    @media screen and (max-width:767px) {
        
        overflow: scroll;
        // height: 380px;
        height: 439px;
        
    }
   
}
.investor-info-menu-list{
    display: flex;
    flex-wrap: wrap;
    
    .menu-itm{
        margin-bottom: 2.5rem;
        width: 33%;
        @media screen and (max-width:$lg) {
            margin-bottom: 3.5rem;
            width: 50%;
        }
        @media screen and (max-width:$md) {
            margin-bottom: 1.6rem;
            width: 50%;
            
        }
        @media screen and (max-width:767px) {
            margin-bottom: 1.3rem;
            width: 100%;
            margin-left: 1.5rem;
        }
        

    }
}

