@import '../../assets/css/customvariable.scss';
@import '../../assets/css/common.scss';

.new-demat-modal{
z-index:9999999999999999 !important;
}

@media (max-width:$md){
.demat-form-wrapper{
width:100%;
}
}

//blog lead form for pupup in responsive view
.blog-pop-up-form{
	@media (max-width:$md){
		align-items: center;
		display: flex;
		height: 100%;
		justify-content: center;
		left: 0;
		overflow: auto;
		padding: 1.5rem;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 999999999 !important;
		overflow: hidden;
	}

	&::before{
		@media (max-width:$md){
		background: rgba(62, 64, 79, 0.302);
		content: "";
		display: block;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		}
	}
	.demat-account-form{
		position: relative !important;
		@media (max-width:$md){
			width: 100% !important;
			padding: 2rem 1.25rem;
		}
		.sticy-card-blog-new{
			&.sticy-card-blog-new{
				@media (max-width:$md){
					padding: 0;
				}
				.title-secnd{
					@media (max-width:$md){
						font-size: 1.714rem;
						text-align: left;
					}
				}
				ul{
					li{
						.bx-text{
							@media (max-width:$md){
								font-size: 1.143rem;
							}
						}
					}
				}
				.close-btn-mdl{
					display: none;
					@media (max-width:$md) {
						display: block;
						color: #fff;
						font-size: 2.5rem;
						position: absolute;
						right: 0.8rem;
						text-decoration: none;
						top: 0;
						font-family: $font-family-poppins-regular;
						font-weight: 400;
					}
			
				}
			}
		}
		//popup otp section
		&.blog-form-otp{
			.exit-intent-sleekbox-popup{
				@media (max-width:$md) {
					padding: 0;
				}
				.popup-sub-row{
					.close-btn-mdl{
						@media (max-width:$md) {
							display: none;
						}
					}
					.popup-sub-right{
						.heading{
							@media (max-width:$md) {
								font-size: 1.714rem;
							}
						}
						.btn-bg{
							@media (max-width:$md) {
								margin-bottom: 0;
								margin-top: 1.5rem;
							}
						}
						.otpform-new{
							.otp-pd{
								.pt-3{
									@media (max-width:$md) {
										padding: 0 !important;
									}
								}
							}
							.otp-mdl-input-chk{
								.invalid-feedback{
									@media (max-width:$md) {
										font-size: 1rem;
										text-align: left;
									}
								}
							}
						}
						.otp-ver-sec{
							@media (max-width:$md) {
								padding: 1rem 0 2.5rem;
							}
						}
					}
				}
			}
		}
		//thank you pupup
		&.blog-thanku-popup{
			.thank-you-msg{
				@media (max-width:$md) {
					row-gap: 3rem;
				}
				.thank-logo{
					.blog-thnu-circle{
						@media (max-width:$md) {
							width: 10rem;
							height: 10rem;
						}
					}
				}
			}
		}
	}

}

.demat-account-form {
	box-shadow: 0px 0px 15px #00000040;
	border-radius: 1.25rem;
	background: $whiteColor;
	padding: 2rem 2rem 1rem 2rem;
	// max-width: 30rem;
	width: 30rem;
	position: relative;
	z-index: 9;

	.sub-formgrp {
		margin-top: 1rem;
		margin-bottom: 1.5rem;
		position: relative;
		.formcontrol {
			background: $whiteColor;
			outline: none;
			box-shadow: inherit;
			border: 1px solid $secondary;
			padding: 1.6rem 1.5rem;
			border-radius: 12px;
			font-family: $font-family-poppins-regular;
			font-size: 1.25rem;
			background: $whiteColor;
			background-image: inherit !important;

			&.formpadding {
				padding: 1.2rem 1.5rem;

				.react-dropdown-select-content {
					flex-wrap: inherit;

					>span {
						font-size: 1.2rem;
					}
				}
			}

			.react-dropdown-select-dropdown {
				.nodatalebel {
					font-size: 1.2rem;
				}
			}

		}

		.react-dropdown-select {
			.react-dropdown-select-input {
				// width: 100% !important;
				font-size: 1.2rem;
			}

			.react-dropdown-select-item {
				font-size: 1.2rem !important;
			}

			.react-dropdown-select-no-data {
				color: $primary !important;
			}

		}

		input[type=number]::-webkit-inner-spin-button,
		input[type=number]::-webkit-outer-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}

		&.cust-checkbox {
			display: flex;
			align-items: flex-start;
			text-align: left;

			.form-check {
				margin-right: 0;
				font-size: 1.1rem;
			}

			.lbl {
				font-size: 1.2rem;
				color: $secondary;
				font-family: $font-family-poppins-regular;

				.link-tc {
					color: $bgcolor-blue !important;
					font-family: $font-family-poppins-semibold;
					text-decoration: none;
					display: block;
				}
			}

			.link-tc {
				cursor: pointer;

				color: $bgcolor-blue !important;
				font-family: $font-family-poppins-bold;

				&:hover {
					// border-bottom: 1px solid;
				}
			}
		}

		.sendbtn {
			width: 100%;
			position: relative;
			min-height: 5rem;

			&:hover {
				background: $primary !important;
				color: $whiteColor !important;
			}

			.loaderB {
				width: 20px;
				height: 20px;
			}
		}

		.valid-ss {
			width: 100%;
			position: absolute;
			left: 0;
			bottom: -3.5rem;
			font-size: 1.2rem;
			text-align: center;
		}
	}

	.referal-link {
		cursor: pointer;
		color: #0066B3 !important;
		font-size: 1.2rem;
	}
	.new-sub-formgrp{
		.formcontrol {
			padding:1.4rem 1rem;
		}
	}
	.sub-fromgrp2 {
		.formcontrol {
			border-style: dashed;
			background: #EFEFEF;
			color: #999999;

		}
	}

	.cross-refer-img {
		position: absolute;
		right: 1rem;
		top: 1.5rem;
		cursor: pointer;
	}

	.form-ttl {
		text-align: center;
		font-size: 2rem;
		font-family: $font-family-poppins-semibold;
		color: $primary;
		margin-bottom: 2.5rem;

		@media (max-width: $sm-x) {
			font-size: 1.5rem;
		}
	}

	@media (max-width: $sm) {
		margin-top: 2rem;
	}

	@media (max-width: $sm-x) {
		width: 100%;
		max-width: inherit;
	}

	.valid-ss {
		position: absolute;
		width: 100%;
		text-align: center;
		left: 0;
		font-size: 1.3rem;
	}

	@media (max-width: $md) {
		width: 100%;
	}

	.thank-you-msg {
		height: 100%;
		min-height: 29.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;
		row-gap: 2rem;
		.thankyou-title {
			color: $bluetextlight;
			font-family: $font-family-poppins-semibold
		}

		.subheading {
			color: $darkblack;
			font-family: $font-family-poppins-regular;
			padding-top: 1rem;
		}
	}

	.slider-btns {
		text-align: center;

		.btn-bg-slider {
			background: rgba(0, 0, 0, 0.4);
			// border-radius: 4px;
			border-radius: 50%;
			padding: 3px;
			border: none;
			margin: 0rem 0.1rem;
		}

		.active-slide-tab {
			width: 12px;
			border-radius: 4px;
			background: rgba(0, 0, 0, 0.8);
			;
		}
	}
}

.demat-account-form-new {
	background-color: $bgcolor-blue-light;
	box-shadow: none;

	.formgrp-new {
		background-color: $whiteColor;
		border-radius: 1rem;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.09);
		padding: 2rem 2rem;

		.sub-formgrp-new {
			&:before {
				content: '+91';
				position: absolute;
				display: block;
				left: 10px;
				top: 1.5rem;
				font-size: 1.25rem;
				color: #000;
				z-index: 9999;
			}

			.formcontrol {
				padding: 1.4rem 3.3rem;
			}

			.state-code {
				position: absolute;
				top: 31%;
				padding-left: 0.8rem;
				font-size: 1.25rem;
				font-family: $font-family-poppins-regular;

			}
		}
	}
}

.otp-mdl-input-chk {

	/* Chrome, Safari, Edge, Opera */
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	/* Firefox */
	input[type=number] {
		-moz-appearance: textfield;
	}
}

/** success or error modal (add-lead) */
.ad-ld-mdl-head {
	border: none;
}

.ad-ld-mdl-bdy {
	border: none;
	margin: 0 auto;
	text-align: center;

	img,
	p {
		padding: 1rem;
	}
}

.ad-ld-mdl-ftr {
	border: none;
	margin: 0 auto;

	button {
		padding: 10px 32px 10px 32px;
	}
}

.ad-ld-mdl-btn {
	background-color: rgb(140, 212, 245);
	border: none;
}



// OTP MODAL

.opt-body {
	text-align: center;
}

// .modal-head {
//     background-color: $bgcolor-blue;
//     color: white;
// }

.verify-btn {
	display: inline-block;
	margin: auto;
	font-weight: bold;
	color: $whiteColor;
	background-color: $bgcolor-blue;
	border-color: $bgcolor-blue;
	text-align: center;
	vertical-align: middle;
	user-select: none;
	border: 1px solid transparent;
	padding: 0.375rem 1.25rem;
	// font-size: 1.15rem;
	line-height: 1.4;
	border-radius: 4px;
}

.otp-modal-footer {
	border: none;
	text-align: center;
	margin: 0.5em;
}



.modal-otp-links {
	/* display: flex; */
	text-align: center;
}

.or-text {
	color: $blackColorlight;
	/* margin: 0rem 0.8rem 0rem 0.8rem; */
	cursor: default !important;
}

.resend-text {
	color: $bgcolor-blue;
	cursor: pointer;
	margin-left: 0.7rem;
}

.timer-text {
	color: $bgcolor-blue;
	display: inline-block;
	// font-size: 1rem;
	margin: 0rem 0rem 0rem 0.4rem;
}

.didnt-text {
	margin-left: 0.6rem;
}

.btm-div {
	display: flex;
	justify-content: center;
	// margin-left: 0.7rem;
}

.loaderB {
	border: 5px solid #f3f3f3;
	border-radius: 50%;
	border-top: 5px solid $primary;
	width: 30px;
	height: 30px;
	-webkit-animation: spin 2s linear infinite;
	/* Safari */
	animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.dotLoaderB {
	width: 24px;
	height: 24px;
	top: 2px;
	border: 2px dotted $whiteColor;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

.colorB {
	border: 2px dotted #484848;
}

.marginLoader {
	/* margin: 0 3.9rem 0 3.9rem; */
	margin-left: 3rem;
	margin-right: 3rem;
	// margin-top: -0.4rem;
	/* padding-left: 4rem;
    padding-right: 4rem; */
}

//sub broker popup

//   .bt-strap-mdl{
// 	border-radius: 16px;
//   }

//   .exit-intent-sleekbox-overlay {
// 	// display: none;
// 	// position: fixed;
// 	left: 0;
// 	top: 0;
// 	width: 100%;
// 	height: 100%;
// 	background: #3e404f4d;
// 	z-index: 1;
// 	width: 30rem;
// 	background:$bgcolor-blue-light ;
// 	border-radius: 1rem;
// 	padding:0rem 1.5rem;

.exit-intent-sleekbox-popup {
	// box-sizing: border-box;
	// max-width: 502px;
	// margin: 0 auto;
	// border-radius: 16px;
	// margin: 0 auto;
	// margin-top: 11rem;
	// position: relative;
	// .closebtn {
	//     color:$primary;
	//     text-decoration: none;
	//     float: right;
	//     top: 0;
	//     right: 15px;
	//     position: absolute;
	//     font-size: 3rem;

	// }
	.digit-otp {

		width: 90% !important;
		height: 48px;
		border-radius: 4px;
		background-color: #EFECEB;
		border: none;
		line-height: 50px;
		text-align: center;
		font-size: 1.5rem;
		font-weight: 600;
		color: $primary;
		margin: 0 2px;
		letter-spacing: 8px;
		margin: 0 auto;

		&::placeholder {
			color: transparent;
		}

	}

	// padding:40px 60px;
	.popup-sub-row {
		padding: 1rem 0;
		display: flex;
		justify-content: center;
		text-align: center;

		.popup-sub-left {
			.sub-left-row {
				display: flex;
				position: relative;
				align-items: flex-end;

				.sub-left {
					padding-bottom: 40px;

				}
			}

			@media only screen and (max-width: $sm) {
				width: 100%;
			}
		}

		.popup-sub-right {
			img {
				display: flex;
				margin: 0 auto;
			}



			.subheading {
				color: $secondary;
				font-size: 1.2rem;
				line-height: 2.625rem;
				margin: 0;
				font-family: $font-family-poppins-regular;

				@media only screen and (max-width: $sm) {
					font-size: 14px;
					// line-height: 22px;
				}
			}

			.time {
				color: $secondary;
				font-size: 16px;
				line-height: 42px;
				margin: 0 0 20px;
				font-family: $font-family-poppins-regular;

				@media only screen and (max-width: $sm) {
					font-size: 16px;
					line-height: 22px;
				}

				span {
					color: $bgcolor-blue;

					@media only screen and (max-width: $sm) {
						font-size: 14px;
						line-height: 22px;
					}
				}
			}


			.btn-bg {
				font-family: $font-family-poppins-semibold;
				// color: $whiteColor !important;
				// background: $primary !important;
				padding: 1rem 3rem !important;
				display: inline-block;
				border-radius: 8px !important;
				width: 100%;
				font-size: 1.75rem !important;
				margin-top: 2.5rem;
				text-align: center;
				text-decoration: none;
				border: 0 !important;
				outline: none !important;
				transition: 0.5s;
				-webkit-transition: 0.5s;

				// margin-bottom: 2rem;
				&:hover {
					background: $primary !important;
					color: $whiteColor !important;
				}

				@media only screen and (max-width: 992px) {
					font-size: 14px;
				}

				@media only screen and (max-width: $sm) {
					margin-bottom: 2rem;
				}
			}


			@media only screen and (max-width: $sm) {
				width: 100%;
			}

			.resend {
				color: $secondary;
				// margin-top: 1.75rem;
				font-size: 1.2rem;
				line-height: 2.25rem;
				margin-bottom: 0;
				background-color: transparent;
				border: none;

				// margin: 1rem;
				@media only screen and (max-width: $sm) {
					font-size: 14px;
					line-height: 22px;
					margin: 0.5rem;
				}

				.bluetxt {
					color: $blueColortext;
				}
			}

			.ortext {
				color: $secondary;
				font-size: 1.2rem;
				font-weight: 600;

				@media only screen and (max-width: $sm) {
					display: block;
				}
			}


		}

		@media only screen and (max-width: $sm) {
			display: block;
			padding: 0;
		}
	}

	@media only screen and (max-width: 1023px) {
		max-width: 94%;
		padding: 30px 40px;
		// margin-top: 2rem;
	}

	@media only screen and (max-width: 992px) {
		max-width: 765px;
	}

	@media only screen and (max-width: $sm) {
		max-width: 400px;
		// margin-top: 7rem;
	}

	@media only screen and (max-width: 480px) {
		max-width: 100%;
		padding: 0px;
	}
}

// &.sleekbox-popup-active {
// 	display: block;
// 	z-index: 99999;
// }


.digit-group {
	input {
		width: 90%;
		height: 48px;
		border-radius: 4px;
		background-color: #EFECEB;
		border: none;
		line-height: 50px;
		text-align: center;
		font-size: 24px;
		font-weight: 600;
		color: $primary;
		margin: 0 2px;
		letter-spacing: 10px;

		&:focus {
			border: none;
			outline: 0;
		}

		@media only screen and (max-width: $sm) {
			width: 70%;
			height: 30px;
		}
	}

	.splitter {
		padding: 0 5px;
		color: #606060;
		font-size: 24px;
	}
}

.termcondition {
	z-index: 9999999999 !important;
	display: block;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(62, 64, 79, 0.3019607843);
	overflow: auto;

}

.info-mdl-pup {
	margin: auto;
}


.otp-main-modal {
	.modal-dialog {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%) !important;
		margin: 0;
		width: 500px;

		.modal-content {
			.exit-intent-sleekbox-popup {
				padding: 0;
				margin: 0;
			}

			.exit-intent-sleekbox-overlay {
				background: $whiteColor;
			}
		}

		@media (max-width: $sm) {
			width: 98%;
		}
	}
}

// .exit-intent-sleekbox-overlay{
// 	z-index: 1;
// 	width: 30rem;
// 	background:$bgcolor-blue-light ;
// 	border-radius: 1rem;
// 	padding:0rem 1.5rem;
.exit-intent-sleekbox-popup {
	background: none;

	.popup-sub-row {
		.popup-sub-right {
			.otpform-new {
				background-color: #ffffff;
				border-radius: 1rem;
				box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.09);
				padding: 2rem 2rem;


				.subheading {
					text-align: left;
					color: $primary;
					margin-bottom: 0.4rem;
				}

				.changenumbtn {
					font-size: 1.2rem;
					line-height: 2.625rem;
					margin: 0;
					font-family: $font-family-poppins-regular;
					border: none;
					background: none;
					margin-bottom: 0.4rem;
					display: inline-block;
					color: $blueColortext;
					font-weight: 600;
				}



				// .time-otp{
				// 	min-height: 5rem;
				// }
				.digit-otp {

					background-color: #ffffff;
					border: 1px solid #707070;
					border-radius: 8px;
					box-shadow: none;
					display: flex;
					flex-wrap: wrap;
					justify-content: center;
					// width: auto !important;
					overflow: hidden;
					line-height: 50px;
					text-align: center;
					font-size: 1.5rem;
					font-weight: 600;
					color: #221F20;
					letter-spacing: 8px;
					margin: 0 auto;
					width: 100% !important;
					&::placeholder {
						color: rgba(0, 0, 0, 0.3);
						font-size: 1.2rem;
					}

					.newotpsend {
						width: 9%;
						border: 0;
						text-align: center;
						outline: none;
					}
				}

				.otperror {
					margin-top: 0.25rem;
					width: 100%;
					font-size: .875em;
					color: #dc3545;
					
				}

				.time {
					text-align: left;
					margin-top: 0.4rem;
				}
			}

		}
	}

}

.form-check-input:checked {
	background-color: $bluetextlight;
	border: 1px solid $bluetextlight;

}


.fade-in {
	animation: fadeIn 1.5s both;
}

@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.fadeIn {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}

.alertmsg {
	background-color: $whiteColor;
	font-size: 1.2rem;
	margin: 0;

	.btn-close {
		font-size: 0.8rem;
	}
}

.banner-sect {
	overflow: hidden;
}



.userInput {
	display: flex;
	justify-content: center;

	input {
		margin: 7px;
		height: 20px;
		width: 15px;
		border: none;
		text-align: center;
		font-size: 1.2rem;
		background: transparent;
		color: $primary;
		position: relative;
		top: 3px;

		&:focus {
			outline: none;
		}

		// &::placeholder{
		// 	color: red;
		// }
	}
}



.heading {
	color: $primary;
	font-size: 24px;
	line-height: 42px;
	font-weight: 700;
	margin-bottom: 2rem;
	text-align: center;
	// margin: 30px 0 15px;
	font-family: $font-family-poppins-bold;
	padding-bottom: 0;

	@media only screen and (max-width: $sm) {
		font-size: 24px;
		line-height: 33px;
	}
}

//Blog Lead form 

.blog-lead-form{
	position: relative;
	background: #004393;
	background-size: cover;
	border-radius: 14px;
	margin: 0;
	// width: 100% !important;
	max-width: 412px;
	// transition-duration: 0.6s;
	.heading{
		display: none;
	}
	.title-secnd{
		@media (max-width:$md) {
			width: 80%;
		}
	}
	.formgrp-new{
		background: #004393;
		padding: 0;
		display: grid;
		box-shadow: inherit;
		.form-label{
			display: none;
		}
		.new-sub-formgrp{
			display: none;
		}
		.sub-formgrp{
			order: 1;
			margin-bottom: 0;
		}
		.cust-checkbox{
			// display: none;
			// .form-check-input{
			// 	&:checked{
			// 		background-color: $whiteColor;
			// 		border: 1px solid $whiteColor;
			// 	}
			// }
			order: 2;
			margin-bottom: 1rem;
			.form-check-label{
				color: #ffffffb3;
				.link-tc{
					color: $whiteColor !important;
					font-weight: 500;
					font-family: $font-family-poppins-medium;
				}
			}
		}
		.send-otp-btn{
			margin-top: 1rem !important;
			order: 3;
		}
	}
	.slider-btns{
		display: none;
	}
	.sticy-card-blog-new{
		padding: 0;
        .title-secnd{
            color: #fff;
            padding-bottom: 1rem;
            @media (max-width:992px) {
                font-size: 2rem;
            }
        }
       ul{
        list-style: none;
        padding: 0;
		margin: 0;
            li{
                padding: 1rem 0;
                display: flex;
                align-items: center;
                .bx-icon{
                    padding-right: 0.8rem;
                }
                .bx-text{
                    color: $whiteColor;
                    font-family: $font-family-poppins-medium;
                    font-size: 1.7rem;
                    white-space: nowrap;
                    .fw-regular{
                        font-family: $font-family-poppins-regular;
                    }
                }
				@media (max-width:1400px) {
					padding: 0.75rem 0;
				}
                @media (max-width:$md) {
                    display: flex;
                    align-items: center;
                }
            }
       }
       .btn-open{
        padding-top: 2rem;
       }
       @media (max-width:$md) {
            padding: 2rem;
            width: 40%;
       }
       &.sub-new-small{
        .title-secnd{
            font-size: 2.286rem;
			text-align: center;
			line-height:2.812rem;
			@media (max-width:1400px) {
                font-size: 2rem;
            }
        }
        ul{
            li{
                .bx-icon{
                    .svg-fill{
                        height: 28px;
						@media (max-width:1400px) {
							height: 23px;
						}
                    }
                }
                .bx-text{
                    font-size: 1.375rem;
					@media (max-width:1400px) {
						font-size: 1.175rem;
					}
                    @media (max-width:$md) {
                        font-size: 1.3rem;
                    }
                    @media (max-width:$sm) {
                        white-space: initial;
                    }
                }
            }
        }
        .btn-open{
            @media (max-width:$md) {
               padding-top: 1rem;
            }
            @media (max-width:$sm) {
                .btn-bg{
                    width: 100%;
                }
            }
        }
        @media (max-width:$md) {
            padding: 2rem 1.5rem 2rem;
            width: 100%;
        }
       }
    }
}

//blog lead form otp section

.blog-form-otp{
	position: relative;
	background: #004393;
	background-size: cover;
	border-radius: 14px;
	margin: 0;
	max-width: 412px;
	// transition-duration: 0.6s;
	.slider-btns{
		display: none;
	}
	.exit-intent-sleekbox-popup{
		// position: relative;
		.popup-sub-row{
			.popup-sub-right{
				width: 100%;
				.heading{
					margin: 0;
					color: $whiteColor;
					padding-bottom: 1rem;
				}
				.otp-ver-sec{
					display: flex;
					align-items: center;
					justify-content: center;
					padding: 1rem 0 4rem;
					.otp-circle{
						display: flex;
						align-items: center;
						justify-content: center;
						background-color: rgb(255 255 255 / 16%);
						width: 6.75rem;
						height: 6.75rem;
						border-radius: 50%;
						box-shadow: 0px 0px 0px 10px rgb(255 255 255 / 6%);
					}
				}
				.otpform-new{
					padding: 0;
					background: inherit;
					border-radius: inherit;
					box-shadow: unset;
					.otp-mdl-input-chk{
						.digit-otp{
							width: 100% !important;
						}
						.time{
							color: rgb(255 255 255 / 70%);
							margin: 0;
							span{
								color: $whiteColor;
							}
						}
					}
					.subheading{
						color: $whiteColor;
					}
					.changenumbtn{
						color: $yellowColor;
						font-family: $font-family-poppins-regular;
						font-weight: 400;
					}
					.resend{
						color: $whiteColor;
						.bluetxt{
							color: $yellowColor;
						}
					}
					.ortext{
						color: $whiteColor;
					}
				}
			}
		}
	}
	
	
}

.blog-thanku-popup{
	position: relative;
	background: #004393;
	background-size: cover;
	border-radius: 14px;
	margin: 0;
	max-width: 412px;
	// transition-duration: 0.6s;
	.close-btn-mdl{
		display: none;
		@media (max-width:$md) {
			display: block;
			color: #fff;
			font-size: 2.5rem;
			position: absolute;
			right: 0.8rem;
			text-decoration: none;
			top: 0;
		}

	}
	.thank-you-msg{
		.blog-thnu-circle{
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: rgb(255 255 255 / 16%);
			width: 12.375rem;
			height: 12.375rem;
			border-radius: 50%;
			box-shadow: 0px 0px 0px 10px rgb(255 255 255 / 6%);
		}
		.thankyou-title{
			color: $whiteColor;
		}
		.subheading{
			color: $whiteColor;
		}
	}
}

.form-mobile{
    @media (max-width: $md) {
        display: none;
       
    }
    .close-arrow-mb{
        position: absolute;
        top: 28px;
        border: 0;
        background: transparent;
        outline: none;
        box-shadow: none;
        right: 3px;
        z-index: 99;
        display: none;
        @media (max-width: $md) {
            display: block;
        }
    }
    &.p-hide{
        display: block !important;
        position: fixed !important;
        top: inherit !important;
        bottom: 0;
        z-index: 9999999999;
        width: 100%;
        left: 0;
        // background: #4d4d4d80;
        height: auto;
        overflow: hidden;

    }
    .demat-account-form{
        // position: absolute;
        // bottom: 0;
        @media (max-width: $md) {
            border-radius: 10px 10px 0 0;
        }
    }

	.blog-lead-form{
		@media (max-width:$md) {
			position: relative;
			border-radius: inherit;
			padding: 1.5rem;
			max-width: inherit !important;
			width: 100% !important;
		}
		.sticy-card-blog-new{
			@media (max-width:$md) {
				padding: 1rem 0 1rem;
			}
			@media (max-width:$sm) {
				padding: 0 !important;
			}
			ul{
				@media (max-width:$md) {
					display: none;
				}	
			}
			.close-btn-mdl{
				display: none;
				@media (max-width:$md) {
					display: block;
					color: #fff;
					font-size: 2.5rem;
					position: absolute;
					right: 0.8rem;
					text-decoration: none;
					top: 0;
				}

			}
			.title-secnd{
			@media (max-width:$md) {
                font-size: 1.7rem;
				text-align: left;
            }
            @media (max-width:$sm) {
				font-size: 1.357rem;
				line-height: 1.5;
				width: 60%;
            }
			}
		}
		.formgrp-new{
			@media (max-width:$md) {
				padding: 0;
				display: flex;
				align-items: flex-start;
				justify-content: space-between;
				gap: 1rem;
				box-shadow: inherit;
			}
			.cust-checkbox{
				@media (max-width:$md) {
					display: none;
				}	
			}
			.sub-formgrp{
				@media (max-width:$md) {
					margin: 0 !important;
				}
				.btn-bg{
					@media (max-width:$sm) {
						min-width: inherit;
						white-space: nowrap;
						min-height: 2.75rem !important;
						border-radius: 0.5rem !important;
						padding: 1rem 1.8rem !important;
						font-size: 1.071rem !important;
						height: 44px;
						width: 112px !important;
					}
				}	
			}
			.sub-formgrp-new{
				@media (max-width:$md) {
					width: 60%;
				}
				&::before{
					@media (max-width:$sm) {
						top: 1rem;
						font-size: 1.143rem !important;
					}
				}
				.formcontrol{
					@media (max-width:$sm) {
					min-height: 2.75rem !important;
					border-radius: 0.5rem !important;
					padding: 1rem 2.9rem !important;
					font-size: 1.143rem !important;
					height: 44px;
				}
				}
			}
		}
	}

	.blog-form-otp{
		@media (max-width:$md) {
			border-radius: inherit;
			padding: 1.5rem;
			max-width: inherit !important;
			width: 100% !important;
		}
		.exit-intent-sleekbox-popup{
			@media (max-width:$md) {
				padding: 0;
			}
			.close-btn-mdl{
				display: none;
				@media (max-width:$md) {
					display: block;
					color: #fff;
					font-size: 2.5rem;
					position: absolute;
					right: 0.8rem;
					text-decoration: none;
					top: 0;
				}

			}
			.popup-sub-row{
				.popup-sub-right{
					.otp-ver-sec{
						@media (max-width:$md) {
							display: none;
						}
					}
					.heading{
						@media (max-width:$md) {
							text-align: left;
							width: 80%;
						}
						@media (max-width:$sm) {
							font-size: 1.357rem;
							font-weight: 600;
    						font-family: $font-family-poppins-semibold;
						}
					}
					.otpform-new{
						.otp-pd{
							@media (max-width:$md) {
								order: 4;
								width: 100%;
							}
						}
						.otp-sent{
							@media (max-width:$md) {
								width: 100%;
							}
							.changenumbtn{
								@media (max-width:$sm) {
									font-size: 1.143rem !important;
								}
							}
							.subheading{
								@media (max-width:$sm) {
									font-size: 1.143rem;
								}
							}
						}
						@media (max-width:$md) {
							position: relative;
							display: flex;
    						flex-wrap: wrap;
							justify-content: space-between;
						}
						@media (max-width:$sm) {
							display: flex;
    						flex-wrap: wrap;
						}
						.time{
							@media (max-width:$sm) {
								font-size: 1rem !important;
							}
						}
						.resend{
							@media (max-width:$sm) {
								margin: 0 !important;
							}
						}
						.ortext{
							@media (max-width:$sm) {
								font-size: 1.143rem;
							}
						}
						.digit-otp{
							@media (max-width:$md) {
								width: 100% !important;
    							margin: 0 !important;
							}
							@media (max-width:$sm) {
								// min-height: 2.75rem !important;
								border-radius: 0.5rem !important;
								padding: 0.9rem 2.3rem !important;
								height: 44px;
								// font-size: 1.071rem !important;
							}
							
						}
						.invalid-feedback{
							@media (max-width:$md) {
								text-align: left;
							}
						}
						.btnwrap{
							@media (max-width:$md) {
								order: 3;
							}
							@media (max-width:$sm) {
								width: 112px;
							}
							.btn-bg{
								@media (max-width:$md) {
									margin: 0;
									padding: 0.65rem 2rem !important;
								}
								@media (max-width:$sm) {
									min-width: inherit;
									min-height: 2.75rem !important;
									border-radius: 0.5rem !important;
									width: 100%;
									padding: 0.65rem 1rem !important;
									font-size: 1.071rem !important;
									height: 44px;
								}
								
							}
						}
					}
					.otp-mdl-input-chk{
						@media (max-width:$sm) {
							width: calc(100% - 112px);
							padding-right: 10px;
						}
						
						.time{
							@media (max-width:$sm) {
								font-size: 1.143rem;
							}
						}
					}
				}
			}
		}
	}
	.blog-thanku-popup{
		@media (max-width:$md) {
			border-radius: inherit;
			padding: 1.5rem;
			max-width: inherit !important;
			width: 100% !important;
		}

			.thank-you-msg{
				@media (max-width:$md) {
					min-height: inherit;
					flex-direction: inherit;
					justify-content: space-between;
				}
				.thank-logo{
					@media (max-width:$md) {
						width: 20%;
					}
					.blog-thnu-circle{
						@media (max-width:$sm) {
						width: 5rem;
						height: 5rem;
						box-shadow: 0px 0px 0px 5px rgb(255 255 255 / 6%);
						}
					}
			}
			.thank-content{
				// padding-top: 3rem;
				@media (max-width:$md) {
					text-align: left;
					width: 70%;
					padding: 0 ;
				}
				.subheading{
					@media (max-width:$sm) {
						margin: 0;
						padding: 0;
						font-size: 1.357rem;
					}
				}
				.thankyou-title{
					@media (max-width:$sm) {
						font-size: 1.714rem;
					}
				}
			}
		}
	
	}
	.brokerage-lead-form{
		@media (max-width:$md) {
			background: $bg-sky;
		}
		
		.heading{
			@media (max-width:$md) {
				margin-bottom: 1rem;
				display: block;
				font-size: 1.7rem;
				text-align: left;
			}
			@media (max-width:$sm) {
				font-size: 1.357rem;
				line-height: 1.5;
				width: 60%;
			}
		}
			.close-btn-mdl{
				display: none;
				@media (max-width:$md) {
					display: block;
					font-size: 2.25rem;
					position: absolute;
					right: 0.8rem;
					text-decoration: none;
					top: 0;
				}

			}
			.formgrp-new{
				background: $bg-sky;
				margin-bottom: 0 !important;
			}
	}

	.brokerage-form-otp{
		background: $bg-sky;
		.exit-intent-sleekbox-popup{
			.popup-sub-row{
				.popup-sub-right{
					.heading{
						@media (max-width:$md) {
							color: $primary;
						}
					}
					.otpform-new{
						.otp-mdl-input-chk{
							.time{
								color: $primary;
								margin: 0;
								span{
									color: $blueColortext;
								}
							}
						}
						.subheading{
							color: $primary;
						}
						.changenumbtn{
							color: $blueColortext;
							font-weight: 600;
						}
						.resend{
							color: $secondary;
							.bluetxt{
								color: $blueColortext;
							}
						}
						.ortext{
							color: $secondary;
							font-weight: 600;
						}
					}
				}
			}
		}
	}
	.brokerage-thanku-popup{
		background: $bg-sky;
		.thank-content{
			.subheading{
				@media (max-width:$md) {
					color: $primary;
				}
			}
			.thankyou-title{
				@media (max-width:$md) {
					color: $primary;
				}
			}
		}
	}
}


.highlight{
	box-shadow: 0 0 10px #cbb5b5 !important
}
.newhighlight{
	background:$bgcolor-blue-light !important ;
	
}
.invest-zero-ac{
	position: fixed;
	bottom: 5%;
	z-index: 9999999999;
    right: 20px;
	@media (max-width:$sm) {
		bottom: 2%;
	}
	.demat-account-form-new{
		transition: .5s ease-in-out;
		padding: 0;
		background-color: $whiteColor;
		border-radius: 0 0 1rem 1rem;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.09);
		@media (max-width:$md) {
			margin: 0;
		}
		&.custom-th-popup{
			background-color: $bgcolor-blue-light;
			border-radius: 1rem;
			border-top: 8px solid $yellowColor;
			@media (max-width:$md) {
				max-width: 30rem;
			}
			@media (max-width:$sm) {
				max-width: 28rem;
			}
			.thank-you-msg{
				min-height: 26rem;
				padding: 1rem;
			}
		}
		.formgrp-new{
			border-radius: 0 0 1rem 1rem;
			padding:1rem 2rem 2rem ;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.09);
			margin: 0 !important;
			.form-label{
				display: none;
			}
		}
		h2{
			display: none;
		}
		.slider-btns{
			display: none;
		}
		.exit-intent-sleekbox-popup{
			@media (max-width:$md) {
				max-width: inherit;
				padding: 0;
			}
			.popup-sub-row{
				display: inherit;
				padding: 0;
				.otp-ttl{
					display: none;
				}
				.otpform-new{
					.time{
						margin-bottom: 0;
					}
				}
			}
			
		}
		.cust-checkbox{
			margin-bottom: 0 !important;
		}
		.send-otp-btn{
			margin-top: 1.5rem !important;
		}
	}
	.invest-zero-fees {
		background: $primary;
		border-top: 8px solid $yellowColor;
		border-radius: 8px 8px 0px 0px;
		width: 30rem;
		padding: 1.5rem;
		@media (max-width:$sm) {
			max-width: 100%;
			width: 28rem;
		}
		&.form-header{
			border-radius: 8px;
			transition: .5s ease-in-out;
		}
		.zero-fees-form{
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			.form-ttl{
				font-size: 1.5rem;
				color: $whiteColor;
				font-family: $font-family-poppins-semibold;
				line-height: 1.5;
			}
			.btn-up-down{
				background-color: rgba(255, 255, 255, 0.1);
				border-radius: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 30px;
				height: 30px;
				border: 0;
				// @media (max-width:$md) {
				// 	display: none;
				// }
				svg{
					color: $whiteColor;
				}
			}
		}
		.form-para{
			color: $whiteColor;
			font-size: 13px;
			font-family: $font-family-poppins-regular;
			line-height: 20px;
			margin: 0;
			@media (max-width:$sm) {
				display: none;
			}
		}
	}
}

.text-none{
	display: none;
	transition: .5s ease-in-out;
	// @media (max-width:$md) {
	// 	display: block;
	// }
}
.form-hide{
	max-height: 0;
	overflow: hidden;
	transition: .5s ease-in-out;
}
.form-show{
	max-height: 390px;
	overflow: auto;
}
