@import '../../assets/css/customvariable.scss';
@import '../../assets/css/common.scss';

.demat-modal-sleekbox-overlay {

    font-size: 16px;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #3e404f4d;
    overflow: auto;
    z-index: 999999999 !important;

    .exit-intent-sleekbox-popup {
        box-sizing: border-box;
        background: $whiteColor;
        max-width: 738px;
        margin: 0 auto;
        border-radius: 16px;
        margin: 0 auto;
        margin-top: 12rem;
        margin-bottom: 1rem;
        position: relative;
        padding: 0;
        .close{
           
            @media (max-width:$sm) {
                padding-bottom: 1rem;
                }
            .closebtn {
                color:$primary;
                text-decoration: none;
                float: right;
                top: 0;
                right: 15px;
                position: absolute;
                font-size: 3rem;
                // @media (max-width:$sm) {
                //     color: $whiteColor;
                // }
            }
        }
        @media (max-width:$sm) {
            width: 90%;
            margin-top: 2rem;
            padding: 0;
        }

        .popup-sub-row {
            display: flex;
            flex-wrap: wrap;
            padding: 0;
           
            
            .leftwrap {
                background-color: $primary;
                padding: 50px 8px 32px 32px;
                border-radius: 16px;
                width: 52%;

                @media (max-width:$sm) {
                    width: 100%;
                    padding: 2rem 1.5rem;
                    padding-bottom: 1.5rem;
                }
            }

            .popup-sub-right {
                padding: 50px 30px 50px;
                width: 48%;

               

                @media (max-width:$sm) {
                    width: 100%;
                    padding: 2rem;
                }
            }

            .popup-sub {

                .dsmblock {
                    display: none;

                    @media (max-width:$sm) {
                        display: none;
                        font-size: 22px;
                        line-height: 34px;
                        color: $bgcolor-yellow;
                        padding: 0;
                        margin: 0;
                        font-family: 'PoppinsBold';
                        margin-bottom: 22px;
                    }

                    span {
                        color: $whiteColor;
                    }
                }

                h4 {
                    font-size: 1.8rem;
                    line-height: 1.5;
                    color: $bgcolor-yellow;
                    padding: 0;
                    margin: 0;
                    font-family: 'PoppinsBold';
                    margin-bottom: 30px;

                    @media (max-width:$sm) {
                        display: none;
                    }
                }

                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    text-align: left;

                    li {
                        position: relative;
                        font-family: $font-family-poppins-regular;
                        font-size: 1.5rem;
                        line-height: 1.5;
                        margin-bottom: 25px;
                        padding-left: 35px;
                        color: $whiteColor;

                        &::before {
                            content: '';
                            background: url(../../assets/images/tick.svg) no-repeat;
                            background-size: contain;
                            width: 24px;
                            height: 24px;
                            display: block;
                            position: absolute;
                            left: 0;
                            top: 0;
                        }

                        span {
                            font-family: $font-family-poppins-bold;
                            font-weight: 700;
                        }
                        @media (max-width:$sm) {
                            &:first-child{
                                display: none;
                            }
                        }
                        @media (max-width:$sm) {
                            font-size: 1.3rem;
                            margin-bottom: 20px;
                        }
                    }
                }

                .sleekbox-link {
                    a {
                        text-align: center;
                        display: block;
                        font-size: 16px;
                        color: $whiteColor;
                        text-decoration: underline !important;
                        font-family: $font-family-poppins-regular;
                        margin-top: 44px;
                        cursor: pointer;
                        @media (max-width:$sm) {
                            margin-top: 20px;
                        }
                    }

                }
            }
            @media (max-width:$sm) {
                flex-direction: column-reverse;
            }
        }
    }

    .signal-form {
        .signal-same-btn {
            display: block;
            background: $yellowColor;
            border: 1px solid $yellowColor;
            color: $primary;
            font-family: $font-family-poppins-semibold;
            padding: 10px 30px;
            display: block;
            margin-top: 25px;
            font-size: 20px;
            border-radius: 12px;
            text-align: center;
            outline: none;
            font-weight: bold;
            line-height: inherit;
            opacity: 1 !important;
            width: 100%;
        }

        form {
            .form-group {
                margin-bottom: 34px;
                position: relative;
                display: flex;
                flex-wrap: wrap;

                .write {
                    color: $primary;
                    width: 100%;
                    padding: 5px 13px;
                    border: 1px solid #231F2024;
                    border-radius: 8px;
                    outline: none;
                    padding-bottom: 5px;
                    height: 53px;
                    font-size: 17px;
                    font-family: $font-family-poppins-regular;
                    box-shadow: none;
                }
                @media (max-width:$sm) {
                    margin-bottom: 20px;
                }
            }

            .form-check {
                display: flex;
                margin-bottom: 1rem;
                padding-left: 0;
                align-items: flex-start;

                input {
                    margin-top: 5px;
                }

                label {
                    text-align: left;
                    font-size: 14px;
                    font-weight: 400;
                    font-family: $font-family-poppins-regular;
                    color: $primary;
                    line-height: 22px;
                    padding-left: 10px;

                    a {
                        color: $bgcolor-blue;
                        font-size: 14px;
                        line-height: 21px;
                        font-family: $font-family-poppins-bold;
                        cursor: pointer;
                    }
                }
            }
            .digit-otp{
       
                width: 90%;
                height: 48px;
                border-radius: 4px;
                background-color: #EFECEB;
                border: none;
                line-height: 50px;
                text-align: center;
                font-size: 24px;
                font-weight: 600;
                color: $primary;
                margin: 0 2px;
                letter-spacing: 10px;
            
        } 
        }
    }
}

* {
    box-sizing: border-box;
}

.popup-sub-right {
    .dmt_form {
        margin-top: 0 !important;
    }

    h4 {
        font-size: 2rem;
        line-height: 1.5;
        color: $primary;
        padding: 0;
        margin: 0;
        font-family: $font-family-poppins-bold;
        margin-bottom: 40px;
        position: relative;
        left: -26px;
        top: 0;
        &.desktophide{
            @media (max-width:$sm) {
                display: none;
            }
           
        }
        
        &.desktopshow{
            display: none;
            @media (max-width:$sm) {
                display: block;
                font-size: 1.6rem;
            }
        }
    }

}

.loaderB {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid $primary;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}