@import '../../assets/css/customvariable.scss';
@import '../../assets/css/common.scss';

.subbrokerpopup{
	
    font-size: 16px;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #3e404f4d;
    overflow: auto;
    z-index: 999999999 !important;
	.exit-intent-sleekbox-popup{
		box-sizing: border-box;
        background: $whiteColor;
        max-width: 500px;
        margin: 0 auto;
        border-radius: 16px;
        margin: 0 auto;
        margin-top: 12rem;
        margin-bottom: 1rem;
        position: relative;
        padding: 0;
		.closebtn {
            color:$primary;
            text-decoration: none;
            float: right;
            top: 0;
            right: 15px;
            position: absolute;
            font-size: 3rem;
            @media (max-width:$sm) {
                color: $whiteColor;
            }
		}
		@media (max-width:$sm) {
            width: 90%;
            margin-top: 7rem;
            padding: 0;
			display: block;
        }

        .popup-sub-row-box {
            display: flex;
            flex-wrap: wrap;
            padding: 0;
           justify-content: center;
            
            .leftwrap {
                background-color: $primary;
                padding: 50px 8px 32px 32px;
                border-radius: 16px;
                width: 52%;

                @media (max-width:$sm) {
                    width: 100%;
                    padding:20px 20px
                }
            }

            .popup-sub-right {
                padding: 50px 0px 50px;
                width: 80%;

               

                @media (max-width:$sm) {
                    width: 100%;
                    padding: 25px 20px;
                }
            }

            .popup-sub {

                .dsmblock {
                    display: none;

                    @media (max-width:$sm) {
                        display: block;
                        font-size: 22px;
                        line-height: 34px;
                        color: $bgcolor-yellow;
                        padding: 0;
                        margin: 0;
                        font-family: 'PoppinsBold';
                        margin-bottom: 22px;
                    }

                    span {
                        color: $whiteColor;
                    }
                }

                h4 {
                    font-size: 26px;
                    line-height: 40px;
                    color: $bgcolor-yellow;
                    padding: 0;
                    margin: 0;
                    font-family: 'PoppinsBold';
                    margin-bottom: 30px;
					left: 0;
					top: 0;
                    @media (max-width:$sm) {
                        display: none;
                    }
                }

                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    text-align: left;

                    li {
                        position: relative;
                        font-family: $font-family-poppins-regular;
                        font-size: 18px;
                        line-height: 25px;
                        margin-bottom: 25px;
                        padding-left: 35px;
                        color: $whiteColor;

                        &::before {
                            content: '';
                            background: url(../../assets/images/tick.svg) no-repeat;
                            background-size: contain;
                            width: 24px;
                            height: 24px;
                            display: block;
                            position: absolute;
                            left: 0;
                            top: 0;
                        }

                        span {
                            font-family: $font-family-poppins-bold;
                            font-weight: 700;
                        }
                        @media (max-width:$sm) {
                            &:first-child{
                                display: none;
                            }
                        }
                    }
                }

                .sleekbox-link {
                    a {
                        text-align: center;
                        display: block;
                        font-size: 16px;
                        color: #97999B;
                        font-family: $font-family-poppins-regular;
                        margin-top: 44px;
                        cursor: pointer;
                        @media (max-width:$sm) {
                            margin-top: 20px;
                        }
                    }

                }
            }
        }
		.signal-form {
			.signal-same-btn {
				display: block;
				background: $primary;
				border: 1px solid $primary;
				color: $whiteColor;
				font-family: $font-family-poppins-semibold;
				padding: 10px 30px;
				display: block;
				margin-top: 25px;
				font-size: 20px;
				border-radius: 12px;
				text-align: center;
				outline: none;
				font-weight: bold;
				line-height: inherit;
				opacity: 1 !important;
				width: 100%;
			}
	
			form {
				.form-group {
					margin-bottom: 34px;
					position: relative;
					display: flex;
					flex-wrap: wrap;
	
					.write {
						color: $primary;
						width: 100%;
						padding: 5px 13px;
						border: 1px solid #231F2024;
						border-radius: 8px;
						outline: none;
						padding-bottom: 5px;
						height: 53px;
						font-size: 17px;
						font-family: $font-family-poppins-regular;
						box-shadow: none;
					}
					@media (max-width:$sm) {
						margin-bottom: 20px;
					}
				}
				.form-control{
					border: 1px solid #0066B3;
					padding: 1rem 1.5rem;
					font-size: 1.2rem;
					border-radius: 12px;
				}
				
				.form-check {
					display: flex;
					margin-bottom: 1rem;
					padding-left: 0;
					align-items: flex-start;
	
					input {
						margin-top: 5px;
						margin-left: 0;
					}
	
					label {
						text-align: left;
						font-size: 14px;
						font-weight: 400;
						font-family: $font-family-poppins-regular;
						color: $primary;
						line-height: 22px;
						padding-left: 10px;
	
						a {
							color: $bgcolor-blue;
							font-size: 14px;
							line-height: 21px;
							font-family: $font-family-poppins-bold;
							cursor: pointer;
						}
					}
				}
				.digit-otp{
		   
					width: 90%;
					height: 48px;
					border-radius: 4px;
					background-color: #EFECEB;
					border: none;
					line-height: 50px;
					text-align: center;
					font-size: 24px;
					font-weight: 600;
					color: $primary;
					margin: 0 2px;
					letter-spacing: 10px;
				
				} 
				.sendbtn{
					margin-top: 0 !important;
					margin-bottom: 0 !important;
					padding: 1rem !important;
				}
			}
		}
}
}
.popup-sub-right {
	h4 {
		font-size: 25px;
		line-height: 40px;
		color: #221F20;
		padding: 0;
		margin: 0;
		font-family: 'PoppinsBold';
		margin-bottom: 30px;
		position: relative;
		text-align: center;
		span{
			color:  #FFCE02;
		}
	}
}

Select{
	border: 1px solid #0066B3;
	padding: 1rem 1.5rem;
	font-size: 1.2rem;
	border-radius: 12px;
}