@import '../../assets/css/common.scss';
@import '../../assets/css/customvariable.scss';


.emi-calculator {
    padding: 5rem 0rem;
    background-color: $lightsky;
    @media (max-width:$sm){
        padding: 4rem 0rem;
    }
    .emi-flex {
        flex-wrap: wrap;
        display: flex;
        .leftsec{
            width: 38%;
        }
        .rightsec{
            width: 48%;
            position: relative;
            &::before{
                content: '';
                width: 1000px;
                height: 1000px;
                display: block;
                position: absolute;
                right: -10rem;
                top: -20rem;
                background: url(../../assets/images/emi-calculator/emi-banner.webp) no-repeat top right;
                background-size: contain;
            }
        }
    }
   
}