@import '../../assets/css/common.scss';
@import '../../assets/css/customvariable.scss';


.emi-calculator {
    padding: 7rem 0rem;
    background-color: $lightsky;
    position: relative;
    &::after{
        content: '';
        width:70rem;
        height: 70rem;
        display: block;
        position: absolute;
        right: 0;
        top: -13rem;
        background: url(../../assets/images/emi-calculator/emi-banner.webp) no-repeat top right;
        background-size: contain;
        @media (max-width:$md) {
            width:50rem;
            height: 50rem;
            top: 0;       
        }
        @media (max-width:$sm){
          display: none;
        }
    }
    @media (max-width:$sm){
        padding: 4rem 0rem;
    }
    .emi-flex {
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between;
        position: relative;
        flex-direction: row-reverse;
        z-index: 9;
        @media (max-width:$sm){
            // flex-direction: column-reverse;
        }
        .leftsec{
            width: 48%;
            @media (max-width:$sm){
                width:100%;
            }
            .cal-opt{
                margin-top: 6rem;
                &.mrg-top{
                    @media (max-width:$md) {
                       margin-top: 10rem;
                    }
                }
                p{
                    font-family: $font-family-poppins-medium;
                    font-weight: 500;
                    font-size: 2rem;
                    line-height: 1.5;
                    color: $bgcolordark;
                    @media (max-width:$md) {
                        font-size: 1.5rem;
                    }
                }
                .value-card{
                    display: flex;
                    justify-content: space-between;
                    position: relative;
                    // &::after{
                    //     position: absolute;
                    //     top: 11px;
                    //     display: inline-block;
                    //     content: "";
                    //     border: 1px solid $darkblack;
                    //     opacity: 0.4;
                    //     height: 3rem;
                    //     right: 4rem;
                    // }
                    .form-ctr{
                        background:$whiteColor;
                        border: 2px solid $stockboxshadow;
                        border-radius: 15px;
                        padding: 15px 25px;
                        width: 13rem;
                    }
                }
                .range-figures{
                    display: flex;
                    justify-content: space-between;
                    margin-top: 2rem;
                    margin-bottom: 1rem;
                }

                .slidecontainer {
                    width: 100%;
                    position: relative;
                    z-index: 99999999999;
                    .middle {
                        width: 100%;
                        max-width: inherit;
                        .slider-container {
                            position: relative;
                            .bar {
                                position: absolute;
                                z-index: 1;
                                left: 0;
                                top: 4px;
                                width: 100%;
                                height: 25px;
                                border-radius: 15px;
                                overflow: hidden;
                                border: 2px solid rgba(0, 0, 0, 0.1);
                                @media (max-width:$sm) {
                                    height: 18px;
                                }
                                .fill {
                                    display: block;
                                    width: 0;
                                    height: 100%;
                                    background-color: $whiteColor;
                                    border:2px solid $border-green;
                                }
                            }
                            .slider {
                                position: relative;
                                z-index: 2;
                                appearance: none;
                                width: 100%;
                                height: 10px;
                                border-radius: 5px;
                                outline: none;
                                background-color: transparent;
                                &::-webkit-slider-thumb {
                                    appearance: none;
                                    width: 45px;
                                    height: 45px;
                                    background-color: $range-green;
                                    border-radius: 50%;
                                    cursor: pointer;
                                    outline: none;
                                    border: 3px solid rgba(0, 0, 0, 0.1);
                                    opacity: 1;
                                    @media (max-width:$sm) {
                                        width: 25px;
                                        height: 25px;
                                    }
                                }
                            }
                        }
                    }
                  }
            }
        }
        .rightsec{
            width: 44%;
            position: relative;
            @media (max-width:$sm){
                width:100%;
            }
            .sticy{
                // position: sticky;
                // top: 100px;
                .monthly-emi {
                    background: $whiteColor;
                    text-align: center;
                    padding: 1rem 9rem;
                    border-radius: 15px;
                    top: 12rem;
                    position: absolute;
                    z-index: 1;
                    right: 0;
                    @media (max-width:$md) {
                        padding: 1rem 5rem;
                    }
                    @media (max-width:$sm) {
                        margin-top: 2rem;
                        width: 100%;
                    }
                    p{
                        font-family: $font-family-poppins-medium;
                        font-weight: 500;
                        font-size: 2rem;
                        line-height: 1.5;
                        color: $bgcolordark;
                        margin: 0;
                        @media (max-width:$md) {
                            font-size: 1.5rem;
                        }
                    }
                    h6{
                        font-family: $font-family-poppins-medium;
                        font-weight: 500;
                        font-size: 3.5rem;
                        line-height: 1.5;
                        color: $bgcolordark;
                        margin: 0;
                        @media (max-width:$md) {
                            font-size: 2.5rem;
                        }
                    }
                }
            }
        }
        }
}


