@import '../../assets/css/customvariable.scss';
@import '../../assets/css/common.scss';


.refer-and-earn-parent{
    animation: hideMe 4s forwards;
}

.ref-sec-banner {
    padding-top: 4rem;
    .refer-banner{
        @media (max-width: $sm) {
            display: none;
        }
    }
    .sec-banner-left {
        h1 {
            font-size: 3.25rem;
            line-height: 4.5rem;
            font-family: $font-family-poppins-semibold;
            color: $primary;
            @media (max-width: $md) {
                font-size: 2.5rem;
                line-height: 3.5rem;
            }
            @media (max-width: $sm) {
                font-size: 2rem;
                line-height: 3rem;
                text-align: center;
            }
        }
       
        .banner-box {
            background: #E0E7EF;
            padding:3rem 2.5rem 2.5rem 2.5rem;
            border-radius: 16px;
            margin: 5.5rem 0 3rem 0;
            width: 100%;
            p {
                font-size: 1.75rem;
                line-height: 2.5rem;
                font-family: $font-family-poppins-regular;
                margin-bottom: 3rem;
                color: $primary;
                @media (max-width: $sm) {
                    font-size: 1.475rem;
                }
            }

            .get-link-form {
                display: flex;
                align-items: center;

                

               
                .refer-form{
                    width: 100%;
                    .sub-formgrp{
                        display: flex;
                        align-items: center;
                        // flex-wrap: wrap;
                        justify-content:flex-start;
                        @media (max-width: $sm) {
                            flex-wrap: nowrap;
                        }
                        .formcontrol{
                            outline: none;
                            border: 0;
                            box-shadow: inherit;
                            font-family: $font-family-poppins-regular;
                            &::placeholder{
                                color: $primary;
                            }
                        }
                        .btn-bg{
                            width: 42%;
                            min-width: inherit;
                            padding: 1.3rem 1rem !important;
                            overflow: hidden;
                            &.formcontrol{
                                background: $whiteColor !important;
                                color: $primary !important;
                                text-transform:uppercase;
                                &::placeholder{
                                    color: $lightgray !important;
                                }
                            }
                            @media (max-width: $sm) {
                                padding: 1rem 1rem !important;
                                font-size: 1.275rem !important;
                                border-radius: 10px !important;
                            }
                            &.sendbtn{
                                width: 32%;
                                margin: 0 1rem;
                                @media (max-width: $sm) {
                                    width: 45%;
                                }
                            }
                            @media (max-width: $sm) {
                                width: 47%;
                            }
                        }
                        .refer-social{
                            display: flex;
                            align-items: center;
                            margin: 1rem 0;
                            .refer-icon{
                                width: 40px;
                                background: #fff;
                                border-radius: 50%;
                                height: 40px;
                                line-height: 38px;
                                text-align: center;
                                margin: 0 0.5rem;
                                font-size: 1.6rem;
                            }
                            #facebook{
                                color: #337ab7;
                            }
                            #whatapp{
                                color: #00b16b;
                            }
                        }
                        @media (max-width: $sm) {
                            justify-content: center;
                        }
                    }
                }                
            }
            @media (max-width: $md) {
                width: 100%;
                margin: 3rem 0 2rem 0;
            }
            @media (max-width: $sm) {
                text-align: center;
                padding: 2rem;
            }
        }

        h4 {
            font-weight: 400;
            color: $primary;
            font-family: $font-family-poppins-regular;
            a {
                text-decoration: none;
                color: $bluetext;
                padding-left: 0.3rem;
                font-family: $font-family-poppins-semibold;
            }
            @media (max-width: $sm) {
                text-align: center;
            }
        }
    }

    .sec-banner-right {
        display: flex;
        justify-content: center;
        padding-top: 100px;

        img {
            max-width: 100%;
        }
    }

    
}

.program-works {
    padding:13rem 0 10rem 0;
    position: relative;
    &:before{
        content: "";
        width: 22em;
        height: 42rem;
        display: block;
        position: absolute;
        right: 0;
        top: -150px;
        background: url('../../assets/images/career/ourvalubefore.png') no-repeat bottom right;
        background-size: contain;
        z-index: -1;
        @media (max-width: $sm-x){
           display: none;
        }
    }
    .title-first {
        margin-bottom: 4rem;
        font-size: 3.25rem;
        line-height: 4.5rem;
        font-family: $font-family-poppins-bold;
        @media (max-width: $sm) {
            font-size: 2rem;
            line-height: 3.3rem;
            br{
                display: none;
            }
        }
    }

    .reset-list {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        margin-left: -2%;
        position: relative;
        margin-top: 30px;
        padding: 0;

        .step-box {
            position: relative;
            width: 23%;
            margin-left: 2%;
            margin-bottom: 20px;

            .count {
                width: 40px;
                height: 40px;
                display: block;
                margin: 0 auto;
                background: $bgcolor-blue;
                border-radius: 50%;
                text-align: center;
                line-height: 40px;
                font-size: 1.75rem;
                font-family: $font-family-poppins-medium;
                position: relative;
                color: $whiteColor;
            }

            &:first-child {
                .count {
                    &::before {
                        display: none;
                    }
                }
            }

            .step-cont {
                background: #F4F4F4;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                padding: 3rem;
                border-radius: 16px;
                margin-top: 3.5rem;
                text-align: center;

                img {
                    max-width: 100%;
                }

                h4 {
                    
                    font-size: 1.5rem;
                    line-height: 1.5;
                    color: $primary;
                    font-family: $font-family-poppins-medium;
                    margin: 2rem 0 0 0;
                }
                @media (max-width: $sm) {
                    margin-top: 2rem;
                }
            }
            @media (max-width: $md) {
                width: 48%;
                margin-bottom: 4rem;
            }
            @media (max-width: $xs) {
                width: 98%;
            }
        }

        &::before {
            content: "";
            border-top: 2px dashed $bgcolor-fadegray;
            width: 73%;
            position: absolute;
            left: 15rem;
            top: 1.7rem;
            @media (max-width: $md) {
                display: none;
            }
        }
    }
    @media (max-width: $sm) {
        padding: 5rem 0 2rem 0;
    }
}

.ref-sec-terms {
    padding: 7rem 0 18rem 0;
    background: $abt-bg;
    .title-secnd{
        font-size: 2.688rem;
        line-height: 1.5;
        @media (max-width: $sm) {
            font-size: 2rem;
            br{
                display: none;
            }
        }
    }
    .terms-cont {
        margin-top: 5.5rem;
        height: 340px;
        overflow-y: scroll;
        @media (max-width: $sm) {
            margin-top: 3rem;
        }

        .terms-list {
            li {
                font-size: 1.625rem;
                line-height: 1.6;
                color: $secondary;
                margin-bottom: 2rem;
                list-style: none;
                padding-left: 3rem;
                padding-right:8rem;
                position: relative;

                &::before {
                    content: "";
                    width: 0.8rem;
                    height: 0.8rem;
                    background: $secondary;
                    display: block;
                    border-radius: 50%;
                    position: absolute;
                    left: 0;
                    top: 0.9rem;
                    @media (max-width: $sm) {
                        top: 0.7rem;
                    }
                }
                @media (max-width: $sm) {
                    padding-left: 2rem;
                    padding-right: 3rem;
                    font-size: 1.4rem;
                }
            }
        }
        @media (max-width: $sm) {
            height: 430px;
        }
    }
}

#style-1 {
    &::-webkit-scrollbar-track {
        
        border-radius: 10px;
        background-color: $whiteColor;
    }

    &::-webkit-scrollbar {
        width: 5px;
        background-color: $whiteColor;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color:$yellowColor ;
    }
}





.refer-footer-top {
    padding-bottom: 16rem;
    position: relative;
    &::before {
        content: '';
        width: 17rem;
        height: 38rem;
        display: block;
        position: absolute;
        left: 2px;
        top: -9rem;
        background: url(../../assets/images/home-bgtop.png) no-repeat top left;
        background-size: contain;

        @media (max-width: $md) {
            display: none;
        }
    }

    .top-foot-sec {
        background:$bgcolor-green;
        border-radius: 30px;
        padding: 6rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        position: relative;
        margin-top: -10rem;
        z-index: 9;
        @media (min-width:$sm-x) and (max-width: $md) {
            padding: 4rem;
        }
        .foot-sec-left {
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            h3 {
                margin: 0;
                font-size: 3rem;
                line-height: 1.5;
                margin-left: 3rem;
                font-family: $font-family-poppins-semibold;
                color: $whiteColor;

                span {
                    display: block;
                    font-family:$font-family-poppins-regular;
                }
                @media (max-width: $sm) {
                    margin-left: 0;
                    margin-top: 2rem;
                    font-size: 2.3rem;
                }
            }
            @media (max-width: $md) {
                text-align: center;
                display: block;
            }
        }

        .foot-sec-right {
            .join-btn {
                min-width: 210px;
                display: inline-block;
                height: 4.5rem;
                font-size: 1.6rem;
                text-align: center;
                line-height: 4.5rem;
                color: $primary;
                background: $whiteColor;
                text-decoration: none;
                border-radius: 12px;
                transition-duration: 0.3s;
                font-family: $font-family-poppins-semibold;
                &:hover{
                    background: $primary;
                    color: $whiteColor;
                }
            }
            @media (max-width: $md) {
                display: block;
                text-align: center;
                margin-top: 4rem;
                width: 100%;
            }
        }
        @media (max-width: $sm) {
            padding: 3rem 2rem;
        }
    }
    @media (max-width: $md) {
        padding-bottom: 6rem;
    }
}

.smallcase{
    text-transform: none !important;
   }


 











