
@import '../../assets/css/common.scss';
@import '../../assets/css/customvariable.scss';


.service-banner{
    padding-bottom: 10rem;
    overflow: inherit;
    .bnr-left{
        padding-right: 4rem;
        @media (max-width: $md) {
            padding-right: 0;
            .title{
                font-size: 3.125rem;
            }
        }
    }
    .rightsec{
        position: relative;
        z-index: 9;
        
        .top-banner-img{
            border-radius: 80px 0 80px 0;
        }
        @media (max-width: $sm) {
            padding-left: 0;
        }
    }
    /*&::after {
        content: '';
        width: 25rem;
        height: 40rem;
        display: block;
        position: absolute;
        right: 0;
        bottom: -6rem;
        background: url(../../assets/images/services/clip-path1.png) no-repeat top right;
        background-size: contain;

        @media (max-width: $md) {
            display: none;
        }
    }*/
    @media (max-width: $md) {
        padding-bottom: 5rem;
    }
    @media (max-width: $sm) {
        padding-bottom: 0;
        text-align: center;
    }
    
}

.services-same-list-bx{
    position: relative;
    padding-bottom:14rem;
    .same-list-bx-list{
        margin-left: 0%;
        .slick-list{
            padding: 1.5rem 2rem;
        }
        .same-list-bx-item{
            width: 90% !important;
            text-align: center;
            margin: 0 auto;
            cursor: pointer;
            .bx-item-cont{
                text-decoration: none;
                border: 3px solid transparent;
                box-shadow: none;
                padding: 4rem 2rem;
                h4{
                    font-size: 1.5rem;
                    margin-top: 2rem;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: initial;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                }
                img{
                    width: 65px;
                    margin:0 auto;
                }
            }
            @media (max-width: 800px) {
                width: 48.5%;
            }
            @media (max-width: $sm) {
                width: 90%;
            }
        }
        .slick-dots {
            bottom: -4rem;
            li {
                margin: 0;
        
                button {
                    &::before {
                        color: #447EC1;
                        font-size: 1rem;
                        line-height: 1rem;
                    }
                }
        
                &.slick-active {
                    button {
                        &::before {
                            opacity: 1;
                            color: #447EC1;
                        }
                    }
                }
            }
        }
    }
    &::after {
        content: '';
        width: 17rem;
        height: 42rem;
        display: block;
        position: absolute;
        left: 0;
        bottom: 8rem;
        background: url(../../assets/images/services/clip-path2.png) no-repeat top left;
        background-size: contain;

        @media (max-width: $sm) {
            display: none;
        }
    }
    &::before{
        display:none;
    }
}

.service-tab-cont{
    .heading-sec{
        margin-bottom:0rem;
        @media (max-width: $sm) {
            margin-bottom: 0;
        }
    }
    .benifit-list{
        padding-left: 4rem;
        .benifit-list-itm{
            margin-top: 1rem;
            margin-bottom: 4.5rem;
            .title-fourth{
                margin-top: 0;
            }
            p{
                font-size: 1.3rem;
            }
            &:last-child{
                margin-bottom: 0;
            }
        }
        @media (max-width: $sm) {
           padding-left: 0;
           padding-top: 3rem;
        }
    }
    .rightsec{
        padding-left: 0;
        img{
            border-radius: 20px;
        }
    }
    @media (max-width: $sm) {
        padding-bottom: 7rem;
    }
    &.service-tab-lst-itm{
        padding-bottom: 20rem;
        position: relative;
        &::before {
            content: '';
            width: 25rem;
            height: 40rem;
            display: block;
            position: absolute;
            right: 0;
            bottom: -13rem;
            background: url(../../assets/images/services/clip-path3.png) no-repeat top right;
            background-size: contain;
    
            @media (max-width: $md) {
                display: none;
            }
        }
        @media (max-width: $md) {
           padding-bottom: 5rem;
        }
    }
}
