@import '../../assets/css/customvariable.scss';
@import '../../assets/css/common.scss';

.holiday-main {
    .title_para-second {
        font-weight: 600;
        color: $primary;

        @media (max-width: $sm) {
            margin-top: 1rem;
            padding: 0.5rem 0rem;
        }
    }

    .list_group1 {
        .list {
            @media (min-width: $sm-x) and (max-width: $md) {
                font-size: 1.14rem;
            }
        }
    }




}



.holiday-parent {
    min-height: inherit;

    @media (max-width: $sm) {
        padding-top: 11rem;
        height: 100%;
    }

    .holiday-content {
        .holidays-table {

            border: 1px solid $lightgray;
            border-radius: 8px;
            background: $whiteColor;
            padding: 0;
            margin-top: 0.5rem;
            position: relative;
            z-index: 9;

            @media (max-width: $sm) {
                margin-top: 3.5rem;
            }

            .table-striped {
                margin: 0;

                thead {
                    th {
                        font-size: 1.375rem;
                        color: $primary;
                        font-family: $font-family-poppins-medium;
                        text-align: center;
                        font-weight: 500;
                        padding: 2rem 1.5rem;
                        border: 0;
                        vertical-align: top;
                        text-align: left;
                        font-weight: 600;


                        @media (max-width: $sm) {
                            white-space: nowrap;
                        }

                        .mbbreak {
                            @media (max-width: $sm) {
                                display: block;
                            }
                        }

                        // .holidaydropdown {
                        .dropdown {
                            position: relative;

                            .btn {
                                background-color: transparent !important;
                                border: none;
                                box-shadow: none;
                                color: $primary;
                                font-size: 1.375rem;
                                color: $bgcolordark;
                                font-family: $font-family-poppins-medium;
                                border: 0;
                                vertical-align: top;
                                text-align: left;
                                font-weight: 600;
                                position: relative;
                                padding-left: 0;
                                padding-top: 0;

                            }

                            .dropdown-toggle {
                                &::after {
                                    display: inline-block;
                                    margin-left: 2.255em;
                                    vertical-align: middle;
                                    content: "";
                                    border-top: 0.4em solid;
                                    border-right: 0.4em solid transparent;
                                    border-bottom: 0;
                                    border-left: 0.4em solid transparent;
                                }
                            }

                            .dropdown-menu {
                                padding-left: 1rem !important;
                                bottom: inherit !important;
                                background-color: $whiteColor ;
                                box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
                                border-radius: 4px;
                                border: none;
                                top: 0 !important;
                                transform: inherit !important;

                                padding-top: 1.5rem;

                                .months-custom {
                                    position: relative;

                                    .dropdown-item {
                                        position: relative;
                                        padding-left: 1.5rem;
                                        cursor: pointer;
                                        font-size: 1.125rem;
                                        line-height: 1.5rem;
                                        color: $graylight;
                                        font-family: $font-family-poppins-regular;
                                        font-weight: 400;

                                        &.activemonth {
                                            color: $primary ;

                                            &::before {
                                                content: '';
                                                position: absolute;
                                                left: 0;
                                                top: 0.6rem;
                                                height: 0.7rem;
                                                width: 1.1rem;
                                                background-image: url('../../assets/images/share-market-holidays/ticked_img.svg');
                                                background-size: contain;
                                                background-repeat: no-repeat;
                                                display: block;
                                                z-index: 99;
                                            }
                                        }

                                        &:hover {
                                            background-color: transparent;
                                        }
                                    }

                                    .form-check {
                                        padding-left: 0;
                                        margin-bottom: 0.8rem;
                                    }

                                    .form-check-input {
                                        padding: 0;
                                        border: 0;
                                        position: relative;
                                        width: 12px;
                                        height: 12px;
                                        margin-left: 0;
                                        opacity: 0;
                                        outline: none;
                                        box-shadow: none;
                                    }

                                    .form-check-label {
                                        position: relative;
                                        padding-left: 0.6rem;
                                        cursor: pointer;
                                        font-size: 1.125rem;
                                        line-height: 1.5rem;
                                        color: $graylight;
                                        font-family: $font-family-poppins-regular;
                                        font-weight: 400;

                                        &::after {
                                            content: "";
                                            position: absolute;
                                            left: 0;
                                            top: 0;
                                            height: 1.7rem;
                                            width: 1.7rem;
                                            display: block;

                                        }

                                        &::before {
                                            content: '';
                                            position: absolute;
                                            left: 0;
                                            top: 0.5rem;
                                            height: 1.7rem;
                                            width: 1.7rem;
                                            display: block;
                                            background-image: url('../../assets/images/share-market-holidays/ticked_img.svg');
                                            background-repeat: no-repeat;
                                            display: none;
                                            z-index: 99;


                                        }

                                        @media (max-width: $sm-x) {
                                            font-size: 1.4rem;
                                            padding-left: 2rem;
                                        }
                                    }




                                    input.activemonth {

                                        background: url('../../assets/images/share-market-holidays/ticked_img.svg') no-repeat top left;
                                        background-size: contain;
                                        opacity: 1;
                                    }

                                    // input:checked~.form-check-label{
                                    //     color:$bgcolordark;
                                    // }


                                }

                            }



                        }



                    }


                }

                tbody {
                    border: 0;

                    td {
                        border: 0;
                        color: $primary;
                        font-family: $font-family-poppins-regular;
                        font-size: 1.3rem;
                        text-align: left;
                        padding: 1.375rem;
                        box-shadow: inherit;
                    }

                }

                >tbody {
                    >tr {
                        &:nth-of-type(odd) {
                            background-color: $bgolor-lightwhite;
                        }
                    }
                }
            }
        }

        .holiday-list {
            background-color: $bgcolor-blue-light;
            margin: 4rem 0rem;
            border-radius: 16px;
            padding: 1.5rem 2.1rem;
            align-items: center;

            @media (max-width: $sm) {
                flex-direction: column;
                padding: 1rem 3rem;
                align-items: center;
                justify-content: center;
                margin: 2rem;
            }

            .holiday-text {
                font-size: 1.25rem;
                line-height: 1.875rem;
                color: $primary ;
                font-family: $font-family-poppins-medium;
                font-weight: 400;
                // padding: 1rem 3rem;

                @media (max-width: $sm) {
                    text-align: center;
                    margin-top: 1.5rem;
                    padding: 0;
                }

                .mr4 {
                    margin-left: 1.5rem;
                }

                svg {
                    height: 33px;
                    width: 26px;

                    @media (max-width: $sm) {
                        height: 25px;
                        width: 17px;

                    }

                }
            }

            .download_text {
                font-weight: 500;
            }
        }

    }

}


.table-desk {
    overflow-x: unset;

    @media (max-width: $sm) {
        overflow-x: auto;
        min-height: 378px;

    }
}

.form-check {
    .activemonth {
        color: aqua;
        background-color: brown;
    }
}

.holidayOTP {
    @media (max-width: 767px) {
        padding-bottom: 4rem !important;
    }
}

.holiday-readmore {
    .read-more-wrap {
        .read-more-target {
            .third-heading-para {
                padding: 1rem 0 0.5rem 0;
                font-weight: 700;
                font-size: 2rem;
            }

            .fourth-heading-para {
                font-size: 1.75rem;
                padding: 1rem 0 1.5rem 0;
                margin-top: 2rem;
            }
        }
    }

}