@import '../../assets/css/customvariable.scss';
@import '../../assets/css/common.scss';

.mainhead {
    .title_para-second {
        font-size: 1.125rem;
        line-height: 1.688rem;
        text-align: center;
        font-weight: 600;
        color: $primary;
    }




}

.main-parent {
    .holiday-content {
        .holidays-table {
            border: 1px solid rgba(194, 194, 194, 0.3);
            border-radius: 8px;
            background: $whiteColor;
            padding: 0;
            margin-top: 0.5rem;
            position: relative;
            z-index: 9;

            .table-striped {
                margin: 0;

                thead {
                    th {
                        font-size: 1.375rem;
                        color: $primary;
                        font-family: $font-family-poppins-medium;
                        text-align: center;
                        font-weight: 500;
                        padding: 2rem 1.5rem;
                        border: 0;
                        vertical-align: top;
                        text-align: left;

                        @media (max-width: $sm-x) {
                            white-space: nowrap;
                        }

                        .mbbreak {
                            @media (max-width: $sm) {
                                display: block;
                            }
                        }

                        
                    }
                    .holidaydropdown{
                        // .downkey{
                        //     text-align: center;
                        //     position: relative;
                        //     cursor: pointer;
                        //     &:before {
                        //         display: block;
                        //         position: absolute;
                        //         margin-left: 4rem;
                        //         content: "";
                        //         border-top: 0.4em solid;
                        //         border-right: 0.4em solid transparent;
                        //         border-bottom: 0;
                        //         border-left: 0.4em solid transparent;
                        //         top: 10px;
                        //     }
                            
                            
                        // }  
                        // .month-list{
                        //     display: none;
                        //     background-color: #fff;
                        //     box-shadow: 2px 0 0 #ccc;
                        //     z-index: 999;
                        // }
                        // &:hover{
                        //     .month-list{
                        //         display: block;
                        //     }
                        // }
                    }
                }

                tbody {
                    border: 0;

                    td {
                        border: 0;
                        color: $primary;
                        font-family: $font-family-poppins-regular;
                        font-size: 1.375rem;
                        text-align: left;
                        padding: 1.375rem;
                        box-shadow: inherit;
                    }

                }

                >tbody {
                    >tr {
                        &:nth-of-type(odd) {
                            background-color: $bgolor-lightwhite;
                        }
                    }
                }
            }
        }
        .holiday-list{
            background-color: $bgcolor-blue-light;
            margin: 4rem 0rem;
            border-radius: 16px;

            .holiday-text{
                font-size: 1.25rem;
                line-height: 1.875rem;
                color:$primary ;
                font-family: $font-family-poppins-medium;
                font-weight: 400;
                padding: 1rem 3rem;

                .mr4{
                    margin-right: 2rem;
                }
            }
        }

    }

}

.form-group {
    display: block;
    margin-bottom: 15px;
  }
  
  .form-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
  }
  
  .form-group label {
    position: relative;
    cursor: pointer;
  }
  
  .form-group label:before {
    content:'';
    -webkit-appearance: none;
    background-color: transparent;
    border: 0;
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
  }
  
  .form-group input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 9px;
    width: 6px;
    height: 14px;
    border: solid #000000;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

  