@import '../../assets/css/common.scss';
@import '../../assets/css/customvariable.scss';
.fables-details-parent{

    a {color: $bgcolor-blue;
        font-weight:400;
        text-decoration:none !important;
        }
   
    .detailbanner {
        padding: 3rem 0;
      
        &::before {
            position: absolute;
            display: block;
            content: '';
            height: 40rem;
            width: 32rem;
            top: 11%;
            left: 0;
            background: url(../../assets/images/fabledetails/detailbefore.png) no-repeat top left;
            background-size: contain;
            z-index: -1;
    
            @media screen and (max-width: $sm) {
                display: none;
            }
        }
        .demat-account-form{
            position: relative;
            // z-index: 1;
            // top: 5rem;
            // display: block;
            margin: 0 auto;
            // right: 10%;
            // transform: translate(20%);
            @media screen and (max-width: $sm) {
                display: none;
                width: 90%;
            }
            @media (min-width:$sm-x) and (max-width: $md) {
                
                max-width: 25rem;
            }
        }
        .date {
            color: $darkColorgray;
            font-size: 1.75rem;
            line-height: 1.75rem;
            font-family: $font-family-poppins-regular;
        }
    
        .heading {
            padding-bottom: 2.5rem;
            text-align: center;
    
            @media screen and (max-width: $sm) {
                font-size: 2rem;
                line-height: 1.9375rem;
            }
        }
    
        .tabs {
            display: flex;
            justify-content: space-around;
            width: 45%;
            margin: 0 auto;
            margin-bottom: 5rem !important;
    
            @media screen and (max-width: $sm) {
                width: 100%;
                justify-content: center;
                display: flex;
                overflow-y: scroll;
            }
    
            li {
                list-style: none;
                background-color: $lightColor;
                border-radius: 8px;
                padding: 0.5rem 2rem;
                font-size: 1.25rem;
                color: $darkColorgray;
                margin-right: 3%;
    
                @media screen and (max-width: $sm) {
                    padding: 0.5rem 1rem;
                    margin: 0 0.5rem;
                    margin-right: 0%;
                    position: relative;
                    left: 1.8rem;
                }
                @media (min-width:768px) and (max-width: $md) {
                    padding: 0.5rem 1rem;
                }
            }
        }
    
        .imgblock {
            // margin-top: 5rem;
            border-radius: 30px;
            width: 100%;
            img{
                width: 100%;
                height: auto;
                object-fit: cover;
                border-radius: 30px;
            }
        }
    
     
    
        .imgwrap {
            margin-top: 3rem;
        }
        .textwrap {
            margin-top: 3rem;
            font-size: 1.25rem;
            line-height: 2rem;
            color: $primary;
            text-align: justify;
            position: relative;
            iframe{
                margin: 2rem 0;
                @media screen and (max-width: $xs) {
                    width: 100%;
                    height: auto;
                }
            }
            .kg-image-card{
                margin: 1.5rem 0 2rem 0;
            }
            table {
                width: auto;
                margin: 1rem 0;
              }
              table{    
                border: 1px solid #c2c2c24d;
                th, td {
                    border: 1px solid #c2c2c24d;
                    padding: 1rem !important;
                    font-family: $font-family-poppins-regular;
                    font-size: 1.25rem;
              
              }
              @media screen and (max-width: $md) {
               border: 0;
               display: block;
               overflow: auto;
               width: 100%;
              }
              tr{
                &:nth-child(odd){
                    background-color: #F5F5F5;
                }
              }
              thead{
                tr{
                    background-color: $whiteColor;
                    &:nth-child(odd){
                        background-color: $whiteColor;
                    }
                }
              }
            }
            img{
                max-width: 100%;
                height: auto;
                display: block;
                margin: 0 auto;
            }
            p{
                font-size: 1.6875rem;
                font-family: $font-family-poppins-regular;
                font-weight: 400;
                color: $primary;
                line-height: 2.75rem;
                a{
                    color: $blueColortext;
                }
            }
            blockquote{
                font-size: 1.6875rem;
                font-family: $font-family-poppins-regular;
                font-weight: 400;
                color: $primary;
                line-height: 1.6;
                position: relative;
                padding: 1rem 0;
                padding-left: 2rem;
                @media screen and (max-width: $sm) {
                    line-height: 2.5rem;
                    text-align: left;
                }
                &::before{
                    content: '';
                    width: 4px;
                    height: 75%;
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    background: $yellowColor;
                    transform: translate(0, -50%);
                    @media screen and (max-width: $sm) {
                        height: 85%;
                    }
                }
            }
            h3,h2{
                padding: 3rem 0 1.5rem 0;
                font-weight: 700;
                margin: 0rem;
                color: $primary;
                font-size: 2rem;
                font-family: $font-family-poppins-semibold;
                text-decoration: none;
                a{
                    color: $blueColortext;
                }
            }
            ul,ol{
                font-size: 1.6875rem;
                font-family: $font-family-poppins-regular;
                font-weight: 400;
                color: $primary;
                line-height: 2.75rem;
                padding-left: 4%;
            }
            @media screen and (max-width: $sm) {
                text-align: left;
            }
        }
    
        .right-social-links {
            position: sticky;
            // top: 2rem;
            // margin-top: 6rem;
            z-index: 1;
            display: block;
            margin: 6rem auto 0;
            right: 10%;
            transform: translate(20%);
            @media screen and (max-width: $sm) {
                display: none;
            }
            ul {
                @media screen and (max-width: $sm) {
                    display: flex;
                    justify-content: space-around;
                }
    
                li {
                    background-color: $blackColorlight;
                    padding: 0.5rem;
                    border-radius: 50%;
                    height: 30px;
                    width: 30px;
                    list-style: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 1rem;
    
                    &:hover {
                        background-color: $yellowColor;
                        transform: translateY(-2px);
                    }
    
                    a {
                        color: $whiteColor;
                        font-size: 16px;
                    }
                }
            }
        }
       
    }
     .recommendation {
            padding: 4rem 0 20rem;
            position: relative;
            background-color: $whiteColor;
            z-index: 999;
        
            &::after {
                position: absolute;
                display: block;
                content: '';
                height: 70rem;
                width: 26rem;
                top: 64px;
                right: 5px;
                background: url(../../assets/images/fabledetails/recomendbefore.png) no-repeat bottom right;
                z-index: -1;
            }
        
            h2{
                padding: 1rem 0 ;
                font-size: 2rem;
                margin-top: 1rem;
                color: $primary;
                text-decoration: none;
                font-family: $font-family-poppins-semibold;
            }
            h4{
                padding: 1rem 0 0.5rem 0;
                margin-top: 1rem;
                font-size: 2rem;
                color: $primary;
                text-decoration: none;
                font-family: $font-family-poppins-semibold;
            }
            
            .blog-list {
                display: flex;
                margin-top: 4rem;
                margin-left: -3%;
                position: relative;
                flex-wrap: wrap;
                z-index: 9;
        
                .blog-item {
                    width: 22%;
                    margin-left: 3%;
                    @extend .box-shadow;
                    border-radius: 20px;
                    background: $whiteColor;
                    text-decoration: none;
                    @media (min-width:768px) and (max-width: 1024px) {
                        width: 47%;
                        margin-bottom: 2rem;
                    }
                    .blog-item-img {        
                        img {
                            width: 100%;
                            border-radius: 20px 20px 0 0;
                            height: 200px;
                            object-fit: cover;
                        }
                    }
        
                    .item-des {
                        padding: 2rem;
                        
                        border-radius: 0px 0px 20px 20px;
        
                        @media (min-width:769px) and (max-width: 1024px) {
                            padding: 1rem;
                        }
        
                        h4 {
                            font-size: 1.5rem;
                            line-height: 1.6;
                            color: $primary;
                            font-family: $font-family-poppins-medium;
                            margin-bottom: 1.5rem;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: initial;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
        
                            @media (min-width:$sm-x) and (max-width: 1024px) {
                                // font-size: 1rem;
                            }
                        }
        
                        p {
                            font-size: 1.3rem;
                            color: $secondary;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: initial;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                        }
        
                        .sm-text {
                            font-size: 1rem;
                            color: $darkColorgray;
                            line-height: 24px;
        
                            @media (min-width:$sm-x) and (max-width: 1024px) {
                                font-size: 0.8rem;
                            }
                        }
                    }

                    
        
                    @media screen and (max-width: $sm) {
                        width: 97%;
                        margin-bottom: 3rem;
                    }
                    
                }
            }
            @media screen and (max-width: $sm) {
                padding: 4rem 0 10rem 0;
            }
        }
   
}

 
