@import '../../assets/css/customvariable.scss';
@import '../../assets/css/common.scss';
.adv-sect-adddots{
	.slick-dots {
		@media (min-width:$sm) and (max-width:768px) {
			
			left: -20.25rem;
            top: 82%;
		}

		@media (min-width:769px) and (max-width:1024px) {
			left: -20.375rem;
			top: 82%;
		}
	}
}